Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(date-picker): remove date picker before fixing it
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
Due: app

chore(lint): make lint happy
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
Due: app

fix(direction): enquete pagination
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/requests.js
  packages/app/src/components/EnqueteDirection/DirectionEnqueteDetailsReponsesList.js
Due: api, app

fix(mesures): it closes #2193
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
Due: app

fix(direction): enquete pagination (#2207)
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/requests.js
  packages/app/src/components/EnqueteDirection/DirectionEnqueteDetailsReponsesList.js
Due: api, app

chore(release): version 25.61.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(ci): use prod2
  .gitlab-ci.yml
Due: none

fix(ci): use prod2 (#2209)
  .gitlab-ci.yml
Due: none

chore(release): version 25.61.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

chore(release): version 25.61.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(ci): add ingress redirection for emjpm.num.*
  .gitlab-ci.yml
  .k8s/app-redirect.yml
Due: none

fix(ci): add ingress redirection for emjpm.num.* (#2210)
  .gitlab-ci.yml
  .k8s/app-redirect.yml
Due: none

fix(ci): fix redirect ingress namespace
  .k8s/app-redirect.yml
Due: none

fix(ci): fix redirect ingress namespace (#2211)
  .k8s/app-redirect.yml
Due: none
