Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(release): version 25.53.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

chore(release): version 25.54.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(cgu-mention): add cgu + mentions legales
  packages/app/next.config.js
  packages/app/package.json
  packages/app/pages/conditions-utilisation.js
  packages/app/pages/mentions-legales-modalites-utilisation.js
  packages/app/pages/mentions-legales.js
  packages/app/src/components/ConditionsUtilisation/ConditionsUtilisation.md
  packages/app/src/components/ConditionsUtilisation/index.js
  packages/app/src/components/Footer/Footer.js
  packages/app/src/components/MdxComponents/index.js
  packages/app/src/components/MentionsLegales/MentionsLegales.md
  packages/app/src/components/MentionsLegales/index.js
  yarn.lock
Due: app

feat(cgu-mention): add cgu + mentions legales (#2083)
  packages/app/next.config.js
  packages/app/package.json
  packages/app/pages/conditions-utilisation.js
  packages/app/pages/mentions-legales-modalites-utilisation.js
  packages/app/pages/mentions-legales.js
  packages/app/src/components/ConditionsUtilisation/ConditionsUtilisation.md
  packages/app/src/components/ConditionsUtilisation/index.js
  packages/app/src/components/Footer/Footer.js
  packages/app/src/components/MdxComponents/index.js
  packages/app/src/components/MentionsLegales/MentionsLegales.md
  packages/app/src/components/MentionsLegales/index.js
  yarn.lock
Due: app

feat(mesure-import): clear cache after import
  packages/app/src/components/MesureImport/useMesureImportManager.hook.js
Due: app

chore(release): version 25.55.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(liste-blanche): allow admin edit liste blanche
  packages/app/src/components/ListeBlancheDetail/ListeBlancheForm/ListeBlancheFormDepartementFinanceur.js
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/constants/direction.js
  packages/core/src/constants/DIRECTION.const.js
  packages/core/src/constants/index.js
  packages/core/src/formatters/mesure.formatter.js
  packages/core/src/keys/USER_DIRECTION.key.js
  packages/core/src/keys/index.js
  packages/core/src/services/index.js
  packages/core/src/services/users.service.js
Due: app

fix(liste-blanche): allow admin edit liste blanche (#2085)
  packages/app/src/components/ListeBlancheDetail/ListeBlancheForm/ListeBlancheFormDepartementFinanceur.js
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/constants/direction.js
  packages/core/src/constants/DIRECTION.const.js
  packages/core/src/constants/index.js
  packages/core/src/formatters/mesure.formatter.js
  packages/core/src/keys/USER_DIRECTION.key.js
  packages/core/src/keys/index.js
  packages/core/src/services/index.js
  packages/core/src/services/users.service.js
Due: app

fix(liste-blanche): add id in gql query
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlancheFilter/queries.js
  packages/app/src/util/departements/useDepartements.hook.js
Due: app

fix(liste-blanche): add id in gql query (#2086)
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlancheFilter/queries.js
  packages/app/src/util/departements/useDepartements.hook.js
Due: app

feat(api): champ mesure
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/models/Mesure.js
  packages/api/src/models/MesureEtat.js
  packages/api/src/routes/api/editors.js
Due: api

feat(api): get mesures
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-delete.js
  packages/api/src/controllers/editor/mesure.js
  packages/api/src/controllers/editor/mesures.js
  packages/api/src/models/Mesure.js
  packages/api/src/models/MesureEtat.js
  packages/api/src/routes/api/editors.js
  packages/knex/migrations_v2/20200716104426_create_date_premier_mesure.js
Due: api

feat(api): create mesure
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/models/Mesure.js
  packages/api/src/routes/api/editors.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
  packages/knex/migrations_v2/20200717091756_create_resultat_revision.js
Due: api

feat(api): /editors/mesures
  packages/api/package.json
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/models/Mesure.js
  packages/api/src/models/MesureEtat.js
  packages/api/src/routes/api/editors.js
  yarn.lock
Due: api

feat(api): update mesure
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-update.js
  packages/api/src/controllers/editor/mesures.js
  packages/api/src/routes/api/editors.js
Due: api

feat(api): delete all mesures
  packages/api/src/controllers/editor/mesure-delete.js
  packages/api/src/routes/api/editors.js
Due: api

feat(knex): update snapshots
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
