Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix test shouldBeProtected
  packages/api/__test__/e2e/routes.test.js
Due: api

change code review
  packages/api/routes/importation-excel.js
  packages/app/src/components/mandataires/MapMesures.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/components/mandataires/service.js
Due: api, app

feat: service mandataires (#65)
  packages/api/__test__/e2e/import/POST_mesures.test.js
  packages/api/__test__/e2e/magistrats/__snapshots__/POST_tis.test.js.snap
  packages/api/__test__/e2e/mandataires/POST_mesures.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/db/queries/mandataires.js
  packages/api/routes/importation-excel.js
  packages/api/routes/mandataireMesures.js
  packages/api/routes/mandataires.js
  packages/app/src/components/common/ShowBox.js
  packages/app/src/components/mandataires/CreateMesure.js
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/mandataires/Header.js
  packages/app/src/components/mandataires/MapMesures.js
  packages/app/src/components/mandataires/PillDispo.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/actions/mesures.js
  packages/app/src/components/mandataires/index.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/components/mandataires/modals/CloseMesure.js
  packages/app/src/components/mandataires/modals/EditService.js
  packages/app/src/components/mandataires/modals/ReactivateMesure.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
Due: api, app

fix(api): POST /inscription/mandataires must return 422 on mismatch
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/routes/inscription.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/inscription/Form.js
Due: api, app

style(api): rename mandataires to coordonnees
  packages/api/routes/mandataires.js
Due: api

refacto(api): move getAllByMandatairesFilter fct to separate file
  packages/api/db/queries/geolocalisation_code_postal.js
  packages/api/db/queries/mandataires.js
  packages/api/routes/mandataires.js
Due: api

feat(docker): use postgres 11 :tada:
  docker-compose.yaml
Due: none

fix(api): explicite mandataires data order on getMandataires fct
  packages/api/db/queries/admin.js
Due: api

fix(api): try/catch GET /admin/mandataires
  packages/api/routes/admin.js
Due: api

fix(api): async/await try/catch GET /inscription/tis
  packages/api/routes/inscription.js
Due: api

fix add tis to service
  packages/api/routes/tis.js
  packages/app/src/components/mandataires/Profile.js
Due: api, app

build(docker): add master image to build them all (#49)
  .dockerignore
  Dockerfile
Due: none

build(docker): use master image to build app and api images (#51)
  packages/api/Dockerfile
  packages/api/package.json
  packages/app/.gitignore
  packages/app/Dockerfile
Due: api, app

e2e: migrate e2e tests to optional folder
  .travis.yml
  README.md
  lerna.json
  optional/e2e/.gitignore
  optional/e2e/cypress.json
  optional/e2e/cypress/fixtures/example.json
  optional/e2e/cypress/fixtures/profile.json
  optional/e2e/cypress/fixtures/users.json
  optional/e2e/cypress/integration/.utils.js
  optional/e2e/cypress/integration/admin.spec.js
  optional/e2e/cypress/integration/inscription.spec.js
  optional/e2e/cypress/integration/login.spec.js
  optional/e2e/cypress/integration/mandataires.spec.js
  optional/e2e/cypress/integration/tis.spec.js
  optional/e2e/cypress/plugins/index.js
  optional/e2e/cypress/support/commands.js
  optional/e2e/cypress/support/index.js
  optional/e2e/docker-compose.yml
  optional/e2e/package.json
  optional/e2e/yarn.lock
  packages/app/cypress/integration/tis.spec.js
Due: app

ci(travis): allow e2e test to fail for now
  .travis.yml
Due: none

ci(travis): remove duplicate before_install scripts
  .travis.yml
Due: none

fix(app): handle phone and postcode validation without alerts (#52)
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/FormMandataire.js
  packages/app/src/components/inscription/InscriptionIndividuel.js
Due: app

build(docker): add docker-compose.test.yaml file
  docker-compose.test.yaml
Due: none

test(seed): increase Adrien dispo max to 5
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/app/cypress/integration/mandataires.spec.js
  packages/knex/seeds/test/0010-mandataires.js
Due: api, app

ci(travis): push the master image and use it as cache
  .travis.yml
Due: none

build(docker): add .env.test file
  .env.test
Due: none

ci(travis): ensure that the build does not fail on PRs
  .travis.yml
Due: none

test(seed): increase Adrien dispo max to 5 (#73)
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/app/cypress/integration/mandataires.spec.js
  packages/knex/seeds/test/0010-mandataires.js
Due: api, app

feat(docker): use postgres 11 :tada: (#69)
  docker-compose.yaml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
