Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(magistrats): ETQ magistrat je souhaite pouvoir annuler une mesure. (#236)
  packages/api/routes/mandataireMesures.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/service.js
  packages/app/src/components/tiComponents/actions/mandataire.js
  packages/app/src/components/tiComponents/actions/mesures.js
  packages/app/src/components/tiComponents/index.js
  packages/app/src/components/tiComponents/modals/CloseMesureAttente.js
  packages/app/src/components/tiComponents/modals/index.js
  packages/app/src/components/tiComponents/reducers/mandataire.js
Due: api, app

ci(gitlab): deploy through GitLab
  .gitignore
  .gitlab-ci.yml
  k8s/api/.deploy-emjpm-api.yml
  k8s/api/deployment-prod.yml
  k8s/api/deployment.yml
  k8s/api/ingress-prod.yml
  k8s/api/ingress.yml
  k8s/api/service.yml
  k8s/app/.deploy-emjpm-app.yml
  k8s/app/deployment-prod.yml
  k8s/app/deployment.yml
  k8s/app/ingress-prod.yml
  k8s/app/ingress.yml
  k8s/app/service.yml
  k8s/certificate/certificate.yml
  k8s/postgres/.deploy-emjpm-postgres.yml
  k8s/postgres/configmap.yml
  k8s/postgres/deployment.yml
  k8s/postgres/pod-init-postgres-prod.yml
  k8s/postgres/pod-inject-dataset-prod.yml
  k8s/postgres/pod-inject-dataset.yml
  k8s/postgres/service.yml
  k8s/scripts/check_init_postgres.sh
  k8s/scripts/delete-k8s-objects.py
  k8s/scripts/get-deploy-id.sh
  k8s/scripts/inject_data_postgres.sh
  k8s/scripts/send-url.sh
  packages/api/Dockerfile
  packages/app/Dockerfile.kubernetes
  packages/app/scripts/entrypoint.sh
Due: api, app

refacto(gitlab): separate pipeline process
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
  .gitlab-ci/variables.yml
  .k8s/frontend/deployment.yml
  .k8s/frontend/ingress.yml
  .k8s/frontend/service.yml
  .k8s/scripts/get-deploy-id.sh
  .k8s/scripts/send-url.sh
Due: none

ci(gitlab): try nested extends/includes
  .gitlab-ci.yml
  .gitlab-ci/stages/prepare.yml
Due: none

ci(gitlab): try nested extends/includes (2)
  .gitlab-ci.yml
Due: none

ci(gitlab): try nested extends/includes (3)
  .gitlab-ci.yml
  .gitlab-ci/stages/quality.yml
Due: none

ci(gitlab): try nested extends/includes (4)
  .gitlab-ci.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/quality.yml
Due: none

refacto(gitlab): separate pipeline process (2)
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/prepare.yml
Due: none

refacto(gitlab): separate pipeline process (3)
  .gitlab-ci/extends.yml
Due: none

refacto(gitlab): separate pipeline process (4)
  .gitlab-ci.yml
  .gitlab-ci/stages/quality.yml
Due: none

refacto(gitlab): separate pipeline process (5)
  .gitlab-ci.yml
Due: none

refacto(gitlab): separate pipeline process (6)
  .gitlab-ci.yml
  .gitlab-ci/stages/register.yml
Due: none

Feat/husky (#403)
  commitlint.config.js
  package.json
  yarn.lock
Due: none

fix(deps): update dependency pg to v7.11.0
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Due: api

fix(debs): fix lint
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/actions/mesures.js
  packages/app/src/components/tiComponents/modals/CloseMesureAttente.js
Due: app

feat(mandataires): add name when not defined
  packages/app/src/components/mandataires/Fiche.js
Due: app

fix(debs): fix lint (#416)
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/actions/mesures.js
  packages/app/src/components/tiComponents/modals/CloseMesureAttente.js
Due: app

feat(mandataires): add name when not defined (#420)
  packages/app/src/components/mandataires/Fiche.js
Due: app

bug(magistrats): can add information for magistart and magistats can see it
  packages/api/routes/mandataires.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/ServiceSiegeSocial.js
  packages/app/src/components/mandataires/modals/EditService.js
  packages/app/src/components/mandataires/modals/EditServiceSiege.js
Due: api, app

feat(services): add information to service migration
  packages/knex/migrations/20190624155721_add-info-to-services.js
Due: none

feat(services): add information for magistrats
  packages/api/db/queries/mandataires.js
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/mandataires/ServiceSiegeSocial.js
  packages/app/src/components/mandataires/modals/EditService.js
  packages/app/src/components/mandataires/modals/EditServiceSiege.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
  packages/app/static/css/custom.css
Due: api, app

fix(mandataires): update lint
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
Due: app

feat(mandataires): add information of services on magistrats view
  packages/api/db/queries/mandataires.js
Due: api

fix(test): update snapshot for information
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: api

feat(inscription): add 1C to cabinet in inscription
  packages/app/src/components/common/nomination.js
Due: app

feat(import): add type of mesure for importation
  packages/app/src/excel/references.js
Due: app

feat(import): add type of mesure for importation (#421)
  packages/app/src/excel/references.js
Due: app

feat(inscription): add 1C to cabinet in inscription (#419)
  packages/app/src/components/common/nomination.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
