Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(api): update mesures.department_id
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-update.js
Due: api

fix(api): check mesure_etat
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/routes/api/editors.js
Due: api

feat(api): update geoloc
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-update.js
Due: api

fix(api): mesure unit tests
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-update.js
  packages/api/src/routes/api/editors.js
  packages/knex/seeds/development/0013-tis_test..js
Due: api

fix(mesure-create): comment float type in mesure
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/models/Mesure.js
  packages/api/src/routes/hasura-actions/mesure/mesures-import/repository/actionsMesuresImporterGeoRepository.js
  packages/api/src/services/getDepartement.js
  packages/api/src/services/getGeoDatas.js
Due: api

feat(api): batch wip
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/models/Mesure.js
  packages/api/src/models/MesureEtat.js
Due: api

feat(api): batch mesures creation
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/models/MesureEtat.js
Due: api

feat(api): mesure ressources
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-delete.js
  packages/api/src/models/Mesure.js
  packages/api/src/models/MesureRessources.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200722093857_create_mesure_ressources.js
Due: api

fix(ui): add test to avoid undefined exception
  packages/app/src/util/mesures/formatMesureListItems.js
Due: app

feat(apollo-cache): clear store after login and logout
  packages/app/src/components/Header/Header.js
  packages/app/src/components/Login/Login.js
Due: app

chore(app): remove unused page
  packages/app/pages/account/index.js
Due: app

fix(api): unit test
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/controllers/editor/mesure-batch.js
Due: api

chore(release): version 25.56.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(api): update snapshots
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(mesure-map): display only active mesures
  packages/app/src/components/MagistratMandataireMap/queries.js
  packages/app/src/components/MandataireMap/queries.js
  packages/app/src/components/ServiceMap/queries.js
Due: app

feat(api): mesures for editors (#2074)
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/package.json
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-delete.js
  packages/api/src/controllers/editor/mesure-update.js
  packages/api/src/controllers/editor/mesure.js
  packages/api/src/controllers/editor/mesures.js
  packages/api/src/models/Mesure.js
  packages/api/src/models/MesureEtat.js
  packages/api/src/models/MesureRessources.js
  packages/api/src/routes/api/editors.js
  packages/api/src/routes/hasura-actions/mesure/mesures-import/repository/actionsMesuresImporterGeoRepository.js
  packages/api/src/services/getDepartement.js
  packages/api/src/services/getGeoDatas.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200716104426_create_date_premier_mesure.js
  packages/knex/migrations_v2/20200717091756_create_resultat_revision.js
  packages/knex/migrations_v2/20200722093857_create_mesure_ressources.js
  packages/knex/seeds/development/0013-tis_test..js
  yarn.lock
Due: api

chore(release): version 25.57.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(signup): use correct user roles
  packages/api/src/controllers/user/signup.js
Due: api
