Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(hasura): export metadata
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/tables.yaml
Due: none

feat(enquete): lecture seule - preposes #1911 (#1947)
  packages/app/src/components/Commons/YesNoComboBox.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCausesSortiesDispositifForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesuresForm.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteEtablissementDomicileForm.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteFormGroupMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteMesuresForm.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormYesNoField.js
  packages/app/src/components/Enquete/EnqueteForm/index.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsFields.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnesForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
  packages/app/src/util/index.js
  packages/ui/src/core/InlineError/InlineError.js
  packages/ui/src/core/Input/Style.js
Due: app

fix(enquete-visibility): update isPayedByParis
  packages/app/src/components/Layout/isPayedByParis.js
Due: app

feat(enquete): lecture seule - individuels #1911
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
Due: app

feat(enquete): lecture seule - individuels #1911 (#1948)
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
Due: app

chore(release): version 25.42.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(enquete-prepose): add test to avoid undefined exception
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-prestations-sociales/enquetePreposePrestationsSocialesStatus.js
  packages/app/src/components/AdminFilterBar/AdminFilterBar.js
Due: api, app

fix(enquete-prepose): add test to avoid undefined exception (#1952)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-prestations-sociales/enquetePreposePrestationsSocialesStatus.js
  packages/app/src/components/AdminFilterBar/AdminFilterBar.js
Due: api, app

fix(enquete-prepose): do not init model to avoid infinit loop
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
Due: app

fix(enquete): fix #1949
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
Due: app

fix(enquete): fix #1949 (#1954)
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
Due: app

fix(enquete): prepose #1955
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteFormGroupMesures.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.test.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsFields.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
Due: app

fix(enquete): submit with errors #1955
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/agrements_formations/enqueteAgrementsFormationsStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/informations_mandataire/enqueteInformationsMandatairesStatus.js
Due: api

fix(enquete): render loop #1955 (#1957)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/agrements_formations/enqueteAgrementsFormationsStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/informations_mandataire/enqueteInformationsMandatairesStatus.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteFormGroupMesures.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.test.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsFields.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
Due: api, app

fix(input): onblur
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/ui/src/core/Input/Input.js
Due: app

fix(input): onblur (#1958)
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/ui/src/core/Input/Input.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
