Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(lint): remove unused reference
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
Due: app

chore(release): version 25.35.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(auth-hasura-webhook-strat): look up session-variables
  packages/api/src/auth/strategies/authHasuraWebHookHeaderSecretStrategy.js
Due: api

fix(auth-hasura-webhook-strat): look up session-variables (#1857)
  packages/api/src/auth/strategies/authHasuraWebHookHeaderSecretStrategy.js
Due: api

fix(mesure-cancel): remove unseless gql mutation
  packages/app/src/components/MagistratMesureDelete/mutations.js
Due: app

chore(release): version 25.35.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(enquete): submit enquete mandataire individuel
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/checkEnqueteIndividuelParameters.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuel/queries.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

refactor: remove console.log
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPrestationsSociales.js
Due: api

feat(enquete): submit enquete form for mandataire individuel (#1858)
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPrestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/checkEnqueteIndividuelParameters.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuel/queries.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(knex): new migration to create enquete_reponses_modalite_exercice
  packages/knex/migrations_v2/20200529144202_create_enquete_reponses_modalite_exercice.js
Due: none

refactor(api): reorganize action folders
  packages/api/src/db/queries/enquete-reponses.js
  packages/api/src/db/queries/geodata.js
  packages/api/src/db/queries/mesures.js
  packages/api/src/routes/hasura-actions/checkParameters.js
  packages/api/src/routes/hasura-actions/enquete-import/checkImportEnqueteParameters.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPrestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserUtil.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/checkEnqueteIndividuelParameters.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/constants/ENQ_REP_AGREMENTS_FORMATIONS.const.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/constants/enqueteKeysBuilder.service.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/constants/index.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/index.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/parser.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/tabs/agrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/tabs/informationsGenerales.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/tabs/populations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/import/tabs/prestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-prepose/import/index.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-prepose/import/parser.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-prepose/import/tabs/modaliteExercice.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/api/src/routes/hasura-actions/mesures-import/checkImportMesuresParameters.js
  packages/api/src/routes/hasura-actions/mesures-import/index.js
  packages/api/src/routes/hasura-actions/mesures-import/validation-schemas/actionsMesuresImporterSchema.js
  packages/api/src/routes/hasura-actions/mesures-import/validation-schemas/actionsMesuresImporterSchemaValidator.js
  packages/api/src/utils/file/excelParser.js
  packages/api/src/utils/file/excelValidations.js
Due: api

chore(deps): update dependency @rollup/plugin-commonjs to v12
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v8
  packages/ui/package.json
  yarn.lock
Due: none

feat(enquete): import individuel tab agrements #1801
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
Due: app

feat(enquete): import individuel tab agrements #1801 (#1866)
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
Due: app

refactor(api): reorganize action folders
  packages/api/src/routes/hasura-actions/enquete-mandataire-prepose/import/index.js
Due: api

feat(enquete): import individuel formation #1801
  packages/api/src/models/EnqueteReponsesAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/src/components/IndividuelInformationAgrement/IndividuelInformationAgrement.js
  packages/app/src/components/IndividuelInformationAgrement/IndividuelInformationAgrementForm.js
  packages/app/src/components/IndividuelInformationAgrement/IndividuelInformationAgrementView.js
  packages/app/src/components/IndividuelInformationAgrement/index.js
  packages/app/src/components/IndividuelInformationAgrement/mutations.js
  packages/app/src/components/IndividuelInformationAgrement/queries.js
  packages/app/src/components/IndividuelInformationFormation/IndividuelInformationFormation.js
  packages/app/src/components/IndividuelInformationFormation/IndividuelInformationFormationForm.js
  packages/app/src/components/IndividuelInformationFormation/IndividuelInformationFormationView.js
  packages/app/src/components/IndividuelInformationFormation/index.js
  packages/app/src/components/IndividuelInformationFormation/mutations.js
  packages/app/src/components/IndividuelInformationFormation/queries.js
  packages/app/src/lib/validationSchemas/enqueteMandataireIndividuelSchema.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200601101501_enquete_reponses_agrements_formations.js
Due: api, app

feat(knex): update snapshots
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(enquete): excel parser
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
Due: api
