Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(direction): remove console.log
  packages/app/src/components-v2/MandatairesList/utils.js
Due: app

feat(mandataire-list): add real data fetch and paginate (#708)
  packages/app/package.json
  packages/app/src/components-v2/Commons/LinkButton.js
  packages/app/src/components-v2/Commons/Pagination.js
  packages/app/src/components-v2/MandatairesExport/MandatairesExport.js
  packages/app/src/components-v2/MandatairesList/MandatairesList.js
  packages/app/src/components-v2/MandatairesList/queries.js
  packages/app/src/components-v2/MandatairesList/utils.js
  packages/app/src/components-v2/MandatairesSubNavigation/MandatairesSubNavigation.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190901164024_view_gestionnaire_mesure.js
  packages/knex/migrations/20190905132024_view_gestionnaire_mesure.js
  packages/knex/migrations/20190909155743_view_gestionnaire_mesure.js
  packages/knex/sql/views.js
  yarn.lock
Due: app

ci(gitlab): deploy on new fabrique dev
  .gitlab-ci/stages/deploy.yml
Due: none

SAVE
  .k8s/app/.k8s-deploy-app.yml
Due: none

feat(direction): apply filters in mandataires export
  packages/app/src/components-v2/MandatairesExport/MandatairesExport.js
  packages/app/src/components-v2/MandatairesExport/queries.js
Due: app

chore(hasura): update metadata
  packages/hasura/migrations/metadata.yaml
Due: none

feat(direction): apply filters in mandataires export (#710)
  packages/app/src/components-v2/MandatairesExport/MandatairesExport.js
  packages/app/src/components-v2/MandatairesExport/queries.js
  packages/hasura/migrations/metadata.yaml
Due: app

feat(knex): update view gestionnaire mesure
  packages/knex/migrations/20190910140129_view_gestionnaire_mesure.js
Due: none

ci(gitlab): all env are under https now
  .gitlab-ci/env.sh
Due: none

chore(knex): update snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

ci(gitlab): new deployment pipeline (#706)
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/ingress.dev.yml
  .k8s/api/ingress.prod.yml
  .k8s/api/ingress.yml
  .k8s/app/.k8s-deploy-app.yml
  .k8s/app/ingress.dev.yml
  .k8s/app/ingress.prod.yml
  .k8s/app/ingress.yml
  .k8s/certificate/certificate.dev.yml
  .k8s/certificate/certificate.prod.yml
  .k8s/graphql-server/.k8s-deploy-graphql-server.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/hasura/ingress.dev.yml
  .k8s/hasura/ingress.prod.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/inject_data_postgres.sh
Due: none

feat(knex): update view gestionnaire mesure (#711)
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190910140129_view_gestionnaire_mesure.js
Due: none

ci(gitlab): fix portgres master deploy namespace
  .k8s/postgres/check_init_postgres.sh
  .k8s/postgres/inject_data_postgres.sh
Due: none

ci(gitlab): fix portgres master deploy namespace (2)
  .k8s/postgres/inject_data_postgres.sh
Due: none

build(k8s): hasura use direct api pod name
  .k8s/hasura/deployment.dev.yml
Due: none

feat(knex): set default value for mesure data
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190910181023_init_data.js
Due: none

feat(knex): set default value for mesure data (#712)
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190910181023_init_data.js
Due: none

chore(api): update snapshot
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
Due: api
