Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(enquete): add link in LayoutMap
  packages/app/src/components/Layout/LayoutMandataireMap.js
Due: app

feat(liste-blanche): add siret
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlanche/queries.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200602150650_lb_siret.js
Due: app

feat(style): update css
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
Due: app

feat(enquete): update text
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelWelcome.js
Due: app

fix(geoloc-update): use null instead of empty string
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEdit.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAccept.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreate.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEdit.js
Due: app

fix(geoloc-update): use null instead of empty string (#1882)
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEdit.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAccept.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreate.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEdit.js
Due: app

feat(liste-blanche): add siret (#1883)
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200602150650_lb_siret.js
Due: app

chore(release): version 25.36.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(enquete-import): style import button
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelWelcome.js
Due: app

feat(enquete-import): style import button (#1885)
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelWelcome.js
Due: app

feat(enquete): modalite exercice form
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/requests.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeWelcome.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/queries.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/index.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/queries.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(knex): alter enquete_response_modalite_exercice
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200602121123_alter_enquete_reponse_modalite_exercice.js
Due: none

feat(enquete): modalite exercice form for prepose (#1869)
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/requests.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeWelcome.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/queries.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/index.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/queries.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200602121123_alter_enquete_reponse_modalite_exercice.js
Due: api, app

feat(enquete): rework upload data page
  packages/app/pages/mandataires/enquetes/[enquete_id]/import.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/SingleImportFilePicker.js
  packages/ui/package.json
  packages/ui/src/core/FilePicker/FilePicker.js
  packages/ui/src/core/FilePicker/Style.js
  packages/ui/src/core/FilePicker/index.js
  packages/ui/src/core/index.js
Due: app

feat(enquete): rework upload data page (#1887)
  packages/app/pages/mandataires/enquetes/[enquete_id]/import.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/SingleImportFilePicker.js
  packages/ui/package.json
  packages/ui/src/core/FilePicker/FilePicker.js
  packages/ui/src/core/FilePicker/Style.js
  packages/ui/src/core/FilePicker/index.js
  packages/ui/src/core/index.js
Due: app

feat(enquete): enquete for prepose (modalite exercice)
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/constants/index.js
  packages/app/src/components/Enquete/constants/mandatairePrepose.js
Due: app
