Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(authv2): add working hasura claim token with validation
  docker-compose.yaml
  packages/api/app.js
  packages/api/auth/local.js
  packages/api/controllers/user.js
  packages/api/db/schema.js
  packages/api/package.json
  packages/api/routes/auth-v2.js
  packages/knex/package.json
  yarn.lock
Due: api

feat(migration): add migration to fill user_role (#413)
  packages/knex/migrations/20190624173346_fill_user_role.js
Due: none

fix(login-api-v2): add error validation handling
  docker-compose.yaml
  packages/api/controllers/user.js
Due: api

fix(docker): host local access
  docker-compose.yaml
Due: none

fix(login-api): fix error handling
  packages/api/controllers/user.js
Due: api

fix(login): add missing login log and use new auth api
  packages/api/controllers/user.js
  packages/app/src/components/loginComponents/LoginForm.js
Due: api, app

feat(signup): add basic signup role api
  packages/api/controllers/user.js
  packages/api/db/errors.js
  packages/api/package.json
  yarn.lock
Due: api

fix(lint-schema): fix before insert
  packages/api/db/schema.js
Due: api

fix(lint-controllers): fix missing linted folders
  packages/api/controllers/user.js
  packages/api/package.json
Due: api

fix(docker): add missing env var for jwks local url
  docker-compose.yaml
Due: none

fix(auth): add old url and type to jwt token
  packages/api/db/schema.js
Due: api

fix(jwt): remove bearer
  packages/api/auth/local.js
  packages/api/controllers/user.js
Due: api

fix(jwt-auth): remove bearer and webhook & jwt strategy with public key
  packages/api/auth/local.js
  packages/api/db/schema.js
  packages/api/routes/auth-v2.js
  packages/api/routes/auth.js
Due: api

fix(migration): use auto-increment primary column for role and user_role
  packages/knex/migrations/20190624093803_role.js
  packages/knex/migrations/20190624093806_user_role.js
Due: none

fix(migration): use auto-increment primary column for role and user_role (#449)
  packages/knex/migrations/20190624093803_role.js
  packages/knex/migrations/20190624093806_user_role.js
Due: none

test: udpate snapshot 'should list all tables 1'
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

test: udpate snapshot 'should list all tables 1' (#451)
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

ci: comment Code Quality stage
  .gitlab-ci.yml
Due: none

ci(k8s): deploy hasura
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/hasura/deployment-dev.yml
  .k8s/hasura/deployment-prod.yml
  .k8s/hasura/ingress-dev.yml
  .k8s/hasura/service.yml
Due: none

ci(api): add *.pem to docker image
  packages/api/Dockerfile
Due: api

ci(k8s): hasura deployment (#448)
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/hasura/deployment-dev.yml
  .k8s/hasura/deployment-prod.yml
  .k8s/hasura/ingress-dev.yml
  .k8s/hasura/service.yml
  packages/api/Dockerfile
Due: api

fix(env): add missing api docker env in env.sample
  .env.sample
Due: none

feat(inscription): add insert of data for inscription
  packages/api/controllers/user.js
Due: api

feat(Model): Add Service,Mandataire and UserTI models
  packages/api/db/schema.js
Due: api

chore(deps): update dependency @zeit/ncc
  packages/api/package.json
Due: api

chore(deps): update dependency @socialgouv/eslint-config-react
  packages/app/package.json
  yarn.lock
Due: app

fix(mandataires): prepose can see their etablissement (#441)
  packages/api/routes/mandatairesEtablissements.js
Due: api

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.9.2
  packages/jest-environment-knex/package.json
  yarn.lock
Due: none

chore(deps): update dependency @socialgouv/eslint-config-react to ^0.9.2
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency babel-eslint to ^10.0.2
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency eslint-plugin-react to ^7.14.2
  packages/app/package.json
  yarn.lock
Due: app

fix(seed): remove first cvs column while importing zip code (#445)
  packages/knex/seeds/development/0050-codePostalLatLngs.js
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
