Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

ci(gitlab): correct path to dataset pod
  .k8s/postgres/inject_data_postgres.sh
Due: none

ci(gitlab): debuging dataset inject
  .k8s/postgres/configmap.yml
  .k8s/postgres/inject_data_postgres.sh
  .k8s/postgres/pod-inject-dataset.yml
Due: none

ci(gitlab): postgres with a missing t :( aaaaaaah
  .gitlab-ci/env.sh
Due: none

ci(gitlab): i hate myself -_-
  .k8s/postgres/pod-inject-dataset.yml
Due: none

ci(gitlab): delete useless k8s objects only on master
  .gitlab-ci/stages/notify.yml
Due: none

chore(deps): update dependency @socialgouv/eslint-config-recommended
  optional/e2e/package.json
  optional/e2e/yarn.lock
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Due: api

chore(release): version 23.4.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

chore(deps): update dependency @socialgouv/eslint-config-recommended to ^0.9.2
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Due: api

ci(travis): add go to production travis trigger
  .travis.yml
Due: none

ci(gitlab): for now the tags are on the dev env too
  .gitlab-ci/env.sh
Due: none

chore(release): version 23.4.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/jest-environment-knex/CHANGELOG.md
  packages/jest-environment-knex/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

chore(deps): update dependency @babel/core to ^7.5.0
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

Update README.md
  README.md
Due: none

ci(travis): wrong project id on gitlab
  .travis.yml
Due: none

chore(release): version 23.4.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/jest-environment-knex/CHANGELOG.md
  packages/jest-environment-knex/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
