Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(release): version 25.3.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

refactor(signup): add components
  packages/app/pages/signup/index.js
  packages/app/src/components-v2/Layout/LayoutSignup.js
  packages/app/src/components-v2/Layout/index.js
  packages/app/src/components-v2/ServiceMesures/ServiceAddMesure.js
  packages/app/src/components-v2/Signup/SignupDirection.js
  packages/app/src/components-v2/Signup/SignupForm.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
  packages/app/src/components-v2/Signup/context/SignupContext.js
  packages/app/src/components-v2/Signup/context/index.js
  packages/app/src/components-v2/Signup/index.js
  packages/app/src/components-v2/Signup/queries.js
  packages/app/src/constants/magistrat.js
Due: app

feat(hasura): add HASURA_GRAPHQL_UNAUTHORIZED_ROLE
  .k8s/hasura/deployment.yml
  docker-compose.yaml
Due: none

feat(hasura): update permission for anonymous
  packages/hasura/migrations/metadata.yaml
Due: none

feat(signup): select tribunal
  packages/api/model/User.js
  packages/app/pages/signup/index.js
  packages/app/src/components-v2/AvailabilityMap/AvailabilityMap.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/queries.js
Due: api, app

feat(signup): introduce SignupDatas
  packages/app/src/components-v2/Signup/SignupDatas.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
  packages/app/src/components-v2/Signup/queries.js
  packages/app/src/lib/apollo/init-apollo.js
Due: app

feat(signup): handle email unicity
  packages/app/src/components-v2/Signup/SignupForm.js
  packages/app/src/components-v2/Signup/queries.js
  packages/app/src/lib/apollo/init-apollo.js
Due: app

feat(service): add mesure import components
  packages/app/pages/services/import-mesures.js
  packages/app/src/components-v2/Layout/LayoutServices.js
  packages/app/src/components-v2/ServiceMesureImport/ServiceAddMesureImport.js
  packages/app/src/components-v2/ServiceMesureImport/ServiceMesureImport.js
  packages/app/src/components-v2/ServiceMesureImport/ServiceMesureImport.test.js
  packages/app/src/components-v2/ServiceMesureImport/checkExcelDatas.js
  packages/app/src/components-v2/ServiceMesureImport/index.js
  packages/app/src/components-v2/ServiceMesureImport/mutations.js
  packages/app/src/components-v2/ServiceMesureImport/queries.js
  packages/app/src/components-v2/ServiceMesureImport/style.js
  packages/app/static/docs/Notice_d_utilisation_de_l_import.pdf
  packages/app/static/docs/Template_Import-Excel_e-MJPM.xlsx
Due: app

feat(service): check data format
  packages/app/src/components-v2/ServiceMesureImport/ServiceAddMesureImport.js
  packages/app/src/components-v2/ServiceMesureImport/checkExcelDatas.js
Due: app

feat(service): add db creation script
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations/20191007115126_create_mesures_import.js
Due: none

feat(mesure): add gql schema for mesures import
  packages/graphql-server/src/schemas/mesure-import.schema.ts
Due: none

chore(test): update snapshots
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

feat(service): add remote schema to mesures import
  packages/app/src/components-v2/ServiceMesureImport/ServiceAddMesureImport.js
  packages/app/src/components-v2/ServiceMesureImport/mutations.js
  packages/graphql-server/src/resolvers/index.ts
  packages/graphql-server/src/resolvers/mesure-import.resolver.ts
  packages/graphql-server/src/schemas/index.ts
  packages/graphql-server/src/schemas/mesure-import.schema.ts
  packages/graphql-server/src/types/resolvers-types.ts
Due: app

feat(import): update template excel
  packages/app/static/docs/Template_Import-Excel_e-MJPM.xlsx
Due: app

feat(signup): password validation / confirmation
  packages/app/src/components-v2/Signup/SignupForm.js
Due: app

feat(signup): change error message
  packages/app/src/components-v2/ServiceMesures/ServiceAddMesure.js
  packages/app/src/components-v2/Signup/SignupDirection.js
  packages/app/src/components-v2/Signup/SignupForm.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
Due: app

feat(signup): add insert mandataire mutation
  packages/app/src/components-v2/Signup/SignupDatas.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/mutations.js
  packages/app/src/components-v2/Signup/queries.js
Due: app

feat(signup): in progress
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/routes/auth-v2.js
  packages/app/pages/inscription-done.js
  packages/app/pages/inscription.js
  packages/app/pages/signup/congratulation.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/context/SignupContext.js
  packages/app/src/components-v2/Signup/signup.js
  packages/app/src/components/communComponents/Navigation.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/FormMandataire.js
  packages/app/src/components/inscription/InscriptionDirection.js
  packages/app/src/components/inscription/InscriptionIndividuel.js
  packages/app/src/components/inscription/InscriptionPrepose.js
  packages/app/src/components/inscription/InscriptionService.js
  packages/app/src/components/inscription/InscriptionTi.js
  packages/app/src/components/inscription/TiByRegion.js
  packages/app/src/components/inscription/TiSelector.js
  packages/app/src/components/inscription/uiSchema.json
Due: api, app

feat(signup): in progress
  packages/app/src/components-v2/Signup/SignupDirection.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
  packages/app/src/components-v2/Signup/context/SignupContext.js
  packages/app/src/constants/direction.js
Due: app

feat(signup): in progress
  packages/api/controllers/user/signup.js
  packages/app/src/components-v2/Signup/SignupDirection.js
  packages/app/src/components-v2/Signup/SignupGeneralError.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
  packages/app/src/components-v2/Signup/mutations.js
  packages/app/src/components-v2/Signup/queries.js
  packages/app/src/components-v2/Signup/signup.js
Due: api, app

feat(signup): update hasura metadata
  packages/hasura/migrations/metadata.yaml
Due: none

fix(test): try fixing test
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/controllers/user/signup.js
  packages/api/test/routes.inscription.test.js
Due: api

fix(test): try fixing test
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
Due: api

refactor(signup): clean code
  packages/app/src/components-v2/Signup/SignupDirection.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
  packages/app/src/components-v2/Signup/signup.js
Due: app

feat(signup): ui
  packages/app/src/components-v2/Signup/SignupDirection.js
  packages/app/src/components-v2/Signup/SignupForm.js
  packages/app/src/components-v2/Signup/SignupMagistrat.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/SignupService.js
  packages/app/src/components-v2/Signup/style.js
Due: app

feat(signup): update error message
  packages/api/controllers/user/signup.js
Due: api

feat(signup): mark signup header as disconnected
  packages/app/package.json
  packages/app/src/components-v2/Layout/LayoutSignup.js
  yarn.lock
Due: app

feat(signup): mark signup header as disconnected
  packages/app/package.json
  yarn.lock
Due: app

ci(gitlab): add manual restore job (#895)
  .gitlab-ci/stages/deploy.yml
  .k8s/azure-volume-secret.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/restore/configmap/restore.sh
  .k8s/postgres/restore/restore-job.yml
  .k8s/postgres/values-postgresql.yaml
  .k8s/secret-dev.yml
Due: none

chore(release): version 25.3.3
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(gitlab): rework prod boackup job
  .k8s/postgres/backup/configmap/anonymous.sh
  .k8s/postgres/backup/configmap/backup.sh
  .k8s/postgres/backup/configmap/status.sh
  .k8s/postgres/backup/configmap/wait_for_status.sh
  .k8s/postgres/backup/cronjob.yml
Due: none

ci(gitlab): rework prod backup job (#896)
  .k8s/postgres/backup/configmap/anonymous.sh
  .k8s/postgres/backup/configmap/backup.sh
  .k8s/postgres/backup/configmap/status.sh
  .k8s/postgres/backup/configmap/wait_for_status.sh
  .k8s/postgres/backup/cronjob.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
