Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(enquete): mandataire modalites exercice #1989 (#1992)
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/common/constants/ENQ_REP_MODALITE_EXERCICE.const.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/modalites-exercice/enqueteModalitesExerciceStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_MODALITE_EXERCICE.const.js
  packages/app/src/components/Enquete/constants/index.js
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200623160019_alter_enquete_reponses_modalites_exercice.js
Due: api, app

fix(enquete-prepose): rename embauches_cnc to non_formation_non_cnc
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonnelFormation.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormSchema.js
Due: api, app

fix(enquete-prepose): rename embauches_cnc to non_formation_non_cnc (#1993)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonnelFormation.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormSchema.js
Due: api, app

chore(typo): use same format in title
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
Due: app

feat(enquete): gérer proprement la soumission du formulaire #1914
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.checker.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel-import/mandataireIndividuelEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/service/enqueteService.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnquetePrepose/mutations.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: api, app

fix(enquete): champs non obligatoires
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormSchema.js
Due: api, app

Toub/feat enquete gérer proprement la soumission du formulaire 1914 (#1995)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.checker.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel-import/mandataireIndividuelEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/service/enqueteService.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnquetePrepose/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormSchema.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: api, app

feat(enquete-prepose): update title
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCausesSortiesDispositifForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesuresForm.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteEtablissementDomicileForm.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteMesuresForm.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnesForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
Due: app

feat(enquete-service): do not display link for service
  packages/app/src/components/Layout/LayoutServices.js
  packages/app/src/components/Layout/LayoutServicesMap.js
Due: app

feat(enquete-prepose): update title
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
Due: app

fix(enquete): prepose #1994
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.test.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.test.js
Due: api

fix(enquete): prepose #1994 (#1996)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.test.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.test.js
Due: api

chore(release): version 25.46.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app
