Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

ci(gitlab): user latest socialgouv/docker/* images
  .gitlab-ci/extends.yml
Due: none

ci(gitlab): user latest socialgouv/docker/* images (#769)
  .gitlab-ci/extends.yml
Due: none

build(k8s): expose the hasura on the 80 port
  .gitlab-ci/stages/deploy.yml
  .k8s/hasura/deployment.yml
Due: none

chore(release): version 24.2.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api

fix(k8s): update hasura deployment api version
  .k8s/hasura/deployment.yml
Due: none

fix(k8s): update hasura deployment api version (#770)
  .k8s/hasura/deployment.yml
Due: none

build(k8s): add missing selector on hasura deployment file
  .k8s/hasura/deployment.yml
Due: none

feat(direction): display all departments and add sort
  packages/app/src/components-v2/Filters/Filters.js
  packages/app/src/util/option/OptionUtil.js
Due: app

chore(release): version 24.2.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

feat(active-link): active link for nested url
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/Navigation/Link.js
Due: app

ci(gitlab): change remote origin for k8s-ns-killer
  .gitlab-ci/stages/notify.yml
Due: none

deat(direction): update after review (#771)
  packages/app/src/components-v2/Filters/Filters.js
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/Navigation/Link.js
  packages/app/src/util/option/OptionUtil.js
Due: app

fix(knex): remove the bad old knex production seeds
  packages/knex/seeds/production/0000-mesures.js
  packages/knex/seeds/production/0040-insert_region.js
  packages/knex/seeds/production/0050-codePostalLatLngs.js
  packages/knex/seeds/production/0050-insert_departements.js
  packages/knex/seeds/production/070-add_tis.js
  packages/knex/seeds/production/080-add_tis_ile_de_France.js
  packages/knex/seeds/production/090-add_cities.js
  packages/knex/seeds/production/latlong.js
Due: none

fix(knex): remove the bad old knex production seeds (#772)
  packages/knex/seeds/production/0000-mesures.js
  packages/knex/seeds/production/0040-insert_region.js
  packages/knex/seeds/production/0050-codePostalLatLngs.js
  packages/knex/seeds/production/0050-insert_departements.js
  packages/knex/seeds/production/070-add_tis.js
  packages/knex/seeds/production/080-add_tis_ile_de_France.js
  packages/knex/seeds/production/090-add_cities.js
  packages/knex/seeds/production/latlong.js
Due: none

fix(magistrat): fix mesure create
  .gitignore
  packages/app/package.json
  packages/app/src/components-v2/AvailabilityMap/Panel.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMandatairesList/mutations.js
  packages/app/src/components-v2/MagistratMandatairesList/queries.js
  packages/app/src/components-v2/UserInformations/UserInformations.js
  packages/app/src/components-v2/UserInformations/queries.js
  packages/app/src/lib/apollo/init-apollo.js
  packages/app/src/util/mandataires/MandataireUtils.js
  yarn.lock
Due: app

fix(magistrat): fix mesure create (#773)
  .gitignore
  packages/app/package.json
  packages/app/src/components-v2/AvailabilityMap/Panel.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMandatairesList/mutations.js
  packages/app/src/components-v2/MagistratMandatairesList/queries.js
  packages/app/src/components-v2/UserInformations/UserInformations.js
  packages/app/src/components-v2/UserInformations/queries.js
  packages/app/src/lib/apollo/init-apollo.js
  packages/app/src/util/mandataires/MandataireUtils.js
  yarn.lock
Due: app
