Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(api): update snapshot (#713)
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
Due: api

feat(direction): add columns to mandataire export
  packages/app/src/components-v2/MandatairesExport/MandatairesExcel.js
  packages/app/src/components-v2/MandatairesExport/queries.js
Due: app

feat(mandataires-list-filters): add capacity ordering
  packages/app/package.json
  packages/app/src/components-v2/MandatairesList/MandatairesList.js
  packages/app/src/components-v2/MandatairesList/queries.js
  packages/app/src/components-v2/MandatairesList/utils.js
  yarn.lock
Due: app

feat(mandataires-list): add filters for mandataires list
  packages/app/src/components-v2/MandatairesList/MandatairesList.js
  packages/app/src/components-v2/MandatairesList/queries.js
Due: app

chore(social-gouv): update package version and data accordingly
  packages/app/package.json
  packages/app/src/components-v2/MandatairesList/utils.js
  yarn.lock
Due: app

feat(mandataires-list-filters): update show button rule
  packages/app/src/components-v2/MandatairesList/MandatairesList.js
Due: app

Feat/mandataires filters (#714)
  packages/app/package.json
  packages/app/src/components-v2/MandatairesList/MandatairesList.js
  packages/app/src/components-v2/MandatairesList/queries.js
  packages/app/src/components-v2/MandatairesList/utils.js
  yarn.lock
Due: app

feat(direction): add columns to mandataire export (#715)
  packages/app/src/components-v2/MandatairesExport/MandatairesExcel.js
  packages/app/src/components-v2/MandatairesExport/queries.js
Due: app

feat(mandataires): remove capacity chart update style accordingly
  packages/app/pages/direction/mandataires.js
  packages/app/src/components-v2/MandatairesDisponibility/MandatairesDisponibilityChart.js
Due: app

fix(direction-layout): comment données démographiques link
  packages/app/src/components-v2/Layout/LayoutDirection.js
Due: app

Fix/mandataires capacity chart (#716)
  packages/app/pages/direction/mandataires.js
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/MandatairesDisponibility/MandatairesDisponibilityChart.js
Due: app

feat(view_mesure_gestionnaire ): update medatas
  packages/hasura/migrations/metadata.yaml
Due: none

feat(view_mesure_gestionnaire ): update medatas (#717)
  packages/hasura/migrations/metadata.yaml
Due: none

build(k8s): use internal service hostname
  .k8s/hasura/deployment.dev.yml
Due: none

feat(service-admin): populate table service_admin
  packages/api/__test__/e2e/admin/__snapshots__/PUT_user.test.js.snap
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/db/queries/mandataires.js
  packages/api/db/queries/mesures.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190911161023_insert_service_admin.js
  packages/knex/seeds/development/0021-users.js
Due: api

ci(gitlab): deploy on new fabrique dev (#709)
  .gitlab-ci/stages/deploy.yml
  .k8s/app/.k8s-deploy-app.yml
Due: none

build(k8s): hasura use direct api pod name (#718)
  .k8s/hasura/deployment.dev.yml
Due: none

build(k8s): add resource limitation on pods
  .k8s/app/deployment.yml
  .k8s/graphql-server/deployment.yml
  .k8s/hasura/deployment.dev.yml
  .k8s/hasura/deployment.prod.yml
  .k8s/postgres/deployment.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
