Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(release): version 25.143.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(migration): wip
  packages/hasura/migrations/default/1637596912826_alter_table_public_mesures_drop_constraint_mesures_editor_id_service_id_numero_dossier_key/down.sql
  packages/hasura/migrations/default/1637596912826_alter_table_public_mesures_drop_constraint_mesures_editor_id_service_id_numero_dossier_key/up.sql
Due: none

chore(release): version 25.143.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(prepose): perms update siret
  packages/hasura/metadata/databases/default/tables/public_lb_users.yaml
Due: none

chore(release): version 25.143.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(up-cgu): fix #2705
  packages/app/src/containers/ConditionsUtilisation/ConditionsUtilisation.md
  packages/app/src/containers/PolitiqueConfidentialite/PolitiqueConfidentialite.md
Due: app

chore(release): version 25.143.6
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(lb): code postal input event
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceCreate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceForm.js
Due: app

fix(nullable): fix #2651#issuecomment-976383241
  packages/app/src/containers/MesureClose/MesureCloseForm.js
Due: app

fix(wording): typo
  packages/app/src/containers/MesureClose/MesureCloseForm.js
  packages/app/src/containers/MesureReactivate/MesureReactivateForm.js
Due: app

fix(rouvrir-mesure): nullify date-fin-mesure
  packages/app/src/containers/MesureAccept/mutations.js
  packages/app/src/containers/MesureReactivate/mutations.js
Due: app

chore(release): version 25.143.7
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(politique-confidentialit): missing table line
  packages/app/src/containers/PolitiqueConfidentialite/PolitiqueConfidentialite.md
  packages/app/src/containers/PolitiqueConfidentialite/index.js
Due: app

fix(cgu): formatage titre
  packages/app/src/containers/ConditionsUtilisation/ConditionsUtilisation.md
Due: app

fix(cgu): missing text
  packages/app/src/containers/ConditionsUtilisation/ConditionsUtilisation.md
Due: app

feat(greffier): re-enable
  packages/app/src/containers/Signup/SignupForm.js
Due: app

fix(nullable): actual_tribunal_id
  packages/app/src/validation-schemas/adminTribunalSchema.js
Due: app

fix(nullable): signup greffier et magistrat
  packages/app/src/validation-schemas/signupGreffierSchema.js
  packages/app/src/validation-schemas/signupMagistratSchema.js
Due: app

fix(greffier): route by role on auth
  packages/app/src/user/Auth.js
Due: app

fix(admin-cabinet): magistrat and greffier
  packages/app/src/containers/GreffierEditInformations/queries.js
  packages/app/src/containers/MagistratEditInformations/queries.js
Due: app

fix(is-urgent): remove debug
  packages/app/src/containers/MesureListItem/index.js
Due: app

fix(greffier): map items list alignment
  packages/app/src/containers/MandataireListItem/index.js
Due: app

chore(release): version 25.144.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(export): send empty file when no mesures
  packages/api/src/routes/hasura-actions/mesure/actions/actionMesuresExport.js
Due: api

chore(release): version 25.144.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(stats): add greffier fix #2708
  packages/app/src/containers/IndicatorList/IndicatorList.js
  packages/app/src/containers/IndicatorList/IndicatorListTotal.js
  packages/app/src/containers/IndicatorList/queries.js
  packages/app/src/containers/IndicatorList/style.js
  packages/hasura/migrations/default/1638567117046_view_nation_indicateur_inscrit_add_greffier/down.sql
  packages/hasura/migrations/default/1638567117046_view_nation_indicateur_inscrit_add_greffier/up.sql
Due: app

fix(import-ocmi): increase timeout
  packages/hasura/metadata/actions.yaml
Due: none

chore(release): version 25.145.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(api-logs): editor-id fix #2579
  packages/api/src/middlewares/apiLog.js
  packages/api/src/models/ApiLog.js
Due: api

chore(secu): add CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(secu): add CODEOWNERS (#2714)
  .github/CODEOWNERS
Due: none

fix(api-mandoline): direction duplicate on region
  packages/api/src/controllers/mandoline/direction-services.js
Due: api

fix(api-mandoline): direction national
  packages/api/src/controllers/mandoline/direction-services.js
Due: api

chore(release): version 25.145.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(migration): dedup double pass
  packages/hasura/migrations/default/1637597345445_alter_table_public_mesures_add_unique_mandataire_id_ti_id_numero_rg/down.sql
  packages/hasura/migrations/default/1637597345445_alter_table_public_mesures_add_unique_mandataire_id_ti_id_numero_rg/up.sql
Due: none

chore(release): version 25.145.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(stats): indicator height
  packages/app/src/containers/IndicatorList/style.js
Due: app

chore(release): version 25.145.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(stats): view indicator login greffier
  packages/hasura/migrations/default/1638875142426_view_nation_indicateur_login_greffier/down.sql
  packages/hasura/migrations/default/1638875142426_view_nation_indicateur_login_greffier/up.sql
Due: none

chore(release): version 25.145.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app
