Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

add missing api k8s file
  packages/api/.k8s.values.yml
Due: api

fix(api): add date-fns dependency
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

chore(deps): update dependency @babel/* to ^7.7.5
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

fix(api): add date-fns dependency (#1092)
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

chore(deps): update dependency @babel/* to ^7.7.5 (#1093)
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

fix(app): lodash.flow is a real dependency
  packages/app/package.json
Due: app

fix(app): lodash.flow is a real dependency (#1094)
  packages/app/package.json
Due: app

fix(deps): update dependency @sentry/browser to ^5.10.2
  packages/app/package.json
  yarn.lock
Due: app

feat(mandataire-informations): add informations working pages
  packages/app/pages/mandataires-v0/index.js
  packages/app/pages/mandataires/edit-informations.js
  packages/app/pages/mandataires/edit-password.js
  packages/app/pages/mandataires/import-mesures.js
  packages/app/pages/mandataires/index.js
  packages/app/pages/mandataires/informations.js
  packages/app/src/components-v2/EditPassword/EditPassword.js
  packages/app/src/components-v2/Layout/LayoutMandataire.js
  packages/app/src/components-v2/MandatairesEditInformations/MandatairesEditInformations.js
  packages/app/src/components-v2/MandatairesEditInformations/MandatairesEditInformations.test.js
  packages/app/src/components-v2/MandatairesEditInformations/index.js
  packages/app/src/components-v2/MandatairesEditInformations/mutations.js
  packages/app/src/components-v2/MandatairesEditInformations/style.js
  packages/app/src/constants/basePath.js
Due: app

feat(mandataires-informations): add basic mandataire informations pages
  packages/app/pages/account/edit-informations.js
  packages/app/pages/account/edit-password.js
  packages/app/pages/account/index.js
  packages/app/pages/account/informations.js
  packages/app/pages/mandataires-v0/import-mesures.js
  packages/app/pages/mandataires-v0/index.js
  packages/app/src/components-v2/MandatairesInformations/MandatairesInformations.js
  packages/app/src/components-v2/MandatairesInformations/MandatairesInformations.test.js
  packages/app/src/components-v2/MandatairesInformations/index.js
  packages/app/src/components-v2/MandatairesInformations/style.js
Due: app

fix(font-size): add missing base font size
  packages/app/src/components-v2/Layout/LayoutAdmin.js
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/Layout/LayoutMandataire.js
  packages/app/src/components-v2/Layout/LayoutPublic.js
  packages/app/src/components-v2/Layout/LayoutServices.js
  packages/app/src/components-v2/Layout/LayoutSignup.js
Due: app

feat(mandataire): update metadata permission
  packages/hasura/migrations/metadata.yaml
Due: none

feat(mandataire-mesure): fix pagination add working panels
  packages/app/src/components-v2/MandatairesMesures/MandatairesAcceptMesure.js
  packages/app/src/components-v2/MandatairesMesures/MandatairesAddMesure.js
  packages/app/src/components-v2/MandatairesMesures/MandatairesCloseMesure.js
  packages/app/src/components-v2/MandatairesMesures/MandatairesDeleteMesure.js
  packages/app/src/components-v2/MandatairesMesures/MandatairesEditMesure.js
  packages/app/src/components-v2/MandatairesMesures/MandatairesMesures.js
  packages/app/src/components-v2/MandatairesMesures/MandatairesReactivateMesure.js
  packages/app/src/components-v2/MandatairesMesures/mutations.js
  packages/app/src/components-v2/MandatairesMesures/queries.js
  packages/app/src/components-v2/MandatairesMesures/utils.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/utils.js
Due: app

fix(tests): disable tests for app
  .gitlab-ci/stages/quality.yml
  packages/app/package.json
  packages/app/src/components/AdminFilterBar/__snapshots__/AdminFilterBar.test.js.snap
  packages/app/src/components/UserContext/__snapshots__/UserContext.test.js.snap
  packages/app/test/filterData.test.js
  packages/app/test/isOlderThanOneMonth.test.js
  yarn.lock
Due: app

feat(mandataires-add-mesure): add mesure page
  packages/app/pages/mandataires/add-mesures.js
  packages/app/pages/mandataires/index.js
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
  packages/app/src/components/MandatairesMesures/index.js
  packages/app/src/components/MandatairesMesures/mutations.js
Due: app

fix(test): disable test app for travis
  .travis.yml
Due: none

fix(deps): update dependency @sentry/browser to ^5.10.2 (#1097)
  packages/app/package.json
  yarn.lock
Due: app

chore(date-fns): fix date-fns bump
  packages/api/email/reservation-email.js
  packages/api/package.json
  packages/app/package.json
  packages/app/src/components/MagistratMesures/utils.js
  packages/app/src/components/MandatairesMesures/utils.js
  packages/app/src/components/ServiceMesures/utils.js
  packages/app/src/util/mandataires/MandataireUtils.js
  yarn.lock
Due: api, app

chore(date-fns): fix date-fns bump (#1098)
  packages/api/email/reservation-email.js
  packages/api/package.json
  packages/app/package.json
  packages/app/src/components/MagistratMesures/utils.js
  packages/app/src/components/MandatairesMesures/utils.js
  packages/app/src/components/ServiceMesures/utils.js
  packages/app/src/util/mandataires/MandataireUtils.js
  yarn.lock
Due: api, app
