Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(satisfaction-campaigns): display admin satisfaction campaign answer informations (#1559)
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignInformations.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminSatisfactionCampaigns/queries.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: app

ci(k8s): increase cpu limit for app
  packages/app/.k8s.values.yml
Due: app

ci(api-test): update api test --maxWorkers=2
  packages/api/package.json
Due: api

ci(daily-backup): update pg image for postgres
  .k8s/postgres/backup/cronjob.yml
Due: none

ci(api-test): uncomment api test (#1558)
  .gitlab-ci.yml
  packages/api/jest.config.js
  packages/api/package.json
Due: api

feat(knex): create tis migrations
  packages/knex/migrations_v2/20200309111352_create_departement_id_column_in_tis.js
  packages/knex/migrations_v2/20200309121355_update_tis_rows_with_departement_ids.js
Due: none

feat(migration): use getRegionCode helper
  packages/knex/migrations_v2/20200309121355_update_tis_rows_with_departement_ids.js
Due: none

feat(migrations): update tis with departement ids
  packages/api/__test__/utils/getRegionCode.test.js
  packages/api/src/utils/getRegionCode.js
  packages/app/src/util/departements/DepartementUtil.js
  packages/app/src/util/departements/DepartementUtil.test.js
  packages/knex/migrations_v2/20200309121355_update_tis_rows_with_departement_ids.js
Due: api, app

fix(service): depcode issue
  packages/app/src/components/AdminServices/AdminAddService.js
  packages/app/src/components/AdminServices/AdminEditService.js
  packages/app/src/util/geocode/geocode.js
Due: app

fix(admin): style issue in tribunaux page
  packages/app/src/components/AdminTribunaux/AdminTribunaux.js
Due: app

feat(admin): add & update tribunal (with departement_id)
  packages/app/src/components/AdminServices/queries.js
  packages/app/src/components/AdminTribunaux/AdminAddTribunal.js
  packages/app/src/components/AdminTribunaux/AdminEditTribunal.js
  packages/app/src/components/AdminTribunaux/mutations.js
  packages/app/src/components/AdminTribunaux/queries.js
Due: app

fix(admin): remove comments
  packages/app/src/components/AdminTribunaux/AdminAddTribunal.js
  packages/app/src/components/AdminTribunaux/AdminEditTribunal.js
Due: app

chore(test): update snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

feat(tribunal): create relation between "tribunal" and "departement" (#1557)
  packages/api/__test__/utils/getRegionCode.test.js
  packages/api/src/utils/getRegionCode.js
  packages/app/src/components/AdminServices/AdminAddService.js
  packages/app/src/components/AdminServices/AdminEditService.js
  packages/app/src/components/AdminServices/queries.js
  packages/app/src/components/AdminTribunaux/AdminAddTribunal.js
  packages/app/src/components/AdminTribunaux/AdminEditTribunal.js
  packages/app/src/components/AdminTribunaux/AdminTribunaux.js
  packages/app/src/components/AdminTribunaux/mutations.js
  packages/app/src/components/AdminTribunaux/queries.js
  packages/app/src/util/departements/DepartementUtil.js
  packages/app/src/util/departements/DepartementUtil.test.js
  packages/app/src/util/geocode/geocode.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200309111352_create_departement_id_column_in_tis.js
  packages/knex/migrations_v2/20200309121355_update_tis_rows_with_departement_ids.js
Due: api, app

feat(sentry): handle nextjs ssr
  packages/app/next.config.js
  packages/app/pages/_app.js
  packages/app/src/sentry.js
Due: app

feat(sentry): move sentry to util
  packages/app/pages/_app.js
  packages/app/src/util/sentry.js
Due: app

feat(sentry): use sentry module
  packages/app/src/components/AdminEditors/AdminEditorCreate.js
  packages/app/src/components/AdminEditors/AdminEditorRequest.js
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignCreate.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminServices/AdminAddService.js
  packages/app/src/components/AdminServices/AdminEditService.js
  packages/app/src/components/ForgotPassword/ForgotPassword.js
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.js
  packages/app/src/components/ServiceEdit/ServiceEdit.js
Due: app

feat(sentry): set sentry release as PACKAGE_VERSION
  packages/app/src/util/sentry.js
Due: app

test(sentry): update knex snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(sentry): add sentry node dep
  packages/app/package.json
  yarn.lock
Due: app

feat(sentry): improve sentry (#1570)
  packages/app/next.config.js
  packages/app/package.json
  packages/app/pages/_app.js
  packages/app/src/components/AdminEditors/AdminEditorCreate.js
  packages/app/src/components/AdminEditors/AdminEditorRequest.js
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignCreate.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminServices/AdminAddService.js
  packages/app/src/components/AdminServices/AdminEditService.js
  packages/app/src/components/ForgotPassword/ForgotPassword.js
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.js
  packages/app/src/components/ServiceEdit/ServiceEdit.js
  packages/app/src/util/sentry.js
  yarn.lock
Due: app

feat(indicateurs): delete auth hoc
  packages/app/pages/indicateurs/index.js
  packages/app/src/util/auth.js
Due: app

feat(migrations): update indicator views
  packages/knex/migrations_v2/20200310114411_update_view_indicateur_login.js
  packages/knex/migrations_v2/20200310125318_update_view_indicateur_inscrit.js
Due: none

feat(indicator): display magistrat metrics
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/queries.js
Due: app

feat(stats): change /indicateurs to /stats
  packages/app/pages/stats/[departement_code].js
  packages/app/pages/stats/index.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
