Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(app): make lint happy
  packages/app/src/lib/apollo/with-apollo-client.js
Due: app

feat(app): enhance sentry configuration
  .k8s/secret-dev.yml
  packages/app/pages/_app.js
  packages/app/pages/_error.js
  packages/app/src/components/Login/Login.js
  packages/app/src/util/sentry.js
Due: app

feat(app): enhance sentry configuration (#2282)
  .k8s/secret-dev.yml
  packages/app/pages/_app.js
  packages/app/pages/_error.js
  packages/app/src/components/Login/Login.js
  packages/app/src/lib/apollo/with-apollo-client.js
  packages/app/src/util/sentry.js
Due: app

chore(app): add name to arrow function
  packages/app/src/util/serviceSiretExists.js
Due: app

chore(app): move meta data in app
  packages/app/pages/_app.js
  packages/app/pages/_document.js
Due: app

feat(mesure_etat): remove etablissement_siret
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/controllers/editor/service/saveMesure.js
  packages/api/src/controllers/editor/service/updateMesure.js
  packages/api/src/models/MesureEtat.js
  packages/api/src/utils/mesure.js
  packages/hasura/metadata/cron_triggers.yaml
  packages/hasura/migrations/1604324106592_alter_table_public_mesure_etat_drop_column_etablissement_siret/down.sql
  packages/hasura/migrations/1604324106592_alter_table_public_mesure_etat_drop_column_etablissement_siret/up.sql
Due: api

feat(api-logs): add pagination for logs (#2268)
  packages/app/pages/admin/api-logs/[api_log_id].js
  packages/app/src/components/AdminApiLogs/AdminApiLog.js
  packages/app/src/components/AdminApiLogs/AdminApiLogs.js
  packages/app/src/components/AdminApiLogs/queries.js
Due: app

chore(docker-compose): always restart hasura
  docker-compose.yaml
Due: none

style(api): make eslint happy
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/models/EnqueteReponses.js
  packages/api/src/models/EnqueteReponsesActivite.js
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/models/EnqueteReponsesPopulations.js
  packages/api/src/models/EnqueteReponsesPreposePrestationsSociales.js
  packages/api/src/models/EnqueteReponsesServicePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/activite/enqueteActiviteStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/informations_mandataire/enqueteInformationsMandatairesStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/service-personnel-formation/enqueteServicePersonnelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserAgrementsPopulations.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPersonnelFormationService.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePrestationsSociales.js
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
  packages/api/src/routes/hasura-actions/mesure/hasura-actions.mesures.routes.js
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
  packages/api/src/utils/mesure.js
Due: api

style(core): make eslint happy
  packages/core/.eslintignore
  packages/core/.eslintrc.yml
  packages/core/rollup.config.js
  packages/core/src/constants/DIRECTION.const.js
  packages/core/src/constants/GLOBAL.const.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
  packages/core/src/constants/index.js
  packages/core/src/formatters/direction.formatter.js
  packages/core/src/formatters/index.js
  packages/core/src/formatters/mesure.formatter.js
  packages/core/src/index.js
  packages/core/src/keys/MESURE_PROTECTION.key.js
  packages/core/src/keys/USER_DIRECTION.key.js
  packages/core/src/keys/index.js
  packages/core/src/services/directions.service.js
  packages/core/src/services/index.js
  packages/core/src/services/mesures.service.js
  packages/core/src/services/users.service.js
Due: none

style(api): make eslint happy
  packages/api/.eslintignore
  packages/ui/package.json
Due: api

chore(app): make lint happier
  packages/app/pages/admin/etablissements/[id].js
  packages/app/src/components/AdminApiLogs/AdminApiLogs.js
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminEtablissements/AdminEtablissements.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminServices/AdminServices.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/Commons/Breadcrumb.js
  packages/app/src/components/EnqueteDirection/DirectionEnqueteDetailsReponsesList.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/MagistratMandataire/MagistratMandataire.js
  packages/app/src/components/Map/MapError.js
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/components/Signup/SignupForm.js
  packages/app/src/components/Signup/SignupMagistrat.js
  packages/app/src/components/Signup/SignupMandataire.js
  packages/app/src/components/Signup/SignupService.js
  packages/app/src/components/Signup/SignupServiceInvitationForm.js
Due: app

ci(github): switch to github ci
  .github/workflows/ci.yml
  .travis.yml
Due: none

chore(test): remove old tests
  packages/app/src/components/DirectionInformations/DirectionInformations.test.js
  packages/app/src/components/DirectionInformations/__snapshots__/DirectionInformations.test.js.snap
  packages/app/src/components/Header/Header.test.js
  packages/app/src/components/Header/__snapshots__/Header.test.js.snap
  packages/app/src/components/MandataireMesureSidebar/MandataireMesureSidebar.test.js
  packages/app/src/components/MandataireMesureSidebar/__snapshots__/MandataireMesureSidebar.test.js.snap
  packages/app/src/components/ServiceMesureSidebar/ServiceMesureSidebar.test.js
  packages/app/src/components/ServiceMesureSidebar/__snapshots__/ServiceMesureSidebar.test.js.snap
  packages/app/src/components/UserContext/UserContext.test.js
  packages/app/src/components/UserContext/__snapshots__/UserContext.test.js.snap
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
