Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

refactor(api): enquete mandataire individuel
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/checkEnqueteIndividuelParameters.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/api/src/utils/graphql-fetcher.js
Due: api

refactor(graphql-server): remove enquete schema
  packages/graphql-server/src/datasource/enquete.api.ts
  packages/graphql-server/src/datasource/index.ts
  packages/graphql-server/src/resolvers/mesure-stat.resolver.ts
  packages/graphql-server/src/resolvers/query/enquetes.ts
  packages/graphql-server/src/schemas/mesure-statistic.schema.ts
  packages/graphql-server/src/types/index.ts
  packages/graphql-server/src/types/resolvers-types.ts
Due: none

refactor(api): enquete mandataire individuel (#1817)
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/checkEnqueteIndividuelParameters.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/api/src/utils/graphql-fetcher.js
  packages/graphql-server/src/datasource/enquete.api.ts
  packages/graphql-server/src/datasource/index.ts
  packages/graphql-server/src/resolvers/mesure-stat.resolver.ts
  packages/graphql-server/src/resolvers/query/enquetes.ts
  packages/graphql-server/src/schemas/mesure-statistic.schema.ts
  packages/graphql-server/src/types/index.ts
  packages/graphql-server/src/types/resolvers-types.ts
Due: api

feat(renovate): enable light mode #1810
  .github/renovate.json
Due: none

feat(renovate): enable light mode #1810 (#1818)
  .github/renovate.json
Due: none

chore(deps): update all dependencies
  optional/e2e/.runners/puppetteer/package.json
  optional/e2e/.runners/puppetteer/yarn.lock
  packages/api/package.json
  packages/app/package.json
  packages/graphql-server/package.json
  packages/ui/package.json
  yarn.lock
Due: api, app

chore(build): fix unused ApolloError import
  packages/graphql-server/src/types/index.ts
Due: none

chore(build): fix api import
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
Due: api

feat(enquete): create components unit tests
  packages/app/.eslintrc.yml
  packages/app/jest.config.js
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.test.js
  packages/app/src/components/ServiceMesureSidebar/__snapshots__/ServiceMesureSidebar.test.js.snap
  packages/app/src/util/test-utils.js
  packages/app/yarn-error.log
  yarn.lock
Due: app

fix(upload): replace binary upload and encoding method
  packages/api/src/routes/hasura-actions/mesures-import/actionsMesuresImporter.js
  packages/api/src/utils/file/excelParser.js
  packages/app/src/components/EnqueteImport/SingleImportFilePicker.js
  packages/app/src/components/MesureImport/fileReader.js
Due: api, app

feat(enquete): create components unit tests (#1820)
  packages/app/.eslintrc.yml
  packages/app/jest.config.js
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.test.js
  packages/app/src/components/ServiceMesureSidebar/__snapshots__/ServiceMesureSidebar.test.js.snap
  packages/app/src/util/test-utils.js
  packages/app/yarn-error.log
  yarn.lock
Due: app

fix(upload): replace binary upload and encoding method (#1822)
  packages/api/src/routes/hasura-actions/mesures-import/actionsMesuresImporter.js
  packages/api/src/utils/file/excelParser.js
  packages/app/src/components/EnqueteImport/SingleImportFilePicker.js
  packages/app/src/components/MesureImport/fileReader.js
Due: api, app

feat(enquete): submit mandataire individuel enquete
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/hasura/migrations/metadata.yaml
Due: api

feat(enquete): import individuel excel parsing #1801
  packages/api/src/models/EnqueteReponsesInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/index.js
  packages/api/src/routes/hasura-actions/enquete-import/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/enqueteExcelSchemas.js
  packages/api/src/routes/hasura-actions/enquete-import/repository/enqueteImportRepository.js
  packages/knex/migrations_v2/20200520123009_upd_info_mandataires.js
Due: api

feat(enquete): import individuel excel agrementsFormations #1801
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_AGREMENTS_FORMATIONS.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/index.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserUtil.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemas.js
Due: api

feat(enquete): update form to reflect import schema changes #1801 #1811
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/checkImportEnqueteParameters.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_AGREMENTS_FORMATIONS.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemas.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/pages/mandataires/enquetes/[enquete_id]/import.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_INFO_MANDATAIRE_FORM.const.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/mutations.js
  packages/app/src/components/EnqueteImport/useEnqueteImportManager.hook.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200520123009_upd_info_mandataires.js
Due: api, app

feat(enquete): import individuel excel parsing #1801 (#1808)
  packages/api/src/models/EnqueteReponsesInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/checkImportEnqueteParameters.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_AGREMENTS_FORMATIONS.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/index.js
  packages/api/src/routes/hasura-actions/enquete-import/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserUtil.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete-import/repository/enqueteImportRepository.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/pages/mandataires/enquetes/[enquete_id]/import.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_INFO_MANDATAIRE_FORM.const.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/mutations.js
  packages/app/src/components/EnqueteImport/useEnqueteImportManager.hook.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200520123009_upd_info_mandataires.js
Due: api, app

feat(enquete): fix type secretaire_specialise_etp #1801 #1811
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.test.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/yarn-error.log
Due: app

feat(enquete): backend validators
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/queries.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(enquete): add missing fields on informations generales section
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
Due: api, app

feat(enquete): backend validators (#1826)
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(enquete): refresh validation after mutation
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSociales.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
