Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(magistrats): add services mesures en cours to fiche mandataires
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
Due: app

feat(inscription): order tribunal instance by ville
  packages/api/db/queries/inscription.js
Due: api

feat(inscription): put more time for password reset
  packages/api/routes/auth.js
Due: api

feat(mandataires): rename numero de dossier by référence de la mesure
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/static/css/custom.css
Due: app

feat(imports excel): residence can be SDF and Autres
  packages/app/src/components/common/nomination.js
  packages/app/src/excel/references.js
Due: app

feat(mandataires): Add reason fin de manda to mandataires
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/service.js
  packages/app/src/components/tiComponents/index.js
Due: app

hotfix(mandataires): fix create mesures
  packages/app/src/components/common/Autocomplete.js
  packages/app/src/components/mandataires/CreateMesure.js
Due: app

fix(mandataires): handle singular in nb mesures
  packages/app/src/components/common/ShowBox.js
Due: app

fix: prevent a bug in dead code :)
  packages/app/src/components/mandataires/modals/EditMesure.js
Due: app

Update .travis.yml
  .travis.yml
Due: none

build(docker): sed the frontend artifact to config the API_URL (#266)
  .env.test
  .gitlab-ci.yml
  .travis.yml
  Dockerfile
  docker-compose.override.yaml.sample
  docker-compose.test.yaml
  packages/app/Dockerfile
  packages/app/nginx.conf
  packages/app/scripts/entrypoint.sh
Due: app

build(e2e): update docker file build
  optional/e2e/.dockerignore
  optional/e2e/Dockerfile
  package.json
Due: none

Hotfix create mesures (#267)
  packages/app/src/components/common/Autocomplete.js
  packages/app/src/components/mandataires/CreateMesure.js
  packages/app/src/components/mandataires/modals/EditMesure.js
Due: app

fix(mandataires): handle singular in nb mesures (#268)
  packages/app/src/components/common/ShowBox.js
Due: app

build(e2e): update docker file build (#271)
  optional/e2e/.dockerignore
  optional/e2e/Dockerfile
  package.json
Due: none

test(e2e): update admin tests and user test seed
  optional/e2e/cypress/integration/admin.spec.js
  packages/api/__test__/e2e/admin/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/admin/__snapshots__/GET_tis.test.js.snap
  packages/knex/seeds/test/0000-users.js
Due: api

style(e2e): lint it
  optional/e2e/cypress/integration/admin.spec.js
Due: none

style(e2e): use aliases
  optional/e2e/cypress/integration/admin.spec.js
Due: none

test(e2e): update admin tests and user test seed (#258)
  optional/e2e/cypress/integration/admin.spec.js
  packages/api/__test__/e2e/admin/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/admin/__snapshots__/GET_tis.test.js.snap
  packages/knex/seeds/test/0000-users.js
Due: api

ci(gitlab): try to have faster e2e ready test env
  .gitlab-ci.yml
Due: none

chore(renovate): remove automerge
  renovate.json
Due: none
