Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(clean): remove 3rdpart deps (#2380)
  packages/app/public/static/css/font-open-sans.css
  packages/app/public/static/css/font-quicksand.css
  packages/app/public/static/css/font-source-sans-pro.css
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-600.eot
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-600.svg
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-600.ttf
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-600.woff
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-600.woff2
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-700.eot
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-700.svg
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-700.ttf
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-700.woff
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-700.woff2
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-regular.eot
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-regular.svg
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-regular.ttf
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-regular.woff
  packages/app/public/static/fonts/open-sans-v18-latin-ext_latin-regular.woff2
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-700.eot
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-700.svg
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-700.ttf
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-700.woff
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-700.woff2
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-regular.eot
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-regular.svg
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-regular.ttf
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-regular.woff
  packages/app/public/static/fonts/quicksand-v21-latin-ext_latin-regular.woff2
  packages/app/public/static/tarteaucitron/initTarteaucitron.js
  packages/app/public/static/tarteaucitron/tarteaucitron.services.js
  packages/app/src/components/ConditionsUtilisation/ConditionsUtilisation.md
  packages/app/src/components/ExcludeBrowserBanner/ExcludeBrowserBanner.js
  packages/app/src/components/PolitiqueConfidentialite/PolitiqueConfidentialite.md
  packages/app/src/pages/_document.js
  packages/ui/.storybook/preview-head.html
Due: app

feat(mesure): handle null zip code and foreign countries
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureCreate/MesureCreate.js
Due: api, app

chore(clean-pem): remove from api
  .docker-compose/secrets/private.pem
  .docker-compose/secrets/public.pem
  .k8s/secret-dev.yml
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/.k8s.values.yml
  packages/api/src/config/jwt.js
Due: api

feat(mesure): handle null zip code and foreign countries
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
  packages/api/src/routes/hasura-actions/mesure/mesures-import/repository/actionsMesuresImporterGeoRepository.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/core/src/formatters/std.formatter.js
Due: api, app

feat(mesure): handle null zip code and foreign countries
  packages/api/src/controllers/editor/helper/buildMesure.js
Due: api

chore(documentation): add tech.md and update readme (#2379)
  README.md
  tech.md
  test.md
Due: none

feat(mesure): handle null zip code and foreign countries (#2381)
  packages/api/src/controllers/editor/helper/buildMesure.js
  packages/api/src/controllers/editor/service/getLastEtatDatas.js
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
  packages/api/src/routes/hasura-actions/mesure/mesures-import/repository/actionsMesuresImporterGeoRepository.js
  packages/api/src/services/getDepartement.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/core/src/formatters/std.formatter.js
  packages/core/src/services/index.js
  packages/core/src/services/pays.service.js
Due: api, app

chore(clean-pem): fix ci
  .dev-secrets/private.pem
  .dev-secrets/public.pem
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/Dockerfile
  packages/api/src/config/jwt.js
Due: api

chore(clean-pem): fix + refacto config
  packages/api/src/auth/auth-passport.js
  packages/api/src/auth/strategies/authUserJwtStrategy.js
  packages/api/src/config/configuration.js
  packages/api/src/config/index.js
  packages/api/src/config/jwt.js
  packages/api/src/controllers/jwk/index.js
  packages/api/src/controllers/user/oauth.js
  packages/api/src/email/index.js
  packages/api/src/models/User.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
  packages/api/src/utils/azure.js
Due: api

chore(clean-pem): remove from api (#2382)
  .dev-secrets/private.pem
  .dev-secrets/public.pem
  .k8s/secret-dev.yml
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/.k8s.values.yml
  packages/api/Dockerfile
  packages/api/src/auth/auth-passport.js
  packages/api/src/auth/strategies/authUserJwtStrategy.js
  packages/api/src/config/configuration.js
  packages/api/src/config/index.js
  packages/api/src/config/jwt.js
  packages/api/src/controllers/jwk/index.js
  packages/api/src/controllers/user/oauth.js
  packages/api/src/email/index.js
  packages/api/src/models/User.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
  packages/api/src/utils/azure.js
Due: api

chore(clean-nextjs): fix boot errors
  packages/app/next.config.js
  packages/app/package.json
  packages/app/src/pages/404.js
  yarn.lock
Due: app

fix(bugfix-react-select): add instanceId everywhere
  packages/app/src/components/AdminFilterBar/AdminFilterBar.js
  packages/app/src/components/AdminServices/AdminServiceMesures.js
  packages/app/src/components/AdminUserMandataire/AdminMandataireMesures.js
  packages/app/src/components/DirectionFilters/DirectionFilters.js
  packages/app/src/components/DirectionMandatairesCapacity/MandatairesCapacity.js
  packages/app/src/components/DirectionMandatairesList/MandatairesList.js
  packages/app/src/components/DynamicTable/DynamicTableFooter.js
  packages/app/src/components/EnqueteDirection/DirectionEnqueteReponsesFilter/DirectionEnqueteReponsesCriteria.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelFormDepartementsSelector.js
  packages/app/src/components/MagistratFilters/MagistratFilters.js
  packages/app/src/components/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/components/MesureImport/ServiceMesureAntennesMatcher.js
  packages/app/src/components/MesureListFilters/MesureListFilters.js
  packages/app/src/components/ServiceEditInformations/ServiceEditInformationsForm.js
Due: app

fix(bugfix-ssr): fix ssr loading text conflict
  packages/app/src/components/AdminEtablissements/AdminEtablissements.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/Authorize/Authorize.js
  packages/app/src/components/DirectionFilters/DirectionFilters.js
  packages/app/src/components/EnqueteDirection/DirectionEnquetesList.js
  packages/app/src/components/Etablissement/EtablissementImport.js
  packages/app/src/components/Etablissement/EtablissementView.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelFormDepartementsSelector.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/MagistratMesureMandataireTitle/MagistratMesureMandataireTitle.js
  packages/app/src/components/MagistratMesureServiceTitle/MagistratMesureServiceTitle.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/app/src/components/MesureList/MesureList.js
  packages/app/src/components/ServiceEditInformations/ServiceEditInformations.js
  packages/app/src/components/UserContext/UserContext.js
  packages/app/src/util/departements/useDepartements.hook.js
Due: app

feat(rate-limit-k8s): ingress ddos protection (#2307)
  packages/api/.k8s.values.yml
  packages/hasura/.k8s.values.yml
Due: api

refactor(gitlab-ci): testing autodevops
  .gitlab-ci.yml
Due: none

refactor(clean): rm next-transpile-modules
  packages/app/package.json
  packages/app/scripts/transpile_modules.sh
  yarn.lock
Due: app

fix(jest-module-alias): moduleNameMapper
  packages/api/jest.e2e.config.js
  packages/api/jest.unit.config.js
Due: api

refactor(clean): rm github ci
  .github/workflows/ci.yml
Due: none

refactor(pg-port): 5434 to 5432
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.yaml
  optional/e2e/.runners/puppetteer/step_definitions/database.js
  packages/api/__test__/database/seed-data.js
  packages/api/knexfile.js
  scripts/local/restore_dump.sh
  test.md
Due: api

refactor(gitlab-ci): wip
  .gitlab-ci.yml
Due: none

refactor(gitlab-ci): wip
  .gitlab-ci.yml
  packages/api/knexfile.js
Due: api

refactor(gitlab-ci): wip
  .github/workflow/ci.yml
Due: none
