Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(direction-kpi): relevants KPI !
  packages/api/src/routes/hasura-actions/stat/available-mesures/global.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/over.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/real.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/unknown-gestion.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/unknown-mesures.js
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/containers/DirectionIndicators/ClosedMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/DirectionStatsKPI.js
  packages/app/src/containers/DirectionIndicators/queries.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1619455887840_drop_view_public_view_nation_availability/up.sql
  packages/hasura/migrations/1619456591542_view_department_availability/up.sql
Due: api, app

feat(direction-kpi): relevants kpi
  packages/api/src/routes/hasura-actions/stat/available-mesures/unknown-mesures.js
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/containers/DirectionIndicators/DirectionStatsKPI.js
  packages/app/src/containers/DirectionIndicators/queries.js
  packages/hasura/metadata/actions.graphql
Due: api, app

feat(direction): stat relevants kpi (#2533)
  packages/api/src/routes/hasura-actions/stat/available-mesures/global.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/over.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/real.js
  packages/api/src/routes/hasura-actions/stat/available-mesures/unknown-gestion.js
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/components/Grid/index.js
  packages/app/src/components/Grid/style.js
  packages/app/src/components/Indicator/index.js
  packages/app/src/containers/DirectionIndicators/AvailableMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/ClosedMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/DirectionStatsKPI.js
  packages/app/src/containers/DirectionIndicators/EtablissementIndicator.js
  packages/app/src/containers/DirectionIndicators/MandatairesIndicator.js
  packages/app/src/containers/DirectionIndicators/OpenMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/ServicesIndicator.js
  packages/app/src/containers/DirectionIndicators/index.js
  packages/app/src/containers/DirectionIndicators/queries.js
  packages/app/src/pages/direction/donnees-demographiques.js
  packages/app/src/pages/direction/index.js
  packages/app/src/pages/direction/mandataires/list.js
  packages/app/src/routes/Routes.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1619455887840_drop_view_public_view_nation_availability/up.sql
  packages/hasura/migrations/1619456591542_view_department_availability/up.sql
Due: api, app

chore(release): version 25.115.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(lb): link id
  packages/app/src/containers/ListeBlanche/ListeBlanche.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelItem.js
  packages/app/src/containers/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeItem.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceItem.js
  packages/app/src/containers/ListeBlanche/queries.js
Due: app

chore(release): version 25.115.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(mandataire): dispo_max display 0
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformationsForm.js
Due: app

fix(mandataires-list): fix NC + clean
  packages/app/src/containers/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/containers/MandataireListItem/index.js
  packages/app/src/containers/Mandatairelist/Mandataire.js
  packages/hasura/migrations/1619603082992_dispo_max_null_to_zero/up.sql
  packages/hasura/migrations/1619603126543_alter_table_public_services_alter_column_dispo_max/down.sql
  packages/hasura/migrations/1619603126543_alter_table_public_services_alter_column_dispo_max/up.sql
  packages/hasura/migrations/1619603147192_alter_table_public_mandataires_alter_column_dispo_max/down.sql
  packages/hasura/migrations/1619603147192_alter_table_public_mandataires_alter_column_dispo_max/up.sql
Due: app

fix(import-mesures): unhandled undefined var
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/services/updateMandataireMesuresFromOCMI.js
Due: api

fix(ocmi-sync): cron hour to 5
  packages/hasura/metadata/cron_triggers.yaml
Due: none

chore(release): version 25.115.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(lb-filters): after lb mandataire reversed
  packages/app/src/containers/ListeBlanche/TabPanelPaginatedList.js
Due: app

chore(release): version 25.115.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(mesures): en_attente re-enable actions
  packages/app/src/containers/MesureView/MesureDetailView.js
Due: app

chore(release): version 25.115.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(dev): log error
  packages/api/src/services/updateMandataireMesuresFromOCMI.js
Due: api

chore(clean): remove debug log
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
Due: api

feat(log): unchanged ocmi
  packages/api/src/routes/hasura-triggers/ocmi/index.js
Due: api

chore(release): version 25.116.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ocmi-import): use last modified and created on
  packages/api/src/routes/hasura-triggers/ocmi/index.js
Due: api

chore(release): version 25.116.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(improt-ocmi): release-lock
  packages/api/src/routes/hasura-triggers/ocmi/index.js
Due: api

fix(mandataire): mesure action reload list
  packages/app/src/containers/MesureAccept/MesureAccept.js
  packages/app/src/containers/MesureClose/MesureClose.js
  packages/app/src/containers/MesureCreate/MesureCreate.js
  packages/app/src/containers/MesureDelete/MesureDelete.js
  packages/app/src/containers/MesureEdit/MesureEdit.js
  packages/app/src/containers/MesureEtatCreateOrEdit/MesureEtatCreateOrEdit.js
  packages/app/src/containers/MesureImport/useMesureImportManager.hook.js
  packages/app/src/containers/MesureReactivate/MesureReactivate.js
  packages/app/src/containers/MesureRessourceCreateOrEdit/MesureRessourceCreateOrEdit.js
Due: app

chore(release): version 25.116.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ui): change signup ok message
  packages/app/src/pages/signup/congratulation.js
Due: app

fix(login): handle unactive account message
  packages/api/src/controllers/user/login.js
Due: api

chore(dev): script use --context
  scripts/ci/k8sci-logs
  scripts/ci/k8sci-stop
Due: none

chore(release): version 25.116.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(login): bug err handle
  packages/api/src/controllers/user/login.js
Due: api

chore(release): version 25.116.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(tipimail): enable tls
  packages/api/src/email/index.js
Due: api

chore(release): version 25.116.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(release): version 25.116.6
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(liste-blanche): financé ambiguity
  packages/app/src/containers/ListeBlancheFilter/index.js
  packages/app/src/containers/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/containers/ListeBlancheSummary/queries.js
Due: app

fix(direction-regional): default filter on login
  packages/app/src/pages/direction/index.js
  packages/app/src/pages/direction/mandataires/list.js
Due: app

fix(enquete): validation when validated
  packages/app/src/containers/Enquete/EnqueteDirection/Validation.js
Due: app

feat(search): accent insensitivation
  packages/hasura/migrations/1620202483312_function_f_unaccent/up.sql
  packages/hasura/migrations/1620203322354_replace_tgrm_search_functions_by_unaccented/up.sql
  packages/hasura/migrations/1620203499217_replace_tgrm_indexes_by_unaccented/up.sql
Due: none

fix(search-users): id first
  packages/hasura/migrations/1620204150266_fix_search_users_id_first/up.sql
Due: none
