Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(login): trim and use lower case (#888)
  packages/api/auth/local.js
  packages/api/controllers/user/signup.js
  packages/knex/migrations/20191008142126_trim_email.js
Due: api

fix(signup): use correct user type in switch case (#889)
  packages/api/controllers/user/signup.js
  packages/knex/migrations/201910019154226_fix_users.js
Due: api

chore(release): version 25.3.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(email-send): fix when no ti don't send email
  packages/api/routes/webhook.js
Due: api

fix(hasura): remove update event hook
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura): change hdb.* tables permissions
  docker/postgres/postgres-init.sh
Due: none

fix(hasura): change hdb.* tables permissions (#891)
  docker/postgres/postgres-init.sh
Due: none

fix(email-send): fix when no ti don't send email (#890)
  packages/api/routes/webhook.js
  packages/hasura/migrations/metadata.yaml
Due: api

chore(release): version 25.3.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(gitlab): add manual restore job
  .gitlab-ci/stages/deploy.yml
  .k8s/azure-volume-secret.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/restore/configmap/restore.sh
  .k8s/postgres/restore/restore-job.yml
Due: none

k8s(postgres): ensure to save the postgres user password
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/values-postgresql.yaml
  .k8s/secret-dev.yml
Due: none

ci(gitlab): run restore in the dev environment
  .gitlab-ci/stages/deploy.yml
Due: none

ci(gitlab): remove before update
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

fix(email): fix email missing addresses
  packages/api/routes/webhook.js
Due: api

fix(email): fix email missing addresses (#892)
  packages/api/routes/webhook.js
Due: api

build(k8s): rename azure secret
  .gitlab-ci/stages/deploy.yml
  .k8s/azure-volume-secret.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/restore/restore-job.yml
Due: none

build(k8s): restore first args
  .k8s/postgres/restore/configmap/restore.sh
  .k8s/postgres/restore/restore-job.yml
Due: none

build(k8s): ensure that the emjpm user can access the public schema
  .k8s/postgres/restore/configmap/restore.sh
Due: none

chore(release): version 25.3.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app
