Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(dev): disable satisfaction campain in local env (#1937)
  packages/app/.env.local.example
  packages/app/.gitignore
  packages/app/src/components/Layout/LayoutDirection.js
  packages/app/src/components/Layout/LayoutMagistrat.js
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Layout/LayoutServices.js
Due: app

feat(liste-blanche): link mandataire and liste blanche
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlanche/style.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/ListeBlancheFilter/context/FiltersContext.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/ListeBlancheSummary/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/migrations_v2/20200617101758_update_mandataires.js
Due: app

fix: typos
  packages/ui/src/components/MesureList/Mesure.js
  packages/ui/src/components/MesureListItem/MesureListItem.js
  packages/ui/src/components/MesureListItem/index.stories.jsx
Due: none

feat(enquete): initialize service enquete
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.checker.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/service/enqueteService.js
  packages/api/src/routes/hasura-actions/enquete/service/enqueteServiceStatus.js
  packages/api/src/routes/hasura-actions/enquete/service/mutations.js
  packages/api/src/routes/hasura-actions/enquete/service/queries.js
  packages/api/src/routes/hasura-actions/enquete/service/requests.js
  packages/app/pages/services/enquetes/[enquete_id]/index.js
  packages/app/src/components/Enquete/Enquete.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteService.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteServiceMenuBuilder.service.js
  packages/app/src/components/Enquete/EnqueteService/index.js
  packages/app/src/components/Layout/LayoutServices.js
  packages/app/src/components/UserContext/queries.js
Due: api, app

feat(enquete): initialize service enquete (#1941)
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.checker.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/service/enqueteService.js
  packages/api/src/routes/hasura-actions/enquete/service/enqueteServiceStatus.js
  packages/api/src/routes/hasura-actions/enquete/service/mutations.js
  packages/api/src/routes/hasura-actions/enquete/service/queries.js
  packages/api/src/routes/hasura-actions/enquete/service/requests.js
  packages/app/pages/services/enquetes/[enquete_id]/index.js
  packages/app/src/components/Enquete/Enquete.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteService.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteServiceMenuBuilder.service.js
  packages/app/src/components/Enquete/EnqueteService/index.js
  packages/app/src/components/Layout/LayoutServices.js
  packages/app/src/components/UserContext/queries.js
Due: api, app

feat(enquete): formulaires de l'enquête en lecture seule #1911
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteSubmit.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeSubmit.js
  packages/app/src/components/Enquete/EnquetePrepose/mutations.js
  packages/app/src/components/Enquete/queries.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200616120321_update_lb_users.js
  packages/knex/migrations_v2/20200616154709_upd_enquete_reponses.migration.js
Due: api, app

feat(enquete): lecture seule - base #1911
  packages/app/src/components/Commons/SmallInput.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
  packages/ui/src/core/Input/Style.js
Due: app

feat(enquete): lecture seule - base #1911
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteForm/index.js
Due: app

feat(enquete): update hasura metadata
  packages/hasura/metadata/tables.yaml
Due: none

feat(enquete): update hasura metadata (#1942)
  packages/hasura/metadata/tables.yaml
Due: none

fix: typos (#1940)
  packages/ui/src/components/MesureList/Mesure.js
  packages/ui/src/components/MesureListItem/MesureListItem.js
  packages/ui/src/components/MesureListItem/index.stories.jsx
Due: none

feat(liste-blanche): enhance model
  packages/app/pages/admin/users/index.js
  packages/app/src/components/AdminFilterBar/AdminFilterBar.js
  packages/app/src/components/AdminFilterBar/context/FiltersContext.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/queries.js
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/ListeBlancheFilter/context/FiltersContext.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200617101758_update_mandataires.js
  packages/knex/migrations_v2/20200617111758_update_mandataires.js
Due: app

feat(liste-blanche): fix lint
  packages/app/src/components/AdminFilterBar/AdminFilterBar.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/ListeBlancheFilter/context/FiltersContext.js
Due: app

feat(liste-blanche): add new filter and enhance model (#1943)
  packages/app/pages/admin/users/index.js
  packages/app/src/components/AdminFilterBar/AdminFilterBar.js
  packages/app/src/components/AdminFilterBar/context/FiltersContext.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/queries.js
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/ListeBlanche/style.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/ListeBlancheFilter/context/FiltersContext.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/ListeBlancheSummary/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200617101758_update_mandataires.js
  packages/knex/migrations_v2/20200617111758_update_mandataires.js
Due: app

feat(enquete): display menu only for Paris
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Layout/LayoutMandataireMap.js
  packages/app/src/components/Layout/isPayedByParis.js
  packages/app/src/components/UserContext/queries.js
Due: app

fix(test): rename test function
  packages/app/src/util/index.test.js
Due: app

feat(enquete): display menu only for Paris (#1946)
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Layout/LayoutMandataireMap.js
  packages/app/src/components/Layout/isPayedByParis.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/util/index.test.js
Due: app

feat(enquete): lecture seule - preposes #1911
  packages/app/src/components/Commons/YesNoComboBox.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCausesSortiesDispositifForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesuresForm.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteEtablissementDomicileForm.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteFormGroupMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteMesuresForm.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormYesNoField.js
  packages/app/src/components/Enquete/EnqueteForm/index.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsFields.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnesForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
  packages/app/src/util/index.js
  packages/ui/src/core/InlineError/InlineError.js
  packages/ui/src/core/Input/Style.js
Due: app

fix(hasura): export metadata
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/tables.yaml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
