Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(typo): update mesure search input placeholder
  packages/app/src/components/MandataireFilters/MandataireFilters.js
Due: app

fix(magistrat-mesure): display service name
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
Due: app

wip: use production like build
  .gitlab-ci/env.sh
Due: none

fix(exclude-status): add missing excludeStatus params
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
  packages/app/src/components/MandatairesMesures/queries.js
Due: app

fix(refetchqueries): use context and fix delete in magistratmesuredelete
  packages/app/pages/magistrats/mesures/[mesure_id]/delete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDelete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesures/queries.js
Due: app

fix(refetchqueries): remove useless mandat mesure delete refetchQueries
  packages/app/src/components/MandataireMesureDelete/MandataireMesureDeleteForm.js
Due: app

fix(refetchqueries): remove uesless refetchQueries in service mesure del
  packages/app/src/components/ServiceMesureDelete/ServiceMesureDeleteForm.js
Due: app

fix(refetchqueries): remove magistrat mesure delete redirect duplication
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
Due: app

feat(magistrat): display mandat infos before form in mag. gestionnaire
  packages/app/pages/magistrats/gestionnaires/[gestionnaire_id].js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
Due: app

feat(mandataires): rename mandataire zip to competences
  packages/api/model/Service.js
  packages/api/routes/mandataires.js
  packages/knex/migrations_v2/20200109160619_rename_zip_competences_to_mandataires.js
Due: api

drop the hasura schema when reinitializing
  .k8s/postgres/restore/configmap/restore.sh
  docker/postgres/postgres-init.sh
Due: none

feat(mandataire): add competences to mandataire edit form
  packages/app/src/components/MandatairesEditInformations/MandatairesEditInformations.js
  packages/app/src/components/MandatairesEditInformations/MandatairesEditInformationsForm.js
  packages/app/src/components/MandatairesEditInformations/mutations.js
  packages/app/src/lib/validationSchemas/mandataireEditSchema.js
  packages/hasura/migrations/metadata.yaml
Due: app

no data only
  .k8s/postgres/restore/configmap/restore.sh
Due: none

feat(mandataire): display competences in mandataire infos
  packages/app/src/components/MandataireInformations/MandataireInformations.js
  packages/app/src/components/MandatairesEditInformations/queries.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

feat(service): rename service information to competences
  packages/app/src/components/ServiceEdit/ServiceEdit.js
  packages/app/src/components/ServiceEdit/ServiceEditForm.js
  packages/app/src/components/ServiceEdit/mutations.js
  packages/app/src/components/ServiceEdit/queries.js
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceInformations/queries.js
  packages/app/src/lib/validationSchemas/serviceSchema.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200109180643_rename_information_to_competences_in_services.js
Due: app

feat(magistrat): display competences in magistrat mandataire content
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
  packages/app/src/components/MagistratMesureMandataire/queries.js
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

fix(exclude-status): add missing excludeStatus params (#1377)
  packages/app/pages/magistrats/mesures/[mesure_id]/delete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDelete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesures/queries.js
  packages/app/src/components/MandataireMesureDelete/MandataireMesureDeleteForm.js
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
  packages/app/src/components/MandatairesMesures/queries.js
  packages/app/src/components/ServiceMesureDelete/ServiceMesureDeleteForm.js
Due: app

fix(mandataire): set mandataire competences as optional
  packages/app/src/components/MandatairesEditInformations/mutations.js
Due: app

feat(magistrat): bump emjpm-ui/core for textarea
  packages/app/package.json
  yarn.lock
Due: app

feat(magistrat): use textarea and update competences labels/placeholders
  packages/app/src/components/MandataireInformations/MandataireInformations.js
  packages/app/src/components/MandatairesEditInformations/MandatairesEditInformationsForm.js
  packages/app/src/components/ServiceEdit/ServiceEditForm.js
  packages/app/src/components/ServiceInformations/ServiceInformations.js
Due: app

feat(magistrat): update comptences magistrat label
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
Due: app

test(competences): update db test snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

test(mandataires): update api test snapshot
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
Due: api

feat(magistrat): add information form and in profile page (#1379)
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/model/Service.js
  packages/api/routes/mandataires.js
  packages/app/package.json
  packages/app/pages/magistrats/gestionnaires/[gestionnaire_id].js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
  packages/app/src/components/MagistratMesureMandataire/queries.js
  packages/app/src/components/MandataireInformations/MandataireInformations.js
  packages/app/src/components/MandatairesEditInformations/MandatairesEditInformations.js
  packages/app/src/components/MandatairesEditInformations/MandatairesEditInformationsForm.js
  packages/app/src/components/MandatairesEditInformations/mutations.js
  packages/app/src/components/MandatairesEditInformations/queries.js
  packages/app/src/components/ServiceEdit/ServiceEdit.js
  packages/app/src/components/ServiceEdit/ServiceEditForm.js
  packages/app/src/components/ServiceEdit/mutations.js
  packages/app/src/components/ServiceEdit/queries.js
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceInformations/queries.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/lib/validationSchemas/mandataireEditSchema.js
  packages/app/src/lib/validationSchemas/serviceSchema.js
  packages/app/src/util/mandataires/MandataireUtils.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200109160619_rename_zip_competences_to_mandataires.js
  packages/knex/migrations_v2/20200109180643_rename_information_to_competences_in_services.js
  yarn.lock
Due: api, app

fix(mandataire-reservation): rework map and reservation page
  packages/app/pages/magistrats/map.js
  packages/app/src/components/DirectionMandatairesList/utils.js
  packages/app/src/components/MagistratMandataire/MagistratMandataireForm.js
  packages/app/src/components/MagistratMandataire/style.js
  packages/app/src/components/MagistratMandatairesList/utils.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/components/MagistratMandatairesMap/data.js
  packages/app/src/components/MagistratMandatairesMap/index.js
  packages/app/src/components/MagistratMandatairesMap/queries.js
  packages/app/src/components/MagistratMandatairesMap/style.js
  packages/app/src/components/MagistratMandatairesMap/utils.js
  packages/app/src/components/MagistratMapMandataires/LayerMandataires.js
  packages/app/src/components/MagistratMapMandataires/MagistratMapMandataires.js
  packages/app/src/components/MagistratMapMandataires/MagistratMapMandataires.test.js
  packages/app/src/components/MagistratMapMandataires/queries.js
  packages/app/src/components/MagistratMapMandataires/style.js
  packages/app/src/components/MagistratMapMandataires/utils.js
  packages/app/src/components/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
  packages/app/src/components/MagistratMesureMandataire/style.js
  packages/app/src/components/MagistratMesureMandataire/utils.js
  packages/app/src/components/MagistratMesureMandataireMap/MagistratMesureMandataireMap.js
  packages/app/src/components/MagistratMesureMandataireMap/MandataireMesures.js
  packages/app/src/components/MagistratMesureMandataireMap/index.js
  packages/app/src/components/MagistratMesureMandataireMap/style.js
  packages/app/src/components/MagistratMesureMap/MagistratMesureMap.js
  packages/app/src/components/MagistratMesureMap/MagistratMesureMap.test.js
  packages/app/src/components/MagistratMesureMap/index.js
  packages/app/src/components/Map/MapLayer.js
  packages/app/src/components/Map/MapPopup.js
  packages/app/src/components/Map/constants.js
  packages/app/src/components/Map/context/MapContext.js
  packages/app/src/components/Map/context/index.js
  packages/app/src/components/Map/index.js
  packages/app/src/components/Map/utils.js
  packages/app/src/constants/mandataire.js
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

fix(antenne): fix antennes style for mesure reservation
  packages/app/package.json
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireAntennes.js
  yarn.lock
Due: app

fix(package): remove useless package
  packages/app/package.json
  packages/app/pages/_document.js
  packages/app/src/components/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/app/src/components/MagistratMesureMandataireMap/MagistratMesureMandataireMap.js
  packages/app/src/components/Signup/signup.js
  yarn.lock
Due: app

refactor(magistrat-mandataire): refactor folder naming
  packages/app/pages/magistrats/gestionnaires/[gestionnaire_id].js
  packages/app/src/components/MagistratMandataire/MagistratMandataire.js
  packages/app/src/components/MagistratMandataire/queries.js
  packages/app/src/components/MagistratMandataire/utils.js
  packages/app/src/components/MagistratMandataireComments/MagistratMandataireComment.js
  packages/app/src/components/MagistratMandataireComments/MagistratMandataireCommentForm.js
  packages/app/src/components/MagistratMandataireComments/MagistratMandataireComments.js
  packages/app/src/components/MagistratMandataireComments/index.js
  packages/app/src/components/MagistratMandataireComments/mutations.js
  packages/app/src/components/MagistratMandataireComments/queries.js
  packages/app/src/components/MagistratMandataireComments/style.js
  packages/app/src/components/MagistratMandataireMap/MagistratMandataireMap.js
  packages/app/src/components/MagistratMandataireMap/index.js
  packages/app/src/components/MagistratMandataireMap/style.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAdd.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureAdd/index.js
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/app/src/components/MagistratMesureAdd/style.js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataire.js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataire.test.js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireContent.js
  packages/app/src/components/MagistratMesureMandataire/index.js
  packages/app/src/components/MagistratMesureMandataire/mutations.js
  packages/app/src/components/MagistratMesureMandataire/style.js
  packages/app/src/components/MagistratMesureMandataireMap/MandataireMesures.js
  packages/app/src/components/MagistratMesureMandataireMap/index.js
  packages/app/src/components/MagistratServiceAntennes/MagistratServiceAntennes.js
  packages/app/src/components/MagistratServiceAntennes/index.js
  packages/app/src/components/MagistratServiceAntennes/queries.js
Due: app

feat(magistrat-mesure): update page style
  packages/app/src/components/MagistratMesure/MagistratMesure.js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataire.js
  packages/app/src/components/MagistratMesureMandataire/style.js
Due: app
