Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(release): version 25.17.3
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(put-production): use correct trigger pipeline api
  .gitlab-ci/stages/notify.yml
Due: none

chore(release): version 25.17.4
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

refactor(user-antennes): remove user antennes and use service antennes (#1396)
  packages/api/auth/local.js
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/model/User.js
  packages/api/model/UserAntenne.js
  packages/app/pages/services/add-mesures.js
  packages/app/pages/services/antennes/[antenne_id].js
  packages/app/pages/services/antennes/[antenne_id]/edit.js
  packages/app/pages/services/index.js
  packages/app/pages/services/informations.js
  packages/app/pages/services/waiting-mesures.js
  packages/app/src/components/Layout/queries.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneCreate/mutations.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.test.js
  packages/app/src/components/ServiceAntenneEdit/index.js
  packages/app/src/components/ServiceAntenneInformations/ServiceInformations.js
  packages/app/src/components/ServiceAntenneSidebar/PreferencesPanel.js
  packages/app/src/components/ServiceFilters/ServiceFilters.js
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceInformationsSidebar/ServiceInformationsSidebar.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAccept.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEdit.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesures/ServiceAddMesure.js
  packages/app/src/components/ServiceSidebar/PreferencesPanel.js
  packages/app/src/components/UserContext/UserContext.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/components/UserInformations/queries.js
  packages/app/src/util/services/index.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200114225107_remove_user_antennes.js
  packages/knex/seeds/development/0070-user-antenne.js
Due: api, app

ci(gitlab): rework production pipelene
  .gitlab-ci.yml
  .gitlab-ci/stages/notify.yml
Due: none

change deploy rules
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  packages/api/.gitlab-ci.yml
Due: api

change notify rules
  .gitlab-ci/stages/notify.yml
Due: none

rename .deploy_postgres
  .gitlab-ci/stages/deploy.yml
Due: none

typo on restore job
  .gitlab-ci/stages/deploy.yml
Due: none

add file exist test
  .gitlab-ci/stages/notify.yml
Due: none

exit 0 if no package.json
  .gitlab-ci/stages/notify.yml
Due: none

restore auto release
  .gitlab-ci.yml
  .gitlab-ci/stages/notify.yml
Due: none

ci(gitlab): rework production pipelene (#1405)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  packages/api/.gitlab-ci.yml
Due: api

chore(release): version 25.17.5
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

chore(release): version 25.17.6
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(gitlab): deploy something in production pipelines
  packages/api/.gitlab-ci.yml
Due: api

ci(gitlab): deploy something in production pipelines (2)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
Due: none

ci(gitlab): deploy something in production pipelines (3)
  packages/api/.gitlab-ci.yml
Due: api

ci(gitlab): deploy something in production pipelines (4)
  .gitlab-ci.yml
  packages/api/.gitlab-ci.yml
Due: api

ci(gitlab): deploy something in production pipelines (5)
  packages/api/.gitlab-ci.yml
Due: api

ci(gitlab): deploy something in production pipelines (#1406)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  packages/api/.gitlab-ci.yml
Due: api

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
