Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(dev): fix deploy wip
  packages/hasura/Dockerfile
Due: none

chore(dev): fix deploy wip
  packages/hasura/.k8s/templates/deployment.yaml
  packages/hasura/Dockerfile
Due: none

chore(dev): fix deploy wip rollback to hasura 1.3
  packages/hasura/Dockerfile
  packages/hasura/config.yaml
Due: none

chore(dev): fix deploy wip rollback to hasura 1.3.2
  packages/hasura/Dockerfile
Due: none

chore(release): version 25.119.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(typo): text info pluriel
  packages/app/src/containers/MagistratMandatairesList/Filters.js
  packages/app/src/containers/MagistratMandatairesList/MandataireListItem/index.js
Due: app

fix(typo): text info pluriel
  packages/app/src/containers/MagistratMandatairesList/Filters.js
Due: app

chore(k8s): rollback to ingress v1beta1
  packages/api/.k8s/templates/ingress.yaml
  packages/app/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
Due: api, app

chore(release): version 25.119.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(parseint): gestionnaire id
  packages/app/src/pages/magistrats/gestionnaires/[gestionnaire_id]/index.js
  packages/app/src/pages/magistrats/gestionnaires/[gestionnaire_id]/reservation.js
Due: app

chore(release): version 25.119.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(k8s): fix rollback to ingress beta
  packages/api/.k8s/templates/ingress.yaml
  packages/app/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
Due: api, app

fix(uid): rely uid on user type
  packages/hasura/metadata/rest_endpoints.yaml
  packages/hasura/migrations/1622061639754_fix rely uid on user type/up.sql
Due: none

chore(release): version 25.119.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(k8s): fix rollback to ingress beta
  packages/api/.k8s/templates/ingress.yaml
  packages/app/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
Due: api, app

chore(release): version 25.119.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(api): get mesure prestations-sociales
  packages/api/src/controllers/editor/mesure.js
Due: api

chore(release): version 25.119.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(api): batch mesure prestations-sociales
  packages/api/src/controllers/editor/service/saveMesure.js
Due: api

chore(tests): fix api mesures batch
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
Due: api

fix(schema): add indexes
  packages/hasura/migrations/1622279275434_mesures_service_id_index/up.sql
  packages/hasura/migrations/1622279298100_mesures_mandataires_id_index/up.sql
  packages/hasura/migrations/1622279345668_mesures_numero_dossier_index/up.sql
Due: none

fix(schema): clean indexes
  packages/hasura/migrations/1622279442268_drop_service_admin_user_id_index/up.sql
Due: none

chore(release): version 25.119.6
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(k8s): hasura pg-connections
  .k8sci/scripts/deploy
  packages/hasura/.k8s/values.yaml
Due: none

chore(k8s): ci cluster migration
  .k8sci/.env-project
Due: none

chore(migration): wip disable db-restore
  .k8sci/push
  .k8sci/scripts/branch-init
Due: none

chore(k8s): migration update scripts context
  scripts/ci/k8sci-logs
  scripts/ci/k8sci-stop
  scripts/ci/trigger
Due: none

chore(ci): up ns
  scripts/ci/k8sci-logs
Due: none

chore(ci): up ns
  .gitlab-ci.yml
  .k8sci/README.md
  .k8sci/scripts/emjpm-backup-storage/azure-pv.yaml
  scripts/ci/k8sci-stop
  scripts/ci/trigger
Due: none

chore(ci): rollback url
  .gitlab-ci.yml
  .k8sci/README.md
  scripts/ci/trigger
Due: none

chore(ci): up
  .k8sci/.env-project
Due: none

chore(debug): try remove clusterIP none
  packages/api/.k8s/templates/service.yaml
  packages/app/.k8s/templates/service.yaml
  packages/hasura/.k8s/templates/service.yaml
Due: api, app

chore(debug): try up ingress
  packages/api/.k8s/templates/ingress.yaml
  packages/app/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
Due: api, app

chore(debug-db): increase pool for tests
  packages/api/knexfile.js
Due: api
