Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(rgaa): fix screen reader issue
  packages/app/src/containers/GreffierMapMandatairesPanelList/GreffierMapMandatairesPanelList.js
  packages/app/src/containers/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
Due: app

fix(deps): update dependency recharts to v2
  packages/app/package.json
  yarn.lock
Due: app

fix(rgaa): dialog modal and combobox (#2835)
  packages/app/src/containers/GreffierMapMandatairesPanelList/GreffierMapMandatairesPanelList.js
  packages/app/src/containers/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
Due: app

fix(rgaa): text align to left on mandatairesPanelList
  packages/app/src/containers/MandataireListItem/style.js
Due: app

fix(rgaa): text align to left on mandatairesPanelList (#2848)
  packages/app/src/containers/MandataireListItem/style.js
Due: app

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: none

chore(release): version 25.155.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(rgaa): fix accessibility issues reported by lighthouse
  k8sci-token
  packages/app/src/components/AjoutMandataireButton/style.css
  packages/app/src/containers/AdminApiLogs/AdminApiLogs.js
  packages/app/src/containers/AdminFilterBar/AdminFilterBar.js
  packages/app/src/containers/Navigation/Link.js
  packages/app/src/pages/admin/etablissements/index.js
  packages/app/src/theme/theme.js
Due: app

fix(rgaa): fix accessibility issues reported by lighthouse (#2849)
  k8sci-token
  packages/app/src/components/AjoutMandataireButton/style.css
  packages/app/src/containers/AdminApiLogs/AdminApiLogs.js
  packages/app/src/containers/AdminFilterBar/AdminFilterBar.js
  packages/app/src/containers/Navigation/Link.js
  packages/app/src/pages/admin/etablissements/index.js
  packages/app/src/theme/theme.js
Due: app

feat(multi-accouts): select service
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/app/src/containers/Commons/LinkButton.js
  packages/app/src/containers/Navigation/Navigation.js
  packages/app/src/containers/ServiceBoard/ServiceBoard.js
  packages/app/src/containers/ServiceSelector/index.js
  packages/app/src/containers/UserContext/UserContext.js
  packages/app/src/containers/UserContext/queries.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/databases/default/tables/public_mesure_etat.yaml
  packages/hasura/metadata/databases/default/tables/public_service_members.yaml
  packages/hasura/metadata/databases/default/tables/public_services.yaml
Due: api, app

feat(multi-accouts): display mesure related to service with serviceId
  packages/app/src/containers/MesureListService/MesureList.js
  packages/app/src/containers/MesureListService/index.js
  packages/app/src/containers/MesureListService/queries.js
  packages/app/src/containers/MesureListService/style.js
  packages/app/src/containers/ServiceSelector/index.js
  packages/app/src/pages/services/mesures.js
  packages/hasura/metadata/databases/default/tables/public_mesures.yaml
Due: app

feat(multi-accouts): delete and update mesures
  packages/app/src/containers/MesureListService/queries.js
  packages/app/src/containers/ServiceMap/ServiceMap.js
  packages/app/src/containers/ServiceMap/queries.js
  packages/hasura/metadata/databases/default/tables/public_mesures.yaml
Due: app

fix(rgaa): fix order of availability chart content
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/MagistratMandataire/MagistratMandataire.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
Due: app

Rgaa lighthouse report (#2852)
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/MagistratMandataire/MagistratMandataire.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
Due: app

fix(rgaa): fix color contrast
  packages/app/src/theme/theme.js
Due: app

fix(rgaa): fix primary color
  packages/app/src/theme/theme.js
Due: app

fix(rgaa): fix primary color (#2854)
  packages/app/src/theme/theme.js
Due: app

feat(multi-accounts): fix unused import
  packages/app/src/containers/MesureListService/MesureList.js
Due: app

fix(rgaa): color contrast
  packages/app/src/theme/theme.js
Due: app

feat(multi-accounts): fix memebers invitation
  packages/app/src/components/LoggedMenu/style.css
  packages/app/src/containers/ServiceMembers/ServiceMembers.js
  packages/app/src/containers/ServiceSelector/index.js
  packages/app/src/containers/UserContext/UserContext.js
  packages/app/src/pages/services/members.js
  packages/app/src/pages/services/mesures.js
Due: app

feat(multi-accounts): persist selected service
  packages/app/src/user/Auth.js
Due: app

fix(postal-code): update doc for import mesure
  packages/app/public/docs/Notice_d_utilisation_de_l_import.pdf
Due: app

fix(postal-code): update doc for import mesure (#2855)
  packages/app/public/docs/Notice_d_utilisation_de_l_import.pdf
Due: app

chore(release): version 25.155.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(profil-dpf): add dpf and sdpf role, change service_invitations table to handle sdpf invitation
  packages/api/src/controllers/user/signup.js
  packages/app/src/containers/Signup/SignupDpfi.js
  packages/app/src/containers/Signup/SignupForm.js
  packages/app/src/containers/Signup/index.js
  packages/hasura/metadata/databases/default/tables/public_role.yaml
  packages/hasura/metadata/databases/default/tables/public_service_invitation_role.yaml
  packages/hasura/metadata/databases/default/tables/tables.yaml
  packages/hasura/migrations/default/1655818594528_create_table_public_service_invitation_role/down.sql
  packages/hasura/migrations/default/1655818594528_create_table_public_service_invitation_role/up.sql
  packages/hasura/migrations/default/1655818721367_insert_into_public_service_invitation_role/down.sql
  packages/hasura/migrations/default/1655818721367_insert_into_public_service_invitation_role/up.sql
  packages/hasura/migrations/default/1655818834470_insert_into_public_service_invitation_role/down.sql
  packages/hasura/migrations/default/1655818834470_insert_into_public_service_invitation_role/up.sql
  packages/hasura/migrations/default/1655818978771_alter_table_public_service_member_invitations_add_column_invitation_role/down.sql
  packages/hasura/migrations/default/1655818978771_alter_table_public_service_member_invitations_add_column_invitation_role/up.sql
  packages/hasura/migrations/default/1655819006511_set_fk_public_service_member_invitations_invitation_role/down.sql
  packages/hasura/migrations/default/1655819006511_set_fk_public_service_member_invitations_invitation_role/up.sql
  packages/hasura/migrations/default/1655819239856_invitation_role_default/down.sql
  packages/hasura/migrations/default/1655819239856_invitation_role_default/up.sql
  packages/hasura/migrations/default/1655819278319_alter_table_public_service_member_invitations_alter_column_invitation_role/down.sql
  packages/hasura/migrations/default/1655819278319_alter_table_public_service_member_invitations_alter_column_invitation_role/up.sql
Due: api, app

feat(profil-dpf): fix role sequence, create dpfi model
  packages/api/src/controllers/user/signup.js
  packages/api/src/models/Dpfi.js
  packages/api/src/models/index.js
  packages/app/src/containers/Signup/SignupDpfi.js
  packages/app/src/containers/Signup/context/SignupContext.js
  packages/app/src/validation-schemas/index.js
  packages/app/src/validation-schemas/signupDpfiSchema.js
  packages/hasura/metadata/databases/default/tables/public_dpfi.yaml
  packages/hasura/metadata/databases/default/tables/tables.yaml
  packages/hasura/migrations/default/1655906533636_create_table_public_dpfi/down.sql
  packages/hasura/migrations/default/1655906533636_create_table_public_dpfi/up.sql
  packages/hasura/migrations/default/1655906673278_alter_table_public_dpfi_alter_column_sirect/down.sql
  packages/hasura/migrations/default/1655906673278_alter_table_public_dpfi_alter_column_sirect/up.sql
  packages/hasura/migrations/default/1655910152112_alter_table_public_dpfi_drop_column_sync_ocmi_enable/down.sql
  packages/hasura/migrations/default/1655910152112_alter_table_public_dpfi_drop_column_sync_ocmi_enable/up.sql
  packages/hasura/migrations/default/1655915669346_role_id_seq/down.sql
  packages/hasura/migrations/default/1655915669346_role_id_seq/up.sql
  packages/hasura/migrations/default/1655915719227_insert_into_public_role/down.sql
  packages/hasura/migrations/default/1655915719227_insert_into_public_role/up.sql
Due: api, app

feat(profil-dpf): create sdpf service
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfCreate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/index.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/mutations.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/queries.js
  packages/app/src/containers/ListeBlanche/index.js
  packages/app/src/containers/ListeBlancheFilter/index.js
  packages/app/src/containers/Signup/SignupSdpf.js
  packages/app/src/containers/Signup/context/SignupContext.js
  packages/app/src/containers/Signup/index.js
  packages/app/src/pages/direction/liste-blanche/ajout-sdpf.js
  packages/app/src/query-service/emjpm-hasura/sdpfSiretExists.js
  packages/app/src/routes/Routes.js
  packages/hasura/metadata/databases/default/tables/public_sdpf.yaml
  packages/hasura/metadata/databases/default/tables/public_services.yaml
  packages/hasura/metadata/databases/default/tables/tables.yaml
  packages/hasura/migrations/default/1656001700980_create_table_public_sdpf/down.sql
  packages/hasura/migrations/default/1656001700980_create_table_public_sdpf/up.sql
  packages/hasura/migrations/default/1656084187110_alter_table_public_sdpf_add_column_departement/down.sql
  packages/hasura/migrations/default/1656084187110_alter_table_public_sdpf_add_column_departement/up.sql
Due: app

feat(profil-dpf): display sdpf
  packages/app/src/containers/ListeBlanche/ListBlancheDpfi/ListeBlancheDpfiItem.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListBlancheSdpfItem.js
  packages/app/src/containers/ListeBlanche/TabPanelPaginatedList.js
  packages/app/src/containers/ListeBlanche/queries.js
  packages/app/src/containers/PaginatedList/PaginatedList.js
  packages/hasura/metadata/databases/default/tables/public_view_lb.yaml
Due: app

feat(profil-dpf): add invitation to sdpf users
  packages/api/src/email/sdpf-member-invitation-mail.js
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/app/src/containers/AdminUserSdpf/AdminUserSdpf.js
  packages/app/src/containers/AdminUserSdpf/AdminUserSdpfForm.js
  packages/app/src/containers/AdminUserSdpf/index.js
  packages/app/src/containers/AdminUserSdpf/mutations.js
  packages/app/src/containers/AdminUserSdpf/queries.js
  packages/app/src/containers/ServiceMemberInvitationCreate/ServiceMemberInvitationCreate.js
  packages/app/src/containers/ServiceMemberInvitationCreate/mutations.js
  packages/app/src/pages/sdpf/edit-informations.js
  packages/app/src/routes/Routes.js
  packages/app/src/user/Auth.js
  packages/app/src/validation-schemas/AdminUserSdpfSchema.js
  packages/app/src/validation-schemas/index.js
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/databases/default/tables/public_departements.yaml
  packages/hasura/metadata/databases/default/tables/public_service_member_invitations.yaml
Due: api, app

feat(profil-dpf): edit sdpf profil oon liste_blanche
  packages/api/src/controllers/mandoline/user.js
  packages/app/src/containers/ListeBlanche/ListBlancheDpfi/ListeBlancheDpfiForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheEdit.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfUpdate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/index.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/mutations.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/queries.js
  packages/hasura/metadata/databases/default/tables/public_liste_blanche.yaml
  packages/hasura/metadata/databases/default/tables/public_sdpf.yaml
  packages/hasura/metadata/databases/default/tables/public_sdpf_members.yaml
Due: api, app

feat(profil-dpf): change api to support dpf profiles
  packages/api/src/controllers/mandoline/direction-dpfs.js
  packages/api/src/controllers/mandoline/user.js
  packages/api/src/models/Direction.js
  packages/api/src/models/User.js
  packages/api/src/routes/api/directions.js
  packages/api/src/routes/api/dpf.js
  packages/api/src/routes/api/mandoline.js
Due: api

feat(profil-dpf): associer liste blanche et profil
  packages/api/src/controllers/mandoline/direction-dpfs.js
  packages/api/src/controllers/user/signup.js
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
Due: api

feat(profil-dpf): associer liste blanche et profil
  packages/app/src/containers/AdminListeBlancheDelete/mutations.js
  packages/app/src/containers/AdminUser/AdminUser.js
  packages/app/src/containers/AdminUserActivation/AdminDpfiListeBlanche.js
  packages/app/src/containers/AdminUserActivation/AdminUserActivation.js
  packages/app/src/containers/AdminUserActivation/mutations.js
  packages/app/src/containers/AdminUserSdpf/AdminUserSdpfForm.js
  packages/app/src/containers/DpfiEditInformations/DpfiEditInformations.js
  packages/app/src/containers/DpfiInformations/DpfiInformations.js
  packages/app/src/containers/ListeBlanche/ListBlancheDpfi/ListBlancheDpfiCreate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfCreate.js
  packages/app/src/containers/SdpfInformations/SdpfInformations.js
  packages/app/src/containers/ServiceMemberInvitationCreate/ServiceMemberInvitationCreate.js
  packages/app/src/containers/Signup/SignupSdpf.js
  packages/app/src/containers/UserContext/UserContext.js
  packages/app/src/pages/dpfi/edit-informations.js
  packages/app/src/validation-schemas/adminUserServiceSchema.js
  packages/app/src/validation-schemas/dpfiEditSchema.js
  packages/app/src/validation-schemas/mandataireEditSchema.js
  packages/hasura/metadata/databases/default/tables/public_dpfi.yaml
  packages/hasura/metadata/databases/default/tables/public_liste_blanche.yaml
  packages/hasura/migrations/default/1657010836652_alter_table_public_dpfi_alter_column_liste_blache_id/down.sql
  packages/hasura/migrations/default/1657010836652_alter_table_public_dpfi_alter_column_liste_blache_id/up.sql
Due: app

feat(profil-dpf): skip user test
  packages/api/__test__/e2e/mandoline/user.test.js
Due: api
