Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(docker): edit docker config for hasura
  docker-compose.yaml
Due: none

feat(mandataires): add routes for uploads CV
  .env.sample
  packages/api/package.json
  packages/api/routes/mandataires.js
  packages/app/package.json
  packages/app/src/components/common/ImportCv.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/modals/EditMandataire.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
  yarn.lock
Due: api, app

feat(mandataires): upload and downlaod a cv
  .env.sample
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/routes/mandataires.js
  packages/app/package.json
  packages/app/src/components/common/ImportCv.js
  packages/app/src/components/common/exportCv.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/modals/EditMandataire.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190601113155_addCvTomandataires.js
  yarn.lock
Due: api, app

fix(api-signup): add validation and update tests (#620)
  docker-compose.yaml
  packages/api/__test__/e2e/auth/POST_login.test.js
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/utils.js
  packages/api/app.js
  packages/api/controllers/user/signup.js
  packages/api/db/errors.js
  packages/api/model/User.js
  packages/api/routes/auth-v2.js
  packages/api/routes/auth.js
Due: api

feat(inscription): form for direction
  packages/app/src/components/inscription/InscriptionDirection.js
Due: app

feat(inscription): add type of direction inside form
  packages/app/src/components/inscription/InscriptionDirection.js
  packages/app/src/components/inscription/uiSchema.json
Due: app

fix(signup): fix signup api and frontend its alive
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/InscriptionDirection.js
  packages/app/src/components/inscription/InscriptionIndividuel.js
  packages/app/src/components/inscription/InscriptionPrepose.js
  packages/app/src/components/inscription/InscriptionService.js
  packages/app/src/components/inscription/InscriptionTi.js
  packages/app/src/components/inscription/uiSchema.json
  packages/app/src/components/loginComponents/LoginForm.js
Due: app

fix(api-url): reflect new api url and version choice
  packages/app/src/components/common/Layout.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/communComponents/Navigation.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/loginComponents/LoginForm.js
  packages/app/src/components/mandataires/modals/AddAntennes.js
Due: app

fix(signup): add validation and error messages
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/inscription/Form.js
Due: app

feat(signup): add direction user role
  packages/app/src/components/inscription/InscriptionDirection.js
Due: app

fix(inscription-test): fix inscription test
  docker-compose.test.yaml
  docker-compose.yaml
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
Due: api

fix(tests): fix all inscriptions tests
  docker-compose.test.yaml
  docker-compose.yaml
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/app/src/components/inscription/Form.js
Due: api, app

feat(signup): remove old signup files
  packages/api/routes/inscription.js
Due: api

fix(tis): add missing tis api
  docker-compose.yaml
Due: none

fix(signup): fix signup role creation
  packages/api/app.js
  packages/api/controllers/user/signup.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/InscriptionDirection.js
Due: api, app

fix(test): update test snapshots
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
Due: api

fix(test): update snapshot
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
Due: api

feat(signup): allow DRDD to sign up (#580)
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/app.js
  packages/api/controllers/user/signup.js
  packages/api/routes/inscription.js
  packages/app/src/components/common/Layout.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/communComponents/Navigation.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/InscriptionDirection.js
  packages/app/src/components/inscription/InscriptionIndividuel.js
  packages/app/src/components/inscription/InscriptionPrepose.js
  packages/app/src/components/inscription/InscriptionService.js
  packages/app/src/components/inscription/InscriptionTi.js
  packages/app/src/components/inscription/uiSchema.json
  packages/app/src/components/loginComponents/LoginForm.js
  packages/app/src/components/mandataires/modals/AddAntennes.js
Due: api, app

refactor(mandataire): delete service / antenne UI
  packages/app/src/components/mandataires/ServiceSiegeSocial.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/index.js
  packages/app/src/components/mandataires/modals/EditService.js
  packages/app/src/components/mandataires/modals/EditServiceSiege.js
  packages/app/src/components/mandataires/modals/index.js
  packages/app/src/components/mandataires/service.js
Due: app

refactor(service): remove service api / query
  packages/api/db/queries/mandataires.js
  packages/api/routes/mandataireMesures.js
  packages/api/routes/mandataires.js
Due: api

chore(env): update env.sample
  .env.sample
Due: none

test(service): remove service test
  packages/api/__test__/e2e/mandataires/GET_mandataires.test.js
  packages/api/__test__/e2e/mandataires/POST_mandataires.test.js
  packages/api/__test__/e2e/mandataires/PUT_mandataires.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/__test__/e2e/service-antenne/POST_service-antenne.test.js
  packages/api/__test__/e2e/service-antenne/__snapshots__/POST_service-antenne.test.js.snap
Due: api

refactor(mandataire): delete service / antenne UI
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/mandataires/Header.js
  packages/app/src/components/mandataires/MapMesures.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/index.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/modals/AddAntennes.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
Due: app

ci(gitlab): log the certification host
  .gitlab-ci/env.sh
Due: none

ci(gitlab): hard set contexts
  .k8s/certificate/.k8s-deploy-certificate.yml
Due: none

Revert "ci(gitlab): hard set contexts"
  .k8s/certificate/.k8s-deploy-certificate.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
