Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(renovate): desactivate (#1786)
  .github/renovate.json
Due: none

fix(knex): update snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(ui): small input
  packages/ui/src/core/Input/SmallInput.js
Due: none

fix(ui): move small input into app
  packages/app/src/components/Commons/SmallInput.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/ui/src/core/Input/SmallInput.js
  packages/ui/src/core/Input/index.stories.jsx
Due: app

feat(enquetes): create forms
  packages/graphql-server/src/datasource/enquete.api.ts
  packages/graphql-server/src/types/index.ts
  packages/hasura/migrations/metadata.yaml
Due: none

feat(enquete): prestations sociales (#1746)
  packages/hasura/migrations/metadata.yaml
Due: none

feat(enquete): reorganize enquete tables
  packages/knex/migrations_v2/20200513135547_create_reponses_informations_mandataire_table.js
  packages/knex/migrations_v2/20200513145021_create_enquete_prestations_sociales_table.js
  packages/knex/migrations_v2/20200513145403_create_enquete_reponses_agrements_formations_table.js
  packages/knex/migrations_v2/20200513151120_create_enquete_reponses_activite_table.js
  packages/knex/migrations_v2/20200513152752_create_enquete_reponses_populations_table.js
Due: none

feat(enquete): alter enquete_reponses table
  packages/knex/migrations_v2/20200513145403_create_enquete_reponses_agrements_formations_table.js
  packages/knex/migrations_v2/20200513151120_create_enquete_reponses_activite_table.js
  packages/knex/migrations_v2/20200513154705_alter_enquete_reponses_table.js
  packages/knex/migrations_v2/20200513162614_delete_enquete_tables_individuels_preposes.js
Due: none

feat(hasura): metadata update
  packages/hasura/migrations/metadata.yaml
Due: none

fix(excel-parser): ad excel parsing options
  packages/api/src/utils/file/excelParser.js
Due: api

fix(service-edit): update yup schema
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceInformations/style.js
  packages/app/src/lib/validationSchemas/serviceSchema.js
Due: app

fix(service-edit): update yup schema (#1789)
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceInformations/style.js
  packages/app/src/lib/validationSchemas/serviceSchema.js
Due: app

fix(excel-parser): read cvs as text
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/api/src/utils/file/excelParser.js
  packages/app/src/components/MesureImport/fileReader.js
  packages/app/src/components/MesureImport/useMesureImportManager.hook.js
Due: api, app

fix(excel-parser): read csv as text (#1790)
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/api/src/utils/file/excelParser.js
  packages/app/src/components/MesureImport/fileReader.js
  packages/app/src/components/MesureImport/useMesureImportManager.hook.js
Due: api, app

feat(mesure-types): use curatelle
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/app/src/util/mesures/MesureUtil.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
  packages/knex/seeds/development/0060-mesures.js
  packages/ui/src/components/MesureList/stories/data.js
Due: api, app

feat(mesure-types): use mandat de protection future
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
  packages/knex/migrations_v2/20200514160717_mesure-lowercase.js
  packages/knex/seeds/development/0060-mesures.js
Due: api, app

feat(mesure-types): use mesure ad hoc
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
Due: api, app

feat(mesure-types): use subrogé curateur
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
Due: api, app

feat(mesure-types): use subrogé tuteur
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
Due: api, app

feat(mesure-types): use Sauvegarde de justice
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/app/src/util/mesures/MesureUtil.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
  packages/knex/seeds/development/0060-mesures.js
  packages/ui/src/components/MesureListItem/index.stories.jsx
Due: api, app

refactor(enquete): use new tables
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteAccompagnementJudiciaire.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleBiens.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratellePersonne.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleSimple.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteTutelle.js
  packages/app/src/components/Enquete/EnqueteActivite/mutations.js
  packages/app/src/components/Enquete/EnqueteActivite/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/index.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSociales.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/queries.js
  packages/graphql-server/src/config/config.ts
  packages/graphql-server/src/datasource/enquete.api.ts
  packages/graphql-server/src/resolvers/mesure-stat.resolver.ts
  packages/graphql-server/src/resolvers/query/enquetes.ts
  packages/graphql-server/src/schemas/mesure-statistic.schema.ts
  packages/graphql-server/src/types/index.ts
  packages/graphql-server/src/types/resolvers-types.ts
  packages/graphql-server/src/utils/enquetes.ts
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200513135547_create_reponses_informations_mandataire_table.js
  packages/knex/migrations_v2/20200513145403_create_enquete_reponses_agrements_formations_table.js
  packages/knex/migrations_v2/20200513154705_alter_enquete_reponses_table.js
Due: app

feat(mesure-types): use tutelle
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/app/src/util/mesures/MesureUtil.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
  packages/knex/seeds/development/0060-mesures.js
  packages/ui/src/components/MesureList/stories/data.js
Due: api, app

feat(mesure-types): use maj
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
Due: api, app

fix(ui): small input
  packages/ui/src/core/Input/index.js
Due: none

feat(mesure-residence): use lowercase
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/knex/migrations_v2/20200514160717_mesure-lowercase.js
  packages/ui/src/components/MesureListItem/index.stories.jsx
Due: api, app

feat(mesure-import): use lowercase
  packages/api/src/routes/hasura/mesures/import/actionsMesuresImporter.js
Due: api

feat(mesure-import): fix mesure type in db
  packages/graphql-server/src/model/mesures.model.ts
  packages/knex/migrations_v2/20200514171208_fix-mesure-types.js
Due: none

feat(mesure-import): update import doc
  packages/app/public/static/docs/Notice_d_utilisation_de_l_import.pdf
Due: app

feat(mesure-import): use correct function
  packages/api/src/routes/hasura/mesures/import/actionsMesuresImporter.js
Due: api

feat(mesure-residence): fix residence
  packages/knex/migrations_v2/20200514173344_fix-mesure-residence.js
Due: none

feat(mesure): use lowercase for type and residence (#1791)
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/routes/hasura/mesures/import/actionsMesuresImporter.js
  packages/api/src/routes/hasura/mesures/import/schema/actionsMesuresImporterSchema.js
  packages/app/public/static/docs/Notice_d_utilisation_de_l_import.pdf
  packages/app/src/constants/mesures.js
  packages/app/src/util/mesures/MesureUtil.js
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
  packages/knex/migrations_v2/20200514160717_mesure-lowercase.js
  packages/knex/migrations_v2/20200514171208_fix-mesure-types.js
  packages/knex/migrations_v2/20200514173344_fix-mesure-residence.js
  packages/knex/seeds/development/0060-mesures.js
  packages/ui/src/components/MesureList/stories/data.js
  packages/ui/src/components/MesureListItem/index.stories.jsx
Due: api, app
