Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(liste-blanche): use FiltersContextSerializableProvider
  packages/app/pages/admin/liste-blanche/index.js
Due: app

fix(liste-blanche): redirect to right url after creation
  packages/app/src/components/ListeBlancheAjout/ListeBlancheAjout.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
Due: app

feat(enquete): guide de remlissage
  packages/app/public/static/docs/enquetes/DGCS_Mandoline_guide-de-remplissage-des-enquetes.docx
  packages/app/public/static/docs/enquetes/DGCS_Mandoline_guide-de-remplissage-des-enquetes.pdf
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
Due: app

fix(direction): mandataire list item
  packages/app/src/components/DirectionMandatairesList/MandatairesList.js
  packages/app/src/components/DirectionMandatairesList/utils.js
Due: app

fix(direction): display service name
  packages/app/src/components/DirectionMandatairesList/queries.js
Due: app

feat(db): remove date_mesure_update col
  packages/app/src/components/ServiceAntenneInformations/queries.js
  packages/graphql-server/src/model/mandataires.model.ts
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200803154227_delete_cols.js
Due: app

chore(release): version 25.60.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

chore(db): delete mandataire-etablissement
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200804121150_delete_mandataire_etablissement.js
Due: none

chore(db): delete mandataire-etablissement (#2127)
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200804121150_delete_mandataire_etablissement.js
Due: none

fix(api): delete some properties to the created mesure - it closes #2131
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure.js
  packages/api/src/utils/mesure.js
Due: api

fix(api): it closes #2129
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/controllers/editor/mesure-create.js
Due: api

fix(api): update snapshots
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
Due: api

fix(auth): remove local storage after logout to clear user filters
  packages/app/src/util/auth.js
Due: app

fix(mesure): prevent double submission
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
Due: app

fix(auth): remove local storage after logout to clear user filters (#2134)
  packages/app/src/util/auth.js
Due: app

fix(list): reset offset to 0 when filters change - it closes #2122
  packages/app/src/components/DirectionMandatairesList/MandatairesList.js
  packages/app/src/components/EnqueteDirection/DirectionEnqueteDetailsReponsesList.js
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components/MagistratMesures/MagistratMesures.js
  packages/app/src/components/MandataireMesures/MandataireMesures.js
  packages/app/src/components/ServiceMesures/ServiceMesures.js
Due: app
