Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(inversed-model): wip
  packages/hasura/migrations/1616085284528_alter_table_public_enquete_reponses_drop_column_enquete_reponses_informations_mandataire_id/down.sql
  packages/hasura/migrations/1616085284528_alter_table_public_enquete_reponses_drop_column_enquete_reponses_informations_mandataire_id/up.sql
  packages/hasura/migrations/1616085294542_alter_table_public_enquete_reponses_drop_column_enquete_reponses_prestations_sociale_id/down.sql
  packages/hasura/migrations/1616085294542_alter_table_public_enquete_reponses_drop_column_enquete_reponses_prestations_sociale_id/up.sql
  packages/hasura/migrations/1616085302744_alter_table_public_enquete_reponses_drop_column_enquete_reponses_agrements_formations_id/down.sql
  packages/hasura/migrations/1616085302744_alter_table_public_enquete_reponses_drop_column_enquete_reponses_agrements_formations_id/up.sql
  packages/hasura/migrations/1616085309176_alter_table_public_enquete_reponses_drop_column_enquete_reponses_populations_id/down.sql
  packages/hasura/migrations/1616085309176_alter_table_public_enquete_reponses_drop_column_enquete_reponses_populations_id/up.sql
  packages/hasura/migrations/1616085314991_alter_table_public_enquete_reponses_drop_column_enquete_reponses_modalites_exercice_id/down.sql
  packages/hasura/migrations/1616085314991_alter_table_public_enquete_reponses_drop_column_enquete_reponses_modalites_exercice_id/up.sql
  packages/hasura/migrations/1616085320884_alter_table_public_enquete_reponses_drop_column_enquete_reponses_prepose_personel_formation_id/down.sql
  packages/hasura/migrations/1616085320884_alter_table_public_enquete_reponses_drop_column_enquete_reponses_prepose_personel_formation_id/up.sql
  packages/hasura/migrations/1616085328711_alter_table_public_enquete_reponses_drop_column_enquete_reponses_financement_id/down.sql
  packages/hasura/migrations/1616085328711_alter_table_public_enquete_reponses_drop_column_enquete_reponses_financement_id/up.sql
  packages/hasura/migrations/1616085334384_alter_table_public_enquete_reponses_drop_column_enquete_reponses_prepose_prestations_sociales_id/down.sql
  packages/hasura/migrations/1616085334384_alter_table_public_enquete_reponses_drop_column_enquete_reponses_prepose_prestations_sociales_id/up.sql
  packages/hasura/migrations/1616085343276_alter_table_public_enquete_reponses_drop_column_enquete_reponses_activite_id/down.sql
  packages/hasura/migrations/1616085343276_alter_table_public_enquete_reponses_drop_column_enquete_reponses_activite_id/up.sql
  packages/hasura/migrations/1616085353086_alter_table_public_enquete_reponses_drop_column_enquete_reponses_service_personnel_formation_id/down.sql
  packages/hasura/migrations/1616085353086_alter_table_public_enquete_reponses_drop_column_enquete_reponses_service_personnel_formation_id/up.sql
  packages/hasura/migrations/1616085360596_alter_table_public_enquete_reponses_drop_column_enquete_reponses_service_informations_id/down.sql
  packages/hasura/migrations/1616085360596_alter_table_public_enquete_reponses_drop_column_enquete_reponses_service_informations_id/up.sql
Due: none

fix(inversed-model): enforce one to one with uniq constraint
  packages/hasura/migrations/1616194919664_alter_table_public_enquete_reponses_add_unique_enquete_id_mandataire_id/down.sql
  packages/hasura/migrations/1616194919664_alter_table_public_enquete_reponses_add_unique_enquete_id_mandataire_id/up.sql
  packages/hasura/migrations/1616194930587_alter_table_public_enquete_reponses_add_unique_enquete_id_service_id/down.sql
  packages/hasura/migrations/1616194930587_alter_table_public_enquete_reponses_add_unique_enquete_id_service_id/up.sql
Due: none

fix(inversed-model): wip
  packages/hasura/migrations/1616195426524_alter_table_public_enquete_reponses_activite_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195426524_alter_table_public_enquete_reponses_activite_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195451666_alter_table_public_enquete_reponses_agrements_formations_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195451666_alter_table_public_enquete_reponses_agrements_formations_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195459837_alter_table_public_enquete_reponses_financement_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195459837_alter_table_public_enquete_reponses_financement_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195471403_alter_table_public_enquete_reponses_informations_mandataire_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195471403_alter_table_public_enquete_reponses_informations_mandataire_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195493916_alter_table_public_enquete_reponses_modalites_exercice_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195493916_alter_table_public_enquete_reponses_modalites_exercice_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195506417_alter_table_public_enquete_reponses_populations_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195506417_alter_table_public_enquete_reponses_populations_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195515389_alter_table_public_enquete_reponses_prepose_personel_formation_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195515389_alter_table_public_enquete_reponses_prepose_personel_formation_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195529069_alter_table_public_enquete_reponses_prepose_prestations_sociales_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195529069_alter_table_public_enquete_reponses_prepose_prestations_sociales_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195537922_alter_table_public_enquete_reponses_prestations_sociales_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195537922_alter_table_public_enquete_reponses_prestations_sociales_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195546959_alter_table_public_enquete_reponses_service_informations_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195546959_alter_table_public_enquete_reponses_service_informations_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195557433_alter_table_public_enquete_reponses_service_personnel_formation_alter_column_enquete_reponses_id/down.sql
  packages/hasura/migrations/1616195557433_alter_table_public_enquete_reponses_service_personnel_formation_alter_column_enquete_reponses_id/up.sql
  packages/hasura/migrations/1616195907503_alter_table_public_enquete_reponses_drop_column_departement_id/down.sql
  packages/hasura/migrations/1616195907503_alter_table_public_enquete_reponses_drop_column_departement_id/up.sql
Due: none

fix(inversed-model): wip
  packages/api/src/models/EnqueteReponses.js
  packages/api/src/models/EnqueteReponsesActivite.js
  packages/api/src/models/EnqueteReponsesAgrementsFormations.js
  packages/api/src/models/EnqueteReponsesFinancement.js
  packages/api/src/models/EnqueteReponsesInformationsMandataire.js
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/models/EnqueteReponsesPopulations.js
  packages/api/src/models/EnqueteReponsesPreposePersonnelFormation.js
  packages/api/src/models/EnqueteReponsesPreposePrestationsSociales.js
  packages/api/src/models/EnqueteReponsesPrestationsSociales.js
  packages/api/src/models/EnqueteReponsesServiceInformations.js
  packages/api/src/models/EnqueteReponsesServicePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel-import/mandataireIndividuelEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/api/src/routes/hasura-actions/enquete/service-import/serviceEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/service/mutations.js
  packages/api/src/routes/hasura-actions/enquete/service/queries.js
  packages/hasura/metadata/tables.yaml
Due: api

fix(model): :seedling: wip
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteAccompagnementJudiciaire.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteCausesSortiesDispositif.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteCuratelleBiens.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteCuratellePersonne.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteCuratelleRenforcee.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteCuratelleSimple.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteMandatHadocMajeur.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesures.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteSauvegardeJustice.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteSubrogeTuteurCreateur.js
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteTutelle.js
  packages/app/src/containers/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrement.js
  packages/app/src/containers/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/containers/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataire.js
  packages/app/src/containers/Enquete/EnqueteIndividuelInformations/queries.js
  packages/app/src/containers/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSociales.js
  packages/app/src/containers/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/containers/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/containers/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/containers/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/containers/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/containers/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancement.js
  packages/app/src/containers/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/containers/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/containers/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutres.js
  packages/app/src/containers/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpm.js
  packages/app/src/containers/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/containers/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/containers/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/containers/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/containers/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnes.js
  packages/app/src/containers/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
  packages/app/src/containers/Enquete/EnqueteServiceInformations/EnqueteServiceInformations.js
  packages/app/src/containers/Enquete/EnqueteServicePersonnelFormation/EnqueteServicePersonnelFormation.js
  packages/app/src/containers/Enquete/queries.js
  packages/app/src/containers/Enquete/useEnqueteForm.hook.js
  packages/hasura/metadata/actions.graphql
Due: api, app

fix(model): :seedling: wip
  packages/app/src/containers/Enquete/EnqueteActivite/EnqueteActiviteCuratelleRenforcee.js
Due: app

fix(migration): enquete clean before restructure db
  packages/hasura/migrations/1616319837526_enquete_reponses_reverse_model/down.sql
  packages/hasura/migrations/1616319837526_enquete_reponses_reverse_model/up.sql
Due: none

fix(deps): update all dependencies
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

chore(up): deps
  packages/api/package.ci.json
  packages/app/package.ci.json
Due: api, app

fix(enquetes): init
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
Due: api

fix(stats): login count
  packages/app/src/containers/IndicatorList/IndicatorList.js
  packages/app/src/containers/IndicatorList/queries.js
Due: app

feat(finess): add category 340
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
Due: api

fix(perms): editor_by_pk ti
  packages/hasura/metadata/tables.yaml
Due: none

chore(dev): replace atom by vscode
  packages/app/.env.sample
Due: app

fix(ux): redirect and recalcul race condition
  packages/app/src/containers/MesureDelete/MesureDelete.js
Due: app

fix(calcul-mesures-count): ensure done at server level
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-delete.js
  packages/api/src/controllers/editor/mesure-update.js
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/api/src/routes/hasura-actions/mesure/actions/actionOcmiImport.js
  packages/api/src/routes/hasura-triggers/mesures/update/index.js
  packages/api/src/services/updateGestionnaireMesuresCounters.js
  packages/api/src/services/updateGestionnaireMesuresEvent.js
Due: api

chore(clean): debug code
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
Due: api

chore(release): version 25.105.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(update-mesures): table name
  packages/api/src/services/updateGestionnaireMesuresCounters.js
  test
Due: api

chore(release): version 25.105.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(finess): ui processus state
  packages/app/src/containers/Etablissement/queries.js
Due: app

fix(finess): upgrade dataset url
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
  packages/app/src/containers/Etablissement/EtablissementImport.js
Due: api, app

fix(mutext-lock): user ocmi import
  packages/api/src/routes/hasura-actions/mesure/actions/actionOcmiImport.js
Due: api

chore(release): version 25.105.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(clean): debug
  packages/api/src/routes/hasura-actions/mesure/actions/actionOcmiImport.js
Due: api

chore(release): version 25.105.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(finess): add category 460
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
Due: api

fix(deadlock): pg_try_advisory_lock_with_timeout
  packages/api/src/utils/pg-mutex-lock/index.js
  packages/hasura/migrations/1616497428164_pg_try_advisory_lock_with_timeout/up.sql
Due: api

chore(release): version 25.106.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ocmi-import): process start error
  packages/api/src/routes/hasura-triggers/ocmi/index.js
Due: api

chore(release): version 25.106.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(debugging): ocmi import file
  packages/api/src/routes/hasura-triggers/ocmi/index.js
Due: api
