Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(api): export POSTGRESQL_USER, POSTGRESQL_PASSWORD
  packages/api/.gitlab-ci.yml
Due: api

feat(add-geocode-to-admin-service-edit): add geocode service admin edit
  packages/app/pages/admin/services/[service_id].js
  packages/app/src/components/AdminServices/AdminAddService.js
  packages/app/src/components/AdminServices/AdminEditService.js
  packages/app/src/components/AdminServices/AdminServiceForm.js
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/AdminServices/queries.js
Due: app

feat(add-geocode-to-admin-service-edit): add geocode service admin edit (#1171)
  packages/app/pages/admin/services/[service_id].js
  packages/app/src/components/AdminServices/AdminAddService.js
  packages/app/src/components/AdminServices/AdminEditService.js
  packages/app/src/components/AdminServices/AdminServiceForm.js
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/AdminServices/queries.js
Due: app

fix(graphql-server): remove old HASURA_HOST
  packages/graphql-server/.gitlab-ci.yml
Due: none

fix(graphql-server): try fixing link with hasura
  .gitlab-ci/env.sh
  packages/graphql-server/.k8s.values.yml
Due: none

ci(gitlab): add PROJECT variable
  .gitlab-ci/variables.yml
Due: none

ci(travis): update travis build caching
  .travis.yml
Due: none

ci(travis): update travis build caching (#1173)
  .travis.yml
Due: none

ci(gitlab): add PROJECT variable (#1172)
  .gitlab-ci/variables.yml
Due: none

chore(renovate): add renovate
  .github/renovate.json
Due: none

chore(deps): update commitlint monorepo to ^8.2.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.11.1
  packages/graphql-server/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to ^12.12.21
  packages/app/package.json
  packages/graphql-server/package.json
  yarn.lock
Due: app

chore(deps): update dependency @types/lodash to ^4.14.149
  packages/graphql-server/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node-fetch to ^2.5.4
  packages/graphql-server/package.json
  yarn.lock
Due: none

chore(deps): update dependency @zeit/ncc to ^0.20.5
  packages/api/package.json
  packages/graphql-server/package.json
  yarn.lock
Due: api

chore(deps): update dependency babel-eslint to ^10.0.3
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency enzyme-adapter-react-16 to ^1.15.1
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency @socialgouv/eslint-config-recommended
  optional/e2e/package.json
  optional/e2e/yarn.lock
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Due: api

chore(deps): update dependency @socialgouv/eslint-config-react to ^0.11.1
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency @socialgouv/eslint-config-recommended to ^0.11.1
  optional/e2e/package.json
  optional/e2e/yarn.lock
Due: none

refactor(magistrat-map): refactor map files
  packages/app/pages/magistrats/map.js
  packages/app/src/components/MagistratMapMandataires/LayerMandataires.js
  packages/app/src/components/MagistratMapMandataires/MagistratMandataires.js
  packages/app/src/components/MagistratMapMandataires/MagistratMapMandataires.js
  packages/app/src/components/MagistratMapMandataires/utils.js
  packages/app/src/components/MagistratMapMandatairesPanel/MagistratMapMandatairesPanel.js
Due: app

refactor(magistrat-map): refactor map, fix images bug
  packages/app/pages/magistrats/map.js
  packages/app/src/components/MagistratMapMandataires/LayerMesures.js
  packages/app/src/components/MagistratMapMandataires/MagistratMapMandataires.js
  packages/app/src/components/MagistratMapMandatairesPanel/MagistratMapMandatairesPanel.js
  packages/app/src/components/MagistratMapMandatairesPanel/MagistratMapMandatairesPanel.test.js
  packages/app/src/components/MagistratMapMandatairesPanel/index.js
  packages/app/src/components/MagistratMapMandatairesPanel/style.js
  packages/app/src/components/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/MagistratMapMandatairesPanelProfile.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/MagistratMapMandatairesPanelProfile.test.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/__snapshots__/MagistratMapMandatairesPanelProfile.test.js.snap
  packages/app/src/components/MagistratMapMandatairesPanelProfile/index.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/style.js
Due: app

refactor(magistrat-map): fix sidebar width
  packages/app/pages/magistrats/map.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
