Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(ci): api port from internal
  .gitlab-ci/env.sh
Due: none

improvement(gitops): try faster deployment flow
  .gitignore
  .gitlab-ci.yml
  package.json
  scripts/gitops/release
Due: none

chore(release): version 25.82.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

improvement(gitops): add api waiter on release
  scripts/gitops/release
Due: none

fix(ssr): graphql uri
  docker-compose.prod.local.yaml
  packages/app/src/lib/apollo/init-apollo.js
Due: app

improvement(ci): faster multistage build
  .gitlab-ci.yml
  docker-compose.prod.local.yaml
  docker-compose.yaml
  packages/api/Dockerfile
  packages/app/Dockerfile
Due: api, app

fix(yaml): wip
  .gitlab-ci.yml
Due: none

improvement(ci): auto bootstrap on dev
  .dockerignore
  .gitignore
  docker-compose.yaml
Due: none

fix(ci): pull
  .gitlab-ci.yml
Due: none

fix(ci): collapsed multi-line command
  .gitlab-ci.yml
Due: none

fix(ci): wip
  .gitlab-ci.yml
Due: none

improvement(ci): decouple build and register stages
  .gitlab-ci.yml
Due: none

fix(ci): shm_size
  .gitlab-ci.yml
Due: none

fix(ci): shm_size
  docker-compose.prod.local.yaml
  docker-compose.yaml
Due: none

fix(ci): stage
  .gitlab-ci.yml
Due: none

fix(hasura-metadata): seed to migration
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/up.sql
  packages/hasura/seeds/1609180902066_enum_prestation_sociales.sql
Due: none

fix(hasura-metadata): add unique constraint
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/down.sql
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/up.sql
Due: none

feat(scripts): socialgouv-psql
  scripts/kubectl/.env.sample
  scripts/kubectl/socialgouv-psql
Due: none

improvement(ci): faster multistage build + psql helper script (#2422)
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  docker-compose.prod.local.yaml
  docker-compose.yaml
  packages/api/Dockerfile
  packages/app/Dockerfile
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/down.sql
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/up.sql
  packages/hasura/seeds/1609180902066_enum_prestation_sociales.sql
  scripts/kubectl/.env.sample
  scripts/kubectl/socialgouv-psql
Due: api, app

refactor(hasura-migration): resetting
  packages/hasura/migrations/1604324106592_mesure_etat_drop_etablissement_siret/down.sql
  packages/hasura/migrations/1604324106592_mesure_etat_drop_etablissement_siret/up.sql
  packages/hasura/migrations/1604475585805_lb_users_adresse/down.sql
  packages/hasura/migrations/1604475585805_lb_users_adresse/up.sql
  packages/hasura/migrations/1604492113395_drop_old_tables/up.sql
  packages/hasura/migrations/1604497301758_services_org_gestionnaire/down.sql
  packages/hasura/migrations/1604497301758_services_org_gestionnaire/up.sql
  packages/hasura/migrations/1604574838908_init_lb_adresse/up.sql
  packages/hasura/migrations/1604591711267_service_lb_adresse/down.sql
  packages/hasura/migrations/1604591711267_service_lb_adresse/up.sql
  packages/hasura/migrations/1604650307815_service_antenne_drop_address_street/up.sql
  packages/hasura/migrations/1604660324057_service_antenne_rename_adresse_cols/down.sql
  packages/hasura/migrations/1604660324057_service_antenne_rename_adresse_cols/up.sql
  packages/hasura/migrations/1604736617198_tis_adresse/down.sql
  packages/hasura/migrations/1604736617198_tis_adresse/up.sql
  packages/hasura/migrations/1604747286636_drop_hasura_trigger/up.sql
  packages/hasura/migrations/1605005324164_ocmi_mandataires/down.sql
  packages/hasura/migrations/1605005324164_ocmi_mandataires/up.sql
  packages/hasura/migrations/1606905659421_insert_mesure_etat/up.sql
  packages/hasura/migrations/1607109933651_type_to_enum/down.sql
  packages/hasura/migrations/1607109933651_type_to_enum/up.sql
  packages/hasura/migrations/1607426260472_init_mesure_protection_en_cours/up.sql
  packages/hasura/migrations/1607521201077_mesure_location/down.sql
  packages/hasura/migrations/1607521201077_mesure_location/up.sql
  packages/hasura/migrations/1607615995461_user_fk_cascade/down.sql
  packages/hasura/migrations/1607615995461_user_fk_cascade/up.sql
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/down.sql
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/up.sql
  packages/hasura/migrations/1607960269149_drop_satisfaction_campaigns/up.sql
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/down.sql
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/up.sql
  packages/hasura/migrations/1608554513069_on_update_cascade_departement_id/down.sql
  packages/hasura/migrations/1608554513069_on_update_cascade_departement_id/up.sql
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/down.sql
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/up.sql
  packages/hasura/migrations/1609563558335_init/up.sql
Due: none

fix(migration): add missing enum table
  packages/hasura/migrations/1609563558335_init/up.sql
Due: none

refactor(hasura-migration): resetting (#2423)
  packages/hasura/migrations/1604324106592_mesure_etat_drop_etablissement_siret/down.sql
  packages/hasura/migrations/1604324106592_mesure_etat_drop_etablissement_siret/up.sql
  packages/hasura/migrations/1604475585805_lb_users_adresse/down.sql
  packages/hasura/migrations/1604475585805_lb_users_adresse/up.sql
  packages/hasura/migrations/1604492113395_drop_old_tables/up.sql
  packages/hasura/migrations/1604497301758_services_org_gestionnaire/down.sql
  packages/hasura/migrations/1604497301758_services_org_gestionnaire/up.sql
  packages/hasura/migrations/1604574838908_init_lb_adresse/up.sql
  packages/hasura/migrations/1604591711267_service_lb_adresse/down.sql
  packages/hasura/migrations/1604591711267_service_lb_adresse/up.sql
  packages/hasura/migrations/1604650307815_service_antenne_drop_address_street/up.sql
  packages/hasura/migrations/1604660324057_service_antenne_rename_adresse_cols/down.sql
  packages/hasura/migrations/1604660324057_service_antenne_rename_adresse_cols/up.sql
  packages/hasura/migrations/1604736617198_tis_adresse/down.sql
  packages/hasura/migrations/1604736617198_tis_adresse/up.sql
  packages/hasura/migrations/1604747286636_drop_hasura_trigger/up.sql
  packages/hasura/migrations/1605005324164_ocmi_mandataires/down.sql
  packages/hasura/migrations/1605005324164_ocmi_mandataires/up.sql
  packages/hasura/migrations/1606905659421_insert_mesure_etat/up.sql
  packages/hasura/migrations/1607109933651_type_to_enum/down.sql
  packages/hasura/migrations/1607109933651_type_to_enum/up.sql
  packages/hasura/migrations/1607426260472_init_mesure_protection_en_cours/up.sql
  packages/hasura/migrations/1607521201077_mesure_location/down.sql
  packages/hasura/migrations/1607521201077_mesure_location/up.sql
  packages/hasura/migrations/1607615995461_user_fk_cascade/down.sql
  packages/hasura/migrations/1607615995461_user_fk_cascade/up.sql
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/down.sql
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/up.sql
  packages/hasura/migrations/1607960269149_drop_satisfaction_campaigns/up.sql
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/down.sql
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/up.sql
  packages/hasura/migrations/1608554513069_on_update_cascade_departement_id/down.sql
  packages/hasura/migrations/1608554513069_on_update_cascade_departement_id/up.sql
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/down.sql
  packages/hasura/migrations/1609265413916_feat_mesure_ressources/up.sql
  packages/hasura/migrations/1609563558335_init/up.sql
Due: none

chore(release): version 25.82.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
