Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(service-add-tis): add service tis only (#1041)
  packages/app/src/components-v2/ServiceMesures/ServiceAddMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceEditMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/queries.js
Due: app

style(import): use fragment everywhere
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImport.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImportErrors.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImportResult.js
Due: app

style(import): use more destructuring
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImportResult.js
Due: app

fix(service): change edit mesure input order
  packages/app/src/components-v2/ServiceMesures/ServiceEditMesure.js
Due: app

chore(service): update text
  packages/app/pages/services/antennes/[antenne_id]/edit.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
  packages/app/src/components-v2/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components-v2/ServiceAntenneEdit/ServiceEditAntenne.js
  packages/app/src/components-v2/ServiceAntenneInformations/ServicesInformations.js
  packages/app/src/components-v2/ServiceEdit/ServiceEdit.js
Due: app

Fix/service edit tis (#1043)
  packages/app/src/components-v2/ServiceMesures/ServiceAddMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceEditMesure.js
Due: app

chore(service): update text (#1042)
  packages/app/pages/services/antennes/[antenne_id]/edit.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
  packages/app/src/components-v2/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components-v2/ServiceAntenneEdit/ServiceEditAntenne.js
  packages/app/src/components-v2/ServiceAntenneInformations/ServicesInformations.js
  packages/app/src/components-v2/ServiceEdit/ServiceEdit.js
Due: app

feat(import): handle excel (#1020)
  packages/api/util/DepartementUtil.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireAddMesureImport.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImport.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImportErrors.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImportFilepicker.js
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImportResult.js
  packages/app/src/components-v2/MandataireMesureImport/checkDatas.js
  packages/app/src/components-v2/MandataireMesureImport/style.js
  packages/app/src/constants/import.js
  packages/app/src/util/departements/DepartementUtil.js
  packages/app/src/util/import/csvToJson.js
  packages/app/src/util/import/index.js
  packages/app/src/util/import/trimDataArray.js
  packages/app/src/util/import/validateImportData.js
  packages/app/src/util/import/xlsToJson.js
  packages/app/static/docs/Notice_d_utilisation_de_l_import.pdf
  packages/app/static/docs/Template_import_mesures.xlsx
Due: api, app

feat(service): remove dashboard
  packages/app/pages/services/index.js
  packages/app/src/components-v2/Layout/LayoutServices.js
Due: app

feat(service): remove dashboard (#1044)
  packages/app/pages/services/index.js
  packages/app/src/components-v2/Layout/LayoutServices.js
Due: app

chore(import): remove excel template
  packages/app/src/components-v2/MandataireMesureImport/MandataireMesureImport.js
Due: app

chore(release): version 25.9.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(deploy-prod): use correct certificate for production
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api-dev.yml
  .k8s/api/.k8s-deploy-api-prod.yml
  .k8s/api/ingress-dev.yml
  .k8s/api/ingress-prod.yml
  .k8s/hasura/.k8s-deploy-hasura-dev.yml
  .k8s/hasura/.k8s-deploy-hasura-prod.yml
  .k8s/hasura/ingress-dev.yml
  .k8s/hasura/ingress-prod.yml
Due: none

ci(deploy-prod): use correct certificate for production (#1046)
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api-dev.yml
  .k8s/api/.k8s-deploy-api-prod.yml
  .k8s/api/ingress-dev.yml
  .k8s/api/ingress-prod.yml
  .k8s/hasura/.k8s-deploy-hasura-dev.yml
  .k8s/hasura/.k8s-deploy-hasura-prod.yml
  .k8s/hasura/ingress-dev.yml
  .k8s/hasura/ingress-prod.yml
Due: none

chore(release): version 25.9.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
