Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(deps): update dependency swagger-jsdoc to ^3.3.0
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency styled-components@^3.4.10
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency redux@^4.0.3
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-redux@^7.1.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-modal@^3.8.2
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-jsonschema-form@^1.6.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency query-string@^6.8.1
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency polished@^3.4.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency swagger-ui-dist to ^3.23.0
  packages/api/package.json
Due: api

chore(deps): update dependency css-loader to v3
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency eslint to v6
  optional/e2e/package.json
  optional/e2e/yarn.lock
  packages/api/package.json
  packages/app/package.json
  packages/knex/package.json
  yarn.lock
Due: api, app

fix(deps): update dependency nodemailer@^6.2.1
  packages/api/package.json
  yarn.lock
Due: api

chore(deps): update dependency eslint-config-prettier to v6
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

chore(deps): update dependency husky to v3
  package.json
Due: none

fix(deps): update dependency geolib to v3
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency next to v9
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): remove unused api packages
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): remove unused app packages
  packages/app/package.json
  yarn.lock
Due: app

feat(hasura): add hasura docker configuration
  docker-compose.yaml
Due: none

feat(hasura-jwt): add hasura working jwt auth
  docker-compose.yaml
  packages/api/app.js
  packages/api/auth/local.js
  packages/api/config/jwt.js
  packages/api/controllers/user.js
  packages/api/package.json
  packages/api/private.pem
  packages/api/public.pem
  yarn.lock
Due: api

feat(hasura-auth-role): add migration and seed for roles
  docker-compose.yaml
  packages/api/package.json
  packages/knex/migrations/20190624093803_role.js
  packages/knex/migrations/20190624093806_user_role.js
  packages/knex/seeds/development/roles.js
  yarn.lock
Due: api

feat(migration): add migration to fill user_role (#413)
  packages/knex/migrations/20190624173346_fill_user_role.js
Due: none

feat(hasura): add hasura folder with conf and migration
  packages/hasura/config.yaml
  packages/hasura/migrations/metadata.yaml
Due: none

feat(hasura): add sql migration
  packages/hasura/migrations/1561375918025_init.up.yaml
Due: none

fix(docker): host local access
  docker-compose.yaml
Due: none

feat(authv2): add working hasura claim token with validation
  docker-compose.yaml
  packages/api/app.js
  packages/api/auth/local.js
  packages/api/controllers/user.js
  packages/api/db/schema.js
  packages/api/package.json
  packages/api/routes/auth-v2.js
  packages/knex/package.json
  yarn.lock
Due: api

fix(login-api): fix error handling
  packages/api/controllers/user.js
Due: api

fix(login-api-v2): add error validation handling
  docker-compose.yaml
  packages/api/controllers/user.js
Due: api

fix(login): add missing login log and use new auth api
  packages/api/controllers/user.js
  packages/app/src/components/loginComponents/LoginForm.js
Due: api, app

feat(signup): add basic signup role api
  packages/api/controllers/user.js
  packages/api/db/errors.js
  packages/api/package.json
  yarn.lock
Due: api

fix(lint-controllers): fix missing linted folders
  packages/api/controllers/user.js
  packages/api/package.json
Due: api

fix(lint-schema): fix before insert
  packages/api/db/schema.js
Due: api

fix(docker): add missing env var for jwks local url
  docker-compose.yaml
Due: none

fix(auth): add old url and type to jwt token
  packages/api/db/schema.js
Due: api

fix(jwt-auth): remove bearer and webhook & jwt strategy with public key
  packages/api/auth/local.js
  packages/api/db/schema.js
  packages/api/routes/auth-v2.js
  packages/api/routes/auth.js
Due: api

fix(jwt): remove bearer
  packages/api/auth/local.js
  packages/api/controllers/user.js
Due: api

fix(migration): use auto-increment primary column for role and user_role (#449)
  packages/knex/migrations/20190624093803_role.js
  packages/knex/migrations/20190624093806_user_role.js
Due: none

test: udpate snapshot 'should list all tables 1' (#451)
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

ci(k8s): hasura deployment (#448)
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/hasura/deployment-dev.yml
  .k8s/hasura/deployment-prod.yml
  .k8s/hasura/ingress-dev.yml
  .k8s/hasura/service.yml
  packages/api/Dockerfile
Due: api

fix(env): add missing api docker env in env.sample
  .env.sample
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
