Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(css): change mesure badge css
  packages/app/pages/services/index.js
Due: app

chore(lint): make lint happy
  packages/app/pages/services/index.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
Due: app

chore(test): remove event hasura tests
  packages/api/__test__/e2e/webhooks/emailReservation.test.js
Due: api

chore(release): version 25.66.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(email-account-validation): transform event in action in Hasura
  .env.build
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

feat(email-account-validation): transform event in action in Hasura (#2264)
  .env.build
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

feat(hasura-migration): try fixing ci
  .gitlab-ci.yml
  .k8s/postgres/dataset/configmap/inject-dataset.sh
  .k8s/postgres/dataset/job-inject-dataset.yml
  .k8s/postgres/restore/migrate-job.yml
  .k8s/quota.yml
Due: none

feat(knex): update readme
  README.md
  scripts/local/restore_dump.sh
Due: none

feat(hasura-migration): try fixing ci
  .gitlab-ci.yml
Due: none

feat(hasura-migration): fix test
  packages/api/__test__/database/seed-data.js
  packages/api/__test__/database/test-seed.dump
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/inscription/test-seed.dump
Due: api

feat(hasura-migration): fix test
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
  packages/api/__test__/e2e/api/mesures.test.js
Due: api

feat(hasura-migration): fix test
  packages/api/__test__/e2e/auth/POST_login.test.js
  packages/api/__test__/e2e/auth/POST_reset_password.test.js
  packages/api/__test__/e2e/auth/__snapshots__/POST_login.test.js.snap
  packages/api/__test__/e2e/auth/__snapshots__/POST_reset_password.test.js.snap
  packages/api/__test__/e2e/inscription/test-seed.dump
  packages/api/__test__/e2e/user/forgotPassword.test.js
Due: api

feat(hasura-migration): fix test
  .travis.yml
Due: none

feat(hasura-migration): try fixing ci
  .gitlab-ci.yml
  .k8s/postgres/init/init-azure-pg-job.yml
  .k8s/postgres/restore/anonymise-job.yml
  .k8s/postgres/restore/restore-job.yml
  packages/api/.k8s.values.yml
Due: api

feat(email-service-member-invitation): transform event in Hasura action feat: new
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/app/src/components/ServiceMemberInvitationCreate/ServiceMemberInvitationCreate.js
  packages/app/src/components/ServiceMemberInvitationCreate/mutations.js
  packages/app/src/components/ServiceMemberInvitations/ServiceMemberInvitations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: api, app

chore(event): remove unnecessary event anymore
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: none

feat(email-service-member-invitation): transform event in Hasura action (#2266)
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/app/src/components/ServiceMemberInvitationCreate/ServiceMemberInvitationCreate.js
  packages/app/src/components/ServiceMemberInvitationCreate/mutations.js
  packages/app/src/components/ServiceMemberInvitations/ServiceMemberInvitations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

feat(token-request): transform event in Hasura action
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/api/src/server.js
  packages/app/src/components/TokenRequest/TokenRequest.js
  packages/app/src/components/TokenRequest/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

fix(api-logs): retour button was incorrect
  packages/app/pages/admin/api-logs/[api_log_id].js
  packages/app/src/components/AdminApiLogs/AdminApiLog.js
  packages/app/src/components/AdminApiLogs/AdminApiLogs.js
  packages/app/src/components/AdminApiLogs/queries.js
Due: app

feat(api-logs): add pagination for logs
  packages/app/src/components/AdminApiLogs/AdminApiLogs.js
  packages/app/src/components/AdminApiLogs/queries.js
Due: app

feat(token-request): transform event in Hasura action (#2267)
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/api/src/server.js
  packages/app/src/components/TokenRequest/TokenRequest.js
  packages/app/src/components/TokenRequest/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
