Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(app): delete unused imports (#2882)
  packages/app/src/pages/sdpf/index.js
Due: app

chore(release): version 25.156.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(p5-script): print env var
  packages/api/.k8s/templates/deployment.yaml
Due: api

fix(p5-script): fix env folder
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): add env folder
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

feat(p5-script): add hasura cron job and actions
  packages/api/package.json
  packages/api/src/models/MandatairesIndividuelDepartement.js
  packages/api/src/models/index.js
  packages/api/src/routes/hasura-triggers/hasura-triggers.routes.js
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/server.js
  packages/api/src/utils/p5-extract/index.js
  packages/api/src/utils/sftp/index.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/cron_triggers.yaml
  yarn.lock
Due: api

fix(p5-script): change env path
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): save log in lofroutine table
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): change path on the server
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): change files path
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): fix missing env
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): change the join to left join on service departements
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): using relative path
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/utils/sftp/index.js
Due: api

fix(p5-script): delete consol log
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): fix empty private key buffer
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): print env var
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): fix cron job to read hasura hook secret
  packages/hasura/metadata/cron_triggers.yaml
Due: none

fix(p5-script): add departement_code to service
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

feat(p5-script): create sftp connection
  packages/api/package.json
  packages/api/src/server.js
  packages/api/src/utils/p5-extract/Sftp.js
  packages/api/src/utils/p5-extract/index.js
  yarn.lock
Due: api

fix(p5-script): add env var
  packages/api/.k8s/templates/deployment.yaml
Due: api

fix(p5-script): change path of upload
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

feat(p5-script): add kube env config
  packages/api/.k8s/templates/deployment.yaml
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-script): fix missing imports
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(import_ocmi): increase the timeout to 1800
  packages/api/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
  packages/hasura/metadata/actions.yaml
Due: api

fix(import_ocmi): increase the timeout to 900
  packages/api/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
  packages/hasura/metadata/actions.yaml
Due: api

Update ci.yml
  .github/workflows/ci.yml
Due: none

chore(ci): downgrade github node version to 16
  .github/workflows/ci.yml
Due: none

fix(import_ocmi): increase the timeout to 1800 (#2884)
  packages/hasura/metadata/actions.yaml
Due: none

chore(release): version 25.156.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(greffier): fix display error for greffier without ti_id
  packages/app/src/containers/GreffierEditInformations/GreffierEditInformationsForm.js
Due: app

fix(greffier): add validation fro ti on greffier edit
  packages/app/src/containers/GreffierEditInformations/GreffierEditInformationsForm.js
  packages/app/src/validation-schemas/greffierEditSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(p5-export): fix dates
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-export): delte cron job
  packages/hasura/metadata/cron_triggers.yaml
Due: none

fix(p5-export): recreate p5-extract job
  packages/hasura/metadata/cron_triggers.yaml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
