Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

build(k8s): use same config in prod and dev
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/deployment.dev.yml
  .k8s/api/deployment.yml
  .k8s/api/ingress.dev.yml
  .k8s/api/ingress.prod.yml
Due: none

chore: remove duplicated files
  .k8s/app/.k8s-deploy-app.yml
  .k8s/app/ingress.dev.yml
  .k8s/app/ingress.prod.yml
Due: none

build (k8s): fix hasura postgresql credentials
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/hasura/deployment.yml
Due: none

ci(gitlab): change postgres deploy stage
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api.yml
Due: none

build (k8s): try to enroll emjpm database user to a superuser to fix hasura errors
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/postgres/values-postgresql.yaml
Due: none

feat(magistrats): update metadata add magistrat informations
  packages/hasura/migrations/metadata.yaml
Due: none

feat(magistrats): add magistrat informations
  packages/app/pages/magistrats/informations.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/MagistratInformations/Informations.js
  packages/app/src/components-v2/MagistratInformations/MagistratInformations.js
  packages/app/src/components-v2/MagistratInformations/index.js
  packages/app/src/components-v2/MagistratInformations/queries.js
  packages/app/src/components-v2/MagistratInformations/style.js
Due: app

refactor(mesure-counter): remove call to mesure counters update (#760)
  packages/api/__test__/e2e/mandataires/GET_mandataires.test.js
  packages/api/__test__/e2e/mandataires/PUT_mandataires.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/POST_filters.test.js
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/db/queries/mandataires.js
  packages/api/routes/importation-excel.js
  packages/api/routes/mandataireMesures.js
  packages/api/routes/mandataires.js
  packages/app/src/components/mandataires/actions/mesures.js
Due: api, app

build (k8s): try to use official postgresql image instead of bitnami one
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/postgres/values-postgresql.yaml
Due: none

Update .k8s-deploy-postgres.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

feat(magistrat-service): update informations
  packages/app/pages/magistrats/edit-informations.js
  packages/app/pages/magistrats/informations.js
  packages/app/pages/services/informations.js
  packages/app/src/components-v2/Commons/LinkButton.js
  packages/app/src/components-v2/Informations/Informations.js
  packages/app/src/components-v2/MagistratInformations/Informations.js
  packages/app/src/components-v2/MagistratInformations/MagistratInformations.js
  packages/app/src/components-v2/PreferencesPanel/PreferencesPanel.js
  packages/app/src/components-v2/PreferencesPanel/queries.js
  packages/app/src/components-v2/ServicesInformations/queries.js
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

Feat/magistrat create mesure (#761)
  packages/app/package.json
  packages/app/pages/magistrats/edit-informations.js
  packages/app/pages/magistrats/index.js
  packages/app/pages/magistrats/informations.js
  packages/app/pages/services/informations.js
  packages/app/src/components-v2/Commons/LinkButton.js
  packages/app/src/components-v2/Informations/Informations.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/MagistratFilters/MagistratFilters.js
  packages/app/src/components-v2/MagistratFilters/context/FiltersContext.js
  packages/app/src/components-v2/MagistratInformations/Informations.js
  packages/app/src/components-v2/MagistratInformations/MagistratInformations.js
  packages/app/src/components-v2/MagistratInformations/index.js
  packages/app/src/components-v2/MagistratInformations/queries.js
  packages/app/src/components-v2/MagistratInformations/style.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMandatairesList/MandataireInformations.js
  packages/app/src/components-v2/MagistratMandatairesList/mutations.js
  packages/app/src/components-v2/MagistratMandatairesList/queries.js
  packages/app/src/components-v2/MagistratMandatairesList/utils.js
  packages/app/src/components-v2/MagistratMesures/MagistratEditMesure.js
  packages/app/src/components-v2/MagistratMesures/MagistratMesures.js
  packages/app/src/components-v2/MagistratMesures/MagistratRemoveMesure.js
  packages/app/src/components-v2/MagistratMesures/mutations.js
  packages/app/src/components-v2/MagistratMesures/queries.js
  packages/app/src/components-v2/MagistratMesures/style.js
  packages/app/src/components-v2/MandatairesList/MandatairesList.js
  packages/app/src/components-v2/PreferencesPanel/PreferencesPanel.js
  packages/app/src/components-v2/PreferencesPanel/queries.js
  packages/app/src/components-v2/ServiceMesures/ServiceAcceptMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/utils.js
  packages/app/src/components-v2/ServicesInformations/queries.js
  packages/app/src/util/mandataires/MandataireUtils.js
  packages/hasura/migrations/metadata.yaml
  yarn.lock
Due: app

fix(extinction): add select
  packages/app/src/components-v2/Indicators/NewMesureIndicator.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServicesFilters/ServicesFilters.js
Due: app

fix(coralie): change texts
  packages/app/src/components-v2/MagistratMesures/MagistratEditMesure.js
  packages/app/src/components-v2/MagistratMesures/MagistratRemoveMesure.js
Due: app

build (k8s): try to make emjpm user as a postgresql super user
  .k8s/postgres/values-postgresql.yaml
Due: none

fix(text): add accent
  packages/app/src/components-v2/MagistratMesures/MagistratEditMesure.js
  packages/app/src/components-v2/MagistratMesures/MagistratRemoveMesure.js
Due: app

fix(extinction): add select (#763)
  packages/app/src/components-v2/Indicators/NewMesureIndicator.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServicesFilters/ServicesFilters.js
Due: app

fix(coralie): change texts (#764)
  packages/app/src/components-v2/MagistratMesures/MagistratEditMesure.js
  packages/app/src/components-v2/MagistratMesures/MagistratRemoveMesure.js
Due: app

ci(gitlab): try debugging over branch kills
  .gitlab-ci/stages/notify.yml
Due: none

fix(coralie): change links
  packages/app/src/components-v2/Footer/Footer.js
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/Layout/LayoutServices.js
  packages/app/src/components-v2/Layout/dropDownLink.js
  packages/app/src/components-v2/ServiceMesures/ServiceAcceptMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceEditMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceReactivateMesure.js
Due: app

fix(texts): fix missing accent
  packages/app/src/components-v2/Footer/Footer.js
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceReactivateMesure.js
Due: app

fix(coralie): change links (#762)
  packages/app/src/components-v2/Footer/Footer.js
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/Layout/LayoutServices.js
  packages/app/src/components-v2/Layout/dropDownLink.js
  packages/app/src/components-v2/ServiceMesures/ServiceAcceptMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceEditMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceReactivateMesure.js
Due: app
