Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(forgot-password): fix forgot password error (#849)
  packages/app/src/components/loginComponents/ForgotPasswordForm.js
Due: app

fix(reset-password): fix pasword reset and add non blocking mail
  packages/api/routes/auth.js
  packages/app/src/components/loginComponents/resetPasswordForm.js
Due: api, app

fix(choose-mandataire): add require on all field
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
Due: app

fix(choose-mandataire): add require on all field (#850)
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
Due: app

chore(app): remove old ti components
  packages/app/pages/tis.js
  packages/app/src/components/tiComponents/DisplayMandataires.js
  packages/app/src/components/tiComponents/FetchCommentaires.js
  packages/app/src/components/tiComponents/FilterMandataires.js
  packages/app/src/components/tiComponents/FilterMesuresMap.js
  packages/app/src/components/tiComponents/MapTi.js
  packages/app/src/components/tiComponents/ProfileTi.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/actions/mandataire.js
  packages/app/src/components/tiComponents/actions/map.js
  packages/app/src/components/tiComponents/actions/mesures.js
  packages/app/src/components/tiComponents/actions/user.js
  packages/app/src/components/tiComponents/index.js
  packages/app/src/components/tiComponents/modals/CloseMesureAttente.js
  packages/app/src/components/tiComponents/modals/EditMesure.js
  packages/app/src/components/tiComponents/modals/EditUser.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
  packages/app/src/components/tiComponents/modals/ModalMesureReservation.js
  packages/app/src/components/tiComponents/modals/ModalMesureValidation.js
  packages/app/src/components/tiComponents/modals/index.js
  packages/app/src/components/tiComponents/reducers/mandataire.js
  packages/app/src/components/tiComponents/reducers/map.js
  packages/app/src/components/tiComponents/reducers/mesures.js
  packages/app/src/components/tiComponents/reducers/user.js
Due: app

fix(reset-password): fix pasword reset and add non blocking mail (#853)
  packages/api/routes/auth.js
  packages/app/src/components/loginComponents/resetPasswordForm.js
Due: api, app

chore(release): version 25.0.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

feat(api): introduce env configuration
  packages/api/app.js
  packages/api/email/index.js
  packages/api/env/configuration.js
  packages/api/env/index.js
  packages/app/package.json
  yarn.lock
Due: api, app

fix(knex): use emjpm user for knex
  packages/knex/knexfile.js
Due: none

chore(app): remove old ti components (#851)
  packages/app/pages/tis.js
  packages/app/src/components/tiComponents/DisplayMandataires.js
  packages/app/src/components/tiComponents/FetchCommentaires.js
  packages/app/src/components/tiComponents/FilterMandataires.js
  packages/app/src/components/tiComponents/FilterMesuresMap.js
  packages/app/src/components/tiComponents/MapTi.js
  packages/app/src/components/tiComponents/ProfileTi.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/actions/mandataire.js
  packages/app/src/components/tiComponents/actions/map.js
  packages/app/src/components/tiComponents/actions/mesures.js
  packages/app/src/components/tiComponents/actions/user.js
  packages/app/src/components/tiComponents/index.js
  packages/app/src/components/tiComponents/modals/CloseMesureAttente.js
  packages/app/src/components/tiComponents/modals/EditMesure.js
  packages/app/src/components/tiComponents/modals/EditUser.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
  packages/app/src/components/tiComponents/modals/ModalMesureReservation.js
  packages/app/src/components/tiComponents/modals/ModalMesureValidation.js
  packages/app/src/components/tiComponents/modals/index.js
  packages/app/src/components/tiComponents/reducers/mandataire.js
  packages/app/src/components/tiComponents/reducers/map.js
  packages/app/src/components/tiComponents/reducers/mesures.js
  packages/app/src/components/tiComponents/reducers/user.js
Due: app

fix(mesure-magistrats): fix magistrats mesure fetching policy
  packages/app/pages/magistrats/mesures.js
  packages/app/src/components-v2/MagistratMesures/MagistratMesures.js
  packages/app/src/components-v2/MagistratMesures/queries.js
Due: app

fix(user-infos): remove user info component from mand mesure
  packages/app/pages/magistrats/mesures.js
Due: app

feat(api): introduce env configuration (#854)
  packages/api/app.js
  packages/api/email/index.js
  packages/api/env/configuration.js
  packages/api/env/index.js
  packages/app/package.json
  yarn.lock
Due: api, app

fix(knex): use emjpm user for knex (#855)
  packages/knex/knexfile.js
Due: none

chore(release): version 25.1.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(gitlab): explicit list env var to log
  .gitlab-ci/env.sh
Due: none
