Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(api): add departement condition
  packages/api/src/controllers/editor/mesure-create.js
Due: api

fix(api): add departement condition (#2098)
  packages/api/src/controllers/editor/mesure-create.js
Due: api

refactor(liste-blanche): create and update lb_users & lb_departements
  packages/app/src/components/ListeBlancheForm/ListeBlancheFormDepartementFinanceur.js
Due: app

feat(liste-blanche): disable some departements for direction territorial
  packages/app/src/components/ListeBlancheForm/ListeBlancheFormDepartementFinanceur.js
Due: app

feat(liste-blanche): insert data with an admin account
  packages/app/pages/admin/liste-blanche/ajout.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
Due: app

fix(liste-blanche): use admin account (#2099)
  packages/app/pages/admin/liste-blanche/ajout.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
Due: app

feat(direction): display administration info in profil page
  packages/app/src/components/DirectionInformations/DirectionInformations.js
  packages/app/src/components/UserContext/queries.js
  packages/core/src/formatters/direction.formatter.js
  packages/core/src/formatters/index.js
  packages/core/src/services/directions.service.js
  packages/core/src/services/index.js
Due: app

fix(admin-user): add id in gql
  packages/app/src/components/AdminUsers/queries.js
Due: app

fix(typo): typo
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/MesureImport/MesureImportPanel.js
Due: app

feat(liste-blanche): association
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/AdminUserListeBlancheMandataireAssociation.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/mutations.js
  packages/app/src/components/AdminUsers/queries.js
  packages/ui/src/core/Button/Button.js
Due: app

fix(eslint): remove console.error
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/AdminUserListeBlancheMandataireAssociation.js
Due: app

feat(liste-blanche): association. it closes #1930 (#2100)
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/AdminUserListeBlancheMandataireAssociation.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/mutations.js
  packages/app/src/components/AdminUsers/queries.js
  packages/ui/src/core/Button/Button.js
Due: app

chore(release): version 25.59.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(mesure-model): use date type
  packages/api/src/models/Mesure.js
Due: api

fix(mesure-api): use date type
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
  packages/api/__test__/e2e/api/mesures.test.js
  packages/api/src/controllers/editor/mesure-batch.js
  packages/api/src/controllers/editor/mesure-create.js
  packages/api/src/controllers/editor/mesure-update.js
  packages/api/src/models/Mesure.js
Due: api
