Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(geocode): add geocode to antenne create (#1242)
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneCreate/mutations.js
  packages/app/src/components/ServiceAntenneForms/ServiceAntenneForm.js
  packages/app/src/components/ServiceAntenneForms/index.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/serviceAntenneSchema.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20191219102150_add_address_to_service_antennes.js
  packages/knex/migrations_v2/20191219103808_add_latlng_to_service_antennes.js
Due: app

fix(deps): update dependency react-svgmt to ^1.1.9
  packages/app/package.json
  yarn.lock
Due: app

fix(hasura-permission): remove mandataire role
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura-permission): remove mandataire role (#1257)
  packages/hasura/migrations/metadata.yaml
Due: none

chore(deps): update dependency socialgouv/gitlab-ci-yml to v4.1.0
  .gitlab-ci.yml
Due: none

fix(deps): update dependency rebass to ^4.0.7
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency koa to ^2.11.0
  packages/graphql-server/package.json
  yarn.lock
Due: none

fix(deps): update dependency objection-db-errors to ^1.1.2
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency recharts to ^1.8.5
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency styled-components to ^4.4.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency objection to ^1.6.11
  packages/knex/package.json
  yarn.lock
Due: none

chore(api): add objection peer dependency
  packages/api/package.json
  yarn.lock
Due: api

build(docker): tell hasura to use network host in dev
  .env.sample
  docker-compose.yaml
Due: none

chore(deps): update dependency socialgouv/gitlab-ci-yml to v4.2.0
  .gitlab-ci.yml
Due: none

fix(deps): update dependency styled-icons to ^9.1.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency theme-ui to ^0.2.52
  packages/app/package.json
  yarn.lock
Due: app

fix(1255): fix mandataires url typo
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
Due: app

docs(contribution): add CONTRIBUTION documentation [skip ci]
  .env.build
  CONTRIBUTION.md
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.override.yaml.sample
  docker-compose.yaml
Due: none

docs(CONTRIBUTION): add CONTRIBUTION documentation (#1265)
  .env.build
  CONTRIBUTION.md
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.override.yaml.sample
  docker-compose.yaml
Due: none

chore(api): add objection peer dependency (#1263)
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency nodemailer to ^6.4.2
  packages/api/package.json
  yarn.lock
Due: api

feat(add-geocode-to-antenne-create): readd address/lat/lng perms
  packages/hasura/migrations/metadata.yaml
Due: none

feat(geocode): add lat/lng/address perms
  packages/hasura/migrations/metadata.yaml
Due: none

feat(geocode): add geocode to service edit antenne
  packages/app/pages/services/antennes/[antenne_id]/edit.js
  packages/app/src/components/ServiceAntenneEdit/ServiceEditAntenne.js
  packages/app/src/components/ServiceAntenneEdit/mutations.js
  packages/app/src/components/ServiceAntenneForms/ServiceAntenneForm.js
Due: app

feat(geocode): readd service antenne permissions
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura-permission): add service_antenne permission
  packages/hasura/migrations/metadata.yaml
Due: none

chore(renovate): desactivate
  .github/renovate.json
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
