Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
      api:
        target: 89%
        flags: api

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

docs(README): test and build minimal documentation [skip ci] (#225)
  README.md
Due: none

fix(postgres): rollback in flavor of version 10 (#224)
  docker/postgres/Dockerfile
Due: none

ci(gitlab): test without api alias
  .gitlab-ci.yml
Due: none

fix(deps): update dependency cypress to ^3.3.1
  optional/e2e/package.json
  optional/e2e/yarn.lock
Due: none

fix: test
  packages/api/__test__/e2e/import/POST_mesures.test.js
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/magistrats/GET_tis.test.js
  packages/api/__test__/e2e/magistrats/POST_tis.test.js
  packages/api/__test__/e2e/mandataires/POST_mandataires.test.js
  packages/api/__test__/e2e/mandataires/POST_mesures.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/db/queries/tis.js
  packages/api/routes/inscription.js
  packages/knex/seeds/test/0001-tis.js
Due: api

Render better windows (#175)
  packages/api/routes/mandataireMesures.js
  packages/app/src/components/common/nomination.js
  packages/app/src/components/inscription/uiSchema.json
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/modals/CloseMesure.js
  packages/app/src/components/mandataires/modals/EditMandataire.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
  packages/app/src/components/tiComponents/MapTi.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/index.js
  packages/app/src/excel/references.js
Due: api, app

Magistrats services (#58)
  packages/api/__test__/e2e/magistrats/GET_tis.test.js
  packages/api/__test__/e2e/magistrats/POST_tis.test.js
  packages/api/__test__/e2e/magistrats/__snapshots__/GET_tis.test.js.snap
  packages/api/__test__/e2e/magistrats/__snapshots__/POST_tis.test.js.snap
  packages/api/__test__/e2e/mandataires/GET_mandataires.test.js
  packages/api/__test__/e2e/mandataires/POST_mesures.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/db/queries/mandataires.js
  packages/api/db/queries/mesures.js
  packages/api/db/queries/tis.js
  packages/api/routes/commentaires.js
  packages/api/routes/mandataireMesures.js
  packages/api/routes/mesures.js
  packages/api/routes/tis.js
  packages/app/src/components/tiComponents/modals/FicheMandataireModal.js
  packages/app/src/components/tiComponents/modals/ModalMesureReservation.js
Due: api, app

fix: test app and knex
  packages/app/test/__snapshots__/sample-imports.test.js.snap
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: app

feat: filter by numero dossier
  packages/app/src/components/mandataires/TableMesures.js
Due: app

feat: move migrations
  packages/api/db/queries/mandataires.js
  packages/api/routes/mandataires.js
  packages/knex/migrations/20190307155748_services.js
  packages/knex/migrations/20190307160529_add_service_id_to_mandataires.js
  packages/knex/migrations/20190307160709_service_tis.js
  packages/knex/migrations/20190429151818_add_service_id_to_user.js
  packages/knex/migrations/20190510114007_add_reason_extinction.js
  packages/knex/seeds/test/0032-services.js
Due: api

fix: test and snapshots
  packages/api/__test__/e2e/import/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mesures.test.js.snap
  packages/knex/seeds/development/0032-services.js
Due: api

Change champs information
  packages/app/src/components/mandataires/Fiche.js
Due: app

fix: some change for services
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/routes/inscription.js
  packages/knex/seeds/test/0000-users.js
Due: api

flat: extinction mesure (#200)
  packages/api/db/migrations/20190510114007_add_reason_extinction.js
  packages/api/routes/mandataireMesures.js
  packages/app/src/components/mandataires/actions/mesures.js
  packages/app/src/components/mandataires/modals/CloseMesure.js
Due: api, app

feat: service mandataires (#65)
  packages/api/__test__/e2e/import/POST_mesures.test.js
  packages/api/__test__/e2e/magistrats/__snapshots__/POST_tis.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/db/queries/mandataires.js
  packages/api/routes/importation-excel.js
  packages/api/routes/mandataireMesures.js
  packages/api/routes/mandataires.js
  packages/app/src/components/common/ShowBox.js
  packages/app/src/components/mandataires/CreateMesure.js
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/mandataires/Header.js
  packages/app/src/components/mandataires/MapMesures.js
  packages/app/src/components/mandataires/PillDispo.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/actions/mesures.js
  packages/app/src/components/mandataires/index.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/components/mandataires/modals/CloseMesure.js
  packages/app/src/components/mandataires/modals/EditService.js
  packages/app/src/components/mandataires/modals/ReactivateMesure.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
Due: api, app

change naming (#212)
  packages/app/src/components/common/nomination.js
  packages/app/src/components/inscription/uiSchema.json
  packages/app/src/components/mandataires/Fiche.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/modals/CloseMesure.js
  packages/app/src/components/mandataires/modals/EditMandataire.js
  packages/app/src/components/mandataires/service.js
  packages/app/src/components/tiComponents/MapTi.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/index.js
  packages/app/src/excel/references.js
Due: app

Service show update (#56)
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/mandataires/GET_mandataires.test.js
  packages/api/__test__/e2e/mandataires/POST_mandataires.test.js
  packages/api/__test__/e2e/mandataires/PUT_mandataires.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/db/queries/mandataires.js
  packages/api/db/seeds/test/0032-services.js
  packages/api/routes/mandataires.js
  packages/app/src/components/mandataires/Header.js
  packages/app/src/components/mandataires/ServiceSiegeSocial.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/index.js
  packages/app/src/components/mandataires/modals/AddAntennes.js
  packages/app/src/components/mandataires/modals/EditServiceSiege.js
  packages/app/src/components/mandataires/modals/index.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/seeds/test/0010-mandataires.js
Due: api, app

chenge naming reactivate mesure (#201)
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/modals/ReactivateMesure.js
  packages/app/src/components/mandataires/service.js
Due: app

Inscription service ad (#55)
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/app.js
  packages/api/db/migrations/20190307155748_services.js
  packages/api/db/migrations/20190307160529_add_service_id_to_mandataires.js
  packages/api/db/migrations/20190307160709_service_tis.js
  packages/api/db/queries/inscription.js
  packages/api/db/queries/mandataires.js
  packages/api/routes/inscription.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/InscriptionService.js
  packages/app/static/css/custom.css
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: api, app

Correct bug service (#82)
  packages/app/src/components/common/SelectionManager.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/actions/mesures.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
Due: app

better informations inside email for inscription
  packages/api/db/queries/tis.js
  packages/api/email/inscription.js
  packages/api/routes/inscription.js
Due: api

fix: code review
  packages/api/db/queries/tis.js
  packages/api/routes/inscription.js
Due: api

build(dockerfile): learna.json file is required before yarn install
  Dockerfile
Due: none

ci(gitlab): try to fixing the coverage spamming
  .gitlab-ci.yml
  packages/api/jest.config.js
  packages/app/jest.config.js
Due: api, app

ci(gitlab): try to fixing the coverage spamming (2)
  codecov.yml
Due: none

ci(gitlab): try to fixing the coverage spamming (3)
  .gitlab-ci.yml
Due: none

ci(gitlab): try to fixing the coverage spamming (4)
  .gitlab-ci.yml
Due: none

ci(gitlab): try to fixing the coverage spamming (5)
  .gitlab-ci.yml
Due: none

ci(gitlab): try to fixing the coverage spamming (6)
  .gitlab-ci.yml
Due: none

ci(gitlab): try to fixing the coverage spamming (#228)
  .gitlab-ci.yml
  codecov.yml
  packages/api/jest.config.js
  packages/app/jest.config.js
Due: api, app
