Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(graphql): uri port
  packages/api/.k8s/templates/deployment.yaml
Due: api

fix(graphql): rollback uri port
  packages/api/.k8s/templates/deployment.yaml
Due: api

fix(hasura): increase migrations servers timeout
  packages/hasura/Dockerfile
Due: none

fix(hasura): startupProbe
  packages/hasura/.k8s/templates/deployment.yaml
Due: none

fix(hasura): healthz
  packages/hasura/.k8s/templates/deployment.yaml
Due: none

fix(hasura): prev image version
  packages/hasura/Dockerfile
Due: none

chore(dev): push force on autosync branches
  scripts/ci/next
  scripts/ci/prod
Due: none

chore(dev): reset on autosync branches
  scripts/ci/next
  scripts/ci/prod
Due: none

fix(db): enquete cascade
  packages/hasura/migrations/1613955776715_set_fk_public_enquete_reponses_enquete_id/down.sql
  packages/hasura/migrations/1613955776715_set_fk_public_enquete_reponses_enquete_id/up.sql
Due: none

fix(pagination): add where to aggregate
  packages/app/src/containers/AdminEtablissements/queries.js
Due: app

fix(missing): form group input date
  packages/app/src/containers/MesureClose/MesureCloseForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
  packages/app/src/containers/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
Due: app

chore(release): version 25.95.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(finess): import new type 101
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
Due: api

fix(deps): update all dependencies
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

feat(dev): script dev:yarn-refresh
  package.json
  scripts/dev/yarn-refresh
Due: none

fix(up): packages.ci.json
  packages/api/package.ci.json
  packages/app/package.ci.json
Due: api, app

fix(lint): order
  packages/api/src/controllers/editor/helper/buildMesure.js
Due: api

fix(email): placeholder
  packages/app/src/containers/Login/Login.js
Due: app

fix(async): remove sync node bad practice
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
Due: api

fix(dot-email): fix #2494
  packages/api/src/routes/api/auth.js
Due: api

fix(label): forgot password only
  optional/e2e/features/forgot-password.feature
  packages/app/src/containers/AuthorizationLogin/AuthorizationLogin.js
  packages/app/src/containers/Login/Login.js
Due: app

fix(email): url
  docker-compose.yaml
  packages/api/src/email/forgot-password-email.js
Due: api

feat(dev): smtp dev env
  .env.sample
  docker-compose.yaml
  scripts/ci/postinstall
Due: none

feat(dev): triggerable and local ocmi import
  docker-compose.yaml
  packages/api/.gitignore
  packages/api/src/config/configuration.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: api

chore(release): version 25.96.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ocmi-import): free memory by json stream
  packages/api/package.ci.json
  packages/api/package.json
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  yarn.lock
Due: api

fix(finess-import): columns mapping
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
  packages/hasura/migrations/1614107054959_set_fk_public_lb_user_etablissements_etablissement_id/down.sql
  packages/hasura/migrations/1614107054959_set_fk_public_lb_user_etablissements_etablissement_id/up.sql
Due: api

chore(release): version 25.96.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(jsx): missing container import
  packages/app/src/pages/admin/services/[service_id].js
Due: app

chore(release): version 25.96.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(filter): ref change (was breaking some paginations)
  packages/app/package.ci.json
  packages/app/package.json
  packages/app/src/containers/FiltersContextSerializable/FiltersContextSerializable.js
  yarn.lock
Due: app

chore(release): version 25.96.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(stats): inscrits rely on users fix #2488
  packages/app/src/containers/IndicatorList/IndicatorList.js
  packages/app/src/containers/IndicatorList/IndicatorListTotal.js
  packages/app/src/containers/IndicatorList/queries.js
  packages/app/src/utils/geodata/index.js
  packages/hasura/metadata/tables.yaml
Due: app

fix(button): default type button fix #2497
  packages/app/src/components/Button/index.js
Due: app

fix(select): show required using placholder as default label fix #2496
  packages/app/src/components/AppForm/useAppFieldIsRequired.js
  packages/app/src/components/Select/index.js
Due: app

chore(deps): update dependency @socialgouv/eslint-config-recommended to v1
  optional/e2e/package.json
Due: none

chore(deps): update postgres docker tag to v13
  docker/postgres/Dockerfile
Due: none

fix(deps): update dependency cypress to v6
  optional/e2e/package.json
Due: none

fix(deps): update all non-major dependencies
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/biz/package.json
  yarn.lock
Due: api, app
