Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(rgaa): make yearDateInput accessible
  packages/app/src/components/AccessibleInputDate/DatePickerHeader.js
  packages/app/src/components/AppForm/AccessibleFormGroupInputDate.js
  packages/app/src/components/AppForm/FormGroupInputYear.js
  packages/app/src/components/Input/index.js
  packages/app/src/components/InputDate/index.js
  packages/app/src/components/InputYear/index.js
  packages/app/src/containers/GreffierMesureAdd/GreffierMesureAddForm.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/containers/MesureCreate/MesureCreateForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
  packages/app/src/validation-schemas/greffierMandataireSchema.js
  packages/app/src/validation-schemas/magistratMandataireSchema.js
Due: app

fix(rgaa): delete unused imports
  packages/app/src/containers/GreffierMesureAdd/GreffierMesureAddForm.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/containers/MesureCreate/MesureCreateForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
Due: app

fix(rgaa): upgrade react-select, fix forwardRef
  packages/app/package.json
  packages/app/src/components/AccessibleInputDate/InputButton.js
  packages/app/src/components/AccessibleSelect/index.js
  packages/app/src/components/Button/index.js
  yarn.lock
Due: app

fix(rgaa): fix nested p tag
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/GreffierMandatairesList/List.js
  packages/app/src/containers/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/containers/MagistratMandatairesList/List.js
Due: app

fix: typo mandats de protection future
  packages/biz/src/constants/MESURE_PROTECTION.js
Due: none

fix(rgaa): fix accessibility issue on menus and expandables
  packages/app/src/components/GlobalLoader/index.js
  packages/app/src/components/LoggedMenu/index.js
  packages/app/src/components/LoggedMenu/style.css
  packages/app/src/containers/MagistratMandatairesList/Filters.js
  packages/app/src/containers/MandataireMesureSidebar/MandataireMesureSidebar.js
  packages/app/src/containers/MesureListButtonBar/MesureListButtonBar.js
  packages/app/src/containers/MesureView/MesureEtatView.js
  packages/app/src/containers/MesureView/MesureEtatViewList.js
Due: app

fix: ocmi + editor mesures lock
  packages/app/src/containers/MesureListButtonBar/MesureListButtonBar.js
  packages/app/src/containers/MesureView/MesureDetailView.js
  packages/app/src/containers/MesureView/MesureEtatViewList.js
  packages/app/src/containers/MesureView/MesureRessourceViewList.js
  packages/app/src/hooks/useMesuresLocked.js
Due: app

chore(release): version 25.154.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(rgaa): add mandataire button
  packages/app/package.json
  packages/app/src/components/AjoutMandataireButton/index.js
  packages/app/src/components/AjoutMandataireButton/style.css
  packages/app/src/components/LoggedMenu/index.js
  packages/app/src/components/index.js
  packages/app/src/containers/ListeBlancheFilter/index.js
  yarn.lock
Due: app

fix(rgaa): dialog fix
  packages/app/src/components/AccessibleInputDate/DatePickerHeader.js
  packages/app/src/components/AccessibleSelect/index.js
  packages/app/src/pages/direction/liste-blanche/[id].js
Due: app

feat: mandoline api service
  packages/api/src/models/Service.js
  packages/api/src/routes/api/directions.js
  packages/api/src/routes/api/mandoline.js
  packages/api/src/routes/api/service.js
Due: api

chore(release): version 25.155.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix: upgrade erm
  docs/ERM.graphml
  docs/erm.graphml
  docs/erm.png
Due: none

fix: tests
  db-seed/devdb.dump
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/src/models/Mandataire.js
Due: api

chore(release): version 25.155.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(rgaa): color contrast
  packages/app/src/components/AccessibleSelect/style.js
  packages/app/src/components/AcessibleRadioGroup/index.js
  packages/app/src/components/AutoReload/index.js
  packages/app/src/components/Header/index.js
  packages/app/src/components/Input/index.js
  packages/app/src/components/Input/style.js
  packages/app/src/components/InputDate/style.scss
  packages/app/src/components/InputYear/style.scss
  packages/app/src/components/Loader/index.js
  packages/app/src/components/RequiredAsterisk/index.js
  packages/app/src/containers/Commons/Link.js
  packages/app/src/containers/Commons/LinkButton.js
  packages/app/src/containers/Enquete/EnqueteActivite/common/EnqueteActiviteEtablissementDomicileForm.js
  packages/app/src/containers/Enquete/EnqueteCommon/EnqueteMenuStepper/EnqueteMenuStepper.js
  packages/app/src/containers/Enquete/EnquetePopulations/style.js
  packages/app/src/containers/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/containers/ImpersonateButton/index.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/pages/admin/etablissements/index.js
  packages/app/src/theme/theme.js
Due: app

fix: label user del tmp
  packages/app/src/containers/AdminUserDelete/AdminUserDeleteForm.js
Due: app

fix(rgaa): color contrast
  packages/app/public/css/pagination.css
  packages/app/public/tarteaucitron/css/tarteaucitron.css
  packages/app/src/components/AccessibleSelect/index.js
  packages/app/src/components/Input/index.js
  packages/app/src/components/Input/style.js
  packages/app/src/components/InputDate/style.scss
  packages/app/src/components/InputYear/style.scss
  packages/app/src/components/Tabs/style.js
  packages/app/src/containers/GreffierMandatairesList/MandataireListItem/index.js
  packages/app/src/containers/ListeBlanche/style.js
  packages/app/src/containers/MagistratMandatairesList/MandataireListItem/index.js
  packages/app/src/containers/MandataireMesureImport/MandataireMesureImport.js
  packages/app/src/containers/ServiceMesureImport/ServiceMesureImport.js
Due: app

fix: dev scripts
  scripts/dev/docker-compose-restore-dump
  scripts/dev/restore-dump
Due: none

fix: hasura + seed
  db-seed/devdb.dump
  packages/hasura/migrations/default/1650531969007_cleanfix_hasura/down.sql
  packages/hasura/migrations/default/1650531969007_cleanfix_hasura/up.sql
Due: none

fix: update preprose
  packages/app/src/containers/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeUpdate.js
Due: app

chore(release): version 25.155.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(rgaa): color contrast
  packages/app/public/images/map-icon-prepose-man@1x.png
  packages/app/public/images/map-icon-prepose-man@2x.png
  packages/app/public/images/map-icon-prepose-unknow@2x.png
  packages/app/public/images/map-icon-prepose-woman@1x.png
  packages/app/public/images/map-icon-prepose-woman@2x.png
  packages/app/src/components/AccessibleSelect/ClearIndicator.js
  packages/app/src/components/AccessibleSelect/MultiValueRemove.js
  packages/app/src/components/AccessibleSelect/style.js
  packages/app/src/components/LoggedMenu/index.js
  packages/app/src/components/SkipToContent/index.js
  packages/app/src/containers/DirectionAvailabilityMap/Map.js
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/GreffierMandatairesList/Filters.js
  packages/app/src/containers/Impersonation/style.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelFormDepartementsSelection.js
  packages/app/src/containers/MagistratMandatairesList/Filters.js
  packages/app/src/containers/MandataireMesureImport/MandataireMesureImport.js
  packages/app/src/containers/MandataireOcmiMesureImport/MandataireOcmiMesureImportSwitcher.js
  packages/app/src/containers/Map/MapCluster.js
  packages/app/src/containers/MapMesureListItem/index.js
  packages/app/src/containers/MesureImport/ServiceMesureAntennesMatcher.js
  packages/app/src/containers/MesureImportDeleteAll/index.js
  packages/app/src/containers/MesureListItem/index.js
  packages/app/src/containers/MesureListItem/style.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
  packages/app/src/theme/GlobalStyle.js
Due: app

fix(rgaa): color contrast for calendar components
  packages/app/src/components/AccessibleInputDate/DatePickerHeader.js
  packages/app/src/components/AccessibleInputDate/InputButton.js
  packages/app/src/theme/GlobalStyle.js
Due: app

fix(rgaa): disabled button
  packages/app/src/components/Button/index.js
  packages/app/src/containers/Commons/LinkButton.js
Due: app

fix(rgaa): fix issues with keyboad navigation
  packages/app/src/components/Indicator/index.js
  packages/app/src/containers/DirectionAvailabilityMap/AvailabilityMap.js
  packages/app/src/containers/DirectionIndicators/DirectionStatsKPI.js
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivity.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibility.js
  packages/app/src/containers/GreffierInformations/GreffierInformations.js
  packages/app/src/containers/GreffierMandataire/GreffierMandataire.js
  packages/app/src/containers/GreffierTribunalInformations/GreffierTribunalInformations.js
  packages/app/src/containers/MagistratInformations/MagistratInformations.js
  packages/app/src/containers/MagistratMandataire/MagistratMandataire.js
  packages/app/src/containers/MagistratTribunalInformations/MagistratTribunalInformations.js
  packages/app/src/containers/MandataireBoard/MandataireBoard.js
  packages/app/src/containers/MandataireInformations/MandataireInformations.js
  packages/app/src/containers/MandataireListItem/index.js
  packages/app/src/containers/MesureView/MesureView.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/index.js
Due: app

fix: api direction national ls departements
  packages/api/src/controllers/mandoline/direction-services.js
Due: api

chore(release): version 25.155.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(rgaa): fix button disabled style
  packages/app/src/components/Button/index.js
  packages/app/src/containers/Commons/LinkButton.js
Due: app

fix(rgaa): replace description table by text
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
Due: app

fix(rgaa): color contrast
  packages/app/src/components/Button/index.js
  packages/app/src/components/Input/style.js
  packages/app/src/containers/AdminApiLogs/AdminApiLogs.js
  packages/app/src/containers/AdminUserResetPassword/index.js
  packages/app/src/containers/Commons/AntenneEditLinkButton.js
  packages/app/src/containers/Commons/LinkButton.js
  packages/app/src/containers/DirectionMandatairesSubNavigation/MandatairesSubNavigation.js
  packages/app/src/containers/ServiceAntenneInformations/ServiceAntenneInformations.js
  packages/app/src/theme/GlobalStyle.js
  packages/app/src/utils/mdx/styles.js
Due: app

fix(rgaa): color contrast
  packages/app/src/components/Button/index.js
  packages/app/src/components/InlineError/index.js
  packages/app/src/containers/AdminUsers/style.js
  packages/app/src/containers/Auth2FA/Auth2FA.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/GreffierMandataire/GreffierMandataire.js
  packages/app/src/containers/GreffierMandatairesList/MandataireListItem/style.js
  packages/app/src/containers/MagistratMandatairesList/MandataireListItem/style.js
  packages/app/src/containers/MandataireListItem/style.js
  packages/app/src/containers/MapMesureListItem/index.js
  packages/app/src/containers/MesureExportExcelButton/MesureExportExcelButton.js
  packages/app/src/containers/MesureListItem/index.js
  packages/app/src/containers/MesureListItem/style.js
  packages/app/src/containers/MesureView/style.js
Due: app

fix(rgaa): fix color contrast
  packages/app/src/containers/Antenne/index.js
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/GreffierMandatairesList/style.js
  packages/app/src/containers/MagistratMandatairesList/style.js
  packages/app/src/containers/Navigation/Navigation.js
Due: app

fix(rgaa): fix color contrast
  packages/app/src/components/SkipToContent/index.js
  packages/app/src/containers/ServiceAntennes/ServiceAntennes.js
Due: app

fix(rgaa): fix color contrast
  packages/app/src/containers/Antenne/index.js
  packages/app/src/containers/Commons/AntenneLinkButton.js
  packages/app/src/containers/MandataireInformations/MandataireInformations.js
  packages/app/src/containers/ServiceInformations/ServiceInformations.js
Due: app

fix(rgaa): delete console log
  packages/app/src/components/AccessibleSelect/index.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
