Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(coralie): change links (#762)
  packages/app/src/components-v2/Footer/Footer.js
  packages/app/src/components-v2/Layout/LayoutDirection.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/Layout/LayoutServices.js
  packages/app/src/components-v2/Layout/dropDownLink.js
  packages/app/src/components-v2/ServiceMesures/ServiceAcceptMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceEditMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceReactivateMesure.js
Due: app

ci(gitlab): create secret just after the namespace
  .gitlab-ci/stages/deploy.yml
Due: none

chore(package): update emjpm component package
  packages/app/package.json
  yarn.lock
Due: app

chore(package): update emjpm component package (#765)
  packages/app/package.json
  yarn.lock
Due: app

build (k8s): fix postgres user /password
  .k8s/api/.k8s-deploy-api.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

fix(footer-links): fix uncorrect links in footer
  packages/app/src/components-v2/Footer/Footer.js
Due: app

fix(footer-links): fix uncorrect links in footer (#766)
  packages/app/src/components-v2/Footer/Footer.js
Due: app

build (k8s): add init container to wait for postgresql ready before starting hasura
  .k8s/hasura/deployment.yml
Due: none

feat(k8s): postgresql helm for production (#757)
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/deploy.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/api/deployment.prod.yml
  .k8s/api/deployment.yml
  .k8s/api/ingress.dev.yml
  .k8s/api/ingress.prod.yml
  .k8s/app/.k8s-deploy-app.yml
  .k8s/app/ingress.dev.yml
  .k8s/app/ingress.prod.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/hasura/deployment.prod.yml
  .k8s/hasura/deployment.yml
  .k8s/hasura/ingress.dev.yml
  .k8s/hasura/ingress.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/check_init_postgres.sh
  .k8s/postgres/deployment.yml
  .k8s/postgres/inject_data_postgres.sh
  .k8s/postgres/job-inject-dataset.yml
  .k8s/postgres/pod-init-postgres-prod.yml
  .k8s/postgres/pod-inject-dataset-prod.yml
  .k8s/postgres/pod-inject-dataset.yml
  .k8s/postgres/service.yml
  .k8s/postgres/values-postgresql.yaml
Due: none

fix(url): add whatever url back
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura): bring back %%WHATEVER_URL%% in metadata
  packages/hasura/migrations/metadata.yaml
Due: none

fix(trigger): trigger update counters only on status update
  packages/knex/migrations/20190917115626_create_trigger_mesures_counter.js
Due: none

chore(release): version 24.2.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(trigger): trigger update counters only on status update (#768)
  packages/knex/migrations/20190917115626_create_trigger_mesures_counter.js
Due: none

ci(gittlab): update k8s-ns-killer:0.7.1
  .gitlab-ci/stages/notify.yml
Due: none

ci(gitlab): use NODE_ENV production on tags
  .gitlab-ci/env.sh
  .k8s/postgres/job-inject-dataset.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
