Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(release): version 25.16.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

build(k8s): alter the schema at the end of the restore
  .k8s/postgres/restore/configmap/restore.sh
Due: none

refactor(forms): use formik hook (#1355)
  packages/app/pages/magistrats/mesures/[mesure_id]/delete.js
  packages/app/src/components/DirectionEditInformations/DirectionEditInformations.js
  packages/app/src/components/EditPassword/EditPassword.js
  packages/app/src/components/ForgotPassword/ForgotPassword.js
  packages/app/src/components/Login/Login.js
  packages/app/src/components/MagistratMandataire/MagistratMandataireForm.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDelete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureEdit/MagistratMesureEdit.js
  packages/app/src/components/MagistratMesureMandataire/MagistratMesureMandataireCommentForm.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureDelete/MandataireMesureDeleteForm.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivateForm.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/app/src/components/ServiceMesureReactivate/ServiceMesureReactivateForm.js
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/components/Signup/SignupForm.js
  packages/app/src/components/Signup/SignupMagistrat.js
  packages/app/src/components/Signup/SignupService.js
  packages/app/src/lib/validationSchemas/directionEditSchema.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/magistratMandataireSchema.js
  packages/app/src/lib/validationSchemas/magistratMesureDeleteSchema.js
  packages/app/src/lib/validationSchemas/magistratMesureEditSchema.js
  packages/app/src/lib/validationSchemas/passwordSchema.js
  packages/app/src/lib/validationSchemas/signupSchema.js
Due: app

fix(metadata): add mesure id selection to mandataire permissions
  packages/hasura/migrations/metadata.yaml
Due: none

fix(metadata): add mesure id selection to mandataire permissions (#1367)
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura-permission): mesure - allow aggregations for prepose
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura-permission): service_antenne - add id column
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura-permission): update permissions
  packages/hasura/migrations/metadata.yaml
Due: none

chore(typo): annee de naissance
  packages/app/src/components/MagistratMandataire/MagistratMandataireForm.js
  packages/app/src/components/MagistratMesureEdit/MagistratMesureEdit.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesures/ServiceAddMesure.js
Due: app

chore(typo): date d'ordonnance
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesures/ServiceAddMesure.js
Due: app

chore(typo): fix typo
  packages/app/src/components/MandataireMesureImport/MandataireMesureImport.js
Due: app

Revert "fix(hasura-permission): service_antenne - add id column"
  packages/hasura/migrations/metadata.yaml
Due: none

chore(typo): update mesure search input placeholder
  packages/app/src/components/MandataireFilters/MandataireFilters.js
Due: app
