Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
      api:
        target: 89%
        flags: api

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

test(seeds): remove implicite active true (#78)
  packages/knex/seeds/test/0000-users.js
Due: none

fear(import): col annee : handle full dates
  packages/app/src/excel/parse.js
  packages/app/test/__snapshots__/sample-imports.test.js.snap
  packages/app/test/excel/dates_naissance.xlsx
  packages/app/test/sample-imports.test.js
Due: app

fix(import): add missing IE11 polyfill
  packages/app/pages/_document.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/readAsBinaryString.js
Due: app

feat(login): remember login
  packages/app/src/components/loginComponents/LoginForm.js
Due: app

fix change update when importing and render tis
  packages/api/routes/tis.js
  packages/app/src/components/common/SelectionManager.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/actions/mesures.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
Due: api, app

fear(import): col annee : handle full dates (#79)
  packages/app/src/excel/parse.js
  packages/app/test/__snapshots__/sample-imports.test.js.snap
  packages/app/test/excel/dates_naissance.xlsx
  packages/app/test/sample-imports.test.js
Due: app

fix: change enum to mandataireId
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
Due: app

fix(import): add missing IE11 polyfill (#80)
  packages/app/pages/_document.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/readAsBinaryString.js
Due: app

e2e(frontend): add extra viewport hack to stabilize to tests
  optional/e2e/cypress/integration/tis.spec.js
Due: none

fix update of tis for services
  packages/app/src/components/common/SelectionManager.js
  packages/app/src/components/mandataires/Profile.js
Due: app

Correct bug service (#82)
  packages/app/src/components/common/SelectionManager.js
  packages/app/src/components/mandataires/Profile.js
  packages/app/src/components/mandataires/actions/mandataire.js
  packages/app/src/components/mandataires/actions/mesures.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/inputFiles.js
  packages/app/src/components/mandataires/reducers/mandataire.js
  packages/app/src/components/mandataires/service.js
Due: app

feat(api): add GET /mandataires/postcode/:postcode route (#47)
  packages/api/__test__/e2e/mandataires/GET_postcode.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_postcode.test.js.snap
  packages/api/db/queries/geolocalisation_code_postal.js
  packages/api/db/queries/mandataires.js
  packages/api/routes/mandataires.js
  packages/app/src/components/tiComponents/MapTi.js
  packages/app/src/components/tiComponents/actions/map.js
Due: api, app

perf(api): allow parallel e2e testing :dash:
  packages/api/__test__/e2e/auth/POST_forgot_password.test.js
  packages/api/__test__/e2e/auth/POST_login.test.js
  packages/api/__test__/e2e/auth/POST_reset_password.test.js
  packages/api/__test__/e2e/commentaires/DELETE_commentaires.test.js
  packages/api/__test__/e2e/commentaires/GET_commentaires.test.js
  packages/api/__test__/e2e/commentaires/POST_commentaires.test.js
  packages/api/__test__/e2e/import/POST_mesures.test.js
  packages/api/__test__/e2e/import/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/mandataires/GET_mandataires.test.js
  packages/api/__test__/e2e/mandataires/GET_mesures.test.js
  packages/api/__test__/e2e/mandataires/GET_postcode.test.js
  packages/api/__test__/e2e/mandataires/POST_mesures.test.js
  packages/api/__test__/e2e/mandataires/PUT_mandataires.test.js
  packages/api/__test__/e2e/mandataires/PUT_mesures.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/__test__/globalSetup.js
  packages/api/jest.config.js
  packages/api/package.json
Due: api

chore(release): version 0.0.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: api, app

ci(gitlab): add gitlab
  .gitlab-ci.yml
Due: none

ci(gitlab): add gitlab (#84)
  .gitlab-ci.yml
Due: none

chore(release): version 0.0.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
Due: api, app

doc(README): add release LERNA_ARGS variable doc
  README.md
Due: none

perf(api): allow parallel e2e testing :dash: (#74)
  packages/api/__test__/e2e/auth/POST_forgot_password.test.js
  packages/api/__test__/e2e/auth/POST_login.test.js
  packages/api/__test__/e2e/auth/POST_reset_password.test.js
  packages/api/__test__/e2e/commentaires/DELETE_commentaires.test.js
  packages/api/__test__/e2e/commentaires/GET_commentaires.test.js
  packages/api/__test__/e2e/commentaires/POST_commentaires.test.js
  packages/api/__test__/e2e/import/POST_mesures.test.js
  packages/api/__test__/e2e/import/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/mandataires/GET_mandataires.test.js
  packages/api/__test__/e2e/mandataires/GET_mesures.test.js
  packages/api/__test__/e2e/mandataires/GET_postcode.test.js
  packages/api/__test__/e2e/mandataires/POST_mesures.test.js
  packages/api/__test__/e2e/mandataires/PUT_mandataires.test.js
  packages/api/__test__/e2e/mandataires/PUT_mesures.test.js
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/__test__/globalSetup.js
  packages/api/jest.config.js
  packages/api/package.json
Due: api
