Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(test): update snapshot
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
  packages/api/__test__/e2e/api/mesures.test.js
Due: api

feat(liste-blanche): enhance filters, texts, ui
  packages/app/src/components/FiltersContextSerializable/FiltersContextSerializable.js
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelFormDepartementsSelection.js
  packages/app/src/components/ListeBlanche/ListeBlancheMandataires.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeForm.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/mutations.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/queries.js
  packages/app/src/components/ListeBlanche/ListeBlancheServices.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
Due: app

chore(release): version 25.65.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(model): make properties nullable
  packages/api/src/models/MesureEtat.js
  packages/api/src/models/MesureRessources.js
Due: api

refactor(mesure): factorize list of mesures
  packages/app/pages/mandataires/index.js
  packages/app/pages/mandataires/waiting-mesures.js
  packages/app/pages/services/index.js
  packages/app/pages/services/waiting-mesures.js
  packages/app/src/components/MandataireFilters/index.js
  packages/app/src/components/MandataireMesures/index.js
  packages/app/src/components/MesureList/MesureList.js
  packages/app/src/components/MesureList/index.js
  packages/app/src/components/MesureList/queries.js
  packages/app/src/components/MesureList/style.js
  packages/app/src/components/MesureListFilters/MesureListFilters.js
  packages/app/src/components/MesureListFilters/context/FiltersContext.js
  packages/app/src/components/MesureListFilters/context/index.js
  packages/app/src/components/MesureListFilters/index.js
  packages/app/src/components/MesureListFilters/style.js
  packages/app/src/components/ServiceMesures/ServiceMesures.js
  packages/app/src/components/ServiceMesures/index.js
  packages/app/src/components/ServiceMesures/style.js
Due: app

refactor(mesure): factorize mesure create
  packages/app/pages/mandataires/add-mesures.js
  packages/app/pages/services/add-mesures.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/MandataireMesures/MandataireAddMesureForm.js
  packages/app/src/components/MandataireMesures/index.js
  packages/app/src/components/MandataireMesures/queries.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/app/src/components/MesureCreate/MesureCreateForm.js
  packages/app/src/components/MesureCreate/index.js
  packages/app/src/components/MesureCreate/mutations.js
  packages/app/src/components/MesureCreate/queries.js
  packages/app/src/components/MesureCreate/style.js
  packages/app/src/components/ServiceMesureCreate/index.js
  packages/app/src/components/ServiceMesureCreate/mutations.js
  packages/app/src/components/ServiceMesureCreate/queries.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEdit.js
  packages/app/src/components/ServiceMesures/queries.js
  packages/app/src/components/UserContext/UserContext.js
  packages/hasura/metadata/tables.yaml
Due: app

refactor(mesure): factorize mesure create
  packages/api/src/auth/strategies/authLoginPasswordStrategy.js
  packages/api/src/models/User.js
  packages/app/pages/services/add-mesures.js
  packages/app/src/components/MandataireInformationsSidebar/MandataireInformationsSidebar.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/app/src/components/MesureCreate/MesureCreateForm.js
  packages/app/src/components/MesureCreate/mutations.js
  packages/app/src/components/MesureCreate/queries.js
  packages/app/src/components/MesureList/MesureList.js
  packages/app/src/components/MesureList/queries.js
  packages/app/src/components/ServiceSidebar/ServiceSidebar.js
  packages/app/src/components/ServiceSidebar/queries.js
  packages/app/src/components/UserContext/UserContext.js
  packages/app/src/components/UserContext/queries.js
  packages/app/src/util/index.js
Due: api, app

refactor(mesure): factorize mesure create
  packages/app/src/components/AppForm/FormGroupInput.js
  packages/app/src/components/AppForm/FormGroupSelect.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/app/src/components/MesureCreate/MesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mandataireMesureSchema.js
  packages/app/src/lib/validationSchemas/mesureSchema.js
Due: app

refactor(mesure): factorize mesure create / edit
  packages/app/pages/mandataires/add-mesures.js
  packages/app/pages/mandataires/mesures/[mesure_id]/edit.js
  packages/app/pages/services/add-mesures.js
  packages/app/pages/services/mesures/[mesure_id]/edit.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEdit.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesureEdit/index.js
  packages/app/src/components/MandataireMesureEdit/mutations.js
  packages/app/src/components/MandataireMesureEdit/queries.js
  packages/app/src/components/MandataireMesureEdit/style.js
  packages/app/src/components/MesureCreate/index.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEdit.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEditForm.js
  packages/app/src/components/MesureCreateOrEdit/index.js
  packages/app/src/components/MesureCreateOrEdit/mutations.js
  packages/app/src/components/MesureCreateOrEdit/queries.js
  packages/app/src/components/MesureCreateOrEdit/style.js
  packages/app/src/components/MesureList/MesureList.js
  packages/app/src/components/MesureList/queries.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEdit.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesureEdit/index.js
  packages/app/src/components/ServiceMesureEdit/queries.js
  packages/app/src/components/ServiceMesureEdit/style.js
  packages/app/src/components/ServiceMesures/mutations.js
  packages/app/src/components/ServiceMesures/queries.js
  packages/app/src/lib/validationSchemas/mesureSchema.js
Due: app

refactor(mesure): factorize accept mesure
  packages/app/pages/mandataires/mesures/[mesure_id]/accept.js
  packages/app/pages/services/mesures/[mesure_id]/accept.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/MandataireMesureAccept/index.js
  packages/app/src/components/MandataireMesureAccept/mutations.js
  packages/app/src/components/MandataireMesureAccept/style.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureAccept/MesureAcceptForm.js
  packages/app/src/components/MesureAccept/index.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureAccept/queries.js
  packages/app/src/components/MesureAccept/style.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAccept.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureAccept/index.js
  packages/app/src/components/ServiceMesureAccept/queries.js
  packages/app/src/components/ServiceMesureAccept/style.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mandataireAcceptMesureSchema.js
  packages/app/src/lib/validationSchemas/mesureAcceptSchema.js
  packages/app/src/lib/validationSchemas/serviceAcceptMesureSchema.js
Due: app

refactor(mesure): factorize mesure view
  packages/app/pages/mandataires/mesures/[mesure_id]/index.js
  packages/app/pages/services/mesures/[mesure_id]/index.js
  packages/app/src/components/MandataireMesure/index.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/components/MesureView/index.js
  packages/app/src/components/MesureView/style.js
  packages/app/src/components/ServiceMesure/ServiceMesure.js
  packages/app/src/components/ServiceMesure/index.js
  packages/app/src/components/ServiceMesure/style.js
Due: app

refactor(mesure): rename mesure liste button bar
  packages/app/pages/mandataires/index.js
  packages/app/pages/services/index.js
  packages/app/src/components/MesureButtonBar/index.js
  packages/app/src/components/MesureListButtonBar/MesureListButtonBar.js
  packages/app/src/components/MesureListButtonBar/index.js
Due: app

refactor(mesure): delete service filters
  packages/app/src/components/ServiceFilters/ServiceFilters.js
  packages/app/src/components/ServiceFilters/context/FiltersContext.js
  packages/app/src/components/ServiceFilters/context/index.js
  packages/app/src/components/ServiceFilters/index.js
  packages/app/src/components/ServiceFilters/style.js
Due: app

refactor(mesure): factorize delete components
  packages/app/pages/mandataires/mesures/[mesure_id]/delete.js
  packages/app/pages/services/mesures/[mesure_id]/delete.js
  packages/app/src/components/MandataireMesureDelete/MandataireMesureDelete.js
  packages/app/src/components/MandataireMesureDelete/MandataireMesureDeleteForm.js
  packages/app/src/components/MandataireMesureDelete/index.js
  packages/app/src/components/MandataireMesureDelete/style.js
  packages/app/src/components/MesureDelete/MesureDelete.js
  packages/app/src/components/MesureDelete/MesureDeleteForm.js
  packages/app/src/components/MesureDelete/index.js
  packages/app/src/components/MesureDelete/mutations.js
  packages/app/src/components/MesureDelete/style.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/components/ServiceMesureDelete/ServiceMesureDelete.js
  packages/app/src/components/ServiceMesureDelete/ServiceMesureDeleteForm.js
  packages/app/src/components/ServiceMesureDelete/index.js
  packages/app/src/components/ServiceMesureDelete/queries.js
  packages/app/src/components/ServiceMesureDelete/style.js
Due: app

refactor(mesure): factorize delete components
  packages/app/pages/mandataires/mesures/[mesure_id]/delete.js
  packages/app/src/components/MesureDelete/MesureDelete.js
Due: app

refactor(mesure): factorize close components
  packages/app/pages/mandataires/mesures/[mesure_id]/close.js
  packages/app/pages/services/mesures/[mesure_id]/close.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureClose.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureClose/index.js
  packages/app/src/components/MandataireMesureClose/style.js
  packages/app/src/components/MesureClose/MesureClose.js
  packages/app/src/components/MesureClose/MesureCloseForm.js
  packages/app/src/components/MesureClose/index.js
  packages/app/src/components/MesureClose/mutations.js
  packages/app/src/components/MesureClose/queries.js
  packages/app/src/components/MesureClose/style.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureClose.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/app/src/components/ServiceMesureClose/index.js
  packages/app/src/components/ServiceMesureClose/queries.js
  packages/app/src/components/ServiceMesureClose/style.js
Due: app

refactor(mesure): add handleCancel
  packages/app/pages/mandataires/mesures/[mesure_id]/reactivate.js
  packages/app/pages/services/mesures/[mesure_id]/reactivate.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivate.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivateForm.js
  packages/app/src/components/MandataireMesureReactivate/index.js
  packages/app/src/components/MandataireMesureReactivate/style.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureAccept/MesureAcceptForm.js
  packages/app/src/components/MesureClose/MesureClose.js
  packages/app/src/components/MesureClose/MesureCloseForm.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEdit.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEditForm.js
  packages/app/src/components/MesureDelete/MesureDeleteForm.js
  packages/app/src/components/MesureReactivate/MesureReactivate.js
  packages/app/src/components/MesureReactivate/MesureReactivateForm.js
  packages/app/src/components/MesureReactivate/index.js
  packages/app/src/components/MesureReactivate/mutations.js
  packages/app/src/components/MesureReactivate/style.js
  packages/app/src/components/ServiceMesureReactivate/ServiceMesureReactivate.js
  packages/app/src/components/ServiceMesureReactivate/ServiceMesureReactivateForm.js
  packages/app/src/components/ServiceMesureReactivate/index.js
  packages/app/src/components/ServiceMesureReactivate/style.js
  packages/app/src/components/ServiceMesures/mutations.js
  packages/app/src/components/ServiceMesures/queries.js
Due: app

refactor(mesure): refresh cache
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureClose/MesureClose.js
  packages/app/src/components/MesureContext/MesureContext.js
  packages/app/src/components/MesureContext/queries.js
  packages/app/src/components/MesureReactivate/MesureReactivate.js
Due: app

chore(deps): update all dependencies
  packages/api/package.json
  packages/app/package.json
  packages/graphql-server/package.json
  yarn.lock
Due: api, app

chore(db): delete unused tables
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20201019080642_delete_unused_tables.js
  packages/knex/seeds/development/0014-cities.js
Due: none

chore(db): delete unused tables (#2253)
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20201019080642_delete_unused_tables.js
  packages/knex/seeds/development/0014-cities.js
Due: none

fix(hasura): export metadata
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/mutations.js
  packages/hasura/metadata/tables.yaml
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
