Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(enquete): refresh validation after mutation (#1823)
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSociales.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
Due: api, app

feat(enquete): link import to form page #1801 #1811
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/EnqueteImportResult.js
  packages/app/src/components/EnqueteImport/EnqueteImportResults.js
  packages/app/src/components/MenuStepper/MenuStepper.js
Due: api, app

fix(enquete): navigation after import
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
Due: app

feat(enquete): link import to form page #1801 #1811 (#1829)
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/EnqueteImportResult.js
  packages/app/src/components/EnqueteImport/EnqueteImportResults.js
  packages/app/src/components/MenuStepper/MenuStepper.js
Due: api, app

feat(enquete): fix type secretaire_specialise_etp #1801 #1811
  packages/app/yarn-error.log
Due: app

feat(enquete): fix type secretaire_specialise_etp #1801 #1811
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.test.js
Due: app

fix(enquete): remove console.log
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
Due: app

Toub/feat enquete fix type secretaire specialise etp 1801 1811 (#1828)
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuel/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.test.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/yarn-error.log
Due: app

feat(enquete): informations generales validation
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/lib/validationSchemas/enqueteMandataireIndividuelSchema.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
Due: api, app

feat(enquete): lazy load form data
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteAccompagnementJudiciaire.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleBiens.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratellePersonne.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleSimple.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesuresForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteTutelle.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
  packages/app/src/components/MenuStepper/MenuStepper.js
  packages/ui/src/preset/emjpm.js
Due: app

fix(knex): unit test
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

feat(enquete): informations generales validation (#1830)
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteAccompagnementJudiciaire.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleBiens.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratellePersonne.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteCuratelleSimple.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteRevisionMesuresForm.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteTutelle.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
  packages/app/src/components/MenuStepper/MenuStepper.js
  packages/app/src/lib/validationSchemas/enqueteMandataireIndividuelSchema.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/ui/src/preset/emjpm.js
Due: api, app

feat(import): refactor excels imports
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/checkImportEnqueteParameters.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/mesures-import/actionsMesuresImporter.js
  packages/api/src/routes/hasura-actions/mesures-import/checkImportMesuresParameters.js
  packages/api/src/utils/file/excelParser.js
  packages/app/src/components/EnqueteImport/mutations.js
  packages/app/src/components/EnqueteImport/useEnqueteImportManager.hook.js
  packages/app/src/components/MesureImport/MesureImportResults.js
  packages/app/src/components/MesureImport/fileReader.js
  packages/app/src/components/MesureImport/mutations.js
  packages/app/src/components/MesureImport/useMesureImportManager.hook.js
  packages/app/src/util/fileReader.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(enquete): extract control & content from MenuStepper #1832
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/MenuStepper/MenuStepper.js
Due: app

feat(enquete): minor ui improvements #1832
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelWelcome.js
  packages/app/src/components/MenuStepper/MenuStepper.js
Due: app

feat(import): refactor excels imports (#1831)
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/checkImportEnqueteParameters.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/mesures-import/actionsMesuresImporter.js
  packages/api/src/routes/hasura-actions/mesures-import/checkImportMesuresParameters.js
  packages/api/src/utils/file/excelParser.js
  packages/app/src/components/EnqueteImport/mutations.js
  packages/app/src/components/EnqueteImport/useEnqueteImportManager.hook.js
  packages/app/src/components/MesureImport/MesureImportResults.js
  packages/app/src/components/MesureImport/fileReader.js
  packages/app/src/components/MesureImport/mutations.js
  packages/app/src/components/MesureImport/useMesureImportManager.hook.js
  packages/app/src/util/fileReader.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(enquete): extract menu builder service #1832
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
Due: app

feat(enquete): add step/substep as querystring param #1832
  packages/app/.eslintrc.yml
  packages/app/pages/mandataires/enquetes/[enquete_id]/index.js
  packages/app/src/components/Enquete/Enquete.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/MenuStepper/MenuStepper.js
  packages/app/src/util/urlQueryParser.service.js
Due: app

feat(admin-enquete): update style
  packages/app/pages/direction/enquetes/create.js
  packages/app/src/components/EnqueteCreate/EnqueteCreate.js
  packages/app/src/components/Enquetes/Enquetes.js
Due: app

feat(enquete): minor ui fix & date_fin #1832
  packages/app/src/components/Enquete/Enquete.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelWelcome.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormation.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSociales.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/queries.js
Due: app

feat(enquete): nav link
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Navigation/Link.js
  packages/app/src/components/Navigation/Navigation.js
  packages/app/src/components/UserContext/UserContext.js
  packages/app/src/components/UserContext/queries.js
Due: app

feat(enquete): nav link (#1835)
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Navigation/Link.js
  packages/app/src/components/Navigation/Navigation.js
  packages/app/src/components/UserContext/UserContext.js
  packages/app/src/components/UserContext/queries.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
