Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

Update README.md
  README.md
Due: none

docs(README): update travis link
  README.md
Due: none

ci(gitlab): try running test with 2 workers max
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore(app): update to next 8 and styled-components 4
  packages/app/package.json
  packages/app/pages/_document.js
  yarn.lock
Due: app

test: try to speedup things
  .gitlab-ci.yml
Due: none

test: without cache
  .gitlab-ci.yml
Due: none

test: add debug
  .gitlab-ci.yml
Due: none

Update README.md
  packages/api/README.md
Due: api

test: remove docker.ENV
  packages/app/Dockerfile
Due: app

chore(package): change transpile modules package use next 8.1.1
  packages/app/.babelrc
  packages/app/babel.config.js
  packages/app/next.config.js
  packages/app/package.json
  yarn.lock
Due: app

fix(next-config): remove color comment
  packages/app/next.config.js
Due: app

test(api): add /api/v1/mesures/* tests
  packages/api/__test__/e2e/mesures/GET_getAllMesuresByTis.test.js
  packages/api/__test__/e2e/mesures/GET_mesures.test.js
  packages/api/__test__/e2e/mesures/GET_popup.test.js
  packages/api/__test__/e2e/mesures/GET_popupMandataire.test.js
  packages/api/__test__/e2e/mesures/POST_filters.test.js
  packages/api/__test__/e2e/mesures/__snapshots__/GET_getAllMesuresByTis.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_popup.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_popupMandataire.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/db/queries/mesures.js
  packages/api/routes/mesures.js
Due: api

chore(polished): remove wessberg/color add polished
  packages/app/package.json
  packages/app/src/components/common/Button.js
  yarn.lock
Due: app

chore(babel): add polished plugin
  packages/app/.babelrc
  packages/app/package.json
Due: app

test(api): add /api/v1/mesures/* tests (#240)
  packages/api/__test__/e2e/mesures/GET_getAllMesuresByTis.test.js
  packages/api/__test__/e2e/mesures/GET_mesures.test.js
  packages/api/__test__/e2e/mesures/GET_popup.test.js
  packages/api/__test__/e2e/mesures/GET_popupMandataire.test.js
  packages/api/__test__/e2e/mesures/POST_filters.test.js
  packages/api/__test__/e2e/mesures/__snapshots__/GET_getAllMesuresByTis.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_popup.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_popupMandataire.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/db/queries/mesures.js
  packages/api/routes/mesures.js
Due: api

build(app): replace wessber/color by polished (#241)
  packages/app/.babelrc
  packages/app/package.json
  packages/app/src/components/common/Button.js
  yarn.lock
Due: app

fix(deps): update dependency next to v8
  packages/app/package.json
  yarn.lock
Due: app

cleanup
  .gitlab-ci.yml
  packages/app/Dockerfile
Due: app

feat(services): Migration files for updating services
  packages/knex/migrations/20190527173248_migration_status_mesures.js
  packages/knex/migrations/20190528110944_add_services_for_mandataires_service.js
Due: none

feat: change mandataire services naming and implementation
  packages/api/db/queries/mesures.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/modals/EditMesure.js
  yarn.lock
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
