Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

ci(gittlab): update kubectl:0.11.0, helm:0.11.0 (#920)
  .gitlab-ci/extends.yml
Due: none

chore(release): version 25.4.3
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(reservation-date): use creation date as reservation date
  packages/app/src/components/mandataires/TableMesures.js
Due: app

fix(reservation-date): use creation date as reservation date (#921)
  packages/app/src/components/mandataires/TableMesures.js
Due: app

feat(mandataire-siret): add siret in mandataire signup
  packages/api/controllers/user/signup.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/queries.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations/201910311501260_mandataire-siret.js
Due: api, app

chore(test): update snapshots
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: api

Revert "ci(gittlab): update kubectl:0.11.0, helm:0.11.0 (#920)"
  .gitlab-ci/extends.yml
Due: none

ci(dep): try using kubectl:0.7.0
  .gitlab-ci/extends.yml
Due: none

chore(spellcheck): fix spell check
  packages/app/src/components-v2/Signup/SignupMandataire.js
Due: app

chore(text): update text
  packages/app/src/components-v2/Signup/SignupMandataire.js
Due: app

chore(yup): remove trim
  packages/app/src/components-v2/Signup/SignupMandataire.js
Due: app

feat(mandataire-siret): add siret in mandataire signup (#922)
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mandataires.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/POST_filters.test.js.snap
  packages/api/controllers/user/signup.js
  packages/app/src/components-v2/Signup/SignupMandataire.js
  packages/app/src/components-v2/Signup/queries.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/201910311501260_mandataire-siret.js
Due: api, app

Revert "ci(gittlab): update kubectl:0.11.0, helm:0.11.0 (#920)" (#923)
  .gitlab-ci/extends.yml
Due: none

ci(dep): downgrade helm:0.6.0
  .gitlab-ci/extends.yml
Due: none

fix(validation-email): use WH to send acccount validation email
  .env.sample
  .k8s/hasura/deployment.yml
  docker-compose.test.yaml
  docker-compose.yaml
  packages/api/__test__/e2e/admin/GET_mandataires.test.js
  packages/api/__test__/e2e/admin/GET_tis.test.js
  packages/api/__test__/e2e/admin/PUT_user.test.js
  packages/api/__test__/e2e/admin/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/admin/__snapshots__/GET_tis.test.js.snap
  packages/api/__test__/e2e/admin/__snapshots__/PUT_user.test.js.snap
  packages/api/__test__/e2e/routes.test.js
  packages/api/config/route-config.js
  packages/api/email/validation-email.js
  packages/api/routes/admin.js
  packages/api/routes/index.js
  packages/api/routes/webhook.js
  packages/api/test/routes.admin.test.js
  packages/hasura/migrations/metadata.yaml
Due: api

chore(mailtrap): configure mailtrap dev
  .k8s/secret-dev.yml
Due: none

feat(mailtrap): change secret
  .k8s/secret-dev.yml
Due: none

chore(mailtrap): configure mailtrap dev (#925)
  .k8s/secret-dev.yml
Due: none
