Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(enquete): update menu ui #1848 (#1836)
  packages/app/src/components/MenuStepper/MenuStepper.js
Due: app

feat(enquete): import individuel tab infos generales #1801
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemaUtil.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
Due: api, app

ci(gitlab): make cache follow the yarn.lock changes (#1744)
  .gitlab-ci.yml
Due: none

feat(enquete): import individuel tab infos generales #1801 (#1844)
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserInformationsMandataire.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelSchemaUtil.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
Due: api, app

feat(knex): new migration to add new columns to enquete_reponses_populations table
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200526150538_alter_enquete_reponses_populations.js
Due: none

feat(enquete): import populations data
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserUtil.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
Due: api, app

feat(enquete): populations form
  packages/api/src/models/EnqueteReponsesPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/repository/enqueteImportRepository.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsFields.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePopulations/index.js
  packages/app/src/components/Enquete/EnquetePopulations/mutations.js
  packages/app/src/components/Enquete/EnquetePopulations/queries.js
  packages/app/src/lib/validationSchemas/enquetePopulationsSchema.js
  packages/app/src/lib/validationSchemas/yup.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200527115159_alter_enquete_reponses_populations.js
Due: api, app

feat(enquete): populations form (#1842)
  packages/api/src/models/EnqueteReponsesPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserPopulations.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserUtil.js
  packages/api/src/routes/hasura-actions/enquete-import/repository/enqueteImportRepository.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsFields.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePopulations/index.js
  packages/app/src/components/Enquete/EnquetePopulations/mutations.js
  packages/app/src/components/Enquete/EnquetePopulations/queries.js
  packages/app/src/lib/validationSchemas/enquetePopulationsSchema.js
  packages/app/src/lib/validationSchemas/yup.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200526150538_alter_enquete_reponses_populations.js
  packages/knex/migrations_v2/20200527115159_alter_enquete_reponses_populations.js
Due: api, app

feat(enquete): scroll reset after navigation
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
Due: app

feat(enquete): import individuel tab agrements formations #1801
  packages/api/src/models/EnqueteReponsesAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/repository/enqueteImportRepository.js
  packages/knex/migrations_v2/20200526173100_upd_enquete_reponses_agrements_formations.js
Due: api

feat(enquete): import individuel tab agrements #1801
  packages/api/src/models/EnqueteReponsesAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_AGREMENTS_FORMATIONS.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/enqueteKeysBuilder.service.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_AGREMENTS_FORMATIONS_FORM.const.js
  packages/app/src/components/Enquete/constants/ENQ_REP_INFO_MANDATAIRE_FORM.const.js
  packages/app/src/components/Enquete/constants/enqueteKeysBuilder.service.js
  packages/app/src/components/Enquete/constants/index.js
  packages/app/src/lib/validationSchemas/enqueteMandataireIndividuelSchema.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200526173100_upd_enquete_reponses_agrements_formations.js
Due: api, app

feat(enquete): import individuel tab agrements #1801
  yarn.lock
Due: none

chore(deps): update husky
  package.json
  yarn.lock
Due: none

feat(enquete): fix duplicated response #1801
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/knex/migrations_v2/20200527165608_enquete_response_constraint.js
Due: api, app

feat(enquete): import individuel tab agrements formations #1801 (#1846)
  packages/api/src/models/EnqueteReponsesAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/actionsEnqueteImporter.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_AGREMENTS_FORMATIONS.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/api/src/routes/hasura-actions/enquete-import/constants/enqueteKeysBuilder.service.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete-import/parser/enqueteExcelParserAgrementsFormations.js
  packages/api/src/routes/hasura-actions/enquete-import/repository/enqueteImportRepository.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/requests.js
  packages/api/src/routes/hasura-actions/enquete-mandataire-individuel/schemas.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/app/package.json
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrements.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_AGREMENTS_FORMATIONS_FORM.const.js
  packages/app/src/components/Enquete/constants/ENQ_REP_INFO_MANDATAIRE_FORM.const.js
  packages/app/src/components/Enquete/constants/enqueteKeysBuilder.service.js
  packages/app/src/components/Enquete/constants/index.js
  packages/app/src/lib/validationSchemas/enqueteMandataireIndividuelSchema.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200526173100_upd_enquete_reponses_agrements_formations.js
  packages/knex/migrations_v2/20200527165608_enquete_response_constraint.js
  yarn.lock
Due: api, app

feat(enquete): scroll reset after navigation (#1852)
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
Due: app

feat(admin-mesure): add columns in table #1805
  packages/app/src/components/AdminServices/AdminServiceMesures.js
  packages/app/src/components/AdminServices/queries.js
  packages/app/src/components/AdminUsers/AdminUsersMesures.js
  packages/app/src/components/AdminUsers/queries.js
Due: app

fix(test): fix sql down script and update snap
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200527165608_enquete_response_constraint.js
Due: none
