Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(spellcheck): fix spell check (#2352)
  .k8s/postgres/restore/configmap/anonymize.sql
  packages/app/src/components/ListeBlanche/ListeBlancheService/ListeBlancheServiceForm.js
  packages/app/src/components/MandataireMesureImport/MandataireMesureImport.js
  packages/app/src/components/MesureListButtonBar/MesureListButtonBar.js
  packages/app/src/components/ServiceAntenneInformations/ServiceAntenneInformations.js
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceMesureImport/ServiceMesureImport.js
Due: app

chore(liste-blanche): remove indication 'rattaché' (#2355)
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/ListeBlancheSummary/queries.js
Due: app

chore(gitlab-ci): put "Init Managed Database" in deploy stage (#2356)
  .gitlab-ci.yml
Due: none

chore(contact): use email as label
  packages/app/src/components/Footer/Footer.js
Due: app

feat(mandataire): display message if no court selected
  packages/app/src/components/MandataireBoard/MandataireBoard.js
  packages/app/src/components/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/components/ServiceBoard/ServiceBoard.js
  packages/app/src/components/ServiceEditInformations/ServiceEditInformationsForm.js
Due: app

refactor(mesure): delete cascade
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/AdminUserMandataire/mutations.js
  packages/app/src/components/MesureDelete/mutations.js
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/down.sql
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/up.sql
Due: app

chore(insee): remove use of api insee
  .env.sample
  .k8s/secret-dev.yml
  packages/api/.k8s.values.yml
  packages/api/src/utils/siret.js
Due: api

refactor(mesure): delete cascade (#2359)
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/AdminUserMandataire/mutations.js
  packages/app/src/components/MesureDelete/mutations.js
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/down.sql
  packages/hasura/migrations/1607956544726_mesure_fk_cascade/up.sql
Due: app

chore(satisfaction-compaign): remove feature
  packages/app/pages/admin/satisfaction-campaigns/[satisfaction_campaign_id].js
  packages/app/pages/admin/satisfaction-campaigns/create.js
  packages/app/pages/admin/satisfaction-campaigns/index.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignCreate.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignForm.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignInformations.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminSatisfactionCampaigns/index.js
  packages/app/src/components/AdminSatisfactionCampaigns/mutations.js
  packages/app/src/components/AdminSatisfactionCampaigns/queries.js
  packages/app/src/components/AdminSatisfactionCampaigns/style.js
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/helpers.js
  packages/app/src/components/IndicatorList/queries.js
  packages/app/src/components/Layout/LayoutAdmin.js
  packages/app/src/components/Layout/LayoutDirection.js
  packages/app/src/components/Layout/LayoutMagistrat.js
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Layout/LayoutServices.js
  packages/app/src/components/SatisfactionCampaign/SatisfactionCampaign.js
  packages/app/src/components/SatisfactionCampaign/index.js
  packages/app/src/components/SatisfactionCampaign/mutations.js
  packages/app/src/components/SatisfactionCampaign/queries.js
  packages/app/src/components/SatisfactionCampaign/styles.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/satisfactionCampaignSchema.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1607960128591_drop_view_public_view_indicateur_satisfaction_campaign/up.sql
  packages/hasura/migrations/1607960250931_drop_table_public_satisfaction_campaign_answers/up.sql
  packages/hasura/migrations/1607960269149_drop_table_public_satisfaction_campaigns/up.sql
Due: app

chore(satisfaction-compaign): remove feature
  packages/hasura/migrations/1607960128591_drop_view_public_view_indicateur_satisfaction_campaign/up.sql
  packages/hasura/migrations/1607960250931_drop_table_public_satisfaction_campaign_answers/up.sql
  packages/hasura/migrations/1607960269149_drop_satisfaction_campaigns/up.sql
  packages/hasura/migrations/1607960269149_drop_table_public_satisfaction_campaigns/up.sql
Due: none

chore(satisfaction-compaign): remove feature (#2361)
  packages/app/pages/admin/satisfaction-campaigns/[satisfaction_campaign_id].js
  packages/app/pages/admin/satisfaction-campaigns/create.js
  packages/app/pages/admin/satisfaction-campaigns/index.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignCreate.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignForm.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaignInformations.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminSatisfactionCampaigns/index.js
  packages/app/src/components/AdminSatisfactionCampaigns/mutations.js
  packages/app/src/components/AdminSatisfactionCampaigns/queries.js
  packages/app/src/components/AdminSatisfactionCampaigns/style.js
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/helpers.js
  packages/app/src/components/IndicatorList/queries.js
  packages/app/src/components/Layout/LayoutAdmin.js
  packages/app/src/components/Layout/LayoutDirection.js
  packages/app/src/components/Layout/LayoutMagistrat.js
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Layout/LayoutServices.js
  packages/app/src/components/SatisfactionCampaign/SatisfactionCampaign.js
  packages/app/src/components/SatisfactionCampaign/index.js
  packages/app/src/components/SatisfactionCampaign/mutations.js
  packages/app/src/components/SatisfactionCampaign/queries.js
  packages/app/src/components/SatisfactionCampaign/styles.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/satisfactionCampaignSchema.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1607960269149_drop_satisfaction_campaigns/up.sql
Due: app

feat(admin-lb-delete): admin list-blanche delete mandataire
  packages/app/pages/admin/liste-blanche/[id]/delete.js
  packages/app/src/components/AdminLbUserDelete/AdminLbUserDelete.js
  packages/app/src/components/AdminLbUserDelete/AdminLbUserDeleteForm.js
  packages/app/src/components/AdminLbUserDelete/index.js
  packages/app/src/components/AdminLbUserDelete/mutations.js
  packages/app/src/components/AdminLbUserDelete/style.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/components/ListeBlanche/ListeBlancheMandataires.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeForm.js
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/down.sql
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/up.sql
Due: app

feat(admin-lb-delete): admin list-blanche delete mandataire (#2363)
  packages/app/pages/admin/liste-blanche/[id]/delete.js
  packages/app/src/components/AdminLbUserDelete/AdminLbUserDelete.js
  packages/app/src/components/AdminLbUserDelete/AdminLbUserDeleteForm.js
  packages/app/src/components/AdminLbUserDelete/index.js
  packages/app/src/components/AdminLbUserDelete/mutations.js
  packages/app/src/components/AdminLbUserDelete/style.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/components/ListeBlanche/ListeBlancheMandataires.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeForm.js
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/down.sql
  packages/hasura/migrations/1607967494636_lb_user_fk_cascade/up.sql
Due: app

fix(liste-blanche): delete mandataire only viewable by admin
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeForm.js
Due: app

fix(liste-blanche): delete mandataire only viewable by admin (#2373)
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/components/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeForm.js
Due: app

fix(access-token): update hasura permission for direction
  packages/hasura/metadata/tables.yaml
Due: none

chore(release): version 25.78.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(admin): avoid to store empty mandataire siret
  packages/app/src/components/MandataireEditInformations/MandataireEditInformations.js
Due: app
