Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

Revert "feat: change mandataire services naming and implementation"
  packages/api/db/queries/mesures.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/modals/EditMesure.js
  yarn.lock
Due: api, app

feat: change mandataire services naming and implementation
  packages/api/db/queries/mesures.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/modals/EditMesure.js
  yarn.lock
Due: api, app

fix: code review
  packages/knex/migrations/20190527173248_migration_status_mesures.js
Due: none

refacto: migration
  packages/knex/migrations/20190527173248_migration_status_mesures.js
  packages/knex/migrations/20190528110944_add_services_for_mandataires_service.js
Due: none

feat(services): Migration files for updating services (#244)
  packages/knex/migrations/20190527173248_migration_status_mesures.js
  packages/knex/migrations/20190528110944_add_services_for_mandataires_service.js
Due: none

code review
  packages/app/src/components/tiComponents/TableTi.js
Due: app

feat: change mandataire services naming and implementation (#245)
  packages/api/db/queries/mesures.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/TableTi.js
  packages/app/src/components/tiComponents/modals/EditMesure.js
  yarn.lock
Due: api, app

fix: add a docker-compose host alias to match k8s (#237)
  .gitlab-ci.yml
  docker-compose.override.yaml.sample
  packages/app/Dockerfile
Due: app

fix(docker): make BASE_IMAGE configurable
  .gitlab-ci.yml
  Dockerfile
  README.md
  docker-compose.override.yaml.sample
  packages/app/Dockerfile
  packages/app/next.config.js
  packages/app/nginx.conf
Due: app

fix(lint): add lint and prettier cmd
  packages/api/.eslintrc.js
  packages/api/package.json
Due: api

fix(lint): fix code formating error
  packages/api/__test__/e2e/auth/POST_reset_password.test.js
  packages/api/db/reset.js
  packages/api/routes/mandatairesEtablissements.js
  packages/api/routes/mesures.js
Due: api

feat(lint): add global prettier and lint cmd
  package.json
Due: none

fix(lint-cypress): fix cypress wait
  optional/e2e/cypress/integration/admin.spec.js
  optional/e2e/cypress/integration/tis.spec.js
Due: none

fix(lint-knex): fix error and warning for knex package
  packages/knex/.eslintrc.yml
  packages/knex/migrations/20180307174344_ti_auths.js
  packages/knex/migrations/20180308165353_tis.js
  packages/knex/migrations/20180409144852_user_id_tiss.js
  packages/knex/migrations/20180618160046_mandatairesEtablissements.js
  packages/knex/migrations/20180730180602_addMesureEnAttenteToMandataires.js
  packages/knex/package.json
  packages/knex/seeds/development/0000-reset.js
  packages/knex/seeds/development/0001-tis.js
  packages/knex/seeds/development/0002-user_tis.js
  packages/knex/seeds/development/0010-mandataires.js
  packages/knex/seeds/development/0020-commentaires.js
  packages/knex/seeds/development/0030-mesures.js
  packages/knex/seeds/development/0032-services.js
  packages/knex/seeds/development/0040-insert_region.js
  packages/knex/seeds/development/0050-codePostalLatLngs.js
  packages/knex/seeds/development/0050-insert_departements.js
  packages/knex/seeds/development/0060-insert_etablissements.js
  packages/knex/seeds/development/070-add_tis.js
  packages/knex/seeds/development/080-add_tis_ile_de_France.js
  packages/knex/seeds/production/0000-mesures.js
  packages/knex/seeds/production/0040-insert_region.js
  packages/knex/seeds/production/0050-insert_departements.js
  packages/knex/seeds/production/070-add_tis.js
  packages/knex/seeds/production/080-add_tis_ile_de_France.js
  packages/knex/seeds/production/latlong.js
  packages/knex/seeds/test/0000-reset.js
  packages/knex/seeds/test/0001-tis.js
  packages/knex/seeds/test/0002-user_tis.js
  packages/knex/seeds/test/0010-mandataires.js
  packages/knex/seeds/test/0020-commentaires.js
  packages/knex/seeds/test/0030-mesures.js
  packages/knex/seeds/test/0031-serviceAntennes.js
  packages/knex/seeds/test/0032-services.js
  packages/knex/seeds/test/0040-insert_region.js
  packages/knex/seeds/test/0050-insert_departements.js
  packages/knex/seeds/test/0060-insert_cps.js
Due: none

fix(typescript): fix compilation errors
  packages/jest-environment-knex/src/jest-environment-knex.ts
  packages/jest-environment-knex/yarn-error.log
Due: none

fix(line-jest-environnement-knex): fix tslint errors
  packages/jest-environment-knex/.prettierrc.js
  packages/jest-environment-knex/package.json
  packages/jest-environment-knex/src/jest-environment-knex.ts
Due: none

fix(lint): add missing return for cell
  packages/app/src/components/mandataires/TableMesures.js
Due: app

chore(lint): add tslint-config-prettier
  packages/jest-environment-knex/.prettierrc.js
  packages/jest-environment-knex/package.json
  packages/jest-environment-knex/tslint.json
Due: none

fix(jext-environnement-knew): array
  packages/jest-environment-knex/src/jest-environment-knex.ts
Due: none

fix(test): update snapshot
  packages/api/__test__/e2e/auth/POST_forgot_password.test.js
  packages/api/__test__/e2e/auth/POST_reset_password.test.js
  packages/api/__test__/e2e/auth/__snapshots__/POST_forgot_password.test.js.snap
  packages/api/__test__/e2e/auth/__snapshots__/POST_login.test.js.snap
  packages/api/__test__/e2e/auth/__snapshots__/POST_reset_password.test.js.snap
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/__test__/e2e/inscription/__snapshots__/GET_inscription.test.js.snap
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/__test__/e2e/magistrats/__snapshots__/GET_tis.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mandataires.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_postcode.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_getAllMesuresByTis.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_popup.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_popupMandataire.test.js.snap
Due: api

fix(docker): add a knex service
  README.md
  docker-compose.override.yaml.sample
Due: none

fix(doc): use BASE_IMAGE in knex example command
  README.md
Due: none

feat(magistrats): add numero RG to reservation mesure
  packages/api/routes/mandataireMesures.js
  packages/app/src/components/mandataires/TableMesures.js
  packages/app/src/components/tiComponents/modals/ModalMesureReservation.js
Due: api, app

fix(docker): export nginx port 80
  packages/app/Dockerfile
Due: app

feat(magistrats): add migration files
  packages/knex/migrations/20190529143632_add_numero_rg_to_mesure.js
Due: none
