Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(enquete): import prestations sociales
  packages/api/src/models/EnqueteReponsesPreposePrestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-financement/enquetePreposeFinancementStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-prestations-sociales/enquetePreposePrestationsSocialesStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePrestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnes.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnesForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/index.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/mutations.js
Due: api, app

feat(enquete): import & validation financement
  packages/api/src/models/EnqueteReponsesFinancement.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-financement/enquetePreposeFinancementStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserFinancement.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/app/src/components/Commons/SmallInput.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancement.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnesForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/knex/migrations_v2/20200615121039_upd_enquete_reponses_financement.migration.js
Due: api, app

feat(enquete): validation for prestations sociales
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
Due: app

feat(enquete): import & validation prepose prestations sociales
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-financement/enquetePreposeFinancementStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-prestations-sociales/enquetePreposePrestationsSocialesStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancement.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnes.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/mutations.js
Due: api, app

feat(enquete): prestations sociales for prepose (#1926)
  packages/api/src/models/EnqueteReponsesFinancement.js
  packages/api/src/models/EnqueteReponsesPreposePrestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-financement/enquetePreposeFinancementStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-prestations-sociales/enquetePreposePrestationsSocialesStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserFinancement.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePrestationsSociales.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/queries.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Commons/SmallInput.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancement.js
  packages/app/src/components/Enquete/EnquetePreposeFinancement/EnquetePreposeFinancementForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnes.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRepartitionPersonnesForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/index.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/mutations.js
  packages/hasura/metadata/tables.yaml
  packages/knex/migrations_v2/20200615121039_upd_enquete_reponses_financement.migration.js
Due: api, app

fix(enquete): modalite exercice for prepose
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
Due: app

fix(enquete): modalite exercice for prepose (#1928)
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
Due: app

fix(enquete): rename personel to personnel
  packages/api/src/models/EnqueteReponsesPreposePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/index.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutres.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/index.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/queries.js
Due: api, app

feat(enquete): submit enquete for preposes
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/requests.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeSubmit.js
  packages/app/src/components/Enquete/EnquetePrepose/mutations.js
Due: api, app

fix(knex): update snapshots
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(enquete): prepose issues (#1929)
  packages/api/src/models/EnqueteReponsesPreposePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonnelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes.routes.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/requests.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeSubmit.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/index.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutres.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/index.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/queries.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: api, app

feat(enquete): display confirm dialog before leaving form page
  packages/app/src/components/Enquete/EnqueteConfirmExitInvalidFormDialog.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
Due: app

feat(enquete): prevent navigating if form is not submited
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrement.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/MenuStepper/MenuStepper.js
Due: app

feat(enquete): submit precedent #1912
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrement.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
Due: app

feat(enquete): perposes fix etablissements
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200616082815_upd_enquete_reponses_modalite_exercice.migration.js
  packages/knex/package.json
Due: api, app

feat(enquete): fix navigation
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelWelcome.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeWelcome.js
Due: app

feat(enquete): fix numeric type
  packages/app/src/components/Enquete/EnquetePreposeFinancement/mutations.js
Due: app

feat(enquete): fix import
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
Due: api, app

feat(enquete): fix invalid boolean
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeSubmit.js
Due: app

feat(enquete): refactor useEnqueteContext
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/useEnqueteContext.hook.js
Due: app
