Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(up): wip
  .dockerignore
  CONTRIBUTION.md
  LICENSE
Due: none

fix(auth): localstorage user data
  packages/app/src/routes/Auth.js
Due: app

chore(fix-warns): wip
  yarn.lock
Due: none

fix(pagination): sync with filters
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminEtablissements/AdminEtablissements.js
  packages/app/src/components/AdminServices/AdminServices.js
  packages/app/src/components/AdminTribunaux/AdminTribunaux.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/queries.js
  packages/app/src/hooks/useEffectObjectValuesChange.js
  packages/app/src/hooks/useEffectObjectValuesChangeCallback.js
Due: app

fix(multistage): wip
  .gitlab-ci.yml
Due: none

ci(notify-mattermost): trying
  .gitlab-ci.yml
  scripts/gitops/get-last-version-changes
Due: none

ci(release): yarn test
  scripts/gitops/release
Due: none

ci(release): export CI
  scripts/gitops/release
Due: none

chore(release): version 25.84.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(dependencies): cookie-parser
  packages/api/package.json
  packages/app/package.json
Due: api, app

fix(notify-mattermost): image with bash
  .gitlab-ci.yml
Due: none

chore(release): version 25.84.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ci): bump bash-curl sed fix
  .gitlab-ci.yml
Due: none

chore(release): version 25.84.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(things): security + bugs + routes
  packages/app/src/components/AppForm/FormGroupInput.js
  packages/app/src/components/Signup/SignupServiceInvitation.js
  packages/app/src/components/Signup/SignupServiceInvitationForm.js
  packages/app/src/hooks/useSearchParams.js
  packages/app/src/pages/admin/etablissements/[id].js
  packages/app/src/pages/admin/etablissements/add.js
  packages/app/src/pages/signup/invitation.js
  packages/app/src/routes/Routes.js
  packages/app/src/util/useQuery.js
  packages/hasura/metadata/tables.yaml
Due: app

fix(things): security + bugs + routes (#2438)
  packages/app/src/components/AppForm/FormGroupInput.js
  packages/app/src/components/Signup/SignupServiceInvitation.js
  packages/app/src/components/Signup/SignupServiceInvitationForm.js
  packages/app/src/hooks/useSearchParams.js
  packages/app/src/pages/admin/etablissements/[id].js
  packages/app/src/pages/admin/etablissements/add.js
  packages/app/src/pages/signup/invitation.js
  packages/app/src/routes/Routes.js
  packages/app/src/util/useQuery.js
  packages/hasura/metadata/tables.yaml
Due: app

fix(dependabot-alerts): clean unused deps
  packages/api/package.json
  yarn.lock
Due: api

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
