Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(cookies): fix postgres image wrong branch change
  .k8s/postgres/backup/cronjob.yml
Due: none

feat(cookies): uncomment test login
  packages/app/src/components/Login/Login.js
Due: app

feat(cookies): add tarte aux citrons
  packages/app/pages/_document.js
  packages/app/public/static/tarteaucitron/css/tarteaucitron.css
  packages/app/public/static/tarteaucitron/initTarteaucitron.js
  packages/app/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/app/public/static/tarteaucitron/tarteaucitron.js
  packages/app/public/static/tarteaucitron/tarteaucitron.services.js
  packages/app/src/components/AuthorizationLogin/AuthorizationLogin.js
  packages/app/src/components/Login/Login.js
Due: app

feat(cookies): uncomment test
  packages/app/src/components/AuthorizationLogin/AuthorizationLogin.js
Due: app

feat(cookies): add codacy exclude tarteaucitron
  .codacy.yml
Due: none

feat(cookies): remove piwik add matomo functions
  packages/app/package.json
  packages/app/pages/_app.js
  packages/app/public/static/tarteaucitron/initTarteaucitron.js
  packages/app/src/components/AuthorizationLogin/AuthorizationLogin.js
  packages/app/src/components/Login/Login.js
  packages/app/src/matomo.js
  packages/app/src/piwik.js
  yarn.lock
Due: app

feat(cookies): update codacy exclude path
  .codacy.yml
Due: none

feat(cookies): update codacy exclude
  .codacy.yml
Due: none

feat(cookies): update sentry setup
  packages/app/pages/_app.js
Due: app

feat(cookies): install tarte au citron (#1565)
  .codacy.yml
  .k8s/postgres/backup/cronjob.yml
  packages/app/package.json
  packages/app/pages/_app.js
  packages/app/pages/_document.js
  packages/app/public/static/tarteaucitron/css/tarteaucitron.css
  packages/app/public/static/tarteaucitron/initTarteaucitron.js
  packages/app/public/static/tarteaucitron/lang/tarteaucitron.fr.js
  packages/app/public/static/tarteaucitron/tarteaucitron.js
  packages/app/public/static/tarteaucitron/tarteaucitron.services.js
  packages/app/src/components/AuthorizationLogin/AuthorizationLogin.js
  packages/app/src/components/Login/Login.js
  packages/app/src/matomo.js
  packages/app/src/piwik.js
  yarn.lock
Due: app

feat(tribunal): create autocomplete component
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/TribunalAutoComplete/index.js
  packages/app/src/components/TribunalAutoComplete/queries.js
Due: app

fix(jest): update snaphost
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

feat(next-link): add next-link
  packages/app/src/components/AdminApiLogs/AdminApiLogs.js
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminServices/AdminServices.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.js
  packages/app/src/components/MagistratMandataire/MagistratMandataire.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/components/MagistratMesure/MagistratMesure.js
  packages/app/src/components/ServiceMesureSidebar/ServiceMesureSidebar.js
Due: app

feat(next-link): fix link button as
  packages/app/src/components/Commons/LinkButton.js
Due: app

feat(next-link): fix as link props
  packages/app/src/components/Commons/LinkButton.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/components/MandataireMapPanelMesures/MandataireMapPanelMesures.js
Due: app

fix(link): change props for as in common link
  packages/app/src/components/Commons/Link.js
  packages/app/src/components/MagistratMesure/MagistratMesure.js
Due: app

feat(mesure-import): add service mesure import page
  packages/app/pages/services/mesures/import.js
  packages/app/src/components/Layout/LayoutServices.js
Due: app

feat(mesure-import): update service mesure import validations
  packages/app/src/components/MesureImport/MesureImportErrors.js
  packages/app/src/constants/mesures.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/serviceMesureImportSchema.js
  packages/app/src/util/import/validateImportData.js
Due: app

feat(mesure-import): add service mesure import comps
  packages/app/src/components/MesureImport/DocumentLink.js
  packages/app/src/components/MesureImport/MesureImportService.js
  packages/app/src/components/ServiceMesureImport/ServiceMesureImport.js
  packages/app/src/components/ServiceMesureImport/ServiceMesureImport.test.js
  packages/app/src/components/ServiceMesureImport/index.js
  packages/app/src/components/ServiceMesureImport/mutations.js
  packages/app/src/components/ServiceMesureImport/queries.js
  packages/app/src/components/ServiceMesureImport/style.js
Due: app

feat(next-link): use correct params for push function
  packages/app/pages/admin/services/index.js
  packages/app/src/components/DirectionMandatairesList/MandatairesList.js
  packages/app/src/components/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAdd.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureEdit/MagistratMesureEdit.js
  packages/app/src/components/MagistratMesureServiceTitle/MagistratMesureServiceTitle.js
  packages/app/src/components/MagistratMesures/MagistratMesures.js
  packages/app/src/components/MandataireMap/MandataireMap.js
  packages/app/src/components/MandataireMapPanelMesures/MandataireMapPanelMesures.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivateForm.js
  packages/app/src/components/MandataireMesures/MandataireMesures.js
  packages/app/src/components/ServiceMap/ServiceMap.js
  packages/app/src/components/ServiceMapPanelMesures/ServiceMapPanelMesures.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreate.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesureReactivate/ServiceMesureReactivateForm.js
  packages/app/src/components/ServiceMesures/ServiceMesures.js
Due: app

feat(next-link): add as prop tset on every link (#1585)
  packages/app/pages/admin/services/index.js
  packages/app/src/components/AdminApiLogs/AdminApiLogs.js
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminSatisfactionCampaigns/AdminSatisfactionCampaigns.js
  packages/app/src/components/AdminServices/AdminServices.js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/Commons/Link.js
  packages/app/src/components/Commons/LinkButton.js
  packages/app/src/components/DirectionMandatairesList/MandatairesList.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.js
  packages/app/src/components/MagistratMandataire/MagistratMandataire.js
  packages/app/src/components/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/components/MagistratMesure/MagistratMesure.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAdd.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureEdit/MagistratMesureEdit.js
  packages/app/src/components/MagistratMesureServiceTitle/MagistratMesureServiceTitle.js
  packages/app/src/components/MagistratMesures/MagistratMesures.js
  packages/app/src/components/MandataireMap/MandataireMap.js
  packages/app/src/components/MandataireMapPanelMesures/MandataireMapPanelMesures.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivateForm.js
  packages/app/src/components/MandataireMesures/MandataireMesures.js
  packages/app/src/components/ServiceMap/ServiceMap.js
  packages/app/src/components/ServiceMapPanelMesures/ServiceMapPanelMesures.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreate.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesureReactivate/ServiceMesureReactivateForm.js
  packages/app/src/components/ServiceMesureSidebar/ServiceMesureSidebar.js
  packages/app/src/components/ServiceMesures/ServiceMesures.js
Due: app

feat(mesure): gestion des tribunaux hors agrément (#1581)
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/TribunalAutoComplete/index.js
  packages/app/src/components/TribunalAutoComplete/queries.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: app

feat(next-link): use correct params for dynamic link
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesureSidebar/MandataireMesureSidebar.js
Due: app

feat(mesure-import): log and capture error message in api app
  packages/api/src/app.js
Due: api

fix(mesure-import): test service presence first in mesure-import webhook
  packages/api/src/routes/webhook.js
Due: api

fix(mesure-import): fix service_id retrieval in service import page
  packages/app/pages/services/mesures/import.js
Due: app

feat(mesure-import): handle mesure import service antennes
  packages/app/src/components/MesureImport/MesureImportService.js
  packages/app/src/components/ServiceMesureImport/ServiceMesureImport.js
  packages/app/src/components/ServiceMesureImport/queries.js
Due: app

test(mesure-import): update knex test snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none
