Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(webhook): set mesure reservation email default ti value (#1520)
  packages/api/__test__/e2e/webhooks/emailReservation.test.js
  packages/api/src/email/reservation-email.js
  packages/api/src/routes/webhook.js
Due: api

Fix/ff38 issues (#1510)
  packages/app/next.config.js
  packages/app/package.json
  packages/app/pages/_app.js
  packages/app/pages/_document.js
  packages/app/public/static/polyfill.js
  packages/app/src/polyfills.js
  yarn.lock
Due: app

fix(indicators): update metadata
  packages/hasura/migrations/metadata.yaml
Due: none

fix(indicators): add style and data rework
  packages/app/pages/indicateurs/[departement_code].js
  packages/app/pages/indicateurs/index.js
  packages/app/pages/indicators/index.js
  packages/app/src/components/Footer/Footer.js
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/index.js
  packages/app/src/components/IndicatorList/queries.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.test.js
  packages/app/src/components/IndicatorsMenu/index.js
  packages/app/src/components/IndicatorsMenu/queries.js
  packages/app/src/util/auth.js
  packages/knex/migrations_v2/20200227152132_indicators_views_v2.js
Due: app

fix(indicators): update snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200224132801_indicators_views.js
  packages/knex/migrations_v2/20200227152132_indicators_views_v2.js
Due: none

fix(script-sql): revert script 20200224132801_indicators_views
  packages/knex/migrations_v2/20200224132801_indicators_views.js
Due: none

Fix/indicators (#1517)
  packages/app/pages/indicateurs/[departement_code].js
  packages/app/pages/indicateurs/index.js
  packages/app/pages/indicators/index.js
  packages/app/src/components/Footer/Footer.js
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/index.js
  packages/app/src/components/IndicatorList/queries.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.test.js
  packages/app/src/components/IndicatorsMenu/index.js
  packages/app/src/components/IndicatorsMenu/queries.js
  packages/app/src/util/auth.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200227152132_indicators_views_v2.js
Due: app

chore(release): version 25.22.3
  CHANGELOG.md
  lerna.json
  optional/e2e/.runners/puppetteer/CHANGELOG.md
  optional/e2e/.runners/puppetteer/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

build(dep): add @next/bundle-analyzer
  packages/app/package.json
Due: app

feat(indicateurs): update typo and style
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorsMenu/IndicatorsMenu.js
Due: app

feat(indicateurs): update national query
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/queries.js
Due: app

chore(release): version 25.23.0
  CHANGELOG.md
  lerna.json
  optional/e2e/.runners/puppetteer/CHANGELOG.md
  optional/e2e/.runners/puppetteer/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(forgot-password): handle forgot password user notfound and add tests
  packages/api/__test__/e2e/user/forgotPassword.test.js
  packages/api/src/controllers/user/forgot-password.js
Due: api

chore(service): update labels
  packages/app/src/components/ServiceAntenneSidebar/PreferencesPanel.js
  packages/app/src/components/ServiceMemberInvitationCreate/ServiceMemberInvitationCreate.js
  packages/app/src/components/ServiceSidebar/ServiceSidebar.js
Due: app

chore(service): update labels (#1532)
  packages/app/src/components/ServiceAntenneSidebar/PreferencesPanel.js
  packages/app/src/components/ServiceMemberInvitationCreate/ServiceMemberInvitationCreate.js
  packages/app/src/components/ServiceSidebar/ServiceSidebar.js
Due: app
