Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(map): magistrats map center (#1354)
  packages/app/src/components/MagistratMapMandataires/MagistratMandataires.js
  packages/app/src/components/MagistratMapMandataires/MagistratMapMandataires.js
  packages/app/src/components/UserContext/queries.js
  packages/hasura/migrations/metadata.yaml
Due: app

build(env): change DATABASE_URL when running build
  .env.build
Due: none

build(env): change DATABASE_URL when running build (#1359)
  .env.build
Due: none

revert: ci(app): over engineered frontend build
  packages/app/.gitlab-ci.yml
Due: app

ci(gitlab): restore restore job
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

ci(gitlab): restore restore job (2)
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

ci(gitlab): change postgres secret name
  .k8s/postgres/restore/restore-job.yml
Due: none

ci(gitlab): restore restore job (#1361)
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/restore/restore-job.yml
Due: none

rename app static to public
  packages/app/Dockerfile
Due: app

ci(gitlab): use thomas limits
  .k8s/postgres/values-postgresql.yaml
Due: none

fix(forms): revert to fetch query in magistrat mesure delete
  packages/app/pages/magistrats/mesures/[mesure_id]/delete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDelete.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
Due: app

ci(cahe): remove cache usage
  .gitlab-ci/extends.yml
  packages/app/.gitlab-ci.yml
Due: app

ci(cahe): remove cache usage (#1363)
  .gitlab-ci/extends.yml
  packages/app/.gitlab-ci.yml
Due: app

ci(test): comment test / lint kobs
  packages/api/.gitlab-ci.yml
  packages/app/.gitlab-ci.yml
  packages/graphql-server/.gitlab-ci.yml
  packages/knex/.gitlab-ci.yml
Due: api, app

ci(test): comment test / lint kobs (#1364)
  packages/api/.gitlab-ci.yml
  packages/app/.gitlab-ci.yml
  packages/graphql-server/.gitlab-ci.yml
  packages/knex/.gitlab-ci.yml
Due: api, app

ci(gitlab): add app build dependency
  packages/app/.gitlab-ci.yml
Due: app

ci(gitlab): change default git clone depth
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/variables.yml
Due: none

chore(release): version 25.16.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
