Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(db): create mandataire_tis (#2258)
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/src/auth/strategies/authLoginPasswordStrategy.js
  packages/api/src/controllers/user/signup.js
  packages/api/src/db/queries/tis.js
  packages/api/src/email/inscription.js
  packages/api/src/models/Mandataire.js
  packages/api/src/models/MandataireTis.js
  packages/api/src/models/User.js
  packages/app/src/components/AdminUsers/AdminMandataireTribunaux.js
  packages/app/src/components/AdminUsers/AdminUserDetails.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/mutations.js
  packages/app/src/components/AdminUsers/queries.js
  packages/app/src/components/ListeBlanche/queries.js
  packages/app/src/components/MandataireInformations/MandataireInformations.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEdit.js
  packages/app/src/components/MesureCreateOrEdit/queries.js
  packages/app/src/components/MesureImport/useMesureImportManager.hook.js
  packages/app/src/components/Signup/signup.js
  packages/app/src/components/UserContext/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20201020145108_create_mandataire_tis.js
  packages/knex/migrations_v2/20201020155108_alter_view_mesure_gestionnaire_tis copy.js
  packages/knex/migrations_v2/20201020165108_drop_user_tis.js
  packages/knex/seeds/development/0041-mandataires_tis.js
  packages/ui/src/components/Antenne/Antenne.js
Due: api, app

chore(api): update snapshot
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
Due: api

feat: add email_reservation action
  .env.build
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

feat: add email_reservation action (#2259)
  .env.build
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

chore: add the depencencies :)
  packages/graphql/package.json
  yarn.lock
Due: none

feat(calculate-mesure): try using action
  .env.build
  .env.sample
  .gitlab-ci/env.sh
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/api/src/server.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/graphql/.gitignore
  packages/graphql/package.json
  packages/graphql/src/datasource/index.ts
  packages/graphql/src/datasource/mesure.api.ts
  packages/graphql/src/resolvers/mutation/index.ts
  packages/graphql/src/schemas/index.ts
  packages/graphql/src/schemas/mesure-statistic.schema.ts
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/remote_schemas.yaml
Due: api, app

feat(calculate-states): move function in api package
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/graphql/src/resolvers/mesure-stat.resolver.ts
  packages/graphql/src/resolvers/mutation/index.ts
Due: api

feat(available-mesures): move function in api package
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/components/DirectionIndicators/AvailableMesureIndicator.js
  packages/app/src/components/DirectionIndicators/queries.js
  packages/graphql/src/datasource/department-availability.api.ts
  packages/graphql/src/datasource/index.ts
  packages/graphql/src/resolvers/query/mesure-stat/available-mesure-number.ts
  packages/graphql/src/resolvers/query/mesure-stat/department-availabilities.ts
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/knex/migrations_v2/20201023192636_upd-view.js
Due: api, app

feat(available-mesures): move function in api package
  packages/app/src/components/DirectionAvailabilityMap/queries.js
  packages/app/src/components/DirectionIndicators/AvailableMesureIndicator.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/graphql/src/resolvers/mesure-stat.resolver.ts
  packages/graphql/src/resolvers/query/mesure-stat/department-availabilities.ts
  packages/graphql/src/types/resolvers-types.ts
Due: app

feat(closed-mesures): move function in api package
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/components/DirectionIndicators/ClosedMesureIndicator.js
  packages/app/src/components/DirectionIndicators/queries.js
  packages/app/src/components/MesureContext/MesureContext.js
  packages/graphql/src/resolvers/query/mesure-stat/closed-mesure-number.ts
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: api, app

feat(opened-mesures): move function in api package
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/components/DirectionIndicators/OpenMesureIndicator.js
  packages/app/src/components/DirectionIndicators/queries.js
Due: api, app

feat(opened-mesures): delete graph package
  package.json
  packages/app/src/components/AdminServices/AdminServiceMesures.js
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureDelete/mutations.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureClose/MesureClose.js
  packages/app/src/components/MesureClose/mutations.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEdit.js
  packages/app/src/components/MesureCreateOrEdit/mutations.js
  packages/app/src/components/MesureDelete/MesureDelete.js
  packages/app/src/components/MesureDelete/mutations.js
  packages/app/src/components/MesureReactivate/MesureReactivate.js
  packages/app/src/components/MesureReactivate/mutations.js
  packages/app/src/components/Service/mutations.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: app

feat(delete-mesure): remove email-cancel-reservation event in action
  .env.build
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/mesure/hasura-actions.mesures.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureDelete/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

feat(delete-mesure): remove email-cancel-reservation event in action (#2261)
  .env.build
  .env.sample
  docker-compose.built.yaml
  docker-compose.yaml
  packages/api/src/routes/hasura-actions/mesure/hasura-actions.mesures.routes.js
  packages/api/src/routes/hasura-events/hasura-events.routes.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureDelete/mutations.js
  packages/hasura/.k8s.values.yml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

fix(calculate-mesure): update hasura permission
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/hasura/metadata/actions.yaml
Due: api, app

fix(calculate-mesure): change output
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/api/src/routes/hasura-actions/mesure/hasura-actions.mesures.routes.js
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/app/src/components/MagistratMesureAdd/queries.js
  packages/app/src/components/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/components/MagistratMesureDelete/mutations.js
  packages/app/src/components/MagistratMesures/MagistratMesures.js
  packages/app/src/components/MagistratMesures/queries.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureClose/mutations.js
  packages/app/src/components/MesureCreateOrEdit/mutations.js
  packages/app/src/components/MesureDelete/mutations.js
  packages/app/src/components/MesureReactivate/mutations.js
  packages/app/src/components/Service/mutations.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: api, app

chore(css): change mesure badge css
  packages/app/pages/services/index.js
Due: app
