Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(enquete): fix mandataire infos generales + formation (#1901)
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/hasura/migrations/metadata.yaml
Due: app

feat(enquete): enquete for prepose (modalite exercice)
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserAgrementsPopulations.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes-import.checker.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/app/src/components/Commons/SmallInput.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/constants/mandatairePrepose.js
  packages/app/src/util/index.js
  packages/app/src/util/index.test.js
  packages/app/src/util/option/OptionUtil.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(enquete): modalite exercice for prepose
  packages/api/src/routes/hasura-actions/enquete/common/constants/ENQ_REP_MODALITE_EXERCICE.const.js
  packages/api/src/routes/hasura-actions/enquete/common/constants/index.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/constants/mandatairePrepose.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

fix(eslint): enquete
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
Due: app

feat(enquete): modalite exercice for prepose (#1892)
  packages/api/src/routes/hasura-actions/enquete/common/constants/ENQ_REP_MODALITE_EXERCICE.const.js
  packages/api/src/routes/hasura-actions/enquete/common/constants/index.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserAgrementsPopulations.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes-import.checker.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/app/src/components/Commons/SmallInput.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/constants/mandatairePrepose.js
  packages/app/src/util/index.js
  packages/app/src/util/index.test.js
  packages/app/src/util/option/OptionUtil.js
  packages/hasura/migrations/metadata.yaml
Due: api, app

feat(enquete): validation mandataire populations
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/populations/enquetePopulationsValidator.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/populations/populationsStatus.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePopulations/enquetePopulationsSchema.js
  packages/app/src/components/Enquete/EnquetePopulations/mutations.js
  packages/app/src/components/Enquete/EnquetePopulations/queries.js
Due: api, app

feat(enquete): validation mandataire populations
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prestations-sociales/prestationsSocialesStatus.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes-import.checker.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/src/components/Enquete/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/app/src/lib/validationSchemas/enquetePrestationsSocialesSchema.js
Due: api, app

feat(enquete): remove NOT IMPLEMENTED
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
Due: api

feat(enquete): validation mandataire populations (#1906)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/populations/enquetePopulationsValidator.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/populations/populationsStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prestations-sociales/prestationsSocialesStatus.js
  packages/api/src/routes/hasura-actions/enquete/hasura-actions.enquetes-import.checker.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementsForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsAutreMesures.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsCuratelle.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsForm.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsMAJ.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsSauvegardeJustice.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/app/src/components/Enquete/EnquetePopulations/enquetePopulationsSchema.js
  packages/app/src/components/Enquete/EnquetePopulations/mutations.js
  packages/app/src/components/Enquete/EnquetePopulations/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_INFO_MANDATAIRE.const.js
  packages/app/src/lib/validationSchemas/enquetePrestationsSocialesSchema.js
Due: api, app

feat(enquete): retours partiel dgcs #1907
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
Due: app

feat(enquete): retours partiel dgcs #1907 (#1908)
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/mutations.js
Due: app

feat(enquete): modalite exercice for prepose
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/modalites-exercice/enqueteModalitesExerciceStatus.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
Due: api, app

feat(enquete): modalite exercice for prepose (#1910)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/modalites-exercice/enqueteModalitesExerciceStatus.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissements.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
Due: api, app

feat(hasura): upgrade to config v2
  packages/hasura/config.yaml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/allow_list.yaml
  packages/hasura/metadata/functions.yaml
  packages/hasura/metadata/query_collections.yaml
  packages/hasura/metadata/remote_schemas.yaml
  packages/hasura/metadata/tables.yaml
  packages/hasura/metadata/version.yaml
Due: none

feat(hasura): upgrade to config v2 (#1909)
  packages/hasura/config.yaml
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/allow_list.yaml
  packages/hasura/metadata/functions.yaml
  packages/hasura/metadata/query_collections.yaml
  packages/hasura/metadata/remote_schemas.yaml
  packages/hasura/metadata/tables.yaml
  packages/hasura/metadata/version.yaml
Due: none

chore(release): version 25.40.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(enquete): prepose personel et formation
  packages/api/src/models/EnqueteReponsesPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose_personel_formation/enquetePreposePersonelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/index.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/queries.js
  packages/app/src/util/index.js
  packages/hasura/metadata/tables.yaml
  packages/knex/migrations_v2/20200609083259_create_enquete_reponses_prepose_personel_formation.js
Due: api, app

feat(enquete): prepose personel et formation (#1915)
  packages/api/src/models/EnqueteReponsesPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose_personel_formation/enquetePreposePersonelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/index.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/queries.js
  packages/app/src/util/index.js
  packages/hasura/metadata/tables.yaml
  packages/knex/migrations_v2/20200609083259_create_enquete_reponses_prepose_personel_formation.js
Due: api, app
