Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(deps): update dependency webpack to ^4.41.4
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency knex to ^0.20.4
  packages/knex/package.json
  yarn.lock
Due: none

fix(hasura-permission): remove mandataire role
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura-permission): remove mandataire role (#1224)
  packages/hasura/migrations/metadata.yaml
Due: none

fix(deps): update dependency lodash to ^4.17.15
  packages/graphql-server/package.json
Due: none

chore(release): version 25.12.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(deps): update dependency mapbox-gl to ^1.6.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency next to ^9.1.6
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency husky to ^3.1.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency lerna to ^3.19.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency passport to ^0.4.1
  packages/api/package.json
  yarn.lock
Due: api

fix(metadata-mandataires): add antenne to mandataires permissions
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEdit.js
  packages/hasura/migrations/metadata.yaml
Due: app

chore(app): add @types/node peer dependency
  packages/app/package.json
Due: app

chore(app): add @types/node peer dependency (#1233)
  packages/app/package.json
Due: app

chore(app): add @types/react peer dependency
  packages/app/package.json
  yarn.lock
Due: app

chore(app): add @types/react peer dependency (#1234)
  packages/app/package.json
  yarn.lock
Due: app

chore(app): add apollo-client peer dependency
  packages/app/package.json
  yarn.lock
Due: app

chore(app): add apollo-client peer dependency (#1235)
  packages/app/package.json
  yarn.lock
Due: app

ci(gitlab): make registerqtion stage interruptible
  .gitlab-ci.yml
Due: none

ci(gitlab): make registerqtion stage interruptible (#1236)
  .gitlab-ci.yml
Due: none

chore(graphql-server): specify ts entry files
  packages/graphql-server/tsconfig.json
Due: none

chore(graphql): specify ts entry files (#1237)
  packages/graphql-server/tsconfig.json
Due: none
