Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(k8s): anonymize the dump
  .k8s/postgres/backup/configmap/backup.sh
  .k8s/postgres/backup/cronjob.yml
Due: none

feat(k8s): anonymize the dump (#819)
  .k8s/postgres/backup/configmap/backup.sh
  .k8s/postgres/backup/cronjob.yml
Due: none

haxx(k8s): use prod certificat in dev bro
  .k8s/certificate/certificate.dev.yml
Due: none

fix(k8s): add missing anonymize files
  .k8s/postgres/backup/configmap/anonymize.sql
  .k8s/postgres/backup/configmap/anonymous.sh
Due: none

feat(informations-panel): add panel and fixes
  packages/app/pages/magistrats/index.js
  packages/app/pages/services/index.js
  packages/app/src/components-v2/Footer/Footer.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMesures/queries.js
Due: app

feat(informations-panel): add panel and fixes (#821)
  packages/app/pages/magistrats/index.js
  packages/app/pages/services/index.js
  packages/app/src/components-v2/Footer/Footer.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMesures/queries.js
Due: app

fix(next-export): remove get data from tree add default value for user
  packages/app/src/components-v2/UserInformations/UserInformations.js
  packages/app/src/lib/apollo/with-apollo-client.js
Due: app

fix(panel): update panel texts
  packages/app/pages/magistrats/index.js
  packages/app/pages/services/index.js
Due: app

fix(next-export): remove get data from tree add default value fo… (#822)
  packages/app/src/components-v2/UserInformations/UserInformations.js
  packages/app/src/lib/apollo/with-apollo-client.js
Due: app

fix(panel): update panel texts (#823)
  packages/app/pages/magistrats/index.js
  packages/app/pages/services/index.js
Due: app

chore(release): version 24.4.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

chore(release): version 24.4.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(k8s): invalid base64
  .k8s/secret-dev.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
