Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(migrations): update migration and knex rollback
  packages/knex/migrations_v2/201910019154227_add_coordinates.js
  packages/knex/migrations_v2/201910019154228_postal.js
  packages/knex/migrations_v2/201910019154229_add_coordinates_from_table.js
  packages/knex/package.json
Due: none

fix(migrations): update migration names
  packages/knex/migrations_v2/201912019154227_add_coordinates.js
  packages/knex/migrations_v2/201912019154228_postal.js
  packages/knex/migrations_v2/201912019154229_add_coordinates_from_table.js
Due: none

fix(seeds): remove useless seeds
  packages/knex/seeds/development/0012-codePostalLatLngs.js
Due: none

fix(migration): rename script
  packages/knex/migrations_v2/20191213113000_add_coordinates.js
  packages/knex/migrations_v2/20191213122000_postal.js
  packages/knex/migrations_v2/20191213131000_add_coordinates_from_table.js
Due: none

fix(migration): fix test
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20191213113000_add_coordinates.js
  packages/knex/migrations_v2/20191213122000_postal.js
  packages/knex/migrations_v2/20191213131000_add_coordinates_from_table.js
Due: none

fix(test): update snapshot
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_postcode.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mesures.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_getAllMesuresByTis.test.js.snap
  packages/app/src/components/MagistratMapMandatairesPanelProfile/__snapshots__/MagistratMapMandatairesPanelProfile.test.js.snap
Due: api, app

fix(geo-migration): update sql migration (#1110)
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/GET_postcode.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/__test__/e2e/mandataires/__snapshots__/PUT_mesures.test.js.snap
  packages/api/__test__/e2e/mesures/__snapshots__/GET_getAllMesuresByTis.test.js.snap
  packages/app/src/components/MagistratMapMandatairesPanelProfile/__snapshots__/MagistratMapMandatairesPanelProfile.test.js.snap
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20191213113000_add_coordinates.js
  packages/knex/migrations_v2/20191213122000_postal.js
  packages/knex/migrations_v2/20191213131000_add_coordinates_from_table.js
Due: api, app

fix(app): there is not router sometimes (#1109)
  packages/app/src/components/Commons/LinkButton.js
Due: app

fix(migrations): remove useless migrations
  packages/knex/migrations_v2/201912019154227_add_coordinates.js
  packages/knex/migrations_v2/201912019154228_postal.js
  packages/knex/migrations_v2/201912019154229_add_coordinates_from_table.js
Due: none

chore(lock): lock update
  yarn.lock
Due: none

fix(cancel-resevation): test if sesssion vars is definedd
  packages/api/routes/webhook.js
Due: api

fix(cancel-resevation): test if sesssion vars is definedd (#1114)
  packages/api/routes/webhook.js
Due: api

fix(import): import all well format mesures
  packages/app/src/components/MesureImport/MesureImport.js
Due: app

fix(import): import all well format mesures (#1115)
  packages/app/src/components/MesureImport/MesureImport.js
Due: app

feat(admin-user): display active indicator
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/style.js
Due: app

feat(admin-import): handle import page visibility
  packages/app/pages/admin/users/[user_id].js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/util/index.js
  packages/app/src/util/users/UserUtils.js
Due: app

feat(admin-user): display active indicator (#1116)
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/components/AdminUsers/style.js
Due: app

fix(admin-import): handle import for service
  packages/api/email/mesures-import-email.js
  packages/api/routes/webhook.js
Due: api

fix(admin-import): handle import for service (#1119)
  packages/api/email/mesures-import-email.js
  packages/api/routes/webhook.js
Due: api

feat(admin-import): handle import page visibility (#1118)
  packages/app/pages/admin/users/[user_id].js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/util/index.js
  packages/app/src/util/users/UserUtils.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
