Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(sdpf): fix aggreagete count on lb sdpf
  packages/api/src/models/User.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfForm.js
  packages/app/src/containers/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/containers/ListeBlancheSummary/queries.js
Due: api, app

fix(greffier): fix display error for greffier without ti_id (#2885)
  packages/app/src/containers/GreffierEditInformations/GreffierEditInformationsForm.js
  packages/app/src/validation-schemas/greffierEditSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(sdpf): fix aggreagete count on lb sdpf (#2886)
  packages/api/src/models/User.js
  packages/app/src/containers/ListeBlanche/ListeBlancheSdpf/ListeBlancheSdpfForm.js
  packages/app/src/containers/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/containers/ListeBlancheSummary/queries.js
Due: api, app

chore(release): version 25.156.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(release): version 25.156.6
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(release): version 25.156.7
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(release): version 25.156.8
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(display-siret): fix displayed siret for mandataire
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformationsForm.js
Due: app

fix(display-siret): fix displayed siret for mandataire (#2888)
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformationsForm.js
Due: app

chore(release): version 25.156.9
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(statistic): add dpf and sdpf to statistics
  packages/app/src/containers/ListeBlanche/ListBlancheDpfi/ListeBlancheDpfiForm.js
  packages/hasura/migrations/default/1669999838619_add_dpf_to_view_nation_indicateur_inscrit/down.sql
  packages/hasura/migrations/default/1669999838619_add_dpf_to_view_nation_indicateur_inscrit/up.sql
  packages/hasura/migrations/default/1669999861069_add_dpf_to_view_nation_indicateur_inscrit/down.sql
  packages/hasura/migrations/default/1669999861069_add_dpf_to_view_nation_indicateur_inscrit/up.sql
  packages/hasura/migrations/default/1670000096706_add_dpf_to_view_nation_indicateur_login/down.sql
  packages/hasura/migrations/default/1670000096706_add_dpf_to_view_nation_indicateur_login/up.sql
Due: app

feat(statistics): show statistics for dpf/sdpf
  packages/app/src/containers/IndicatorList/IndicatorList.js
  packages/app/src/containers/IndicatorList/IndicatorListTotal.js
  packages/app/src/containers/IndicatorList/queries.js
Due: app

feat(statistics): show departement statistics for dpf/sdpf
  packages/hasura/migrations/default/1670238465886_view_departement_indicateur_login_DPF/down.sql
  packages/hasura/migrations/default/1670238465886_view_departement_indicateur_login_DPF/up.sql
  packages/hasura/migrations/default/1670317309772_run_sql_migration/down.sql
  packages/hasura/migrations/default/1670317309772_run_sql_migration/up.sql
Due: none

feat(statistics): show departement statistics for dpf/sdpf
  packages/app/src/containers/IndicatorList/IndicatorList.js
  packages/app/src/containers/IndicatorList/queries.js
Due: app

Feat add statistics dpf (#2890)
  packages/app/src/containers/IndicatorList/IndicatorList.js
  packages/app/src/containers/IndicatorList/IndicatorListTotal.js
  packages/app/src/containers/IndicatorList/queries.js
  packages/app/src/containers/ListeBlanche/ListBlancheDpfi/ListeBlancheDpfiForm.js
  packages/hasura/migrations/default/1669999838619_add_dpf_to_view_nation_indicateur_inscrit/down.sql
  packages/hasura/migrations/default/1669999838619_add_dpf_to_view_nation_indicateur_inscrit/up.sql
  packages/hasura/migrations/default/1669999861069_add_dpf_to_view_nation_indicateur_inscrit/down.sql
  packages/hasura/migrations/default/1669999861069_add_dpf_to_view_nation_indicateur_inscrit/up.sql
  packages/hasura/migrations/default/1670000096706_add_dpf_to_view_nation_indicateur_login/down.sql
  packages/hasura/migrations/default/1670000096706_add_dpf_to_view_nation_indicateur_login/up.sql
  packages/hasura/migrations/default/1670238465886_view_departement_indicateur_login_DPF/down.sql
  packages/hasura/migrations/default/1670238465886_view_departement_indicateur_login_DPF/up.sql
  packages/hasura/migrations/default/1670317309772_run_sql_migration/down.sql
  packages/hasura/migrations/default/1670317309772_run_sql_migration/up.sql
Due: app

feat(p-script): add mesures, mesuresEtat, mesuresResources, mesuresResourcesPrestations
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

feat(p5-script): add p5 folder name
  packages/api/.k8s/templates/deployment.yaml
Due: api

Feat p5 script (#2874)
  packages/api/.k8s/templates/deployment.yaml
  packages/api/package.json
  packages/api/src/models/MandatairesIndividuelDepartement.js
  packages/api/src/models/index.js
  packages/api/src/routes/hasura-triggers/hasura-triggers.routes.js
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/server.js
  packages/api/src/utils/sftp/index.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/cron_triggers.yaml
  yarn.lock
Due: api

chore(release): version 25.156.10
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(p5-timeout): change timeout for p5 export
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/cron_triggers.yaml
Due: none

fix(p5-timeout): change timeout for p5 export (#2891)
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/cron_triggers.yaml
Due: none

chore(release): version 25.156.11
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(p5-timeout): change timeout for p5 export
  packages/api/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/cron_triggers.yaml
Due: api

fix(p5-timeout): change timeout for p5 export (#2895)
  packages/api/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/cron_triggers.yaml
Due: api

chore(release): version 25.156.12
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(p5-export): return response before executing job
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-export): typo
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-export): return response before executing job (#2896)
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

chore(release): version 25.156.13
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(p5-export): use streams for sftp upload
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/utils/sftp/index.js
Due: api

fix(p5-export): use streams for sftp upload (#2897)
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/utils/sftp/index.js
Due: api

chore(release): version 25.156.14
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(p5-export): stream from database to sftp client
  packages/api/package.json
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/routes/hasura-triggers/p5-extract/queries.js
  packages/api/src/utils/sftp/index.js
  yarn.lock
Due: api

fix(p5-export): remove knex import
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-export): change pool size
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api

fix(p5-export): typo
  packages/api/package.json
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  yarn.lock
Due: api

fix(p5-export): use knex stream
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
  packages/api/src/routes/hasura-triggers/p5-extract/queries.js
Due: api

fix(p5-export): resolve merge
  packages/api/src/routes/hasura-triggers/p5-extract/index.js
Due: api
