Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(enquete): trim map values (#1982)
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormYesNoField.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.test.js
Due: api, app

fix(enquete): fix bug init mandataire (#1983)
  packages/api/src/middlewares/hasura-error-handler.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/requests.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
Due: api, app

feat(enquete-service): display enquete only for paris
  packages/app/src/components/Layout/LayoutServices.js
  packages/app/src/components/Layout/LayoutServicesMap.js
  packages/app/src/components/UserContext/queries.js
Due: app

chore(release): version 25.45.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(enquete): it closes #1985
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
Due: api

fix(enquete): it closes #1984
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
Due: api

fix(enquete): it closes #1986
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
Due: app

fix(enquete): fix form bugs & prevent import if not draft #1801
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/useEnqueteImportManager.hook.js
  packages/app/src/util/index.js
Due: app

fix(enquete): import issues (#1988)
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
Due: api, app

fix(enquete): fix form bugs & prevent import if not draft #1801 (#1987)
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/EnqueteImport/useEnqueteImportManager.hook.js
  packages/app/src/util/index.js
Due: app

fix(import): import 0 value
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
Due: api

fix(import): import 0 value (#1990)
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
Due: api

fix(enquete): individuel secretaire_specialise_etp
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
Due: app

fix(enquete): individuel secretaire_specialise_etp
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/agrements_formations/enqueteAgrementsFormationsStatus.js
Due: api

Toub/fix enquete individuel secretaire specialise etp (#1991)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/agrements_formations/enqueteAgrementsFormationsStatus.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsFormationForm.js
Due: api, app

fix(enquete): mandataire modalites exercice #1989
  packages/api/src/models/EnqueteReponsesModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/common/constants/ENQ_REP_MODALITE_EXERCICE.const.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/modalites-exercice/enqueteModalitesExerciceStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserModalitesExercice.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/mutations.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/queries.js
  packages/app/src/components/Enquete/constants/ENQ_REP_MODALITE_EXERCICE.const.js
  packages/app/src/components/Enquete/constants/index.js
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200623160019_alter_enquete_reponses_modalites_exercice.js
Due: api, app
