Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(editor): add editor api tokens (#1445)
  packages/app/pages/admin/editors/[editor_id].js
  packages/app/pages/admin/editors/create.js
  packages/app/pages/admin/editors/index.js
  packages/app/src/components/AdminEditors/AdminEditorActivity.js
  packages/app/src/components/AdminEditors/AdminEditorCreate.js
  packages/app/src/components/AdminEditors/AdminEditorForm.js
  packages/app/src/components/AdminEditors/AdminEditorInformations.js
  packages/app/src/components/AdminEditors/AdminEditors.js
  packages/app/src/components/AdminEditors/index.js
  packages/app/src/components/AdminEditors/mutations.js
  packages/app/src/components/AdminEditors/queries.js
  packages/app/src/components/AdminEditors/style.js
  packages/app/src/components/Layout/LayoutAdmin.js
  packages/app/src/lib/validationSchemas/adminEditorSchema.js
  packages/app/src/lib/validationSchemas/index.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200122175241_create_editors.js
Due: app

chore(release): version 25.19.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(prod): fix dump before going to production
  .gitlab-ci/stages/deploy.yml
Due: none

chore(release): version 25.19.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(prod): fix metabase deployment
  .k8s/metabase/.k8s-deploy-metabase.yml
Due: none

chore(release): version 25.19.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(sentry-ff-errors): add p-debounce to transpiled modules
  packages/app/scripts/transpile_modules.sh
Due: app

fix(sentry-ff-errors): dont use finally in signup
  packages/app/src/components/Signup/signup.js
Due: app

fix(sentry-ff): fix sentry firefox 38 issues (#1455)
  packages/app/scripts/transpile_modules.sh
  packages/app/src/components/Signup/signup.js
Due: app

fix(sentry-ff): dont use date-fns/upgrade
  packages/api/src/email/cancel-reservation-email.js
  packages/api/src/email/reservation-email.js
  packages/app/src/components/MagistratMesures/utils.js
  packages/app/src/components/MandataireMesures/utils.js
  packages/app/src/components/MesureContext/utils.js
  packages/app/src/util/mandataires/MandataireUtils.js
  packages/app/src/util/services/index.js
Due: api, app

fix(sentry-ff): remove date-fns/upgrade from api and app
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

fix(sourcemaps): increase next build max old space size
  packages/app/package.json
Due: app

fix(sentry-ff): fix magistrat issues in ff36/38 (#1456)
  packages/api/package.json
  packages/api/src/email/cancel-reservation-email.js
  packages/api/src/email/reservation-email.js
  packages/app/package.json
  packages/app/src/components/MagistratMesures/utils.js
  packages/app/src/components/MandataireMesures/utils.js
  packages/app/src/components/MesureContext/utils.js
  packages/app/src/util/mandataires/MandataireUtils.js
  packages/app/src/util/services/index.js
  yarn.lock
Due: api, app

feat(sentry): add sourcemap (#1458)
  packages/app/next.config.js
  packages/app/package.json
  yarn.lock
Due: app

chore(release): version 25.20.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app
