Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(service-antenne): rework ui
  packages/app/pages/services/antennes/[antenne_id].js
  packages/app/pages/services/informations.js
  packages/app/src/components/ServiceAntenneForms/ServiceAntenneForm.js
  packages/app/src/components/ServiceAntenneInformations/ServiceAntenneInformations.js
  packages/app/src/components/ServiceAntenneInformations/ServiceInformations.js
  packages/app/src/components/ServiceAntenneInformations/index.js
  packages/app/src/components/ServiceAntenneInformations/style.js
  packages/app/src/components/ServiceAntenneSidebar/PreferencesPanel.js
  packages/app/src/components/ServiceAntenneSidebar/index.js
  packages/app/src/components/ServiceAntenneSidebar/queries.js
  packages/app/src/components/ServiceAntenneSidebar/style.js
  packages/app/src/components/ServiceAntennes/ServiceAntennes.js
  packages/app/src/components/ServiceInformations/ServiceInformations.js
Due: app

feat(service-antenne): delete address_street
  packages/api/src/controllers/editor/service-antennes.js
  packages/app/src/components/DirectionMandatairesExport/queries.js
  packages/app/src/components/MagistratMandatairesList/queries.js
  packages/app/src/components/MagistratServiceAntennes/queries.js
  packages/app/src/components/ServiceAntenneInformations/queries.js
  packages/app/src/components/ServiceAntennes/queries.js
  packages/app/src/components/UserContext/queries.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1604650307815_service_antenne_drop_address_street/up.sql
  packages/hasura/seeds/1603709050445_service_antenne_seed.sql
Due: api, app

test(api): restore using emjpm superuser
  packages/api/__test__/database/seed-data.js
Due: api

ci(github): switch to github ci (#2285)
  .github/workflows/ci.yml
  .travis.yml
  optional/e2e/package.json
  packages/api/__test__/database/seed-data.js
  packages/api/package.json
  packages/app/package.json
  packages/core/package.json
  packages/hasura/scripts/before_seeds_creation.sql
  packages/ui/package.json
Due: api, app

feat(service-antenne): rename address cols
  packages/api/src/controllers/editor/service-antennes.js
  packages/app/src/components/AdminServices/queries.js
  packages/app/src/components/DirectionMandatairesExport/queries.js
  packages/app/src/components/Geocode/Geocode.js
  packages/app/src/components/Geocode/util.js
  packages/app/src/components/MagistratMandatairesList/queries.js
  packages/app/src/components/MagistratServiceAntennes/queries.js
  packages/app/src/components/Service/queries.js
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneCreate/mutations.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.js
  packages/app/src/components/ServiceAntenneEdit/mutations.js
  packages/app/src/components/ServiceAntenneInformations/ServiceAntenneInformations.js
  packages/app/src/components/ServiceAntenneInformations/queries.js
  packages/app/src/components/ServiceAntennes/queries.js
  packages/app/src/components/UserContext/queries.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1604660324057_service_antenne_rename_adresse_cols/down.sql
  packages/hasura/migrations/1604660324057_service_antenne_rename_adresse_cols/up.sql
Due: api, app

refactor(departement): add findDepartementByCodeOrId
  packages/api/src/routes/hasura-actions/etablissement/actionFinessImporter.js
  packages/app/src/components/AdminTribunaux/AdminAddTribunal.js
  packages/app/src/components/AdminTribunaux/AdminEditTribunal.js
  packages/app/src/components/AdminTribunaux/queries.js
  packages/app/src/components/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelFormDepartementsSelector.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/MandataireEditInformations/MandataireEditInformations.js
  packages/app/src/components/Service/ServiceCreate.js
  packages/app/src/components/Service/ServiceEdit.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.js
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/components/Signup/SignupMandataire.js
  packages/app/src/components/Signup/SignupService.js
  packages/app/src/components/Signup/queries.js
  packages/core/src/services/departements.service.js
Due: api, app

fix(filter): use departement inside filters
  packages/app/src/components/FiltersContextSerializable/FiltersContextSerializable.js
  packages/app/src/components/FiltersContextSerializable/queries.js
  packages/app/src/components/ListeBlanche/ListeBlancheMandataires.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/ListeBlancheFilter/context/FiltersContext.js
  packages/app/src/components/ListeBlancheFilter/context/index.js
  packages/app/src/components/ListeBlancheFilter/queries.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/ListeBlancheSummary/queries.js
  packages/app/src/components/Signup/SignupService.js
  packages/app/src/components/Signup/queries.js
  packages/app/src/util/departements/useDepartements.hook.js
  packages/hasura/metadata/tables.yaml
Due: app

fix(liste-blanche): update hasura metadata
  packages/hasura/metadata/tables.yaml
Due: none

refactor(signup): format form
  packages/api/src/controllers/user/signup.js
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/lib/validationSchemas/signupDirectionSchema.js
  packages/app/src/util/departements/DepartementFormUtil.js
Due: api, app

fix(geocode): convert id into code
  packages/app/src/components/Geocode/Geocode.js
  packages/app/src/components/Geocode/util.js
Due: app

refactor(form): use FormGrayBox and FormInputBox
  packages/app/src/components/Signup/SignupDirection.js
  packages/app/src/components/Signup/SignupForm.js
  packages/app/src/components/Signup/SignupMagistrat.js
  packages/app/src/components/Signup/SignupMandataire.js
  packages/app/src/components/Signup/SignupService.js
  packages/app/src/components/Signup/SignupServiceInvitation.js
  packages/app/src/components/Signup/SignupServiceInvitationForm.js
  packages/app/src/components/Signup/style.js
Due: app

refactor(tis): rename address to adresse
  packages/api/src/controllers/editor/tribunaux.js
  packages/api/src/utils/insee-api.js
  packages/app/src/components/AdminTribunaux/AdminAddTribunal.js
  packages/app/src/components/AdminTribunaux/AdminEditTribunal.js
  packages/app/src/components/AdminTribunaux/mutations.js
  packages/app/src/components/AdminTribunaux/queries.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1604736617198_tis_adresse/down.sql
  packages/hasura/migrations/1604736617198_tis_adresse/up.sql
  scripts/local/restore_dump.sh
Due: api, app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
