Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(key-builder): use key builder
  packages/core/.eslintrc.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
  packages/core/src/constants/index.js
  packages/core/src/constants/keysBuilder.service.js
  packages/core/src/enums/cause-sortie.enum.js
  packages/core/src/enums/champ-mesure.enum.js
  packages/core/src/enums/civilite.enum.js
  packages/core/src/enums/index.js
  packages/core/src/enums/lieu-vie-majeur.enum.js
  packages/core/src/enums/nature-mesure.enum.js
  packages/core/src/enums/resultat-revision-mesure.enum.js
  packages/core/src/enums/type-etablissement.enum.js
  packages/core/src/index.js
Due: none

feat(core): update gitlab-ci
  .gitlab-ci.yml
  packages/api/package.json
  packages/api/src/routes/hasura-actions/mesure/mesures-import/schema/actionsMesuresImporterSchema.js
  packages/app/src/constants/mesures.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
  packages/core/src/constants/keysBuilder.service.js
Due: api, app

feat(schema): use MESURE_PROTECTION.LIEU_VIE
  packages/app/package.json
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesures/MandataireAddMesureForm.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/constants/mesures.js
  packages/core/src/constants/keysBuilder.service.js
Due: app

feat(schema): use MESURE_PROTECTION.LIEU_VIE
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesures/MandataireAddMesureForm.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
Due: app

feat(schema): add migration to clean residence
  packages/knex/migrations_v2/20200706181827_clean_mesure_residence.js
Due: none

fix(core): update package version
  packages/core/package.json
Due: none

fix(schema): add migration script for lieu_vie
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200706181827_clean_mesure_residence.js
  packages/knex/migrations_v2/20200707061312_add_mesure_lieu_vie.js
  packages/knex/seeds/development/0060-mesures.js
Due: none

feat(lieu_vie): use lieu_vie
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/lib/validationSchemas/mandataireMesureSchema.js
  packages/app/src/lib/validationSchemas/serviceMesureImportSchema.js
  packages/app/src/lib/validationSchemas/serviceMesureSchema.js
  packages/app/src/util/services/index.js
Due: app

feat(lieu_vie): use lieu_vie
  packages/app/src/components/MandataireMesure/MandataireMesure.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesures/MandataireAddMesureForm.js
  packages/app/src/components/ServiceMesure/ServiceMesure.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
Due: app

feat(lieu_vie): use lieu_vie_type in gql mutation
  packages/app/src/components/MandataireMesureAccept/mutations.js
  packages/app/src/components/MandataireMesureEdit/mutations.js
  packages/app/src/components/MandataireMesures/mutations.js
  packages/app/src/components/MesureContext/utils.js
  packages/app/src/components/ServiceMesureAccept/mutations.js
  packages/app/src/components/ServiceMesureCreate/mutations.js
  packages/app/src/components/ServiceMesures/mutations.js
Due: app

feat(lieu_vie): use lieu_vie_type in gql mutation
  packages/app/src/components/MesureContext/utils.js
Due: app

chore(clean): delete unused files
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/serviceMesureImportSchema.js
Due: app

feat(lieu_vie): test and fix import
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
  packages/core/src/constants/MESURE_PROTECTION.const.js
Due: api

feat(lieu_vie): add formatter for lieu_vie
  packages/app/src/components/MandataireMesure/MandataireMesure.js
  packages/app/src/components/MesureContext/mesureFormatter.js
  packages/app/src/components/MesureContext/utils.js
Due: app

feat(lieu_vie): lint
  packages/app/src/components/MesureContext/mesureFormatter.js
Due: app

feat(lieu_vie): test and fix for service
  packages/app/src/components/ServiceMesure/ServiceMesure.js
Due: app

ci(app): do not remove core package
  .gitlab-ci.yml
  yarn.lock
Due: none

ci(app): add job dependency
  .gitlab-ci.yml
Due: none

ci(app): try fixing pipeline
  .gitlab-ci.yml
Due: none

ci(app): try fixing pipeline
  packages/app/Dockerfile
Due: app

feat(schema-pjm): mesures.date_fin_mesure
  packages/app/src/components/MandataireMapPanelMesures/queries.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureClose/mutations.js
  packages/app/src/components/MandataireMesures/mutations.js
  packages/app/src/components/MandataireMesures/queries.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/app/src/components/ServiceMesures/mutations.js
  packages/graphql-server/src/datasource/mesure.api.ts
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/types/index.ts
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200707164828_mesure_date_fin.js
  packages/knex/seeds/development/0060-mesures.js
Due: app

feat(schema-pjm): mesures.date_fin_mesure (#2064)
  packages/app/src/components/MandataireMapPanelMesures/queries.js
  packages/app/src/components/MandataireMesureClose/MandataireMesureCloseForm.js
  packages/app/src/components/MandataireMesureClose/mutations.js
  packages/app/src/components/MandataireMesures/mutations.js
  packages/app/src/components/MandataireMesures/queries.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/app/src/components/ServiceMesures/mutations.js
  packages/graphql-server/src/datasource/mesure.api.ts
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/types/index.ts
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200707164828_mesure_date_fin.js
  packages/knex/seeds/development/0060-mesures.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
