Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(data): fix mesure type in db (#742)
  packages/graphql-server/src/model/mesures.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/utils/mesure-stat.adapter.ts
  packages/knex/migrations/20190913205626_fix_mesures_type.js
Due: none

feat(magistrat): magistrat interface with mesures / mandataires (#733)
  packages/api/__test__/e2e/auth/__snapshots__/POST_login.test.js.snap
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/controllers/user/signup.js
  packages/api/model/Magistrat.js
  packages/api/model/User.js
  packages/api/test/routes.inscription.test.js
  packages/app/pages/magistrats/Mesures.js
  packages/app/pages/magistrats/index.js
  packages/app/src/components-v2/Layout/LayoutMagistrat.js
  packages/app/src/components-v2/Layout/index.js
  packages/app/src/components-v2/Layout/queries.js
  packages/app/src/components-v2/MagistratFilters/MagistratFilters.js
  packages/app/src/components-v2/MagistratFilters/context/FiltersContext.js
  packages/app/src/components-v2/MagistratFilters/context/index.js
  packages/app/src/components-v2/MagistratFilters/index.js
  packages/app/src/components-v2/MagistratFilters/style.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.test.js
  packages/app/src/components-v2/MagistratMandatairesList/index.js
  packages/app/src/components-v2/MagistratMandatairesList/queries.js
  packages/app/src/components-v2/MagistratMandatairesList/style.js
  packages/app/src/components-v2/MagistratMandatairesList/utils.js
  packages/app/src/components-v2/MagistratMesures/MagistratMesures.js
  packages/app/src/components-v2/MagistratMesures/MagistratMesures.test.js
  packages/app/src/components-v2/MagistratMesures/index.js
  packages/app/src/components-v2/MagistratMesures/queries.js
  packages/app/src/constants/mesures.js
  packages/app/src/util/mandataires/MandataireUtils.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190912193030_update_service_tis.js
  packages/knex/migrations/20190912193230_view_gestionnaire_mesure_tis.js
  packages/knex/migrations/20190913090812_create_magistrat.js
  packages/knex/migrations/20190913100129_view_gestionnaire_mesure.js
  packages/knex/sql/views.js
Due: api, app

feat(service-mesure-list): add empty mesure list
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
Due: app

feat(service-mesure-list): add mesure list pagination
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/queries.js
  packages/app/src/components-v2/ServiceMesures/style.js
  packages/app/src/components-v2/ServiceMesures/utils.js
Due: app

feat(service-mesure-list): fix style
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/style.js
Due: app

feat(service-mesures-list): add pagination contrain and reset
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/queries.js
  packages/app/src/constants/mesures.js
Due: app

Feat/service mesure list (#734)
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/queries.js
  packages/app/src/components-v2/ServiceMesures/style.js
  packages/app/src/components-v2/ServiceMesures/utils.js
  packages/app/src/constants/mesures.js
Due: app

fix(hasura): delete duplicate permission
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura): delete duplicate permission (#743)
  packages/hasura/migrations/metadata.yaml
Due: none

feat(service-close-mesure): add close mesure mutation
  packages/app/package.json
  packages/app/src/components-v2/MesureList/MesureList.js
  packages/app/src/components-v2/MesureList/MesureList.test.js
  packages/app/src/components-v2/MesureList/index.js
  packages/app/src/components-v2/MesureList/style.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/mutations.js
  packages/app/src/components-v2/ServiceMesures/queries.js
  yarn.lock
Due: app

feat(service-close-mesure): add close mesure mutation (#744)
  packages/app/package.json
  packages/app/src/components-v2/MesureList/MesureList.js
  packages/app/src/components-v2/MesureList/MesureList.test.js
  packages/app/src/components-v2/MesureList/index.js
  packages/app/src/components-v2/MesureList/style.js
  packages/app/src/components-v2/ServiceMesures/ServiceCloseMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/mutations.js
  packages/app/src/components-v2/ServiceMesures/queries.js
  yarn.lock
Due: app

feat(service-reactivate-mesure): add reactivate mutation
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/ServiceReactivateMesure.js
  packages/app/src/components-v2/ServiceMesures/mutations.js
Due: app

feat(service-reactivate-mesure): add reactivate mutation (#745)
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/ServiceReactivateMesure.js
  packages/app/src/components-v2/ServiceMesures/mutations.js
Due: app

feat(service-delete-mesure): add delete component
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
Due: app

feat(service-delete-mesure): add working mutation with refetch query
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/mutations.js
Due: app

feat(service-delete-mesure): add remove useless query
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
Due: app

Feat/service delete mesure (#746)
  packages/app/src/components-v2/ServiceMesures/ServiceDeleteMesure.js
  packages/app/src/components-v2/ServiceMesures/ServiceMesures.js
  packages/app/src/components-v2/ServiceMesures/mutations.js
Due: app

feat(service-metadata): add metadata for services
  packages/hasura/migrations/metadata.yaml
Due: none

feat(service-metadata): add metadata for services (#747)
  packages/hasura/migrations/metadata.yaml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
