Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(ci): pipeline cache
  .gitlab-ci.yml
Due: none

chore(release): version 25.84.24
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ci): enable buildkit
  .gitlab-ci.yml
Due: none

fix(ci): fix buildkit
  .gitlab-ci.yml
Due: none

fix(ci): wip optimize
  .gitlab-ci.yml
Due: none

fix(ci): wip optimize
  .dockerignore
  .gitlab-ci.yml
  docker-compose.build.yaml
  packages/api/Dockerfile
  packages/app/Dockerfile
Due: api, app

ci(improve): cache + yarn 2
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .yarnrc.ci.yml
  .yarnrc.yml
  README.md
  docker-compose.build.yaml
  docker-compose.yaml
  package.json
  packages/api/.dockerignore
  packages/api/Dockerfile
  packages/api/package.json
  packages/app/.dockerignore
  packages/app/Dockerfile
  packages/app/package.json
  packages/app/src/lib/validationSchemas/signupSchema.js
  packages/biz/.eslintrc.js
  packages/biz/.eslintrc.yml
  packages/biz/package.json
  scripts/dev/dev
  scripts/gitops/release
  yarn.lock
Due: api, app

fix(ci): rm warning
  packages/app/src/App.js
Due: app

fix(ci): wip
  .gitlab-ci.yml
Due: none

fix(yarn2-pnp): wip
  .yarnrc.ci.yml
  .yarnrc.yml
  packages/app/package.json
  packages/app/scripts/get-version
  packages/app/src/App.js
  packages/app/src/config/config.js
  yarn.lock
Due: app

fix(yarn2): remove pnp
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .yarnrc.ci.yml
  .yarnrc.yml
  packages/api/Dockerfile
  packages/app/.gitignore
  packages/app/Dockerfile
Due: api, app

fix(ci): wip
  packages/api/Dockerfile
  packages/app/Dockerfile
Due: api, app

ci(wip): yarn --immutable
  .gitlab-ci.yml
  packages/api/Dockerfile
  packages/app/Dockerfile
Due: api, app

ci(wip): up yarn.lock
  yarn.lock
Due: none

fix(ci): wip
  packages/app/Dockerfile
Due: app

fix(yarn): rollback to yarn 1
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  .yarnrc.yml
  docker-compose.build.yaml
  packages/api/Dockerfile
  packages/app/.gitignore
  packages/app/Dockerfile
  yarn.lock
Due: api, app

fix(ci): wip
  package.json
Due: none

fix(ci): wip
  packages/app/package.json
  yarn.lock
Due: app

fix(ci): wip
  packages/app/package.json
Due: app

fix(ci): wip
  packages/biz/package.json
Due: none

fix(biz): rollback eslint
  packages/biz/.eslintrc.js
  packages/biz/.eslintrc.yml
  packages/biz/package.json
Due: none
