Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(release): version 25.153.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(clean): debug
  packages/api/src/routes/api/directions.js
Due: api

fix(rgaa): fix outline on buttons
  packages/app/src/containers/AdminEditInformations/AdminEditInformationsForm.js
  packages/app/src/containers/AdminEditors/AdminEditorForm.js
  packages/app/src/containers/AdminListeBlancheDelete/AdminListeBlancheDeleteForm.js
  packages/app/src/containers/AdminTribunaux/AdminTribunalForm.js
  packages/app/src/containers/AdminUserDelete/AdminUserDeleteForm.js
  packages/app/src/containers/AdminUserDirection/AdminDirectionTypeForm.js
  packages/app/src/containers/AdminUserService/AdminUserServiceForm.js
  packages/app/src/containers/DirectionEditInformations/DirectionEditInformationsForm.js
  packages/app/src/containers/EditPassword/EditPassword.js
  packages/app/src/containers/Enquete/EnqueteConfirmExitInvalidFormDialog.js
  packages/app/src/containers/ForgotPassword/ForgotPassword.js
  packages/app/src/containers/GreffierMandataireComments/GreffierMandataireCommentForm.js
  packages/app/src/containers/GreffierMesureAdd/GreffierMesureAddForm.js
  packages/app/src/containers/GreffierMesureDelete/GreffierMesureDeleteForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceForm.js
  packages/app/src/containers/MagistratEditInformations/MagistratEditInformationsForm.js
  packages/app/src/containers/MagistratMandataireComments/MagistratMandataireCommentForm.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/containers/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/containers/MesureAccept/MesureAcceptForm.js
  packages/app/src/containers/MesureClose/MesureCloseForm.js
  packages/app/src/containers/MesureCreate/MesureCreateForm.js
  packages/app/src/containers/MesureDelete/MesureDeleteForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
  packages/app/src/containers/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
  packages/app/src/containers/MesureReactivate/MesureReactivateForm.js
  packages/app/src/containers/MesureRessourceCreateOrEdit/MesureRessourceCreateOrEditForm.js
  packages/app/src/containers/ResetPassword/ResetPassword.js
  packages/app/src/containers/ServiceAntenneForms/ServiceAntenneForm.js
  packages/app/src/containers/Signup/SignupDirection.js
  packages/app/src/containers/Signup/SignupForm.js
  packages/app/src/containers/Signup/SignupGreffier.js
  packages/app/src/containers/Signup/SignupMagistrat.js
  packages/app/src/containers/Signup/SignupMandataire.js
  packages/app/src/containers/Signup/SignupService.js
  packages/app/src/containers/Signup/SignupServiceInvitationForm.js
Due: app

fix(rgaa): fix outline on buttons (#2829)
  packages/app/src/containers/AdminEditInformations/AdminEditInformationsForm.js
  packages/app/src/containers/AdminEditors/AdminEditorForm.js
  packages/app/src/containers/AdminListeBlancheDelete/AdminListeBlancheDeleteForm.js
  packages/app/src/containers/AdminTribunaux/AdminTribunalForm.js
  packages/app/src/containers/AdminUserDelete/AdminUserDeleteForm.js
  packages/app/src/containers/AdminUserDirection/AdminDirectionTypeForm.js
  packages/app/src/containers/AdminUserService/AdminUserServiceForm.js
  packages/app/src/containers/DirectionEditInformations/DirectionEditInformationsForm.js
  packages/app/src/containers/EditPassword/EditPassword.js
  packages/app/src/containers/Enquete/EnqueteConfirmExitInvalidFormDialog.js
  packages/app/src/containers/ForgotPassword/ForgotPassword.js
  packages/app/src/containers/GreffierMandataireComments/GreffierMandataireCommentForm.js
  packages/app/src/containers/GreffierMesureAdd/GreffierMesureAddForm.js
  packages/app/src/containers/GreffierMesureDelete/GreffierMesureDeleteForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceForm.js
  packages/app/src/containers/MagistratEditInformations/MagistratEditInformationsForm.js
  packages/app/src/containers/MagistratMandataireComments/MagistratMandataireCommentForm.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/containers/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/containers/MesureAccept/MesureAcceptForm.js
  packages/app/src/containers/MesureClose/MesureCloseForm.js
  packages/app/src/containers/MesureCreate/MesureCreateForm.js
  packages/app/src/containers/MesureDelete/MesureDeleteForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
  packages/app/src/containers/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
  packages/app/src/containers/MesureReactivate/MesureReactivateForm.js
  packages/app/src/containers/MesureRessourceCreateOrEdit/MesureRessourceCreateOrEditForm.js
  packages/app/src/containers/ResetPassword/ResetPassword.js
  packages/app/src/containers/ServiceAntenneForms/ServiceAntenneForm.js
  packages/app/src/containers/Signup/SignupDirection.js
  packages/app/src/containers/Signup/SignupForm.js
  packages/app/src/containers/Signup/SignupGreffier.js
  packages/app/src/containers/Signup/SignupMagistrat.js
  packages/app/src/containers/Signup/SignupMandataire.js
  packages/app/src/containers/Signup/SignupService.js
  packages/app/src/containers/Signup/SignupServiceInvitationForm.js
Due: app

fix(rgaa): delete skip to content on empty map page
  packages/app/src/containers/AdminInformations/AdminInformations.js
  packages/app/src/containers/DirectionInformations/DirectionInformations.js
  packages/app/src/containers/DirectionMandatairesSubNavigation/MandatairesSubNavigation.js
  packages/app/src/containers/Enquete/EnqueteCommon/EnqueteWelcome.js
  packages/app/src/containers/GreffierInformations/GreffierInformations.js
  packages/app/src/containers/Login/LoginCreateAccount.js
  packages/app/src/containers/MagistratInformations/MagistratInformations.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/containers/MandataireInformations/MandataireInformations.js
  packages/app/src/containers/MesureListButtonBar/MesureListButtonBar.js
  packages/app/src/containers/MesureView/MesureDetailView.js
  packages/app/src/containers/ServiceAntennes/ServiceAntennes.js
  packages/app/src/pages/direction/enquetes/index.js
  packages/app/src/pages/mandataires/map.js
  packages/app/src/pages/services/map.js
Due: app

fix(rgaa): delete skip to content on empty map page (#2831)
  packages/app/src/containers/AdminInformations/AdminInformations.js
  packages/app/src/containers/DirectionInformations/DirectionInformations.js
  packages/app/src/containers/DirectionMandatairesSubNavigation/MandatairesSubNavigation.js
  packages/app/src/containers/Enquete/EnqueteCommon/EnqueteWelcome.js
  packages/app/src/containers/GreffierInformations/GreffierInformations.js
  packages/app/src/containers/Login/LoginCreateAccount.js
  packages/app/src/containers/MagistratInformations/MagistratInformations.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/containers/MandataireInformations/MandataireInformations.js
  packages/app/src/containers/MesureListButtonBar/MesureListButtonBar.js
  packages/app/src/containers/MesureView/MesureDetailView.js
  packages/app/src/containers/ServiceAntennes/ServiceAntennes.js
  packages/app/src/pages/direction/enquetes/index.js
  packages/app/src/pages/mandataires/map.js
  packages/app/src/pages/services/map.js
Due: app

fix(rgaa): delete aria-label from label tag
  packages/app/src/components/Input/index.js
Due: app

fix(rgaa): delete aria-label from label tag (#2832)
  packages/app/src/components/Input/index.js
Due: app

fix(rgaa): fix button styles
  packages/app/src/containers/MagistratMandataire/MagistratMandataire.js
Due: app

fix(rgaa): fix button styles (#2833)
  packages/app/src/containers/MagistratMandataire/MagistratMandataire.js
Due: app

chore(dev): add envrc
  .envrc
Due: none

feat(2fa): add to profile page
  packages/api/package.json
  packages/app/package.json
  packages/app/src/containers/AdminEditInformations/AdminEditInformations.js
  packages/app/src/containers/AdminEditInformations/AdminEditInformationsForm.js
  packages/app/src/containers/AdminEditInformations/Auth2FA.js
  packages/app/src/containers/AdminEditInformations/mutations.js
  packages/app/src/containers/AdminUser/AdminUser.js
  packages/app/src/validation-schemas/adminEditSchema.js
  packages/app/src/validation-schemas/yup.js
  packages/hasura/migrations/default/1647443982199_alter_table_public_users_add_column_secret_2fa/down.sql
  packages/hasura/migrations/default/1647443982199_alter_table_public_users_add_column_secret_2fa/up.sql
  yarn.lock
Due: api, app

feat(invitation): admin + fix security issue
  .env.sample
  docker-compose.yaml
  packages/api/src/controllers/user/signup.js
  packages/api/src/email/admin-invitation-mail.js
  packages/api/src/email/index.js
  packages/api/src/models/AdminInvitation.js
  packages/api/src/models/index.js
  packages/api/src/routes/hasura-actions/email/hasura-actions.emails.routes.js
  packages/app/src/containers/AdminInvitationCreate/AdminInvitationCreate.js
  packages/app/src/containers/AdminInvitationCreate/AdminInvitationForm.js
  packages/app/src/containers/AdminInvitationCreate/index.js
  packages/app/src/containers/AdminInvitationCreate/mutations.js
  packages/app/src/containers/AdminInvitationCreate/queries.js
  packages/app/src/containers/AdminInvitationCreate/style.js
  packages/app/src/containers/AdminInvitations/AdminInvitations.js
  packages/app/src/containers/AdminInvitations/index.js
  packages/app/src/containers/AdminInvitations/mutations.js
  packages/app/src/containers/AdminInvitations/queries.js
  packages/app/src/containers/AdminInvitations/styles.js
  packages/app/src/containers/AdminUsers/TabPanelPaginatedList.js
  packages/app/src/containers/Signup/SignupAdminInvitation.js
  packages/app/src/containers/Signup/SignupAdminInvitationForm.js
  packages/app/src/containers/Signup/queries.js
  packages/app/src/pages/signup/invitation.js
  packages/app/src/validation-schemas/adminInvitationSchema.js
  packages/app/src/validation-schemas/index.js
  packages/app/src/validation-schemas/signupAdminSchema.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/databases/default/tables/public_admin_invitations.yaml
  packages/hasura/metadata/databases/default/tables/tables.yaml
  packages/hasura/migrations/default/1647427217918_create_table_public_admin_invitations/down.sql
  packages/hasura/migrations/default/1647427217918_create_table_public_admin_invitations/up.sql
Due: api, app

feat(2fa): login
  packages/api/src/controllers/user/login.js
  packages/api/src/controllers/user/signup.js
  packages/api/src/controllers/user/token2fa.js
  packages/api/src/routes/api/auth.js
  packages/app/src/containers/AdminEditInformations/AdminEditInformationsForm.js
  packages/app/src/containers/Auth2FA/Auth2FA.js
  packages/app/src/containers/Auth2FA/index.js
  packages/app/src/containers/Login/Login.js
  packages/app/src/containers/Signup/SignupAdminInvitation.js
  packages/app/src/containers/Signup/SignupAdminInvitationForm.js
  packages/app/src/validation-schemas/loginSchema.js
  packages/app/src/validation-schemas/signupAdminSchema.js
Due: api, app

feat(autologin): on password reset
  packages/api/src/controllers/user/reset-password-with-token.js
  packages/app/src/containers/ResetPassword/ResetPassword.js
Due: api, app

fix: tests
  packages/api/__test__/e2e/auth/POST_reset_password.test.js
  packages/api/__test__/e2e/auth/__snapshots__/POST_reset_password.test.js.snap
Due: api

fix(rgaa): replace divs with accessibility-friendly elements
  packages/app/src/components/Table/index.js
  packages/app/src/containers/DirectionMandatairesList/MandatairesList.js
  packages/app/src/containers/EnqueteDirection/DirectionEnquetesList.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelItem.js
  packages/app/src/containers/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeItem.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceItem.js
  packages/app/src/containers/MagistratMandatairesList/List.js
  packages/app/src/containers/MandataireListItem/index.js
  packages/app/src/containers/MandataireMapPanelMesures/MandataireMapPanelMesures.js
  packages/app/src/containers/MapMesureListItem/index.js
  packages/app/src/containers/MesureList/MesureList.js
  packages/app/src/containers/ServiceMapPanelMesures/ServiceMapPanelMesures.js
Due: app

fix(rgaa): delete comment
  packages/app/src/containers/MapMesureListItem/index.js
Due: app

fix(rgaa): replace divs with accessibility-friendly elements (#2834)
  packages/app/src/components/Table/index.js
  packages/app/src/containers/DirectionMandatairesList/MandatairesList.js
  packages/app/src/containers/EnqueteDirection/DirectionEnquetesList.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelItem.js
  packages/app/src/containers/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeItem.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceItem.js
  packages/app/src/containers/MagistratMandatairesList/List.js
  packages/app/src/containers/MandataireListItem/index.js
  packages/app/src/containers/MandataireMapPanelMesures/MandataireMapPanelMesures.js
  packages/app/src/containers/MapMesureListItem/index.js
  packages/app/src/containers/MesureList/MesureList.js
  packages/app/src/containers/ServiceMapPanelMesures/ServiceMapPanelMesures.js
Due: app

fix: typo
  packages/app/src/containers/AdminUserDelete/AdminUserDeleteForm.js
  packages/app/src/containers/Auth2FA/Auth2FA.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(rgaa): change logged menu to be more accessible
  packages/app/package.json
  packages/app/src/components/LoggedMenu/index.js
  yarn.lock
Due: app

fix(auth): change change refreshtoken lifetime to be 13 days
  packages/api/src/models/User.js
Due: api

fix(auth): change change refreshtoken lifetime to be 13 days (#2836)
  packages/api/src/models/User.js
Due: api

chore(release): version 25.154.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(deps): update dependency p-debounce to v4
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency query-string to v7
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: api, app

fix(rgaa): change tag of listItem
  packages/app/src/containers/DirectionMandatairesList/MandatairesList.js
  packages/app/src/containers/MandataireListItem/index.js
Due: app

fix(rgaa): change tag of listItem (#2841)
  packages/app/src/containers/DirectionMandatairesList/MandatairesList.js
  packages/app/src/containers/MandataireListItem/index.js
Due: app

fix: skip to content reopen mesure service
  packages/app/src/pages/services/mesures/[mesure_id]/reactivate.js
Due: app

fix: envrc source_up
  .envrc
Due: none

chore(release): version 25.154.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(rgaa): implement aria-dialog design pattern
  packages/app/package.json
  packages/app/src/components/AccessibleDialog/index.js
  packages/app/src/components/index.js
  packages/app/src/containers/GreffierMapMandatairesPanelList/GreffierMapMandatairesPanelList.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandatairesMapPopup.js
  packages/app/src/containers/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/app/src/containers/MandataireListItem/index.js
  packages/app/src/containers/Map/context/MapContext.js
  yarn.lock
Due: app

fix(rgaa): create accessible datepicker
  packages/app/src/components/AccessibleDialog/index.js
  packages/app/src/components/AccessibleInputDate/DatePickerContainer.js
  packages/app/src/components/AccessibleInputDate/DatePickerHeader.js
  packages/app/src/components/AccessibleInputDate/InputButton.js
  packages/app/src/components/AccessibleInputDate/index.js
  packages/app/src/components/index.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
Due: app

fix(rgaa): make date-picker accessible
  packages/app/src/components/AccessibleInputDate/DatePickerHeader.js
  packages/app/src/components/AccessibleInputDate/InputButton.js
  packages/app/src/components/AccessibleInputDate/index.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/theme/GlobalStyle.js
Due: app

fix(rgaa): yup date validation
  packages/app/src/components/AccessibleInputDate/DatePickerContainer.js
  packages/app/src/components/AccessibleInputDate/index.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/validation-schemas/magistratMandataireSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(rgaa): refacto AccessibleFormGroupInputDate
  packages/app/src/components/AccessibleInputDate/InputButton.js
  packages/app/src/components/AccessibleInputDate/index.js
  packages/app/src/components/AppForm/AccessibleFormGroupInputDate.js
  packages/app/src/components/AppForm/index.js
  packages/app/src/components/index.js
  packages/app/src/containers/GreffierMandataire/GreffierMandataire.js
  packages/app/src/containers/GreffierMesureAdd/GreffierMesureAddForm.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/containers/MesureCreate/MesureCreateForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
  packages/app/src/validation-schemas/greffierMandataireSchema.js
  packages/app/src/validation-schemas/magistratMandataireSchema.js
  packages/app/src/validation-schemas/mesureCreateSchema.js
  packages/app/src/validation-schemas/mesureEditSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(rgaa): replace FormGroupInput by AccessibleFormGroupInputDate
  packages/app/src/components/AccessibleInputDate/InputButton.js
  packages/app/src/components/AppForm/AccessibleFormGroupInputDate.js
  packages/app/src/containers/MesureAccept/MesureAcceptForm.js
  packages/app/src/containers/MesureClose/MesureCloseForm.js
  packages/app/src/containers/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
  packages/app/src/validation-schemas/mesureAcceptSchema.js
  packages/app/src/validation-schemas/mesureEtatSchema.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
