Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

ci(enable): run pipeline manual
  .gitlab-ci.yml
Due: none

fix(ci): tests
  .github/workflows/ci.yml
Due: none

fix(ci): tests
  .github/workflows/ci.yml
  packages/app/package.json
  packages/app/src/polyfills/index.js
  packages/app/src/polyfills/polyfills.js
  scripts/gitops/deploy-prod-from-local
  yarn.lock
Due: app

fix(ci): hasura build
  .gitlab-ci.yml
Due: none

ci(restore-pg): improve workflow
  .gitlab-ci.yml
Due: none

fix(ci): api build
  packages/api/Dockerfile
Due: api

fix(notif): ready to prod
  .gitlab-ci.yml
Due: none

fix(ci): yaml
  .gitlab-ci.yml
Due: none

fix(ci): dev version message
  .gitlab-ci.yml
Due: none

fix(ci): release
  .gitlab-ci.yml
Due: none

fix(ci): cleanup subprocess
  scripts/gitops/deploy-prod-from-local
Due: none

fix(ci): url
  .gitlab-ci.yml
Due: none

fix(ci): deploy from local
  scripts/gitops/deploy-prod-from-local
Due: none

chore(release): version 25.85.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ci): wip
  .gitlab-ci.yml
  scripts/gitops/deploy-prod-from-local
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
