Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

refactor(gitlab-ci): typo fix
  .gitlab-ci.yml
Due: none

refactor(gitlab-ci): typo fix
  packages/api/.k8s/values.yaml
  packages/app/.k8s/values.yaml
  packages/hasura/.k8s/values.yaml
Due: api, app

refactor(gitlab-ci): debugging
  .gitlab-ci.yml
Due: none

refactor(gitlab-ci): fix
  .gitlab-ci.yml
Due: none

refactor(gitlab-ci): fix
  packages/api/.k8s/values.yaml
  packages/hasura/.k8s/manifests/.gitkeep
Due: api

refactor(gitlab-ci): fix
  packages/app/Dockerfile
Due: app

refactor(gitlab-ci): fix
  packages/api/.k8s/values.yaml
Due: api

refactor(gitlab-ci): fix
  packages/hasura/.k8s/values.yaml
Due: none

refactor(gitlab-ci): fix
  .gitlab-ci/env.sh
Due: none

refactor(gitlab-ci): clean debug
  .gitlab-ci.yml
Due: none

refactor(ci-pipeline): upgrade (#2398)
  .gitignore
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  packages/api/.gitignore
  packages/api/.k8s/Chart.yaml
  packages/api/.k8s/README.md
  packages/api/.k8s/manifests/.gitkeep
  packages/api/.k8s/templates/NOTES.txt
  packages/api/.k8s/templates/_helpers.tpl
  packages/api/.k8s/templates/deployment.yaml
  packages/api/.k8s/templates/ingress.yaml
  packages/api/.k8s/templates/service.yaml
  packages/api/.k8s/values.yaml
  packages/app/.gitignore
  packages/app/.k8s/Chart.yaml
  packages/app/.k8s/manifests/.gitkeep
  packages/app/.k8s/templates/NOTES.txt
  packages/app/.k8s/templates/_helpers.tpl
  packages/app/.k8s/templates/deployment.yaml
  packages/app/.k8s/templates/ingress.yaml
  packages/app/.k8s/templates/service.yaml
  packages/app/.k8s/values.yaml
  packages/app/Dockerfile
  packages/hasura/.gitignore
  packages/hasura/.k8s/Chart.yaml
  packages/hasura/.k8s/manifests/.gitkeep
  packages/hasura/.k8s/templates/NOTES.txt
  packages/hasura/.k8s/templates/_helpers.tpl
  packages/hasura/.k8s/templates/deployment.yaml
  packages/hasura/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/service.yaml
  packages/hasura/.k8s/values.yaml
Due: api, app

chore(release): version 25.80.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(email-reservation): use correct function name to format date
  packages/biz/src/formatters/mesure.js
Due: none

fix(version): update package version manually
  lerna.json
  packages/api/package.json
  packages/app/package.json
  packages/biz/package.json
Due: api, app

chore(release): version 25.81.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(gitlab-ci): remove un-needed installs
  .gitlab-ci.yml
Due: none

fix(k8s): try another limitation policy
  packages/api/.k8s/values.yaml
  packages/hasura/.k8s/values.yaml
Due: api

refactor(ci-pipeline): bugfixs (#2399)
  .gitlab-ci.yml
  packages/api/.k8s/values.yaml
  packages/hasura/.k8s/values.yaml
Due: api

fix(jwt-invalid): logout and clear apollo store
  packages/app/src/components/UserContext/UserContext.js
Due: app

fix(jwt-invalid): logout and clear apollo store (#2400)
  packages/app/src/components/UserContext/UserContext.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
