Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(build): eslint package
  packages/app/package.ci.json
  packages/app/package.json
Due: app

chore(release): version 25.91.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

chore(ci): move cache to harbor
  .k8sci/.env
Due: none

docs(up): ci
  README.md
Due: none

feat(dev): ci trigger script
  .gitignore
  package.json
  scripts/ci/trigger
Due: none

feat(dev): ci stop script
  package.json
  scripts/ci/k8sci-stop
Due: none

fix(script): var
  scripts/ci/trigger
Due: none

chore(ci): rollback cache to docker
  .k8sci/.env
Due: none

feat(map): fallback on error
  packages/app/src/containers/Map/MapContainer.js
  packages/app/src/containers/Map/MapError.js
  packages/app/src/containers/Map/MapFallback.js
Due: app

chore(release): version 25.92.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(agrements): parse
  packages/app/src/user/formatUserFromToken.js
Due: app

feat(disconnect): from error
  packages/app/src/components/ErrorBoundary/ErrorFallback.js
  packages/app/src/user/Auth.js
Due: app

fix(direction): empty d list (national)
  packages/app/src/pages/direction/index.js
Due: app

chore(release): version 25.93.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(direction): empty list
  packages/app/src/containers/AdminUserDirection/AdminDirectionType.js
  packages/app/src/containers/DirectionIndicators/OpenMesureIndicator.js
  packages/app/src/pages/direction/liste-blanche/index.js
  packages/app/src/pages/direction/mandataires/list.js
  packages/app/src/utils/departements/useDepartements.hook.js
Due: app

chore(release): version 25.93.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(mesures): filters
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
Due: api

fix(direction): empty list + departement label
  packages/app/src/containers/AdminUserDirection/AdminDirectionType.js
  packages/app/src/containers/AdminUserDirection/AdminDirectionTypeForm.js
Due: app

fix(filter): remove default date
  packages/app/src/containers/DirectionIndicators/ClosedMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/OpenMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/queries.js
  packages/app/src/containers/FiltersContextSerializable/FiltersContextSerializable.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
Due: app

fix(warning): input null
  packages/app/src/containers/DirectionFilters/DirectionFilters.js
Due: app

fix(wrap): error msg
  packages/app/src/components/ErrorBoundary/ErrorFallback.js
Due: app

fix(dev): clean
  docker-compose.yaml
Due: none

feat(scss): and upgrade react datepicker
  packages/app/package.ci.json
  packages/app/package.json
  yarn.lock
Due: app

feat(input-date-and-year): using react-datepicker
  packages/app/src/components/InputDate/index.js
  packages/app/src/components/InputDate/style.scss
  packages/app/src/components/InputYear/index.js
  packages/app/src/components/InputYear/style.scss
  packages/app/src/components/index.js
Due: app

feat(input-date-and-year): improve design and form group comp
  packages/app/src/components/AppForm/FormGroupInputDate.js
  packages/app/src/components/AppForm/index.js
  packages/app/src/components/InputDate/Label.js
  packages/app/src/components/InputDate/index.js
  packages/app/src/components/InputDate/style.js
  packages/app/src/components/InputDate/style.scss
  packages/app/src/components/InputYear/style.scss
Due: app

feat(input-date-and-year): fix design and year form group comp
  packages/app/src/components/AppForm/FormGroupInputYear.js
  packages/app/src/components/AppForm/index.js
  packages/app/src/components/InputDate/style.scss
  packages/app/src/components/InputYear/Label.js
  packages/app/src/components/InputYear/index.js
  packages/app/src/components/InputYear/style.js
  packages/app/src/components/InputYear/style.scss
Due: app

feat(input-date-and-year): implement everywhere
  packages/app/src/containers/DirectionFilters/DirectionFilters.js
  packages/app/src/containers/DirectionFilters/style.js
  packages/app/src/containers/EnqueteCreate/EnqueteCreate.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/containers/MesureAccept/MesureAcceptForm.js
  packages/app/src/containers/MesureClose/MesureCloseForm.js
  packages/app/src/containers/MesureCreate/MesureCreateForm.js
  packages/app/src/containers/MesureEdit/MesureEditForm.js
  packages/app/src/containers/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
Due: app

feat(filter-info): fix ambiguity
  packages/app/src/containers/DirectionIndicators/ClosedMesureIndicator.js
  packages/app/src/containers/DirectionIndicators/OpenMesureIndicator.js
Due: app

chore(release): version 25.94.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ci): clean old builder
  packages/api/Dockerfile
  packages/app/Dockerfile
Due: api, app

chore(release): version 25.94.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(sass): dart sass instead of deprecated node-sass
  packages/app/package.ci.json
  packages/app/package.json
  yarn.lock
Due: app

fix(rollback): remote eslint-plugin-auto-import
  packages/app/package.ci.json
  packages/app/package.json
  yarn.lock
Due: app

feat(dev): local bugfixed autoimport linter
  packages/app/.eslintrc.yml
  packages/app/package.json
  packages/app/src/utils/eslint-plugin-auto-importer/.gitignore
  packages/app/src/utils/eslint-plugin-auto-importer/auto-import.js
  packages/app/src/utils/eslint-plugin-auto-importer/index.js
  packages/app/src/utils/eslint-plugin-auto-importer/package.json
Due: app

chore(release): version 25.95.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(dev): local autoimport lint
  packages/app/package.ci.json
  yarn.lock
Due: app

fix(dev): local autoimport lint
  packages/app/.eslintrc.yml
  packages/app/package.ci.json
  packages/app/package.json
  packages/app/src/config/config.js
  packages/app/src/config/version.js
  packages/app/src/routes/Routes.js
  packages/app/src/user/initTarteaucitron.js
  packages/app/src/utils/browser/index.test.js
  packages/app/src/utils/eslint-plugin-autoimport/.gitignore
  packages/app/src/utils/eslint-plugin-autoimport/autoimport.js
  packages/app/src/utils/eslint-plugin-autoimport/index.js
  packages/app/src/utils/eslint-plugin-autoimport/package.json
  yarn.lock
Due: app

fix(dev): autoimport lint published
  packages/app/.eslintrc.yml
  packages/app/package.ci.json
  packages/app/package.json
  packages/app/src/App.js
  packages/app/src/config/config.js
  packages/app/src/config/version.js
  packages/app/src/routes/Routes.js
  packages/app/src/user/initTarteaucitron.js
  packages/app/src/utils/browser/index.test.js
  packages/app/src/utils/eslint-plugin-autoimport/.gitignore
  packages/app/src/utils/eslint-plugin-autoimport/autoimport.js
  packages/app/src/utils/eslint-plugin-autoimport/index.js
  packages/app/src/utils/eslint-plugin-autoimport/package.json
  yarn.lock
Due: app

chore(release): version 25.95.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(hasura): upgrade
  packages/hasura/Dockerfile
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
