Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(ff52): fix js transpilation (#2419)
  packages/app/.k8s/values.yaml
  packages/app/babel.config.js
  packages/app/next.config.js
  packages/app/package.json
  yarn.lock
Due: app

fix(build): fix package.json
  packages/app/package.json
Due: app

fix(build): fix mdx
  packages/app/next.config.js
Due: app

fix(build): package and next-config (#2420)
  packages/app/next.config.js
  packages/app/package.json
Due: app

fix(build): babel config
  packages/app/babel.config.js
Due: app

chore(release): version 25.82.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(build): ff52 wip
  .gitlab-ci.yml
  yarn.lock
Due: none

fix(build): ff52 wip
  .gitlab-ci.yml
Due: none

chore(release): version 25.82.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

refactor(ci): improve dev/prod isomorphism
  .dockerignore
  .gitlab-ci.yml
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.prod.local.yaml
  packages/api/.dockerignore
  packages/api/Dockerfile
  packages/api/Dockerfile.dev
  packages/api/package.json
  packages/app/.dockerignore
  packages/app/.k8s/values.yaml
  packages/app/Dockerfile
  packages/app/Dockerfile.dev
  packages/app/next.config.js
  packages/app/package.json
  scripts/remove_devdeps.js
Due: api, app

improvement(docker): decouple services on dev
  .env.sample
  docker-compose.yaml
  packages/api/Dockerfile.dev
  packages/app/Dockerfile.dev
Due: api, app

fix(ci): api context
  .gitlab-ci.yml
  docker-compose.prod.local.yaml
Due: none

fix(ci): local docker-compose
  docker-compose.prod.local.yaml
  docker-compose.yaml
Due: none

fix(ci): ports
  .gitlab-ci.yml
  packages/api/.k8s/templates/NOTES.txt
  packages/api/.k8s/values.yaml
  packages/app/.k8s/templates/NOTES.txt
  packages/app/.k8s/templates/ingress.yaml
  packages/app/.k8s/values.yaml
Due: api, app

fix(ci): api port from internal
  .gitlab-ci/env.sh
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
