Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(release): version 25.121.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(sdep): fix api eager expression
  packages/api/src/controllers/mandoline/direction-services.js
  packages/api/src/controllers/mandoline/user.js
  packages/api/src/models/Direction.js
  packages/api/src/models/ServiceDepartements.js
Due: api

chore(release): version 25.121.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(sdep): fix api eager expression in get user
  packages/api/src/models/Direction.js
Due: api

fix(sdep): fix edit service
  packages/app/src/containers/ServiceEditInformations/ServiceEditInformationsForm.js
  packages/app/src/containers/ServiceEditInformations/mutations.js
  packages/app/src/containers/ServiceEditInformations/queries.js
  packages/hasura/metadata/databases/default/tables/public_service_departements.yaml
Due: app

chore(release): version 25.121.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(admin): services view query
  packages/app/src/containers/AdminServices/queries.js
Due: app

fix(stats): view indicators service multi deps
  packages/hasura/metadata/databases/default/tables/tables.yaml
  packages/hasura/migrations/default/1623706850400_recreate_lost_view_departement_indicateur_login/down.sql
  packages/hasura/migrations/default/1623706850400_recreate_lost_view_departement_indicateur_login/up.sql
  packages/hasura/migrations/default/1623706938809_recreate_lost_view_departement_indicateur_inscrit/down.sql
  packages/hasura/migrations/default/1623706938809_recreate_lost_view_departement_indicateur_inscrit/up.sql
Due: none

fix(mandoline): user direction departement typo
  packages/api/src/controllers/mandoline/user.js
Due: api

chore(release): version 25.121.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(deps): update all dependencies
  optional/e2e/.runners/puppetteer/package.json
  optional/e2e/.runners/puppetteer/yarn.lock
  optional/e2e/package.json
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/biz/package.json
  yarn.lock
Due: api, app

chore(up): ci deps
  packages/api/package.ci.json
  packages/app/package.ci.json
  packages/biz/package.ci.json
Due: api, app

fix(inscription): fix anon rights on view + query
  packages/app/src/containers/Signup/SignupService.js
  packages/app/src/containers/Signup/queries.js
  packages/hasura/metadata/databases/default/tables/public_service_departements.yaml
Due: app

chore(release): version 25.121.4
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(import): increase k8s ingress timeout
  packages/api/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
Due: api

chore(release): version 25.121.5
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

feat(rgaa): declaration de non conformité
  packages/app/src/containers/Footer/Footer.js
  packages/app/src/pages/rgaa.js
  packages/app/src/routes/Routes.js
Due: app

feat(secu): add anti xss headers
  packages/app/.k8s/templates/ingress.yaml
Due: app

feat(forgot-password): secu remove notfound user
  packages/api/src/controllers/user/forgot-password.js
  packages/app/src/containers/ForgotPassword/ForgotPassword.js
Due: api, app

feat(forgot-password): up tests
  packages/api/__test__/e2e/user/forgotPassword.test.js
Due: api

chore(dockerfile): hasura v2beta2 upgrade + clean
  packages/hasura/Dockerfile
Due: none

chore(release): version 25.122.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(import): increase timeout to 5minutes
  packages/api/.k8s/templates/ingress.yaml
  packages/hasura/.k8s/templates/ingress.yaml
  packages/hasura/metadata/actions.yaml
Due: api

chore(release): version 25.122.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(secu): add csp headers
  packages/app/.k8s/templates/ingress.yaml
Due: app

fix(forgot-password): return typo
  packages/api/src/controllers/user/forgot-password.js
Due: api

feat(mesures): filter by departement
  packages/app/src/containers/MesureList/MesureList.js
  packages/app/src/containers/MesureList/queries.js
  packages/app/src/containers/MesureListFilters/MesureListFilters.js
  packages/app/src/containers/MesureListFilters/context/FiltersContext.js
Due: app

chore(deps): update all dependencies
  packages/api/package.json
  yarn.lock
Due: api

chore(deps): up ci
  packages/api/package.ci.json
Due: api

feat(test-version): alert on login page
  packages/app/src/config/config.js
  packages/app/src/pages/login.js
Due: app

feat(google): verif
  packages/app/public/index.html
Due: app

fix(csp): dev branches
  packages/app/.k8s/templates/ingress.yaml
Due: app

fix(csp): matomo
  packages/app/.k8s/templates/ingress.yaml
Due: app

chore(release): version 25.123.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(sitelink): se connecter redirect to prod
  packages/app/src/pages/application/authorization.js
Due: app

fix(mesures): en attentes
  packages/app/src/containers/MesureList/queries.js
Due: app

chore(release): version 25.123.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(mesures-count): use triggers approach
  packages/api/src/routes/hasura-actions/mandataire/hasura-actions.mandataires.routes.js
  packages/api/src/services/resetGestionnaireMesuresCounters.js
  packages/app/src/containers/AdminServices/AdminServiceMesures.js
  packages/app/src/containers/AdminServices/mutations.js
  packages/app/src/containers/MagistratMesureAdd/MagistratMesureAdd.js
  packages/app/src/containers/MagistratMesureAdd/mutations.js
  packages/app/src/containers/MagistratMesureDelete/MagistratMesureDeleteForm.js
  packages/app/src/containers/MagistratMesureDelete/mutations.js
  packages/app/src/containers/MesureAccept/MesureAccept.js
  packages/app/src/containers/MesureAccept/mutations.js
  packages/app/src/containers/MesureClose/MesureClose.js
  packages/app/src/containers/MesureClose/mutations.js
  packages/app/src/containers/MesureCreate/MesureCreate.js
  packages/app/src/containers/MesureCreate/mutations.js
  packages/app/src/containers/MesureDelete/MesureDelete.js
  packages/app/src/containers/MesureDelete/mutations.js
  packages/app/src/containers/MesureEdit/MesureEdit.js
  packages/app/src/containers/MesureEdit/mutations.js
  packages/app/src/containers/MesureReactivate/MesureReactivate.js
  packages/app/src/containers/MesureReactivate/mutations.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/migrations/default/1624312322635_trigger_calculate_mandataire_mesures/down.sql
  packages/hasura/migrations/default/1624312322635_trigger_calculate_mandataire_mesures/up.sql
  packages/hasura/migrations/default/1624314792079_trigger_calculate_service_mesures/down.sql
  packages/hasura/migrations/default/1624314792079_trigger_calculate_service_mesures/up.sql
  packages/hasura/migrations/default/1624315034581_trigger_calculate_service_antenne_mesures/down.sql
  packages/hasura/migrations/default/1624315034581_trigger_calculate_service_antenne_mesures/up.sql
Due: api, app

chore(release): version 25.123.2
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(mesures-count): nullable columns
  packages/hasura/migrations/default/1624348114153_nullable_musures_counts/down.sql
  packages/hasura/migrations/default/1624348114153_nullable_musures_counts/up.sql
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
