Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(enquete): prepose #1973 (#1976)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/modalites-exercice/enqueteModalitesExerciceStatus.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceEtablissementsForm.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
Due: api, app

chore(release): version 25.44.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package-lock.json
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(enquete): activite champs facultatifs
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/activite/activiteSchemaUtil.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteFormGroupMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/common/buildMesureGroupsAttributes.js
Due: api, app

fix(enquete): activite champs facultatifs (#1977)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/activite/activiteSchemaUtil.js
  packages/app/src/components/Enquete/EnqueteActivite/common/EnqueteActiviteFormGroupMesures.js
  packages/app/src/components/Enquete/EnqueteActivite/common/buildMesureGroupsAttributes.js
Due: api, app

fix(enquete): #1913 afficher liste des sections vides
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusHalfStarIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusInvalidIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusStarIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusValidIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/index.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteMenuStepper/EnqueteMenuStepper.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteMenuStepper/index.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteMenuStepper/style.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteSubmit.js
  packages/app/src/components/Enquete/EnqueteCommon/index.js
  packages/app/src/components/Enquete/EnqueteCommon/menuBuilder.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteService.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteServiceMenuBuilder.service.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/MenuStepper/index.js
Due: api, app

fix(enquete): avoid infinite loop due to data = {}
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
Due: app

feat(enquete): add xls download
  packages/app/public/static/docs/enquetes/annexe_3-2019.xls
  packages/app/public/static/docs/enquetes/annexe_5-2019.xls
  packages/app/public/static/docs/enquetes/annexe_7-2019.xls
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
  packages/app/src/util/users/UserUtils.js
Due: app

feat(enquete): fix lint
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
Due: app

feat(enquete): add xls download (#1979)
  packages/app/public/static/docs/enquetes/annexe_3-2019.xls
  packages/app/public/static/docs/enquetes/annexe_5-2019.xls
  packages/app/public/static/docs/enquetes/annexe_7-2019.xls
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
  packages/app/src/util/users/UserUtils.js
Due: app

fix(enquete): fix form bugs
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormYesNoField.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
Due: api, app

fix(enquete): #1913 afficher liste des sections vides (#1978)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose-personnel-formation/enquetePreposePersonnelFormationStatus.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusHalfStarIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusInvalidIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusStarIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/EnqueteStatusValidIcon.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteIcons/index.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteMenuStepper/EnqueteMenuStepper.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteMenuStepper/index.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteMenuStepper/style.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteSubmit.js
  packages/app/src/components/Enquete/EnqueteCommon/index.js
  packages/app/src/components/Enquete/EnqueteCommon/menuBuilder.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormSelectField.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormYesNoField.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePrepose.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationAutresFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonnelFormation/EnquetePreposePersonnelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteService.js
  packages/app/src/components/Enquete/EnqueteService/EnqueteServiceMenuBuilder.service.js
  packages/app/src/components/Enquete/useEnqueteForm.hook.js
  packages/app/src/components/EnqueteImport/EnqueteImportPanel.js
  packages/app/src/components/MenuStepper/index.js
Due: api, app

fix(enquete): boolean value
  packages/app/src/util/index.js
Due: app

fix(enquete): boolean value (#1980)
  packages/app/src/util/index.js
Due: app

fix(enquete): fix form bugs
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel-import/mandataireIndividuelEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormFieldLabel.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
Due: api, app

fix(enquete): fix form bugs (#1981)
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel-import/mandataireIndividuelEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormFieldLabel.js
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormInputField.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposeModaliteExercice/EnquetePreposeModaliteExerciceInformationsForm.js
Due: api, app

fix(enquete): remove one unit test
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataireForm.test.js
Due: app

fix(enquete): map issue
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/services/enqueteExcelParser.js
Due: api

fix(enquete): individuel issues
  packages/app/src/components/Enquete/EnqueteForm/EnqueteFormYesNoField.js
Due: app

fix(enquete): fix bug init mandataire
  packages/api/src/middlewares/hasura-error-handler.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/requests.js
  packages/app/src/components/Enquete/EnqueteCommon/EnqueteWelcome.js
Due: api, app
