Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(mesures): re-count (#1703)
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAccept.js
  packages/app/src/components/ServiceMesureClose/ServiceMesureCloseForm.js
  packages/graphql-server/src/datasource/mesure.api.ts
  packages/graphql-server/src/datasource/service.api.ts
  packages/graphql-server/src/resolvers/mutation/index.ts
  packages/graphql-server/src/types/index.ts
Due: app

chore(release): version 25.28.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(blog-link): remove blog link
  packages/app/src/components/Header/Header.js
Due: app

feat(service-info): order service antennes by name
  packages/app/src/components/UserContext/queries.js
Due: app

fix(geocode): search on geolocalisation_code_postal table
  packages/app/src/components/Geocode/GeocodeCities.js
  packages/app/src/components/Geocode/queries.js
Due: app

fix(geocode): search on geolocalisation_code_postal table (#1713)
  packages/app/src/components/Geocode/GeocodeCities.js
  packages/app/src/components/Geocode/queries.js
Due: app

fix(service-mesure): page services/mesure/:id similaire a mandataires
  packages/app/pages/services/mesures/[mesure_id]/index.js
  packages/app/src/components/ServiceMesure/ServiceMesure.js
  packages/app/src/components/ServiceMesure/constants.js
  packages/app/src/components/ServiceMesure/style.js
  packages/app/src/components/ServiceMesureSidebar/ServiceMesureSidebar.js
Due: app

fix(menu): individuel/service menu ui #1708
  packages/app/pages/mandataires/index.js
  packages/app/pages/services/index.js
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/Layout/LayoutServices.js
Due: app

fix(service-mesure): page services/mesure/:id similaire a mandataires (#1717)
  packages/app/pages/services/mesures/[mesure_id]/index.js
  packages/app/src/components/ServiceMesure/ServiceMesure.js
  packages/app/src/components/ServiceMesure/constants.js
  packages/app/src/components/ServiceMesure/style.js
  packages/app/src/components/ServiceMesureSidebar/ServiceMesureSidebar.js
Due: app

feat(knex): new migration to create enquetes tables
  packages/knex/migrations_v2/20200408160451_create_enquete_table.js
Due: none

feat(enquetes): display enquetes link for direction_national role only
  packages/app/src/components/Enquiries/Enquiries.js
  packages/app/src/components/Enquiries/index.js
  packages/app/src/components/Enquiries/queries.js
  packages/app/src/components/EnquiryCreate/EnquiryCreate.js
  packages/app/src/components/EnquiryCreate/index.js
  packages/app/src/components/EnquiryCreate/mutations.js
  packages/app/src/components/EnquiryCreate/queries.js
Due: app

feat(enquete): update sql script
  packages/app/src/components/Enquiries/queries.js
  packages/app/src/components/EnquiryCreate/EnquiryCreate.js
  packages/app/src/components/EnquiryCreate/mutations.js
  packages/app/src/components/EnquiryCreate/queries.js
  packages/knex/migrations_v2/20200408160451_create_enquete_table.js
Due: app

feat(enquetes): replace enquiry by enquete
  packages/app/src/components/Enquiries/Enquiries.js
  packages/app/src/components/Enquiries/index.js
  packages/app/src/components/Enquiries/queries.js
  packages/app/src/components/EnquiryCreate/EnquiryCreate.js
  packages/app/src/components/EnquiryCreate/index.js
  packages/app/src/components/EnquiryCreate/mutations.js
  packages/app/src/components/EnquiryCreate/queries.js
Due: app

feat(enquetes): create mandataire forms
  packages/app/pages/mandataires/enquetes/[id].js
  packages/app/src/components/IndividuelInformationAgrement/IndividuelInformationAgrementView.js
  packages/app/src/components/MandataireEnquete/MandataireEnquete.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrement.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrementForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExercice.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExerciceForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormation.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormationForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformations.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationsForm.js
  packages/app/src/components/MandataireEnquete/index.js
  packages/app/src/components/MandataireEnquete/mutations.js
  packages/app/src/components/MandataireEnquete/queries.js
Due: app

fix(enquetes): mandataire individuel
  packages/app/pages/mandataires/enquetes/[id].js
  packages/app/src/components/MandataireEnquete/MandataireEnquete.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuel.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrement.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrementForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExercice.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExerciceForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormation.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormationForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformations.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationsForm.js
  packages/app/src/components/MandataireEnquete/mutations.js
  packages/app/src/components/MandataireEnquete/queries.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
  packages/app/src/lib/validationSchemas/yup.js
Due: app

feat(enquetes): create enquete response
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuel.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
  packages/app/src/components/MandataireEnquete/mutations.js
  packages/app/src/components/MandataireEnquete/queries.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
Due: app

feat(enquetes): form validation
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
Due: app

feat(hasura): update metadata
  packages/hasura/migrations/metadata.yaml
Due: none

feat(hasura): update hasura permissions
  packages/hasura/migrations/metadata.yaml
Due: none

fix(enquetes): remove console.log
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
Due: app

chore(release): version 25.29.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app
