Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(rgaa): fix mesure ressources form
  packages/app/src/containers/MesureRessourceCreateOrEdit/MesureRessourceCreateOrEditForm.js
  packages/app/src/validation-schemas/mesureRessourceSchema.js
Due: app

fix(rgaa): fix mesure ressources form (#2807)
  packages/app/src/containers/MesureRessourceCreateOrEdit/MesureRessourceCreateOrEditForm.js
  packages/app/src/validation-schemas/mesureRessourceSchema.js
Due: app

fix(rgaa): fix validation error on redirect_uris
  packages/app/src/validation-schemas/adminEditorSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(rgaa): add a note for the slash at the end of the url
  packages/app/src/validation-schemas/adminEditorSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

Update yup.js
  packages/app/src/validation-schemas/yup.js
Due: app

fix(rgaa): fix validation error on redirect_uris (#2808)
  packages/app/src/validation-schemas/adminEditorSchema.js
  packages/app/src/validation-schemas/yup.js
Due: app

chore(release): version 25.151.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ŝignup): service required fix #2802
  packages/app/src/containers/Signup/SignupService.js
Due: app

feat(map): genre marker fix #2764
  packages/app/public/images/map-icon-prepose-man@1x.png
  packages/app/public/images/map-icon-prepose-man@2x.png
  packages/app/public/images/map-icon-prepose-unknow@2x.png
  packages/app/public/images/map-icon-prepose-woman@1x.png
  packages/app/public/images/map-icon-prepose-woman@2x.png
  packages/app/src/containers/GreffierMandatairesMap/GreffierMandataires.js
  packages/app/src/containers/GreffierMandatairesMap/GreffierMandatairesMap.js
  packages/app/src/containers/GreffierMandatairesMap/GreffierMandatairesMapPopup.js
  packages/app/src/containers/GreffierMandatairesMap/data.js
  packages/app/src/containers/GreffierMandatairesMap/index.js
  packages/app/src/containers/GreffierMandatairesMap/queries.js
  packages/app/src/containers/GreffierMandatairesMap/style.js
  packages/app/src/containers/GreffierMandatairesMap/utils.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/containers/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/containers/MagistratMandatairesMap/queries.js
  packages/app/src/containers/Map/index.js
  packages/app/src/containers/Map/utils.js
  packages/app/src/pages/greffiers/map.js
Due: app

fix(fields): red outline fix #2801
  packages/app/src/components/AppForm/FormGroupInputDate.js
  packages/app/src/components/AppForm/FormGroupInputYear.js
  packages/app/src/components/InputDate/style.scss
  packages/app/src/components/InputYear/style.scss
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelForm.js
  packages/app/src/containers/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeForm.js
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformationsForm.js
Due: app

fix(auth): add refresh token endpoint
  packages/api/src/controllers/user/login.js
  packages/api/src/controllers/user/refresh-token.js
  packages/api/src/models/User.js
  packages/api/src/routes/api/auth.js
  packages/app/src/apollo/errorLink.js
  packages/app/src/user/Auth.js
  packages/hasura/migrations/default/1645641289277_alter_table_public_users_add_column_refresh_token/down.sql
  packages/hasura/migrations/default/1645641289277_alter_table_public_users_add_column_refresh_token/up.sql
Due: api, app

fix(mesure): rm date-protection rule see #2812
  packages/api/src/routes/api/editors-rules.js
Due: api

fix(mesure): add ui date-protection rule fix #2812
  packages/api/src/routes/hasura-actions/mesure-etat/actions/updateCurrentDataOfMesure.js
Due: api

fix(auth): handle refresh token on front
  packages/app/src/apollo/AppApollo.js
  packages/app/src/apollo/errorLink.js
  packages/app/src/apollo/useInitApolloClient.js
  packages/app/src/user/Auth.js
Due: app

fix(tests): update
  packages/api/__test__/e2e/api/__snapshots__/mesures.test.js.snap
  packages/api/__test__/e2e/api/mesures.test.js
Due: api

fix(auth): handle error on refresh token
  packages/api/src/controllers/user/refresh-token.js
  packages/api/src/models/User.js
  packages/app/src/apollo/AppApollo.js
  packages/app/src/apollo/errorLink.js
  packages/app/src/components/GlobalLoader/index.js
Due: api, app

fix(mesure): date-protection delete rule fix #2812
  packages/api/src/routes/hasura-actions/mesure-etat/actions/updateCurrentDataOfMesure.js
Due: api

fix(auth): renew refreshtoken on login only if refreshToken is not valid
  packages/api/src/controllers/user/refresh-token.js
  packages/api/src/models/User.js
Due: api

fix(auth): fix typo
  packages/api/src/controllers/user/refresh-token.js
Due: api

fix(auth): add index on refresh_token
  packages/hasura/migrations/default/1646060458540_create_index_users_refresh_token/down.sql
  packages/hasura/migrations/default/1646060458540_create_index_users_refresh_token/up.sql
Due: none

fix(auth): fix snapshot test
  db-seed/devdb.dump
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/src/models/User.js
  packages/app/src/user/Auth.js
Due: api, app

fix(refresh-token): ctx + forward + impersonate
  packages/api/src/controllers/user/impersonate.js
  packages/app/src/apollo/AppApollo.js
  packages/app/src/apollo/errorLink.js
  packages/app/src/apollo/useInitApolloClient.js
  packages/app/src/containers/ImpersonateButton/index.js
  packages/app/src/user/AppUser.js
  packages/app/src/user/Auth.js
  packages/app/src/user/creds.js
Due: api, app

fix(auth): refresh the refresh token when it expires soon
  packages/api/src/controllers/user/refresh-token.js
  packages/api/src/models/User.js
  packages/app/src/apollo/errorLink.js
Due: api, app

chore(refresh-token): try to fix
  packages/app/src/apollo/errorLink.js
Due: app

fix(auth): catch error returned by refresh-token route
  packages/api/src/models/User.js
  packages/app/src/apollo/errorLink.js
Due: api, app

fix(auth): change RefreshIfLessThan value
  packages/api/src/models/User.js
Due: api

fix(rgaa): add table for screen readers to desribe chart data
  packages/app/src/components/Table/index.js
  packages/app/src/components/index.js
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
Due: app

fix(rgaa): delete unused imports
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
Due: app

fix(rgaa): delete consolelog
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
Due: app

fix(rgaa): add table for screen readers to desribe chart data (#2815)
  packages/app/src/components/Table/index.js
  packages/app/src/components/index.js
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
Due: app

fix(auth): regenerate refresh token when new token is requested
  packages/api/src/controllers/user/refresh-token.js
  packages/api/src/models/User.js
Due: api

fix(auth): silent jwt refresh using refresh_token (#2813)
  db-seed/devdb.dump
  packages/api/__test__/e2e/inscription/__snapshots__/POST_inscription.test.js.snap
  packages/api/src/controllers/user/impersonate.js
  packages/api/src/controllers/user/login.js
  packages/api/src/controllers/user/refresh-token.js
  packages/api/src/models/User.js
  packages/api/src/routes/api/auth.js
  packages/app/src/apollo/AppApollo.js
  packages/app/src/apollo/errorLink.js
  packages/app/src/apollo/useInitApolloClient.js
  packages/app/src/components/GlobalLoader/index.js
  packages/app/src/containers/ImpersonateButton/index.js
  packages/app/src/user/AppUser.js
  packages/app/src/user/Auth.js
  packages/app/src/user/creds.js
  packages/hasura/migrations/default/1645641289277_alter_table_public_users_add_column_refresh_token/down.sql
  packages/hasura/migrations/default/1645641289277_alter_table_public_users_add_column_refresh_token/up.sql
  packages/hasura/migrations/default/1646060458540_create_index_users_refresh_token/down.sql
  packages/hasura/migrations/default/1646060458540_create_index_users_refresh_token/up.sql
Due: api, app

fix(rgaa): fix skip to content on magistratMapMandataires
  packages/app/src/containers/AdminEditInformations/AdminEditInformationsForm.js
  packages/app/src/containers/AdminFilterBar/AdminFilterBar.js
  packages/app/src/containers/AdminInformations/AdminInformations.js
  packages/app/src/containers/AdminUser/AdminUser.js
  packages/app/src/containers/EditPassword/EditPassword.js
  packages/app/src/containers/Etablissement/EtablissementViewForm.js
  packages/app/src/containers/FilterWidgets/SearchFilter.js
  packages/app/src/containers/ForgotPassword/ForgotPassword.js
  packages/app/src/containers/GreffierMandatairesList/Filters.js
  packages/app/src/containers/GreffierMapMandatairesPanelList/GreffierMapMandatairesPanelList.js
  packages/app/src/containers/ListeBlanche/ListeBlancheIndividuel/ListeBlancheIndividuelCreate.js
  packages/app/src/containers/ListeBlanche/ListeBlanchePrepose/ListeBlanchePreposeCreate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceCreate.js
  packages/app/src/containers/ListeBlancheFilter/index.js
  packages/app/src/containers/MagistratFilters/MagistratFilters.js
  packages/app/src/containers/MagistratInformations/MagistratInformations.js
  packages/app/src/containers/MagistratMandatairesList/Filters.js
  packages/app/src/containers/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/app/src/containers/MagistratMesure/MagistratMesure.js
  packages/app/src/containers/MagistratMesureDelete/MagistratMesureDelete.js
  packages/app/src/containers/ResetPassword/ResetPassword.js
  packages/app/src/pages/admin/liste-blanche/index.js
  packages/app/src/pages/direction/index.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/index.js
  packages/app/src/pages/stats/[departement_code].js
  packages/app/src/pages/stats/index.js
Due: app

fix(ti): allow to delete magistrat fix #2816
  packages/hasura/migrations/default/1646387820587_set_fk_public_mesures_magistrat_id/down.sql
  packages/hasura/migrations/default/1646387820587_set_fk_public_mesures_magistrat_id/up.sql
Due: none

feat(api): forceDeleteAwaitingMesures
  packages/api/src/controllers/editor/mesure-delete.js
Due: api

feat(mesure): attente date-reservation fix #2595
  packages/app/src/containers/MesureContext/MesureContext.js
  packages/app/src/containers/MesureContext/queries.js
  packages/app/src/containers/MesureView/MesureDetailView.js
Due: app

feat(mesure): unlocked when no editor_id
  packages/app/src/containers/MesureContext/MesureContext.js
  packages/app/src/containers/MesureContext/queries.js
  packages/app/src/containers/MesureView/MesureDetailView.js
  packages/app/src/containers/MesureView/MesureEtatViewList.js
  packages/app/src/containers/MesureView/MesureRessourceViewList.js
  packages/app/src/hooks/useMesuresLocked.js
  packages/hasura/metadata/databases/default/tables/public_mesures.yaml
Due: app

chore(release): version 25.152.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(perms): editor_id
  packages/hasura/metadata/databases/default/tables/public_mesures.yaml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
