Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

SAVE
  .gitlab-ci/stages/deploy.yml
Due: none

feat(protected-routes): add route protection for all apollo pages (#784)
  packages/app/pages/_app.js
  packages/app/pages/direction/donnees-demographiques.js
  packages/app/pages/direction/mandataires.js
  packages/app/pages/direction/mandataires/list.js
  packages/app/pages/direction/mesures.js
  packages/app/pages/inscription.js
  packages/app/pages/login.js
  packages/app/pages/magistrats/edit-informations.js
  packages/app/pages/magistrats/index.js
  packages/app/pages/magistrats/informations.js
  packages/app/pages/magistrats/mesures.js
  packages/app/pages/services/add-antennes.js
  packages/app/pages/services/add-mesures.js
  packages/app/pages/services/add-user.js
  packages/app/pages/services/antennes.js
  packages/app/pages/services/edit-informations.js
  packages/app/pages/services/import-mesures.js
  packages/app/pages/services/index.js
  packages/app/pages/services/informations.js
  packages/app/pages/services/preferences.js
  packages/app/src/lib/apollo/init-apollo.js
  packages/app/src/lib/apollo/with-apollo-client.js
  packages/app/src/util/auth.js
Due: app

fix(login-style): move old css to related layout, enhance login style
  packages/app/pages/_app.js
  packages/app/pages/forgot-password.js
  packages/app/pages/login.js
  packages/app/pages/reset-password.js
  packages/app/src/components/common/Layout.js
  packages/app/static/css/custom.css
Due: app

revert: ci(gittlab): update k8s-ns-killer:0.7.1
  .gitlab-ci/stages/notify.yml
Due: none

fix(k8s): communication from graphql-server to hasura (#778)
  .gitlab-ci/stages/deploy.yml
  .k8s/graphql-server/.k8s-deploy-graphql-server.yml
  .k8s/hasura/deployment.yml
Due: none

chore(k8s): remove helm debug
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

chore(release): version 24.2.3
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

build(k8s): pass NODE_ENV to the node pods
  .k8s/api/deployment.yml
  .k8s/graphql-server/deployment.yml
Due: none

chore(knex): remove seed config in production
  packages/knex/knexfile.js
Due: none

chore(knex): remove seed config in production (#789)
  packages/knex/knexfile.js
Due: none

build(k8s): pass NODE_ENV to the node pods (#788)
  .k8s/api/deployment.yml
  .k8s/graphql-server/deployment.yml
Due: none

refactor(k8s): set namespace preference on kubectl
  .gitlab-ci/extends.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/app/.k8s-deploy-app.yml
  .k8s/graphql-server/.k8s-deploy-graphql-server.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

build(k8s): the app api uses the same protocol
  .k8s/app/deployment.yml
Due: none

refactor(k8s): set namespace preference on kubectl (#790)
  .gitlab-ci/extends.yml
  .k8s/api/.k8s-deploy-api.yml
  .k8s/app/.k8s-deploy-app.yml
  .k8s/graphql-server/.k8s-deploy-graphql-server.yml
  .k8s/hasura/.k8s-deploy-hasura.yml
  .k8s/postgres/.k8s-deploy-postgres.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
