Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

fix(service): edit informations
  packages/app/pages/services/edit-informations.js
Due: app

chore(release): version 25.75.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(mesure-view): display etats and ressources
  packages/app/pages/mandataires/mesures/[mesure_id]/accept.js
  packages/app/pages/mandataires/mesures/[mesure_id]/close.js
  packages/app/pages/mandataires/mesures/[mesure_id]/delete.js
  packages/app/pages/mandataires/mesures/[mesure_id]/edit.js
  packages/app/pages/mandataires/mesures/[mesure_id]/index.js
  packages/app/pages/mandataires/mesures/[mesure_id]/reactivate.js
  packages/app/pages/services/mesures/[mesure_id]/accept.js
  packages/app/pages/services/mesures/[mesure_id]/close.js
  packages/app/pages/services/mesures/[mesure_id]/delete.js
  packages/app/pages/services/mesures/[mesure_id]/edit.js
  packages/app/pages/services/mesures/[mesure_id]/index.js
  packages/app/pages/services/mesures/[mesure_id]/reactivate.js
  packages/app/src/components/AdminUserDirection/AdminDirectionType.js
  packages/app/src/components/AdminUserDirection/AdminDirectionTypeForm.js
  packages/app/src/components/MesureContext/MesureContext.js
  packages/app/src/components/MesureContext/queries.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEdit.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/components/MesureView/style.js
  packages/core/src/formatters/mesure.formatter.js
  packages/hasura/metadata/tables.yaml
Due: app

feat(mesure-view): display etats and ressources (#2317)
  packages/app/pages/mandataires/mesures/[mesure_id]/accept.js
  packages/app/pages/mandataires/mesures/[mesure_id]/close.js
  packages/app/pages/mandataires/mesures/[mesure_id]/delete.js
  packages/app/pages/mandataires/mesures/[mesure_id]/edit.js
  packages/app/pages/mandataires/mesures/[mesure_id]/index.js
  packages/app/pages/mandataires/mesures/[mesure_id]/reactivate.js
  packages/app/pages/services/mesures/[mesure_id]/accept.js
  packages/app/pages/services/mesures/[mesure_id]/close.js
  packages/app/pages/services/mesures/[mesure_id]/delete.js
  packages/app/pages/services/mesures/[mesure_id]/edit.js
  packages/app/pages/services/mesures/[mesure_id]/index.js
  packages/app/pages/services/mesures/[mesure_id]/reactivate.js
  packages/app/src/components/AdminUserDirection/AdminDirectionType.js
  packages/app/src/components/AdminUserDirection/AdminDirectionTypeForm.js
  packages/app/src/components/MesureContext/MesureContext.js
  packages/app/src/components/MesureContext/queries.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEdit.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/components/MesureView/style.js
  packages/core/src/formatters/mesure.formatter.js
  packages/hasura/metadata/tables.yaml
Due: app

fix(prepose): edit prepose information
  packages/app/src/components/MandataireBoard/MandataireBoard.js
  packages/app/src/components/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/lib/validationSchemas/mandataireEditSchema.js
Due: app

fix(mandataire): test lb user is defined
  packages/app/src/components/MandataireBoard/MandataireBoard.js
Due: app

chore(release): version 25.76.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(hasura): use hasura enum
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/app/src/components/MagistratMesureEdit/mutations.js
  packages/app/src/components/MagistratMesures/mutations.js
  packages/app/src/components/MagistratMesures/queries.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureClose/mutations.js
  packages/app/src/components/MesureCreateOrEdit/mutations.js
  packages/app/src/components/MesureList/queries.js
  packages/app/src/components/MesureReactivate/mutations.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1603706508336_init/up.sql
  packages/hasura/migrations/1607109933651_type_to_enum/down.sql
  packages/hasura/migrations/1607109933651_type_to_enum/up.sql
Due: app

feat(hasura): use hasura enum (#2321)
  packages/app/src/components/MagistratMesureAdd/mutations.js
  packages/app/src/components/MagistratMesureEdit/mutations.js
  packages/app/src/components/MagistratMesures/mutations.js
  packages/app/src/components/MagistratMesures/queries.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureClose/mutations.js
  packages/app/src/components/MesureCreateOrEdit/mutations.js
  packages/app/src/components/MesureList/queries.js
  packages/app/src/components/MesureReactivate/mutations.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1603706508336_init/up.sql
  packages/hasura/migrations/1607109933651_type_to_enum/down.sql
  packages/hasura/migrations/1607109933651_type_to_enum/up.sql
Due: app

feat(mesure): insert mesure etat
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEdit.js
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
  packages/app/src/components/MesureEtatCreateOrEdit/index.js
  packages/app/src/components/MesureEtatCreateOrEdit/mutations.js
  packages/app/src/components/MesureView/MesureEtatViewList.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/lib/validationSchemas/mesureEtatSchema.js
Due: app

feat(mesure): update mesure etat
  packages/app/src/components/AppForm/FormGroupInput.js
  packages/app/src/components/AppForm/FormGroupSelect.js
  packages/app/src/components/Geocode/GeocodeCities.js
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEdit.js
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
  packages/app/src/components/MesureView/MesureEtatViewList.js
Due: app

feat(mesure): ui
  packages/app/src/components/MesureView/MesureEtatView.js
  packages/app/src/components/MesureView/MesureEtatViewList.js
Due: app

feat(mesure): refactor mesure actions
  packages/api/src/routes/hasura-actions/mesure/actions/hasura-actions.mesures.delete.js
Due: api

feat(mesure): refactor actions
  packages/api/src/routes/hasura-actions/mesure-etat/actions/actionMesureEtatUpsert.js
  packages/api/src/routes/hasura-actions/mesure-etat/actions/index.js
  packages/api/src/routes/hasura-actions/mesure-etat/hasura-actions.mesure-etat.routes.js
  packages/api/src/routes/hasura-actions/mesure/actions/actionMesuresDelete.js
  packages/api/src/routes/hasura-actions/mesure/actions/actionMesuresExport.js
  packages/api/src/routes/hasura-actions/mesure/actions/index.js
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEdit.js
Due: api, app

feat(mesure): refactor mesure actions
  packages/api/src/routes/hasura-actions/mesure/actions/hasura-actions.mesures.delete.js
  packages/api/src/routes/hasura-actions/mesure/actions/hasura-actions.mesures.export.js
  packages/api/src/routes/hasura-actions/mesure/actions/index.js
  packages/api/src/routes/hasura-actions/mesure/hasura-actions.mesures.routes.js
Due: api

feat(mesure): handle etat
  packages/app/src/components/AdminServices/AdminServiceMesures.js
  packages/app/src/components/AdminUserMandataire/AdminMandataireMesures.js
  packages/app/src/components/MagistratMesure/MagistratMesure.js
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureAccept/MesureAcceptForm.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureContext/MesureContext.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEditForm.js
  packages/app/src/components/MesureDelete/mutations.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/lib/validationSchemas/mesureAcceptSchema.js
  packages/core/src/services/mesures.service.js
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1606905659421_insert_mesure_etat/up.sql
Due: app

feat(mesure): handle etat
  packages/app/src/components/MesureAccept/MesureAccept.js
  packages/app/src/components/MesureContext/MesureContext.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEditForm.js
  packages/app/src/components/MesureCreateOrEdit/style.js
  packages/app/src/components/MesureView/MesureDetailView.js
  packages/app/src/components/MesureView/MesureEtatView.js
  packages/app/src/components/MesureView/MesureEtatViewList.js
  packages/app/src/components/MesureView/MesureRessourceView.js
  packages/app/src/components/MesureView/MesureView.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mesureAcceptSchema.js
  packages/app/src/lib/validationSchemas/mesureEtatSchema.js
Due: app

feat(hasura): upsert mesure etat
  packages/api/src/routes/hasura-actions/hasura-actions.routes.js
  packages/api/src/routes/hasura-actions/mesure-etat/actions/actionMesureEtatDelete.js
  packages/api/src/routes/hasura-actions/mesure-etat/actions/actionMesureEtatUpsert.js
  packages/api/src/routes/hasura-actions/mesure-etat/actions/index.js
  packages/api/src/routes/hasura-actions/mesure-etat/actions/updateCurrentDataOfMesure.js
  packages/api/src/routes/hasura-actions/mesure-etat/hasura-actions.mesure-etats.routes.js
  packages/app/src/components/MagistratMandataireMap/queries.js
  packages/app/src/components/MandataireMap/queries.js
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEdit.js
  packages/app/src/components/MesureEtatCreateOrEdit/MesureEtatCreateOrEditForm.js
  packages/app/src/components/MesureEtatCreateOrEdit/mutations.js
  packages/app/src/components/MesureView/MesureEtatView.js
  packages/app/src/components/MesureView/MesureEtatViewList.js
  packages/app/src/components/ServiceMap/queries.js
  packages/hasura/metadata/actions.graphql
  packages/hasura/metadata/actions.yaml
  packages/hasura/metadata/tables.yaml
Due: api, app

feat(mesure-etat): refactor import
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
Due: api

feat(mesure-etat): handle create / edit mesure
  packages/api/src/routes/hasura-actions/mesure/mesures-import/actionsMesuresImporter.js
  packages/app/pages/mandataires/add-mesures.js
  packages/app/pages/mandataires/mesures/[mesure_id]/edit.js
  packages/app/pages/services/add-mesures.js
  packages/app/pages/services/mesures/[mesure_id]/edit.js
  packages/app/src/components/MesureAccept/mutations.js
  packages/app/src/components/MesureContext/queries.js
  packages/app/src/components/MesureCreate/MesureCreate.js
  packages/app/src/components/MesureCreate/MesureCreateForm.js
  packages/app/src/components/MesureCreate/index.js
  packages/app/src/components/MesureCreate/mutations.js
  packages/app/src/components/MesureCreate/queries.js
  packages/app/src/components/MesureCreateOrEdit/MesureCreateOrEditForm.js
  packages/app/src/components/MesureCreateOrEdit/index.js
  packages/app/src/components/MesureCreateOrEdit/mutations.js
  packages/app/src/components/MesureEdit/MesureEdit.js
  packages/app/src/components/MesureEdit/MesureEditForm.js
  packages/app/src/components/MesureEdit/index.js
  packages/app/src/components/MesureEdit/mutations.js
  packages/app/src/components/MesureEdit/queries.js
  packages/app/src/components/MesureView/MesureDetailView.js
  packages/app/src/components/TribunalAutoComplete/index.js
  packages/app/src/lib/validationSchemas/mesureSchema.js
  packages/core/src/services/mesures.service.js
  packages/hasura/metadata/tables.yaml
  packages/ui/src/core/Field/style.js
  packages/ui/src/core/InlineError/InlineError.js
Due: api, app

feat(app-in-docker-compose): fixing cross-os networking (#2322)
  .env.sample
  docker-compose.yaml
Due: none

feat(app-in-docker-compose): fixing cross-os networking (#2322) (#2323)
  .env.sample
  docker-compose.yaml
Due: none

fix(app-in-docker-compose): can now connect and use app as before
  docker-compose.yaml
  packages/api/knexfile.js
Due: api

fix(app-in-docker): decouple nextjs ssr and browser gql url
  .env.sample
  packages/app/next.config.js
  packages/app/src/lib/apollo/init-apollo.js
Due: app

fix(app-in-docker): hasura internal 5000->8080
  .env.sample
Due: none
