Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(admin-import): handle import page visibility (#1118)
  packages/app/pages/admin/users/[user_id].js
  packages/app/src/components/AdminUsers/AdminUsers.js
  packages/app/src/util/index.js
  packages/app/src/util/users/UserUtils.js
Due: app

feat(mesure-import): handle longitude/latitude
  packages/api/model/GeolocalisationCodePostal.js
  packages/api/routes/webhook.js
Due: api

chore(import-geoloc): remove console.log
  packages/api/routes/webhook.js
Due: api

feat(mesure-import): handle longitude/latitude (#1120)
  packages/api/model/GeolocalisationCodePostal.js
  packages/api/routes/webhook.js
Due: api

feat(manataire): add waiting mesures page
  packages/app/pages/mandataires/waiting-mesures.js
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
Due: app

chore(mesure): update filter mesure name
  packages/app/src/components/MagistratFilters/MagistratFilters.js
  packages/app/src/components/MandataireFilters/MandataireFilters.js
  packages/app/src/components/ServicesFilters/ServicesFilters.js
Due: app

feat(mandataire-map): add map components
  packages/app/pages/_document.js
  packages/app/pages/magistrats/map.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.test.js
  packages/app/src/components/MagistratMandatairesMap/index.js
  packages/app/src/components/MagistratMandatairesMap/style.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.test.js
  packages/app/src/components/MagistratMapMandataireList/index.js
  packages/app/src/components/MagistratMapMandataireList/style.js
  yarn.lock
Due: app

feat(mandataire-map): remove useless data file
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesures.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.test.js
Due: app

feat(mandataires-map): add base components and interactions
  packages/app/pages/_document.js
  packages/app/pages/magistrats/map.js
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesures.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/components/MagistratMandatairesMap/data.js
  packages/app/src/components/MagistratMandatairesMap/index.js
  packages/app/src/components/MagistratMandatairesMap/queries.js
  packages/app/src/components/MagistratMandatairesMap/style.js
  packages/app/src/components/MagistratMapMandataireList/style.js
  yarn.lock
Due: app

feat(mandataire-map): add context and fetch mesure whenselect mandataire
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesures.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesuresWithClusters.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/components/MagistratMandatairesMap/context/MapContext.js
  packages/app/src/components/MagistratMandatairesMap/context/index.js
  packages/app/src/components/MagistratMandatairesMap/queries.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/app/src/components/MagistratMapMandataireList/queries.js
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

fix(layer): change discriminator and filter
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
Due: app

feat(mandataire-list): add scrollbar and mandataires list show more
  packages/app/src/components-v2/MagistratMapMandataireList/queries.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMandatairesMap/queries.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/app/src/components/MagistratMapMandataireList/style.js
Due: app

feat(mandataire-map): add cluster test
  packages/app/src/components-v2/MagistratMandatairesMap/LayerMesuresWithClusters.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
Due: app

feat(mandataire-map): add coordinates on table with migration
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesures.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMandatairesMap/queries.js
  packages/app/src/components/MagistratMandatairesMapPanel/MagistratMandatairesMapPanel.js
  packages/app/src/components/MagistratMandatairesMapPanel/MagistratMandatairesMapPanel.test.js
  packages/app/src/components/MagistratMandatairesMapPanel/index.js
  packages/app/src/components/MagistratMandatairesMapPanel/style.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/knexfile.js
  packages/knex/migrations/20191018121340_add_coordinates.js
  packages/knex/migrations/20191020110431_postal.js
  packages/knex/migrations/20191021110431_add_coordinates_from_table.js
Due: app

feat(mandataire-map): add list select
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/app/src/components/MagistratMapMandataireList/queries.js
  packages/app/src/util/mandataires/MandataireUtils.js
  yarn.lock
Due: app

feat(mandataire-map): add mesure fetching for list select
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/app/src/components/MagistratMapMandataireList/queries.js
  packages/hasura/migrations/metadata.yaml
Due: app

feat(hasura): update metadata and hasura version
  packages/hasura/migrations/metadata.yaml
Due: none

feat(hasura): update to hasura 1.0.8 fix metadata and migration
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations/20191018121340_add_coordinates.js
  packages/knex/migrations/20191020110431_postal.js
Due: none

fix(seed): add back right path
  packages/knex/knexfile.js
Due: none

refactor(magistrat-mandataire-map): refactor map
  packages/app/pages/magistrats/map.js
  packages/app/src/components/MagistratMandatairesMap/LayerIndividuel.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesures.js
  packages/app/src/components/MagistratMandatairesMap/LayerMesuresWithClusters.js
  packages/app/src/components/MagistratMandatairesMap/LayerPrepose.js
  packages/app/src/components/MagistratMandatairesMap/LayerServices.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandataires.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.test.js
  packages/app/src/components/MagistratMandatairesMap/context/MapContext.js
  packages/app/src/components/MagistratMandatairesMap/context/index.js
  packages/app/src/components/MagistratMandatairesMap/data.js
  packages/app/src/components/MagistratMandatairesMap/index.js
  packages/app/src/components/MagistratMandatairesMap/queries.js
  packages/app/src/components/MagistratMandatairesMap/style.js
  packages/app/src/components/MagistratMandatairesMapPanel/MagistratMandatairesMapPanel.js
  packages/app/src/components/MagistratMandatairesMapPanel/MagistratMandatairesMapPanel.test.js
  packages/app/src/components/MagistratMandatairesMapPanel/index.js
  packages/app/src/components/MagistratMandatairesMapPanel/style.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.js
  packages/app/src/components/MagistratMapMandataireList/MagistratMapMandataireList.test.js
  packages/app/src/components/MagistratMapMandataireList/index.js
  packages/app/src/components/MagistratMapMandataireList/queries.js
  packages/app/src/components/MagistratMapMandataireList/style.js
  packages/app/src/util/mandataires/MandataireUtils.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/201910019154227_add_coordinates.js
  packages/knex/migrations_v2/201910019154228_postal.js
  packages/knex/migrations_v2/201910019154229_add_coordinates_from_table.js
  yarn.lock
Due: app

fix(migration): change migrations order
  packages/knex/migrations/201910019154227_add_coordinates.js
  packages/knex/migrations/201910019154228_postal.js
  packages/knex/migrations/201910019154229_add_coordinates_from_table.js
Due: none

feat(metadata): update permission
  packages/hasura/migrations/metadata.yaml
Due: none

fix(migrations): update migration and knex rollback
  packages/knex/migrations_v2/201910019154227_add_coordinates.js
  packages/knex/migrations_v2/201910019154228_postal.js
  packages/knex/migrations_v2/201910019154229_add_coordinates_from_table.js
Due: none

fix(migrations): update migration names
  packages/knex/migrations_v2/201912019154227_add_coordinates.js
  packages/knex/migrations_v2/201912019154228_postal.js
  packages/knex/migrations_v2/201912019154229_add_coordinates_from_table.js
Due: none

fix(metadata): fix metadata with up to date file
  packages/hasura/migrations/metadata.yaml
Due: none

fix(migrations): remove useless migrations
  packages/knex/migrations_v2/201912019154227_add_coordinates.js
  packages/knex/migrations_v2/201912019154228_postal.js
  packages/knex/migrations_v2/201912019154229_add_coordinates_from_table.js
Due: none

fix(metadata): update metadata
  packages/hasura/migrations/metadata.yaml
Due: none

feat(manataire): add waiting mesures page (#1121)
  packages/app/pages/mandataires/waiting-mesures.js
  packages/app/src/components/Layout/LayoutMandataire.js
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
Due: app

chore(mesure): update filter mesure name (#1122)
  packages/app/src/components/MagistratFilters/MagistratFilters.js
  packages/app/src/components/MandataireFilters/MandataireFilters.js
  packages/app/src/components/ServicesFilters/ServicesFilters.js
Due: app
