Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(components-package): add new component package (#656)
  packages/app/next.config.js
  packages/app/package.json
  packages/app/pages/direction/donnees-demographiques.js
  packages/app/src/components-v2/commons/Link.js
  packages/app/src/components-v2/directionIndicators/AvailableMesureIndicator.js
  packages/app/src/components-v2/directionIndicators/ClosedMesureIndicator.js
  packages/app/src/components-v2/directionIndicators/EtablissementIndicator.js
  packages/app/src/components-v2/directionIndicators/Indicator.js
  packages/app/src/components-v2/directionIndicators/MandatairesIndicator.js
  packages/app/src/components-v2/directionIndicators/NewMesureIndicator.js
  packages/app/src/components-v2/directionIndicators/OpenMesureIndicator.js
  packages/app/src/components-v2/directionIndicators/ServicesIndicator.js
  packages/app/src/components-v2/directionIndicators/index.js
  packages/app/src/components-v2/dropDownMenu/DropDownMenu.js
  packages/app/src/components-v2/dropDownMenu/index.js
  packages/app/src/components-v2/header/Header.js
  packages/app/src/components-v2/header/index.js
  packages/app/src/components-v2/layout/LayoutDirection.js
  yarn.lock
Due: app

fix(layout): remove test
  packages/app/src/components-v2/layout/LayoutDirection.js
Due: app

chore(deps): update to hasura/graphql-engine:v1.0.0-beta.5
  packages/hasura/Dockerfile
Due: none

chore(deps): update to hasura/graphql-engine:v1.0.0-beta.5 (#666)
  packages/hasura/Dockerfile
Due: none

feat(services-pages): add services basic pages and layout
  packages/app/pages/services.js
  packages/app/pages/services/AddAntennes.js
  packages/app/pages/services/AddMesures.js
  packages/app/pages/services/AddUser.js
  packages/app/pages/services/Antennes.js
  packages/app/pages/services/EditInformations.js
  packages/app/pages/services/ImportMesures.js
  packages/app/pages/services/Informations.js
  packages/app/pages/services/Preferences.js
  packages/app/pages/services/index.js
  packages/app/src/components-v2/layout/LayoutServices.js
  packages/app/src/components-v2/layout/index.js
  packages/app/src/components-v2/servicesFilters/ServicesFilters.js
  packages/app/src/components-v2/servicesFilters/index.js
Due: app

fix(hasura-volume): add hasura volume back
  docker-compose.yaml
Due: none

fix(layout): remove test (#665)
  packages/app/src/components-v2/layout/LayoutDirection.js
Due: app

feat(hygen): add component generator
  packages/app/README.md
  packages/app/_templates/component/new/component.ejs.t
  packages/app/_templates/component/new/index.ejs.t
  packages/app/_templates/component/new/prompt.js
  packages/app/_templates/component/new/promptArgUtil.js
  packages/app/_templates/component/new/style.ejs.t
  packages/app/package.json
  yarn.lock
Due: app

feat(hygen): add basic jest test in generated files
  packages/app/_templates/component/new/component.test.ejs.t
Due: app

Feat/hygen (#669)
  packages/app/README.md
  packages/app/_templates/component/new/component.ejs.t
  packages/app/_templates/component/new/component.test.ejs.t
  packages/app/_templates/component/new/index.ejs.t
  packages/app/_templates/component/new/prompt.js
  packages/app/_templates/component/new/promptArgUtil.js
  packages/app/_templates/component/new/style.ejs.t
  packages/app/package.json
  yarn.lock
Due: app

feat(services-pages): add services basic pages and layout (#667)
  packages/app/pages/services.js
  packages/app/pages/services/AddAntennes.js
  packages/app/pages/services/AddMesures.js
  packages/app/pages/services/AddUser.js
  packages/app/pages/services/Antennes.js
  packages/app/pages/services/EditInformations.js
  packages/app/pages/services/ImportMesures.js
  packages/app/pages/services/Informations.js
  packages/app/pages/services/Preferences.js
  packages/app/pages/services/index.js
  packages/app/src/components-v2/layout/LayoutServices.js
  packages/app/src/components-v2/layout/index.js
  packages/app/src/components-v2/servicesFilters/ServicesFilters.js
  packages/app/src/components-v2/servicesFilters/index.js
Due: app

feat(inscription): fix bad tis api url
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/routes/auth-v2.js
  packages/api/routes/auth.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/inscription/Form.js
Due: api, app

feat(informations): add informations components and query
  packages/app/pages/services/Informations.js
  packages/app/src/components-v2/commons/LinkButton.js
  packages/app/src/components-v2/informations/Informations.js
  packages/app/src/components-v2/informations/Informations.test.js
  packages/app/src/components-v2/informations/index.js
  packages/app/src/components-v2/informations/style.js
  packages/app/src/components-v2/servicesInformations/index.js
  packages/app/src/components-v2/servicesInformations/queries.js
Due: app

feat(logout): add new logout function with protected routes hoc
  packages/app/package.json
  packages/app/src/components-v2/layout/LayoutDirection.js
  packages/app/src/components-v2/layout/LayoutServices.js
  packages/app/src/util/auth.js
  yarn.lock
Due: app

feat(service-inscription): add antenne and tis creation
  packages/api/controllers/user/signup.js
  packages/api/model/Mandataire.js
  packages/api/model/ServiceAntenne.js
  packages/api/model/ServiceTis.js
  packages/api/model/User.js
  packages/api/model/UserTis.js
Due: api

feat(antenne): add add service admin user antenne migration api
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/controllers/user/utils/tis.js
  packages/api/model/ServiceAdmin.js
  packages/api/model/UserAntenne.js
  packages/knex/migrations/20190828220611_service_admin.js
  packages/knex/migrations/20190828224024_user_antenne.js
  packages/knex/package.json
Due: api

feat(antenne): add new seeds
  packages/api/controllers/user/utils/service.js
  packages/knex/seeds/development/0017-service_antenne.js
  packages/knex/seeds/development/0070-service-admin.js
  packages/knex/seeds/development/0070-user-antenne.js
Due: api

feat(logout): trying to fix code quality
  packages/app/src/util/auth.js
Due: app

feat(service-inscription): update snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

feat(service-inscription): update snapshot with object
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(user-tis): fix wrong param send to createUserTis function
  packages/api/controllers/user/signup.js
  packages/api/test/routes.inscription.test.js
Due: api

feat(inscription): fix service creation with new database organization (#672)
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/controllers/user/utils/tis.js
  packages/api/model/Mandataire.js
  packages/api/model/ServiceAdmin.js
  packages/api/model/ServiceAntenne.js
  packages/api/model/ServiceTis.js
  packages/api/model/User.js
  packages/api/model/UserAntenne.js
  packages/api/model/UserTis.js
  packages/api/routes/auth-v2.js
  packages/api/routes/auth.js
  packages/api/test/routes.inscription.test.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/inscription/Form.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190828220611_service_admin.js
  packages/knex/migrations/20190828224024_user_antenne.js
  packages/knex/package.json
  packages/knex/seeds/development/0017-service_antenne.js
  packages/knex/seeds/development/0070-service-admin.js
  packages/knex/seeds/development/0070-user-antenne.js
Due: api, app
