Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(deps): update dependency eslint-plugin-cypress to ^2.8.1
  optional/e2e/package.json
  optional/e2e/yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-prettier to ^3.1.2
  packages/api/package.json
  yarn.lock
Due: api

Refactor/magistrat map (#1186)
  packages/app/pages/magistrats/map.js
  packages/app/src/components/MagistratMapMandataires/LayerMandataires.js
  packages/app/src/components/MagistratMapMandataires/LayerMesures.js
  packages/app/src/components/MagistratMapMandataires/MagistratMandataires.js
  packages/app/src/components/MagistratMapMandataires/MagistratMapMandataires.js
  packages/app/src/components/MagistratMapMandataires/utils.js
  packages/app/src/components/MagistratMapMandatairesPanel/MagistratMapMandatairesPanel.js
  packages/app/src/components/MagistratMapMandatairesPanel/MagistratMapMandatairesPanel.test.js
  packages/app/src/components/MagistratMapMandatairesPanel/index.js
  packages/app/src/components/MagistratMapMandatairesPanel/style.js
  packages/app/src/components/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/MagistratMapMandatairesPanelProfile.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/MagistratMapMandatairesPanelProfile.test.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/__snapshots__/MagistratMapMandatairesPanelProfile.test.js.snap
  packages/app/src/components/MagistratMapMandatairesPanelProfile/index.js
  packages/app/src/components/MagistratMapMandatairesPanelProfile/style.js
Due: app

chore(deps): update dependency nodemailer-mock to ^1.4.4
  packages/api/package.json
  yarn.lock
Due: api

ci(hasura): update hasura docker image v1.0.0
  packages/hasura/Dockerfile
Due: none

ci(hasura): update hasura docker image v1.0.0 (#1194)
  packages/hasura/Dockerfile
Due: none

fix(hasura): remove useless script
  packages/hasura/Dockerfile
  packages/hasura/scripts/entrypoint.sh
Due: none

fix(metadata): update metadata
  packages/hasura/migrations/metadata.yaml
Due: none

fix(hasura): remove useless script + update metadata (#1195)
  packages/hasura/Dockerfile
  packages/hasura/migrations/metadata.yaml
  packages/hasura/scripts/entrypoint.sh
Due: none

fix(view-medata): fix sql view permission
  packages/hasura/migrations/metadata.yaml
Due: none

fix(view-medata): fix sql view permission (#1196)
  packages/hasura/migrations/metadata.yaml
Due: none

ci(hasura): update hasura docker image v1.0.0.cli-migrations
  packages/hasura/Dockerfile
Due: none

chore(deps): update dependency pg-query-stream to ^2.0.1
  packages/api/package.json
  yarn.lock
Due: api

ci(hasura): remove permission migration files
  packages/hasura/migrations/1575897255141_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897255141_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897266925_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897266925_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897274863_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897274863_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897279499_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897279499_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897378320_update_permission_mandataire_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897378320_update_permission_mandataire_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897419228_update_permission_individuel_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897419228_update_permission_individuel_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897442864_update_permission_individuel_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897442864_update_permission_individuel_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897450873_update_permission_individuel_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897450873_update_permission_individuel_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897586060_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897586060_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897593436_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897593436_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897598600_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897598600_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575898464455_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575898464455_update_permission_individuel_public_table_mesures/up.yaml
Due: none

ci(hasura): update hasura docker image v1.0.0.cli-migrations (#1198)
  packages/hasura/Dockerfile
  packages/hasura/migrations/1575897255141_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897255141_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897266925_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897266925_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897274863_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897274863_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897279499_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897279499_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897378320_update_permission_mandataire_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897378320_update_permission_mandataire_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897419228_update_permission_individuel_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897419228_update_permission_individuel_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897442864_update_permission_individuel_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897442864_update_permission_individuel_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897450873_update_permission_individuel_public_table_mandataires/down.yaml
  packages/hasura/migrations/1575897450873_update_permission_individuel_public_table_mandataires/up.yaml
  packages/hasura/migrations/1575897586060_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897586060_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897593436_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897593436_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575897598600_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575897598600_update_permission_individuel_public_table_mesures/up.yaml
  packages/hasura/migrations/1575898464455_update_permission_individuel_public_table_mesures/down.yaml
  packages/hasura/migrations/1575898464455_update_permission_individuel_public_table_mesures/up.yaml
Due: none

chore(deps): update dependency rewiremock to ^3.13.9
  packages/api/package.json
  yarn.lock
Due: api

chore(deps): update dependency ts-node to ^8.5.4
  packages/graphql-server/package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to ^3.7.3
  packages/graphql-server/package.json
  yarn.lock
Due: none

chore(deps): update dependency webpack to ^4.41.3
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency @mdx-js/react to ^1.5.2
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency @sentry/node to v5.10.2
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency @socialgouv/emjpm-ui-components to v0.50.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency @socialgouv/emjpm-ui-core to ^1.13.3
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency bootstrap to ^4.4.1
  packages/app/package.json
  yarn.lock
Due: app

build(dep): add hygen as dev dependency
  packages/app/package.json
  yarn.lock
Due: app
