Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(inscription): fix service creation with new database organization (#672)
  packages/api/__test__/e2e/inscription/GET_inscription.test.js
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/controllers/user/utils/tis.js
  packages/api/model/Mandataire.js
  packages/api/model/ServiceAdmin.js
  packages/api/model/ServiceAntenne.js
  packages/api/model/ServiceTis.js
  packages/api/model/User.js
  packages/api/model/UserAntenne.js
  packages/api/model/UserTis.js
  packages/api/routes/auth-v2.js
  packages/api/routes/auth.js
  packages/api/test/routes.inscription.test.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/inscription/Form.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190828220611_service_admin.js
  packages/knex/migrations/20190828224024_user_antenne.js
  packages/knex/package.json
  packages/knex/seeds/development/0017-service_antenne.js
  packages/knex/seeds/development/0070-service-admin.js
  packages/knex/seeds/development/0070-user-antenne.js
Due: api, app

feat(logout): add new logout function with protected routes hoc (#671)
  packages/app/package.json
  packages/app/src/components-v2/layout/LayoutDirection.js
  packages/app/src/components-v2/layout/LayoutServices.js
  packages/app/src/util/auth.js
  yarn.lock
Due: app

feat(services): add informations components and query (#670)
  packages/app/pages/services/Informations.js
  packages/app/src/components-v2/commons/LinkButton.js
  packages/app/src/components-v2/informations/Informations.js
  packages/app/src/components-v2/informations/Informations.test.js
  packages/app/src/components-v2/informations/index.js
  packages/app/src/components-v2/informations/style.js
  packages/app/src/components-v2/servicesInformations/index.js
  packages/app/src/components-v2/servicesInformations/queries.js
Due: app

feat(hasura-metadata): update permissions metadata use yaml not json
  packages/hasura/migrations/metadata.json
  packages/hasura/migrations/metadata.yaml
Due: none

feat(migrations): remove unique constrain user_antenne and service_admin
  packages/knex/migrations/20190828220611_service_admin.js
  packages/knex/migrations/20190828224024_user_antenne.js
Due: none

feat(apollo): fix client cache
  packages/app/src/lib/apollo/init-apollo.js
  packages/app/src/lib/apollo/with-apollo-client.js
Due: app

feat(user): change user query for layouts
  packages/app/src/components-v2/layout/LayoutDirection.js
  packages/app/src/components-v2/layout/LayoutServices.js
  packages/app/src/components-v2/layout/queries.js
  packages/app/src/components-v2/servicesInformations/index.js
Due: app

fix(hasura-script): fix file type in entrypoint.sh
  packages/hasura/scripts/entrypoint.sh
Due: none

feat(signup): add token and update user service func
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/model/User.js
Due: api

chore(hasura-image): bump hasura cli version to beta 6
  packages/hasura/Dockerfile
Due: none

chore(hasura-image): bump hasura cli version to beta 6 (#674)
  packages/hasura/Dockerfile
Due: none

fix(service-signup): add antenne and service to hasura token
  packages/api/auth/local.js
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/model/ServiceAdmin.js
  packages/api/model/ServiceAntenne.js
  packages/api/model/User.js
  packages/api/model/UserAntenne.js
Due: api

feat(service-information): add preference panel
  packages/app/src/presentationalComponents/PreferencesPanel/PreferencesPanel.js
  packages/app/src/presentationalComponents/PreferencesPanel/PreferencesPanel.test.js
  packages/app/src/presentationalComponents/PreferencesPanel/index.js
  packages/app/src/presentationalComponents/PreferencesPanel/style.js
Due: app

feat(service-information): move informations component
  packages/app/src/presentationalComponents/informations/Informations.js
  packages/app/src/presentationalComponents/informations/Informations.test.js
  packages/app/src/presentationalComponents/informations/index.js
  packages/app/src/presentationalComponents/informations/style.js
Due: app

feat(service-information): update informations page
  packages/app/pages/services/Informations.js
Due: app

feat(grid): update grid witdh
  packages/app/src/components-v2/commons/Grid.js
Due: app

feat(service-information): update import
  packages/app/src/components-v2/servicesInformations/index.js
  packages/app/src/components-v2/servicesInformations/queries.js
Due: app

docs(readme): add readme in temp component folder
  packages/app/src/presentationalComponents/README.md
Due: app

fix(template): fix camelize naming
  packages/app/_templates/component/new/component.ejs.t
  packages/app/_templates/component/new/component.test.ejs.t
  packages/app/_templates/component/new/index.ejs.t
  packages/app/_templates/component/new/style.ejs.t
Due: app

Feat/service information (#673)
  packages/api/auth/local.js
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/model/ServiceAdmin.js
  packages/api/model/ServiceAntenne.js
  packages/api/model/User.js
  packages/api/model/UserAntenne.js
  packages/app/_templates/component/new/component.ejs.t
  packages/app/_templates/component/new/component.test.ejs.t
  packages/app/_templates/component/new/index.ejs.t
  packages/app/_templates/component/new/style.ejs.t
  packages/app/pages/services/Informations.js
  packages/app/src/components-v2/commons/Grid.js
  packages/app/src/components-v2/layout/LayoutDirection.js
  packages/app/src/components-v2/layout/LayoutServices.js
  packages/app/src/components-v2/layout/queries.js
  packages/app/src/components-v2/servicesInformations/index.js
  packages/app/src/components-v2/servicesInformations/queries.js
  packages/app/src/lib/apollo/init-apollo.js
  packages/app/src/lib/apollo/with-apollo-client.js
  packages/app/src/presentationalComponents/PreferencesPanel/PreferencesPanel.js
  packages/app/src/presentationalComponents/PreferencesPanel/PreferencesPanel.test.js
  packages/app/src/presentationalComponents/PreferencesPanel/index.js
  packages/app/src/presentationalComponents/PreferencesPanel/style.js
  packages/app/src/presentationalComponents/README.md
  packages/app/src/presentationalComponents/informations/Informations.js
  packages/app/src/presentationalComponents/informations/Informations.test.js
  packages/app/src/presentationalComponents/informations/index.js
  packages/app/src/presentationalComponents/informations/style.js
  packages/hasura/migrations/metadata.json
  packages/hasura/migrations/metadata.yaml
  packages/hasura/scripts/entrypoint.sh
  packages/knex/migrations/20190828220611_service_admin.js
  packages/knex/migrations/20190828224024_user_antenne.js
Due: api, app

fix(eslint): add eslint auto close rule
  packages/app/.eslintrc.yml
Due: app

feat(informations): add antenne component
  packages/app/src/presentationalComponents/Antennes/Antennes.js
  packages/app/src/presentationalComponents/Antennes/Antennes.test.js
  packages/app/src/presentationalComponents/Antennes/index.js
  packages/app/src/presentationalComponents/Antennes/style.js
Due: app

fix(lint): fix auto closing tag
  packages/app/pages/_document.js
Due: app

refactor(components): split un presentational components folder
  packages/app/pages/services/AddAntennes.js
  packages/app/pages/services/AddMesures.js
  packages/app/pages/services/AddUser.js
  packages/app/pages/services/Antennes.js
  packages/app/pages/services/EditInformations.js
  packages/app/pages/services/ImportMesures.js
  packages/app/pages/services/Preferences.js
  packages/app/pages/services/index.js
  packages/app/src/components-v2/commons/Grid.js
  packages/app/src/components-v2/commons/Logo.js
  packages/app/src/components-v2/commons/index.js
  packages/app/src/components-v2/mesureAllocation/index.js
  packages/app/src/components-v2/mesureAllocation/query.js
  packages/app/src/components-v2/mesureEvolution/query.js
  packages/app/src/components-v2/servicesInformations/index.js
  packages/app/src/presentationalComponents/PreferencesPanel/PreferencesPanel.js
  packages/app/src/presentationalComponents/commons/Link.js
  packages/app/src/presentationalComponents/commons/LinkButton.js
  packages/app/src/presentationalComponents/commons/List.js
  packages/app/src/presentationalComponents/commons/index.js
  packages/app/src/presentationalComponents/footer/Footer.js
  packages/app/src/presentationalComponents/footer/index.js
  packages/app/src/presentationalComponents/informations/Informations.js
  packages/app/src/presentationalComponents/informations/style.js
  packages/app/src/presentationalComponents/layout/LayoutDirection.js
  packages/app/src/presentationalComponents/layout/LayoutServices.js
  packages/app/src/presentationalComponents/layout/index.js
  packages/app/src/presentationalComponents/layout/queries.js
  packages/app/src/presentationalComponents/navigation/Link.js
  packages/app/src/presentationalComponents/navigation/Navigation.js
  packages/app/src/presentationalComponents/navigation/index.js
  packages/app/src/presentationalComponents/servicesFilters/ServicesFilters.js
  packages/app/src/presentationalComponents/servicesFilters/index.js
Due: app

fix(grid-import): make use of package core
  packages/app/pages/direction/donnees-demographiques.js
  packages/app/pages/direction/mandataires.js
  packages/app/pages/direction/mandatairesList.js
  packages/app/pages/direction/mesures.js
  packages/app/pages/services/AddAntennes.js
  packages/app/pages/services/AddMesures.js
  packages/app/pages/services/AddUser.js
  packages/app/pages/services/Antennes.js
  packages/app/pages/services/EditInformations.js
  packages/app/pages/services/ImportMesures.js
  packages/app/pages/services/Informations.js
  packages/app/pages/services/Preferences.js
  packages/app/pages/services/index.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
