Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

chore(release): version 25.24.3
  CHANGELOG.md
  lerna.json
  optional/e2e/.runners/puppetteer/CHANGELOG.md
  optional/e2e/.runners/puppetteer/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(daily-backup): use postgres:10-alpine
  .k8s/postgres/backup/cronjob.yml
Due: none

ci(anonymise): update anonymisation script
  .k8s/postgres/backup/configmap/anonymize.sql
Due: none

feat(admin): manage tribunaux (#1604)
  packages/app/src/components/AdminServices/AdminServiceInformations.js
  packages/app/src/components/AdminServices/mutations.js
  packages/app/src/components/AdminServices/queries.js
  packages/app/src/components/AdminUsers/AdminUserInformations.js
  packages/app/src/components/AdminUsers/AdminUsersMagistratTribunal.js
  packages/app/src/components/AdminUsers/AdminUsersTribunaux.js
  packages/app/src/components/AdminUsers/mutations.js
  packages/app/src/components/AdminUsers/queries.js
  packages/app/src/components/AdminUsers/util.js
Due: app

fix(mesure): edit form
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
Due: app

fix(mesure): edit form (#1608)
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
Due: app

feat(mesure): add cabinet field
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureEdit/MagistratMesureEdit.js
  packages/app/src/components/MandataireMesure/MandataireMesure.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesureEdit/mutations.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/MandataireMesures/mutations.js
  packages/app/src/components/ServiceMesure/ServiceMesure.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreate.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureCreate/mutations.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesures/mutations.js
Due: app

feat(siret-api): add insee siret api service
  packages/api/package.json
  packages/api/src/utils/siret.js
  yarn.lock
Due: api

feat(siret): add simple cache to siret find
  packages/api/src/utils/siret.js
Due: api

feat(siret): create ti with siret api on mesure import
  packages/api/src/routes/webhook.js
Due: api

fix(siret): add missing siren api env vars
  .env.sample
  packages/api/.k8s.values.yml
Due: api

chore(siren): add siren api env to k8s dev secret
  .k8s/secret-dev.yml
Due: none

chore(siren): base64ify insee k8s dev secret
  .k8s/secret-dev.yml
Due: none

feat(mesure): add cabinet field (#1612)
  packages/app/src/components/MagistratMesureAdd/MagistratMesureAddForm.js
  packages/app/src/components/MagistratMesureEdit/MagistratMesureEdit.js
  packages/app/src/components/MandataireMesure/MandataireMesure.js
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEditForm.js
  packages/app/src/components/MandataireMesureEdit/mutations.js
  packages/app/src/components/MandataireMesures/MandataireAddMesure.js
  packages/app/src/components/MandataireMesures/mutations.js
  packages/app/src/components/ServiceMesure/ServiceMesure.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreate.js
  packages/app/src/components/ServiceMesureCreate/ServiceMesureCreateForm.js
  packages/app/src/components/ServiceMesureCreate/mutations.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
  packages/app/src/components/ServiceMesures/mutations.js
Due: app

feat(siret-api): use insee siret api (#1606)
  .env.sample
  .k8s/secret-dev.yml
  packages/api/.k8s.values.yml
  packages/api/package.json
  packages/api/src/routes/webhook.js
  packages/api/src/utils/siret.js
  yarn.lock
Due: api

feat(mandataire): edit informations form
  packages/app/src/components/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/lib/validationSchemas/mandataireEditSchema.js
Due: app

fix(mesure-import): use periodesEtablissement for mesure import ti
  packages/api/src/routes/webhook.js
Due: api

fix(import): try finding mesure with mandataire or service id
  packages/api/src/routes/webhook.js
Due: api

feat(mandataire): edit informations form (#1614)
  packages/app/src/components/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/lib/validationSchemas/mandataireEditSchema.js
Due: app
