Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(sort-date): convert string to date before sorting
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

fix(sort-date): convert string to date before sorting (#1394)
  packages/app/src/util/mandataires/MandataireUtils.js
Due: app

chore(release): version 25.17.2
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(artifacts): increase expire_in
  packages/api/.gitlab-ci.yml
  packages/app/.gitlab-ci.yml
  packages/graphql-server/.gitlab-ci.yml
  packages/knex/.gitlab-ci.yml
Due: api, app

refactor(user-antennes): remove user antennes in service comps
  packages/app/pages/services/antennes/[antenne_id]/edit.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.js
  packages/app/src/components/ServiceAntenneEdit/ServiceAntenneEdit.test.js
  packages/app/src/components/ServiceAntenneEdit/index.js
  packages/app/src/components/ServiceInformationsSidebar/ServiceInformationsSidebar.js
  packages/app/src/components/UserContext/UserContext.js
  packages/app/src/components/UserContext/queries.js
Due: app

refactor(user-antennes): remove user antennes in service mesure edit
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAccept.js
  packages/app/src/components/ServiceMesureAccept/ServiceMesureAcceptForm.js
  packages/app/src/util/services/index.js
Due: app

refactor(user-antennes): remove user antennes in service mesure edit
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEdit.js
  packages/app/src/components/ServiceMesureEdit/ServiceMesureEditForm.js
Due: app

refactor(user-antennes): remove user antenne from service add mesure
  packages/app/pages/services/add-mesures.js
  packages/app/src/components/Layout/queries.js
  packages/app/src/components/ServiceMesures/ServiceAddMesure.js
Due: app

refactor(user-antennes): remove user antennes from mandat mesure accept
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAccept.js
  packages/app/src/components/MandataireMesureAccept/MandataireMesureAcceptForm.js
Due: app

refactor(user-antennes): remove user antenne prop type / defaults
  packages/app/src/components/ServiceAntenneInformations/ServiceInformations.js
Due: app

refactor(user-antennes): remove unused user antennes prop types
  packages/app/src/components/ServiceInformations/ServiceInformations.js
  packages/app/src/components/ServiceSidebar/PreferencesPanel.js
Due: app

ci(artifacts): increase expire_in (#1395)
  packages/api/.gitlab-ci.yml
  packages/app/.gitlab-ci.yml
  packages/graphql-server/.gitlab-ci.yml
  packages/knex/.gitlab-ci.yml
Due: api, app

refactor(user-antennes): remove user antenne from preference panel
  packages/app/pages/services/antennes/[antenne_id].js
  packages/app/pages/services/informations.js
  packages/app/src/components/ServiceAntenneSidebar/PreferencesPanel.js
Due: app

fix(user-antennes): fix service preference panel proptypes
  packages/app/src/components/ServiceAntenneSidebar/PreferencesPanel.js
Due: app

refactor(user-antennes): remove user antennes from service filters
  packages/app/pages/services/index.js
  packages/app/pages/services/waiting-mesures.js
  packages/app/src/components/ServiceFilters/ServiceFilters.js
Due: app

refactor(user-antennes): remove user antennes from serv. antenne create
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneCreate/mutations.js
  packages/app/src/components/UserInformations/queries.js
Due: app

refactor(user-antennes): remove user antennes from api
  packages/api/auth/local.js
  packages/api/controllers/user/signup.js
  packages/api/controllers/user/utils/service.js
  packages/api/model/User.js
  packages/api/model/UserAntenne.js
Due: api

refactor(user-antennes): remove user antennes table with migration
  packages/knex/migrations_v2/20200114225107_remove_user_antennes.js
Due: none

ci: use gitlab-ci.yml version 4.6.0
  .gitlab-ci.yml
  .gitlab-ci/stages/notify.yml
  packages/api/.k8s.values.yml
  packages/app/.k8s.values.yml
  packages/hasura/.k8s.values.yml
Due: api, app

ci: use gitlab-ci.yml version 4.6.0 (#1400)
  .gitlab-ci.yml
  .gitlab-ci/stages/notify.yml
  packages/api/.k8s.values.yml
  packages/app/.k8s.values.yml
  packages/hasura/.k8s.values.yml
Due: api, app

refactor(user-antennes): remove user-antennes from hasura metadata
  packages/hasura/migrations/metadata.yaml
Due: none

fix(user-antennes): remove user antenne from api model and knex seeds
  packages/api/model/User.js
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/seeds/development/0070-user-antenne.js
Due: api

test(user-antennes): update knex test snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

fix(user-antennes): fix metadata and user context query
  packages/app/src/components/UserContext/queries.js
  packages/app/src/components/UserInformations/queries.js
  packages/hasura/migrations/metadata.yaml
Due: app

ci(put-production): install curl:
  .gitlab-ci/stages/notify.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
