Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(graphql): specify ts entry files (#1237)
  packages/graphql-server/tsconfig.json
Due: none

build(hasura): use default hasura/graphql-engine docker cwd and entry
  packages/hasura/Dockerfile
Due: none

build(hasura): use default hasura/graphql-engine docker cwd and entry (#1238)
  packages/hasura/Dockerfile
Due: none

fix(deps): update dependency pg to ^7.15.1
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Due: api

fix(deps): update dependency pino to ^5.15.0
  packages/graphql-server/package.json
  yarn.lock
Due: none

ci(gitlab): change notified url and env
  .gitlab-ci/env.sh
  .gitlab-ci/stages/notify.yml
Due: none

feat(add-geocode-to-antenne-create): add service antenne form to create
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneCreate/mutations.js
  packages/app/src/components/ServiceAntenneForms/ServiceAntenneForm.js
  packages/app/src/components/ServiceAntenneForms/index.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/serviceAntenneSchema.js
Due: app

feat(add-geocode-to-antenne-create): add address/lat/lng fields and perm
  packages/knex/migrations_v2/20191219102150_add_address_to_service_antennes.js
  packages/knex/migrations_v2/20191219103808_add_latlng_to_service_antennes.js
Due: none

ci(gitlab): change notified url and env (#1241)
  .gitlab-ci/env.sh
  .gitlab-ci/stages/notify.yml
Due: none

feat(add-geocode-to-antenne-create): readd address/lat/lng perms
  packages/hasura/migrations/metadata.yaml
Due: none

fix(deps): update dependency polished to ^3.4.2
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency query-string to ^6.9.0
  packages/app/package.json
  yarn.lock
Due: app

chore(renovate): add .gitlab-ci/stages/notify.yml
  .github/renovate.json
Due: none

fix(deps): update dependency graphql to ^14.5.8
  packages/graphql-server/package.json
  yarn.lock
Due: none

fix(metadata-mandataires): add antenne to mandataires permissions (#1243)
  packages/app/src/components/MandataireMesureEdit/MandataireMesureEdit.js
  packages/hasura/migrations/metadata.yaml
Due: app

revert(hasura): revert to v1.0.0-beta.8
  packages/hasura/Dockerfile
Due: none

chore(release): version 25.12.1
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(deps): update dependency react-dom to ^16.12.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-mapbox-gl to ^4.8.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-piwik to ^1.8.0
  packages/app/package.json
  yarn.lock
Due: app

test(geocode): update knex test snapshot
  packages/knex/__test__/__snapshots__/index.test.js.snap
Due: none

feat(geocode): add geocode to antenne create (#1242)
  packages/app/src/components/ServiceAntenneCreate/ServiceCreateAntenne.js
  packages/app/src/components/ServiceAntenneCreate/mutations.js
  packages/app/src/components/ServiceAntenneForms/ServiceAntenneForm.js
  packages/app/src/components/ServiceAntenneForms/index.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/serviceAntenneSchema.js
  packages/hasura/migrations/metadata.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20191219102150_add_address_to_service_antennes.js
  packages/knex/migrations_v2/20191219103808_add_latlng_to_service_antennes.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
