Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(release): version 25.67.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(direction): use value in filters
  packages/api/src/routes/hasura-actions/stat/hasura-actions.stats.routes.js
  packages/app/src/components/DirectionFilters/DirectionFilters.js
  packages/app/src/components/DirectionIndicators/ClosedMesureIndicator.js
  packages/app/src/components/DirectionIndicators/EtablissementIndicator.js
  packages/app/src/components/DirectionIndicators/MandatairesIndicator.js
  packages/app/src/components/DirectionIndicators/OpenMesureIndicator.js
  packages/app/src/components/DirectionIndicators/ServicesIndicator.js
  packages/app/src/components/DirectionIndicators/queries.js
  packages/app/src/components/DirectionMandatairesActivity/MandatairesActivity.js
  packages/app/src/components/DirectionMandatairesCapacity/MandatairesCapacity.js
  packages/app/src/components/DirectionMandatairesDisponibility/MandatairesDisponibility.js
  packages/app/src/components/DirectionMandatairesList/MandatairesList.js
Due: api, app

fix(direction): use value in filters
  packages/api/src/controllers/user/signup.js
  packages/app/src/components/DirectionIndicators/AvailableMesureIndicator.js
  packages/app/src/components/Signup/SignupMandataire.js
  packages/app/src/lib/validationSchemas/mandataireSignupSchema.js
Due: api, app

feat(prepose): display agrement informations
  packages/app/src/components/MandataireInformations/MandataireInformations.js
  packages/app/src/components/Signup/SignupMandataire.js
  packages/app/src/lib/validationSchemas/mandataireSignupSchema.js
Due: app

fix(signup): hadnle siret for mandataire
  packages/app/src/components/Signup/SignupForm.js
  packages/app/src/components/Signup/SignupMandataire.js
Due: app

chore(release): version 25.68.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(mandataire): test if lb_user exists
  packages/app/src/components/MandataireInformations/MandataireInformations.js
Due: app

fix(signup): use correct word for user type ti
  packages/app/src/components/Signup/SignupForm.js
Due: app

chore(release): version 25.68.1
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

feat(ocmi): sync ocmi mandataire
  packages/api/.k8s.values.yml
  packages/api/package.json
  packages/api/src/auth/strategies/authHasuraWebHookHeaderSecretStrategy.js
  packages/api/src/env/configuration.js
  packages/api/src/models/OcmiMandataire.js
  packages/api/src/models/ProcessusStates.js
  packages/api/src/routes/hasura-triggers/hasura-triggers.routes.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
  packages/api/src/server.js
  packages/api/src/utils/azure.js
  packages/hasura/metadata/cron_triggers.yaml
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1605005324164_ocmi_mandataires/down.sql
  packages/hasura/migrations/1605005324164_ocmi_mandataires/up.sql
  yarn.lock
Due: api

feat(ocmi): sync ocmi mandataire (#2303)
  packages/api/.k8s.values.yml
  packages/api/package.json
  packages/api/src/auth/strategies/authHasuraWebHookHeaderSecretStrategy.js
  packages/api/src/env/configuration.js
  packages/api/src/models/OcmiMandataire.js
  packages/api/src/models/ProcessusStates.js
  packages/api/src/routes/hasura-triggers/hasura-triggers.routes.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
  packages/api/src/server.js
  packages/api/src/utils/azure.js
  packages/hasura/metadata/cron_triggers.yaml
  packages/hasura/metadata/tables.yaml
  packages/hasura/migrations/1605005324164_ocmi_mandataires/down.sql
  packages/hasura/migrations/1605005324164_ocmi_mandataires/up.sql
  yarn.lock
Due: api

chore(release): version 25.69.0
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: api, app

fix(dev): add empty secret for azure
  .k8s/secret-dev.yml
Due: none

fix(dev): add OCMI_SYNC_FILE_ENABLED
  .k8s/secret-dev.yml
  packages/api/.k8s.values.yml
  packages/api/src/env/configuration.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
Due: api

fix(ocmi-sync): stream file
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
Due: api

fix(dev): add OCMI_SYNC_FILE_ENABLED
  packages/api/src/env/configuration.js
Due: api

fix(ocmi-sync): update secret and stream file (#2304)
  .k8s/secret-dev.yml
  packages/api/.k8s.values.yml
  packages/api/src/env/configuration.js
  packages/api/src/routes/hasura-triggers/ocmi/hasura-triggers.ocmi.routes.js
Due: api

fix(dev): update secret
  .k8s/secret-dev.yml
  packages/api/.k8s.values.yml
Due: api

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
