Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(service-id): url param
  packages/app/src/components/ServiceEditInformations/ServiceEditInformations.js
Due: app

fix(service-id): multiple source (prop)
  packages/app/src/components/ServiceEditInformations/ServiceEditInformations.js
Due: app

fix(signup): remove genre
  packages/app/src/components/Signup/SignupServiceInvitation.js
  packages/app/src/lib/validationSchemas/signupSchema.js
Due: app

feat(script): db admin tools helpers
  .k8s/admin-tools/adminer.sh
  .k8s/admin-tools/adminer.yaml
  .k8s/admin-tools/pgadmin.sh
Due: none

chore(release): version 25.86.7
  CHANGELOG.md
  lerna.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/biz/CHANGELOG.md
  packages/biz/package.json
Due: api, app

fix(ci): rely on current commit tag
  scripts/gitops/fast-ci
Due: none

fix(ci): tls ingress
  packages/app/.k8s/values.yaml
Due: app

chore(admin): pgbouncer
  .k8s/admin-tools/generate-userlist
  .k8s/admin-tools/pgbouncer.sh
  .k8s/admin-tools/pgbouncer.yaml
Due: none

chore(admin): phppgadmin
  .k8s/admin-tools/phppgadmin.sh
  .k8s/admin-tools/phppgadmin.yaml
Due: none

chore(clean): 'll use beekeper for data browsing
  .k8s/admin-tools/adminer.sh
  .k8s/admin-tools/adminer.yaml
  .k8s/admin-tools/generate-userlist
  .k8s/admin-tools/pgbouncer.sh
  .k8s/admin-tools/pgbouncer.yaml
  .k8s/admin-tools/phppgadmin.sh
  .k8s/admin-tools/phppgadmin.yaml
Due: none

chore(scripts): add bundle analyzer
  packages/app/package.ci.json
  packages/app/package.json
  yarn.lock
Due: app

chore(optimization): lazy-load react-mapbox-gl
  packages/app/src/components/MagistratMandatairesMap/MagistratMandatairesMap.js
  packages/app/src/components/Map/Lazy/Cluster.js
  packages/app/src/components/Map/Lazy/Feature.js
  packages/app/src/components/Map/Lazy/Layer.js
  packages/app/src/components/Map/Lazy/Map.js
  packages/app/src/components/Map/Lazy/Marker.js
  packages/app/src/components/Map/Lazy/Popup.js
  packages/app/src/components/Map/Lazy/ScaleControl.js
  packages/app/src/components/Map/Lazy/ZoomControl.js
  packages/app/src/components/Map/Map.js
  packages/app/src/components/Map/MapCluster.js
  packages/app/src/components/Map/MapContainer.js
  packages/app/src/components/Map/MapLayer.js
  packages/app/src/components/Map/MapPopup.js
  packages/app/src/components/Map/index.js
Due: app

chore(dev): add adminer to local dev stack
  docker-compose.yaml
Due: none

feat(stats): mesures réservées par mois
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/queries.js
  packages/app/src/hooks/use30DaysInterval.js
  packages/app/src/util/dates/index.js
Due: app

feat(admin): edit infos and password
  packages/app/src/components/AdminEditInformations/AdminEditInformations.js
  packages/app/src/components/AdminEditInformations/AdminEditInformationsForm.js
  packages/app/src/components/AdminEditInformations/index.js
  packages/app/src/components/AdminEditInformations/mutations.js
  packages/app/src/components/AdminEditInformations/queries.js
  packages/app/src/components/AdminEditInformations/style.js
  packages/app/src/components/AdminInformations/AdminInformations.js
  packages/app/src/components/AdminInformations/index.js
  packages/app/src/components/AdminInformations/style.js
  packages/app/src/components/Layout/LayoutAdmin.js
  packages/app/src/lib/validationSchemas/adminEditSchema.js
  packages/app/src/pages/admin/edit-informations.js
  packages/app/src/pages/admin/edit-password.js
  packages/app/src/pages/admin/informations.js
  packages/app/src/routes/Routes.js
Due: app

fix(stats): fix perms
  packages/hasura/metadata/tables.yaml
Due: none

fix(stats): change presentation
  packages/app/src/components/IndicatorList/IndicatorList.js
  packages/app/src/components/IndicatorList/IndicatorListTotal.js
  packages/app/src/components/IndicatorList/queries.js
Due: app

feat(404): add fun 404
  packages/app/public/images/404-credits.png
  packages/app/public/images/404.png
  packages/app/src/components/NotFound/index.js
  packages/app/src/routes/Routes.js
Due: app

chore(intrusion): via ci
  .gitignore
Due: none

ci(k8s-job): wip
  .gitignore
  .k8s/buildkit/create-certs.sh
  .k8s/buildkit/manifests/deployment+service.rootless.yaml
  .k8s/buildkit/manifests/job.rootless.yaml
  .k8s/buildkit/manifests/statefulset.rootless.yaml
  .k8s/buildkit/setup.sh
Due: none

ci(k8s-job): hourra !!!
  .k8s/buildkit/manifests/deployment+service.rootless.yaml
  .k8s/buildkit/manifests/job.rootless.yaml
  .k8s/buildkit/setup.sh
Due: none

ci(k8s-job): webhook chart wip
  .k8s/k8s-ci/cluster/buildkit/create-certs.sh
  .k8s/k8s-ci/cluster/buildkit/manifests/deployment+service.rootless.yaml
  .k8s/k8s-ci/cluster/buildkit/manifests/job.rootless.sample.yaml
  .k8s/k8s-ci/cluster/buildkit/manifests/statefulset.rootless.yaml
  .k8s/k8s-ci/cluster/buildkit/setup.sh
  .k8s/k8s-ci/project/helm-install.sh
  .k8s/k8s-ci/project/webhook-ci/Chart.yaml
  .k8s/k8s-ci/project/webhook-ci/create-webhook.sh
  .k8s/k8s-ci/project/webhook-ci/templates/_helpers.tpl
  .k8s/k8s-ci/project/webhook-ci/templates/configmap.yaml
  .k8s/k8s-ci/project/webhook-ci/templates/deployment.yaml
  .k8s/k8s-ci/project/webhook-ci/templates/ingress.yaml
  .k8s/k8s-ci/project/webhook-ci/templates/service.yaml
  .k8s/k8s-ci/project/webhook-ci/templates/serviceaccount.yaml
  .k8s/k8s-ci/project/webhook-ci/values.yaml
  .k8s/k8s-ci/project/webhook-ci/webhook-k8s-ci/Dockerfile
  .k8s/k8s-ci/project/webhook-ci/webhook-k8s-ci/opt/build-job.yaml
  .k8s/k8s-ci/project/webhook-ci/webhook-k8s-ci/opt/build.sh
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
