Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

codecov.yml:

coverage:
  status:
    project:
      default: off
      app:
        flags: app
        paths: packages/app
        target: 80%
      api:
        flags: api
        paths: packages/api
        target: 80%

flags:
  api:
    paths:
      - packages/api
  app:
    paths:
      - packages/app

feat(hasura): upgrade migration cli
  packages/hasura/Dockerfile
Due: none

feat(hasura): upgrade migration cli
  packages/hasura/migrations/metadata.yaml
Due: none

feat(hasura): upgrade migration cli (#1918)
  packages/hasura/Dockerfile
  packages/hasura/migrations/metadata.yaml
Due: none

feat(enquete): prepose personel et formation autres
  packages/api/src/models/EnqueteReponsesPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose_personel_formation/enquetePreposePersonelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutres.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutresFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutresFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/migrations_v2/20200609142319_upd_enquete_reponses_prepose_personel_formation.js
Due: api, app

feat(enquete): prepose personel et formation autres (#1919)
  packages/api/src/models/EnqueteReponsesPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/prepose_personel_formation/enquetePreposePersonelFormationStatus.js
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserPreposePersonelFormation.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuel.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutres.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutresForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutresFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationAutresFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmForm.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmFormMapper.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/EnquetePreposePersonelFormationMjpmFormSchema.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePersonelFormation/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/migrations_v2/20200609142319_upd_enquete_reponses_prepose_personel_formation.js
Due: api, app

feat(enquete): fix top level global status
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
Due: api

feat(enquete): fix top level global status (#1923)
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/enqueteSchemaUtil.js
  packages/api/src/routes/hasura-actions/enquete/common/enquete-status/index.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-individuel/enqueteMandataireIndividuelStatus.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePreposeStatus.js
Due: api

fix(enquete): issues with individuel forms
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrement.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataire.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/index.js
Due: app

feat(enquete): submit enquete for individuel
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeSubmit.js
Due: api, app

fix(enquete): individuel issues (#1924)
  packages/api/src/routes/hasura-actions/enquete/common/excel-parser/enqueteExcelParserActivite.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuelSubmit.js
  packages/app/src/components/Enquete/EnqueteIndividuel/enqueteIndividuelMenuBuilder.service.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrement.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsAgrementForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/EnqueteIndividuelInformationsMandataire.js
  packages/app/src/components/Enquete/EnqueteIndividuelInformations/index.js
  packages/app/src/components/Enquete/EnquetePrepose/EnquetePreposeSubmit.js
Due: api, app

fix(enquete): key builder
  packages/app/src/components/Enquete/constants/enqueteKeysBuilder.service.js
Due: app

fix(enquete): key builder (#1925)
  packages/app/src/components/Enquete/constants/enqueteKeysBuilder.service.js
Due: app

feat(enquete): prestations sociales for prepose
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/index.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200610220853_create_enquete_reponses_prepose_prestations_sociales.js
Due: api, app

feat(enquete): validation for prestations sociales
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
Due: app

feat(enquete): prestations sociales for prepose (#1922)
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/enqueteMandatairePrepose.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/mutations.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose/queries.js
  packages/app/src/components/Enquete/EnquetePrepose/enquetePreposeMenuBuilder.service.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesAutresMesures.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleRenforcee.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesCuratelleSimple.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesMAJ.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesRevenusForm.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/EnquetePreposePrestationsSocialesTutelle.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/index.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/mutations.js
  packages/app/src/components/Enquete/EnquetePreposePrestationsSociales/queries.js
  packages/hasura/metadata/tables.yaml
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations_v2/20200610220853_create_enquete_reponses_prepose_prestations_sociales.js
Due: api, app

chore(deps): update all dependencies
  packages/api/package.json
  packages/app/package.json
  packages/graphql-server/package.json
  packages/ui/package.json
  yarn.lock
Due: api, app

feat(liste-blanche): remove service and ti as user type
  packages/app/src/components/ListeBlanche/ListeBlanche.js
  packages/app/src/components/ListeBlancheFilter/ListeBlancheFilter.js
  packages/app/src/components/ListeBlancheSummary/ListeBlancheSummary.js
  packages/app/src/components/ListeBlancheSummary/queries.js
Due: app

feat(enquete): import activite prepose
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteExcelParser.js
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
Due: api

feat(enquete): import & validation populations prepose
  packages/api/src/routes/hasura-actions/enquete/mandataire-prepose-import/preposeEnqueteRepository.js
  packages/app/src/components/Enquete/EnquetePopulations/EnquetePopulationsTutelle.js
  packages/hasura/metadata/tables.yaml
Due: api, app
