Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore: remove yarn error log file (#565)
  packages/graphql-server/yarn-error.log
Due: none

feat(inscription): inscription for dr and dd (#518)
  packages/api/controllers/user/signup.js
  packages/api/model/Direction.js
  packages/knex/migrations/20190711160554_direction.js
  packages/knex/migrations/20190712111628_change_type_to_user.js
Due: api

feat(tis): remove columns from tis table (#551)
  packages/knex/migrations/20190715142830_rm_columns_to_tis.js
Due: none

refactor(api): remove swagger and /doc route
  packages/api/app.js
  packages/api/package.json
  packages/api/routes/doc.js
  yarn.lock
Due: api

build(api): copy from local files
  packages/api/Dockerfile
Due: api

refactor(api): remove swagger and /doc route (#566)
  packages/api/app.js
  packages/api/package.json
  packages/api/routes/doc.js
  yarn.lock
Due: api

build(api): copy from local files (#567)
  packages/api/Dockerfile
Due: api

ci(gitlab): lint @emjpm/graphql-server (#564)
  .gitlab-ci/stages/quality.yml
  Dockerfile
Due: none

fix: rm longitude et latitude from seeds
  packages/knex/seeds/development/0013-tis.js
Due: none

refactor(jest-environment-knex): export jest-environment-knex
  Dockerfile
  package.json
  packages/api/package.json
  packages/jest-environment-knex/.gitignore
  packages/jest-environment-knex/CHANGELOG.md
  packages/jest-environment-knex/package.json
  packages/jest-environment-knex/src/jest-environment-knex.ts
  packages/jest-environment-knex/tsconfig.json
  packages/jest-environment-knex/tslint.json
  packages/jest-environment-knex/types/knex.d.ts
  packages/jest-environment-knex/types/rand-token.d.ts
  packages/knex/package.json
  yarn.lock
Due: api

fix(snapshot): fix snapshot for tis
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190712111628_change_type_to_user.js
  packages/knex/seeds/development/0013-tis_ile_de_France.js
  packages/knex/seeds/development/0013-tis_test..js
Due: api

fix(prettier): fix prettier for migrations
  packages/knex/migrations/20190715142830_rm_columns_to_tis.js
Due: none

fix(prettier): fix prettier for migrations
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
Due: api

Fix/rm tis columns (#570)
  packages/knex/__test__/__snapshots__/index.test.js.snap
  packages/knex/migrations/20190712111628_change_type_to_user.js
  packages/knex/migrations/20190715142830_rm_columns_to_tis.js
  packages/knex/seeds/development/0013-tis.js
  packages/knex/seeds/development/0013-tis_ile_de_France.js
  packages/knex/seeds/development/0013-tis_test..js
Due: none

feat(mandataires): change message to see measure number (#422)
  packages/app/pages/admin.js
  packages/app/src/components/admin/Users.js
  packages/app/src/components/common/DummyTabs.js
  packages/app/src/components/common/ShowBox.js
  packages/app/src/components/common/TableState.js
  packages/app/src/components/mandataires/indiPrepo.js
  packages/app/src/components/mandataires/service.js
  packages/app/src/components/tiComponents/index.js
Due: app

refactor(jest-environment-knex): export jest-environment-knex
  .gitlab-ci/stages/quality.yml
  Dockerfile
  package.json
  packages/api/package.json
  packages/jest-environment-knex/.gitignore
  packages/jest-environment-knex/CHANGELOG.md
  packages/jest-environment-knex/package.json
  packages/jest-environment-knex/src/jest-environment-knex.ts
  packages/jest-environment-knex/tsconfig.json
  packages/jest-environment-knex/tslint.json
  packages/jest-environment-knex/types/knex.d.ts
  packages/jest-environment-knex/types/rand-token.d.ts
  packages/knex/package.json
  yarn.lock
Due: api

chore(deps): use same jest-environment-knex version
  packages/api/package.json
  yarn.lock
Due: api

refactor(jest-environment-knex): export jest-environment-knex (#569)
  .gitlab-ci/stages/quality.yml
  Dockerfile
  package.json
  packages/api/package.json
  packages/jest-environment-knex/.gitignore
  packages/jest-environment-knex/CHANGELOG.md
  packages/jest-environment-knex/package.json
  packages/jest-environment-knex/src/jest-environment-knex.ts
  packages/jest-environment-knex/tsconfig.json
  packages/jest-environment-knex/tslint.json
  packages/jest-environment-knex/types/knex.d.ts
  packages/jest-environment-knex/types/rand-token.d.ts
  packages/knex/package.json
  yarn.lock
Due: api

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
