Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

ci(gitlab): deploy something in production pipelines (#1406)
  .gitlab-ci.yml
  .gitlab-ci/stages/deploy.yml
  packages/api/.gitlab-ci.yml
Due: api

chore(release): version 25.17.7
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

chore(doc): update pod name
  README.md
Due: none

chore(release): version 25.17.5
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

chore(release): version 25.17.6
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

ci(gitlab): set the env before deploying metabase
  .k8s/metabase/.k8s-deploy-metabase.yml
Due: none

ci(gitlab): test mestabase deployment
  .gitlab-ci/stages/deploy.yml
Due: none

Revert "ci(gitlab): test mestabase deployment"
  .gitlab-ci/stages/deploy.yml
Due: none

ci(gitlab): remove workspace dependencies on single package install
  .gitlab-ci/extends.yml
Due: none

ci(gitlab): set the env before deploying metabase (#1407)
  .k8s/metabase/.k8s-deploy-metabase.yml
Due: none

ci(gitlab): share caching and artifact strategy
  .gitlab-ci/extends.yml
  packages/api/.gitlab-ci.yml
  packages/app/.gitlab-ci.yml
  packages/graphql-server/.gitlab-ci.yml
  packages/knex/.gitlab-ci.yml
Due: api, app

fix(wording): fix text typo
  packages/app/src/components/MandataireMesureImport/MandataireMesureImport.js
Due: app

fix(wording): fix service add form heading
  packages/app/pages/admin/services/add-service.js
Due: app

fix(wording): fix service add form heading (#1414)
  packages/app/pages/admin/services/add-service.js
Due: app

fix(wording): fix text typo (#1413)
  packages/app/src/components/MandataireMesureImport/MandataireMesureImport.js
Due: app

refactor(user-antennes): remove user antennes in service comps
  packages/app/src/components/MandatairesMesures/MandatairesMesures.test.js
Due: app

refactor(user-antennes): remove user-antennes from hasura metadata
  packages/hasura/migrations/metadata.yaml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
