Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

chore(pg13): test ssl
  packages/api/knexfile.js
Due: api

chore(pg13): test ssl
  packages/api/.k8s/templates/deployment.yaml
Due: api

chore(pg13): test ssl
  packages/api/.k8s/templates/deployment.yaml
  packages/api/src/db/knex.js
  packages/hasura/.k8s/templates/deployment.yaml
Due: api

chore(pg13): test ssl
  packages/api/knexfile.js
  packages/api/src/db/knex.js
  packages/api/src/models/index.js
Due: api

chore(pg13): test ssl
  packages/api/.k8s/templates/deployment.yaml
  packages/api/knexfile.js
Due: api

chore(pg13): test ssl
  .k8sci/scripts/deploy
Due: none

chore(pg13): clean branch
  .k8sci/scripts/.env-k8s
Due: none

fix(rgaa): add relevant titles for admin pages
  .gitignore
  packages/app/package.json
  packages/app/src/containers/HeadingTitle/HeadingTitle.js
  packages/app/src/pages/account/forgot-password.js
  packages/app/src/pages/account/reset-password.js
  packages/app/src/pages/admin/api-logs/[api_log_id].js
  packages/app/src/pages/admin/api-logs/index.js
  packages/app/src/pages/admin/edit-informations.js
  packages/app/src/pages/admin/edit-password.js
  packages/app/src/pages/admin/editors/[editor_id].js
  packages/app/src/pages/admin/editors/create.js
  packages/app/src/pages/admin/editors/index.js
  packages/app/src/pages/admin/etablissements/[id].js
  packages/app/src/pages/admin/etablissements/index.js
  packages/app/src/pages/admin/informations.js
  packages/app/src/pages/admin/liste-blanche/[id].js
  packages/app/src/pages/admin/liste-blanche/ajout-individuel.js
  packages/app/src/pages/admin/liste-blanche/ajout-prepose.js
  packages/app/src/pages/admin/liste-blanche/ajout-service.js
  packages/app/src/pages/admin/liste-blanche/index.js
  packages/app/src/pages/admin/liste-blanche/services/[id].js
  packages/app/src/pages/admin/services/[service_id].js
  packages/app/src/pages/admin/services/index.js
  packages/app/src/pages/admin/tribunaux/add-tribunal.js
  packages/app/src/pages/admin/tribunaux/index.js
  packages/app/src/pages/admin/users/[user_id].js
  packages/app/src/pages/admin/users/[user_id]/delete.js
  packages/app/src/pages/admin/users/index.js
  packages/app/src/pages/application/authorization.js
  packages/app/src/pages/application/token-request.js
  packages/app/src/pages/magistrats/index.js
  packages/app/src/pages/magistrats/map.js
  packages/app/src/pages/mandataires/index.js
  packages/app/src/pages/mentions-legales.js
  packages/app/src/pages/politique-confidentialite.js
  packages/app/src/pages/rgaa.js
  yarn.lock
Due: app

fix(rgaa): add relevant titles for sigin signup , stats pages
  packages/app/src/pages/conditions-utilisation.js
  packages/app/src/pages/login.js
  packages/app/src/pages/signup/congratulation.js
  packages/app/src/pages/signup/index.js
  packages/app/src/pages/signup/invitation.js
  packages/app/src/pages/stats/[departement_code].js
  packages/app/src/pages/stats/index.js
Due: app

fix(rgaa): add relevant titles for direction pagess
  packages/app/src/pages/direction/edit-informations.js
  packages/app/src/pages/direction/edit-password.js
  packages/app/src/pages/direction/enquetes/[enquete_id]/index.js
  packages/app/src/pages/direction/enquetes/[enquete_id]/reponse/[enquete_reponse_id].js
  packages/app/src/pages/direction/enquetes/create.js
  packages/app/src/pages/direction/enquetes/index.js
  packages/app/src/pages/direction/index.js
  packages/app/src/pages/direction/informations.js
  packages/app/src/pages/direction/liste-blanche/[id].js
  packages/app/src/pages/direction/liste-blanche/ajout-individuel.js
  packages/app/src/pages/direction/liste-blanche/ajout-prepose.js
  packages/app/src/pages/direction/liste-blanche/ajout-service.js
  packages/app/src/pages/direction/liste-blanche/services/[id].js
  packages/app/src/pages/direction/mandataires/list.js
  packages/app/src/pages/direction/stats.js
Due: app

fix(rgaa): add relevant titles for magistrats pagess
  packages/app/src/pages/magistrats/edit-informations.js
  packages/app/src/pages/magistrats/edit-password.js
  packages/app/src/pages/magistrats/gestionnaires/[gestionnaire_id]/index.js
  packages/app/src/pages/magistrats/gestionnaires/[gestionnaire_id]/reservation.js
  packages/app/src/pages/magistrats/index.js
  packages/app/src/pages/magistrats/informations.js
  packages/app/src/pages/magistrats/mesures.js
  packages/app/src/pages/magistrats/mesures/[mesure_id].js
  packages/app/src/pages/magistrats/mesures/[mesure_id]/delete.js
Due: app

fix(rgaa): add relevant titles for mandataires pages
  packages/app/src/pages/mandataires/add-mesures.js
  packages/app/src/pages/mandataires/edit-informations.js
  packages/app/src/pages/mandataires/edit-password.js
  packages/app/src/pages/mandataires/enquetes/[enquete_id]/import.js
  packages/app/src/pages/mandataires/enquetes/[enquete_id]/index.js
  packages/app/src/pages/mandataires/import-mesures.js
  packages/app/src/pages/mandataires/informations.js
  packages/app/src/pages/mandataires/map.js
  packages/app/src/pages/mandataires/mesures.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/accept.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/close.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/delete.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/edit.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/index.js
  packages/app/src/pages/mandataires/mesures/[mesure_id]/reactivate.js
Due: app

fix(rgaa): add relevant titles for greffiers pages
  packages/app/src/pages/greffiers/edit-informations.js
  packages/app/src/pages/greffiers/edit-password.js
  packages/app/src/pages/greffiers/gestionnaires/[gestionnaire_id]/index.js
  packages/app/src/pages/greffiers/gestionnaires/[gestionnaire_id]/reservation.js
  packages/app/src/pages/greffiers/index.js
  packages/app/src/pages/greffiers/informations.js
  packages/app/src/pages/greffiers/map.js
  packages/app/src/pages/greffiers/mesures.js
  packages/app/src/pages/greffiers/mesures/[mesure_id].js
  packages/app/src/pages/greffiers/mesures/[mesure_id]/delete.js
  packages/app/src/pages/mandataires/edit-informations.js
Due: app

feat(seed): up tmp
  db-seed/devdb.dump
  packages/hasura/migrations/default/1641300491438_tmp_devseed/down.sql
  packages/hasura/migrations/default/1641300491438_tmp_devseed/up.sql
Due: none

fix(rgaa): remove react-document-title dependecy
  packages/app/package.json
  yarn.lock
Due: app

feat(lb): wip
  packages/app/src/containers/UserContext/queries.js
  packages/hasura/metadata/databases/default/tables/public_lb_users.yaml
  packages/hasura/metadata/databases/default/tables/public_liste_blanche.yaml
  packages/hasura/metadata/databases/default/tables/public_mandataires.yaml
  packages/hasura/metadata/databases/default/tables/public_view_mandataires_siret.yaml
  packages/hasura/migrations/default/1641386698866_alter_table_public_mandataires_drop_column_lb_user_id/down.sql
  packages/hasura/migrations/default/1641386698866_alter_table_public_mandataires_drop_column_lb_user_id/up.sql
Due: app

fix(rgaa): add helmet import on magstrats/map page
  packages/app/src/pages/magistrats/map.js
Due: app

fix(deps): update dependency react-select to v5
  packages/app/package.json
  yarn.lock
Due: app

feat(lb): source view_lb_tis lb to man
  packages/hasura/migrations/default/1641425785730_alter_table_public_services_add_column_adresse_complement/down.sql
  packages/hasura/migrations/default/1641425785730_alter_table_public_services_add_column_adresse_complement/up.sql
  packages/hasura/migrations/default/1641425800263_alter_table_public_mandataires_add_column_adresse_complement/down.sql
  packages/hasura/migrations/default/1641425800263_alter_table_public_mandataires_add_column_adresse_complement/up.sql
  packages/hasura/migrations/default/1641425929877_adresse_complement/down.sql
  packages/hasura/migrations/default/1641425929877_adresse_complement/up.sql
  packages/hasura/migrations/default/1641426603205_view_lb_tis/down.sql
  packages/hasura/migrations/default/1641426603205_view_lb_tis/up.sql
Due: none

fix(rgaa): e-MJPM typo fix
  packages/app/src/pages/greffiers/edit-informations.js
  packages/app/src/pages/mandataires/edit-informations.js
Due: app

fix(rgaa): add text alternative for non-text content
  packages/app/src/containers/DirectionAvailabilityMap/Map.js
  packages/app/src/containers/DirectionMandatairesActivity/MandatairesActivityChart.js
  packages/app/src/containers/DirectionMandatairesDisponibility/MandatairesDisponibilityChart.js
  packages/app/src/containers/MagistratMandatairesList/MandataireListItem/index.js
  packages/app/src/containers/MandataireListItem/index.js
  packages/app/src/containers/MesureListItem/index.js
  packages/app/src/containers/Navigation/Navigation.js
  packages/app/src/containers/StatisticMesureNature/StatisticMesureNature.js
  packages/app/src/pages/direction/stats.js
  packages/app/src/pages/login.js
Due: app

feat(mandataire-individuel): user infos wip
  packages/api/__test__/e2e/mandoline/user.test.js
  packages/api/src/controllers/mandoline/user.js
  packages/api/src/models/Service.js
  packages/app/src/components/AppForm/FormGroupInput.js
  packages/app/src/containers/AdminServices/queries.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceCreate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceForm.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/ListeBlancheServiceUpdate.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/mutations.js
  packages/app/src/containers/ListeBlanche/ListeBlancheService/queries.js
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformations.js
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/containers/MandataireEditInformations/mutations.js
  packages/app/src/containers/MandataireEditInformations/queries.js
  packages/app/src/containers/ServiceInformations/ServiceInformations.js
  packages/app/src/containers/ServiceInformations/queries.js
  packages/app/src/containers/Signup/SignupServiceInvitationForm.js
  packages/app/src/utils/normalizers/index.js
  packages/app/src/validation-schemas/adminServiceSchema.js
  packages/app/src/validation-schemas/mandataireEditSchema.js
  packages/hasura/metadata/databases/default/tables/public_mandataires.yaml
  packages/hasura/migrations/default/1641508429211_alter_table_public_mandataires_alter_column_adresse/down.sql
  packages/hasura/migrations/default/1641508429211_alter_table_public_mandataires_alter_column_adresse/up.sql
  packages/hasura/migrations/default/1641508449928_alter_table_public_mandataires_alter_column_code_postal/down.sql
  packages/hasura/migrations/default/1641508449928_alter_table_public_mandataires_alter_column_code_postal/up.sql
  packages/hasura/migrations/default/1641508460137_alter_table_public_mandataires_alter_column_ville/down.sql
  packages/hasura/migrations/default/1641508460137_alter_table_public_mandataires_alter_column_ville/up.sql
  packages/hasura/migrations/default/1641508516757_alter_table_public_mandataires_add_column_adresse/down.sql
  packages/hasura/migrations/default/1641508516757_alter_table_public_mandataires_add_column_adresse/up.sql
  packages/hasura/migrations/default/1641510338463_set_adresse/down.sql
  packages/hasura/migrations/default/1641510338463_set_adresse/up.sql
Due: api, app

feat(mandataire-individuel): user infos wip
  packages/app/src/containers/MandataireEditInformations/mutations.js
Due: app

feat(service): user infos wip
  packages/app/src/containers/AdminUser/AdminUser.js
  packages/app/src/containers/AdminUserService/AdminUserService.js
  packages/app/src/containers/AdminUserService/AdminUserServiceForm.js
  packages/app/src/containers/AdminUserService/mutations.js
  packages/app/src/containers/AdminUserService/queries.js
  packages/app/src/containers/Layout/LayoutAdmin.js
  packages/app/src/containers/MandataireEditInformations/MandataireEditInformationsForm.js
  packages/app/src/containers/ServiceEditInformations/ServiceEditInformations.js
  packages/app/src/containers/ServiceEditInformations/ServiceEditInformationsForm.js
  packages/app/src/containers/ServiceEditInformations/index.js
  packages/app/src/containers/ServiceEditInformations/mutations.js
  packages/app/src/containers/ServiceEditInformations/queries.js
  packages/app/src/pages/admin/services/[service_id].js
  packages/app/src/pages/admin/services/index.js
  packages/app/src/pages/services/edit-informations.js
  packages/app/src/routes/Routes.js
  packages/app/src/utils/normalizers/index.js
  packages/app/src/utils/std/initCap.js
  packages/app/src/validation-schemas/adminUserServiceSchema.js
  packages/app/src/validation-schemas/serviceSchema.js
  packages/hasura/migrations/default/1641513743750_siret_lb_to_man/down.sql
  packages/hasura/migrations/default/1641513743750_siret_lb_to_man/up.sql
  packages/hasura/migrations/default/1641514794207_normalize_nom_prenom_case/down.sql
  packages/hasura/migrations/default/1641514794207_normalize_nom_prenom_case/up.sql
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
