Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(k8s): add APP_URL environment variable (#842)
  .gitlab-ci/stages/deploy.yml
  .k8s/api/deployment.yml
  .k8s/secret-dev.yml
Due: none

fix(knex): use postgres user locally
  packages/knex/knexfile.js
Due: none

fix(matomo-local): dont load react piwik if dev (#837)
  packages/app/next.config.js
  packages/app/pages/_app.js
  packages/app/src/piwik.js
Due: app

fix(next-link): add onyl the target as props (#838)
  packages/app/src/components-v2/Commons/Link.js
Due: app

fix(knex): use postgres user locally (#843)
  packages/knex/knexfile.js
Due: none

chore(clean): delete update.sh files
  packages/api/update.sh
  packages/app/update.sh
Due: api, app

chore(clean): deleate yarn.error.log
  packages/app/yarn-error.log
Due: app

ci(app): deploy app with next start
  Dockerfile
  packages/app/.dockerignore
  packages/app/Dockerfile
  packages/app/package.json
Due: app

chore(clean): delete deprecated files
  packages/app/nginx.conf
  packages/app/scripts/entrypoint.sh
Due: app

chore(docker): remove nginx volume
  docker-compose.override.yaml.sample
  docker-compose.test.yaml
Due: none

chore(k8s): increase liveness, readiness delays / periods
  .k8s/app/deployment.yml
Due: none

ci(app): copy next.config.js in dockerfile
  packages/app/Dockerfile
Due: app

ci(k8s): decrease readiness / liveness
  .k8s/app/deployment.yml
Due: none

fix(apollo): fix appolo get data from tree
  packages/app/src/components-v2/UserInformations/UserInformations.js
  packages/app/src/lib/apollo/with-apollo-client.js
Due: app

fix(seed): add default tis to ti user in seed
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/knex/seeds/development/0021-users.js
Due: app

fix(ti-seed): fix wrong array for tis
  packages/knex/seeds/development/0021-users.js
Due: none

fix(ti-seed): remove seed in user
  packages/knex/seeds/development/0021-users.js
Due: none

fix(ti-seed): fix double seed for user_tis
  packages/knex/seeds/development/0023-user_tis.js
Due: none

fix(magistrat-seed): add missing magistrat seed
  packages/knex/seeds/development/0080-magistrats.js
Due: none

fix(ti-seed): add active to user with id 3é
  packages/knex/seeds/development/0021-users.js
  packages/knex/seeds/development/0023-user_tis.js
Due: none

fix(magistrat): update mesure query when choosing a mandataire
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
Due: app

fix(magistrat): update mesure query when mutate
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
Due: app

fix(apollo-cache): fix sick apollo cache problem
  packages/app/src/components-v2/MagistratMesures/MagistratMesures.js
Due: app

fix(test): update snapshot
  packages/api/__test__/e2e/admin/__snapshots__/GET_tis.test.js.snap
Due: api

refactor(app): use next server instead of export (#839)
  Dockerfile
  docker-compose.override.yaml.sample
  docker-compose.test.yaml
  packages/api/__test__/e2e/admin/__snapshots__/GET_tis.test.js.snap
  packages/api/update.sh
  packages/app/.dockerignore
  packages/app/Dockerfile
  packages/app/nginx.conf
  packages/app/package.json
  packages/app/scripts/entrypoint.sh
  packages/app/src/components-v2/MagistratMandatairesList/MagistratChoose.js
  packages/app/src/components-v2/MagistratMandatairesList/MagistratMandatairesList.js
  packages/app/src/components-v2/MagistratMesures/MagistratMesures.js
  packages/app/src/components-v2/UserInformations/UserInformations.js
  packages/app/src/lib/apollo/with-apollo-client.js
  packages/app/update.sh
  packages/app/yarn-error.log
  packages/knex/seeds/development/0021-users.js
  packages/knex/seeds/development/0080-magistrats.js
Due: api, app

ci(gittlab): update k8s-ns-killer:0.7.2
  .gitlab-ci/stages/notify.yml
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
