Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

fix(1255): fix mandataires url typo (#1268)
  packages/app/src/components/MandatairesMesures/MandatairesAddMesure.js
Due: app

(feat): add geocode to antenne edit (#1251)
  packages/app/pages/services/antennes/[antenne_id]/edit.js
  packages/app/src/components/ServiceAntenneEdit/ServiceEditAntenne.js
  packages/app/src/components/ServiceAntenneEdit/mutations.js
  packages/app/src/components/ServiceAntenneForms/ServiceAntenneForm.js
  packages/hasura/migrations/metadata.yaml
Due: app

build(docker): tell hasura to use network host in dev (#1264)
  .env.sample
  docker-compose.yaml
Due: none

feat(mandataire-import): add xls template
  packages/app/src/components/MandataireMesureImport/MandataireMesureImport.js
Due: app

feat(mandataire-import): add xls template (#1270)
  packages/app/src/components/MandataireMesureImport/MandataireMesureImport.js
Due: app

chore(release): version 25.13.0
  CHANGELOG.md
  lerna.json
  optional/e2e/CHANGELOG.md
  optional/e2e/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/graphql-server/CHANGELOG.md
  packages/graphql-server/package.json
  packages/knex/CHANGELOG.md
  packages/knex/package.json
Due: api, app

fix(hasura-permission): update view_gestionnaire_mesure permission
  packages/hasura/migrations/metadata.yaml
Due: none

Revert "build(docker): tell hasura to use network host in dev (#1264)"
  .env.sample
  docker-compose.yaml
Due: none

fix(metadata): add missing metadata
  packages/hasura/migrations/metadata.yaml
Due: none

fix(mandataire-counter): fix counter remove useless mutations
  packages/app/src/components/MandataireMesureClose/mutations.js
  packages/app/src/components/MandataireMesureDelete/mutations.js
  packages/app/src/components/MandataireMesureEdit/mutations.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivateForm.js
  packages/app/src/components/MandataireMesureReactivate/mutations.js
Due: app

fix(mandataire-counter): fix counter remove useless mutations (#1278)
  packages/app/src/components/MandataireMesureClose/mutations.js
  packages/app/src/components/MandataireMesureDelete/mutations.js
  packages/app/src/components/MandataireMesureEdit/mutations.js
  packages/app/src/components/MandataireMesureReactivate/MandataireMesureReactivateForm.js
  packages/app/src/components/MandataireMesureReactivate/mutations.js
Due: app

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
