Repository SocialGouv/emjpm: changes, and which Codecov flags are due for each by the changed paths.
All: api, app

feat(chore): revert postgres 10=>12 version upgrade (#1765)
  docker/postgres/Dockerfile
Due: none

chore(deps): update dependency style-loader to v1
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency styled-components to v5
  packages/app/package.json
  packages/ui/package.json
  yarn.lock
Due: app

chore(deps): update jest monorepo to v26
  packages/api/package.json
  packages/app/package.json
  packages/knex/package.json
  yarn.lock
Due: api, app

chore(deps): update node docker tag
  .gitlab-ci.yml
  packages/api/Dockerfile
  packages/app/Dockerfile
  packages/graphql-server/Dockerfile
  packages/knex/Dockerfile
Due: api, app

chore(deps): update dependency eslint-plugin-react-hooks to v4
  packages/ui/package.json
  yarn.lock
Due: none

chore(deps): update postgres docker tag to v12
  docker/postgres/Dockerfile
Due: none

fix(deps): update dependency cypress to v4
  optional/e2e/package.json
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  optional/e2e/.runners/puppetteer/package.json
  optional/e2e/.runners/puppetteer/yarn.lock
  optional/e2e/package.json
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/graphql-server/package.json
  packages/knex/package.json
  packages/ui/package.json
  yarn.lock
Due: api, app

fix(deps): update dependency express-pino-logger to v5
  packages/api/package.json
  yarn.lock
Due: api

fix(deps): update dependency got to v11
  optional/e2e/.runners/puppetteer/package.json
  optional/e2e/.runners/puppetteer/yarn.lock
Due: none

chore(deps): update yarn.lock
  yarn.lock
Due: none

fix(deps): update dependency graphql to v15
  packages/app/package.json
  packages/graphql-server/package.json
  yarn.lock
Due: app

fix(deps): update dependency objection to v2
  packages/knex/package.json
  yarn.lock
Due: none

fix(deps): update dependency pg to v8
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Due: api

fix(deps): update dependency pino to v6
  packages/api/package.json
  packages/graphql-server/package.json
  yarn.lock
Due: api

fix(deps): update dependency codeceptjs to ^2.6.5
  optional/e2e/.runners/puppetteer/package.json
  optional/e2e/.runners/puppetteer/yarn.lock
Due: none

fix(deps): update dependency rand-token to v1
  packages/api/package.json
  yarn.lock
Due: api

feat(knex): new migration to create enquetes tables
  packages/knex/migrations_v2/20200408160451_create_enquete_table.js
Due: none

feat(enquetes): display enquetes link for direction_national role only
  packages/app/src/components/Enquiries/Enquiries.js
  packages/app/src/components/Enquiries/index.js
  packages/app/src/components/Enquiries/queries.js
  packages/app/src/components/EnquiryCreate/EnquiryCreate.js
  packages/app/src/components/EnquiryCreate/index.js
  packages/app/src/components/EnquiryCreate/mutations.js
  packages/app/src/components/EnquiryCreate/queries.js
Due: app

feat(enquete): update sql script
  packages/app/src/components/Enquiries/queries.js
  packages/app/src/components/EnquiryCreate/EnquiryCreate.js
  packages/app/src/components/EnquiryCreate/mutations.js
  packages/app/src/components/EnquiryCreate/queries.js
  packages/knex/migrations_v2/20200408160451_create_enquete_table.js
Due: app

feat(enquetes): replace enquiry by enquete
  packages/app/src/components/Enquiries/Enquiries.js
  packages/app/src/components/Enquiries/index.js
  packages/app/src/components/Enquiries/queries.js
  packages/app/src/components/EnquiryCreate/EnquiryCreate.js
  packages/app/src/components/EnquiryCreate/index.js
  packages/app/src/components/EnquiryCreate/mutations.js
  packages/app/src/components/EnquiryCreate/queries.js
Due: app

feat(enquetes): create mandataire forms
  packages/app/pages/mandataires/enquetes/[id].js
  packages/app/src/components/IndividuelInformationAgrement/IndividuelInformationAgrementView.js
  packages/app/src/components/MandataireEnquete/MandataireEnquete.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrement.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrementForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExercice.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExerciceForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormation.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormationForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformations.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationsForm.js
  packages/app/src/components/MandataireEnquete/index.js
  packages/app/src/components/MandataireEnquete/mutations.js
  packages/app/src/components/MandataireEnquete/queries.js
Due: app

fix(enquetes): mandataire individuel
  packages/app/pages/mandataires/enquetes/[id].js
  packages/app/src/components/MandataireEnquete/MandataireEnquete.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuel.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrement.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationAgrementForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExercice.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationExerciceForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormation.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationFormationForm.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformations.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteInformationsForm.js
  packages/app/src/components/MandataireEnquete/mutations.js
  packages/app/src/components/MandataireEnquete/queries.js
  packages/app/src/lib/validationSchemas/index.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
  packages/app/src/lib/validationSchemas/yup.js
Due: app

feat(enquetes): create enquete response
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuel.js
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
  packages/app/src/components/MandataireEnquete/mutations.js
  packages/app/src/components/MandataireEnquete/queries.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
Due: app

feat(enquetes): form validation
  packages/app/src/components/MandataireEnquete/MandataireEnqueteIndividuelForm.js
  packages/app/src/lib/validationSchemas/mandataireEnqueteIndividuelSchema.js
Due: app

feat(hasura): update hasura permissions
  packages/hasura/migrations/metadata.yaml
Due: none

feat(enquete): prestations sociales (#1746)
  packages/app/src/components/Enquete/Enquete.js
  packages/app/src/components/Enquete/EnqueteActivite/EnqueteActiviteForm.js
  packages/app/src/components/Enquete/EnqueteIndividuel/EnqueteIndividuel.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSociales.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/EnqueteIndividuelPrestationsSocialesForm.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/index.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/mutations.js
  packages/app/src/components/Enquete/EnqueteIndividuelPrestationsSociales/queries.js
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
  packages/graphql-server/src/datasource/enquete.api.ts
  packages/graphql-server/src/types/index.ts
  packages/hasura/migrations/metadata.yaml
  packages/knex/migrations_v2/20200511233528_alter_enquete_individuels_table.js
Due: app

fix(enquete): stepper button
  packages/app/src/components/Enquete/EnqueteStepperButtons.js
Due: app

chore(renovate): desactivate
  .github/renovate.json
Due: none

chore(renovate): desactivate (#1786)
  .github/renovate.json
Due: none

Path conditions:
  api: any of: packages/api
  app: any of: packages/app
